html
  head
    title App
    link(href='../../source/font.css' rel='stylesheet' type='text/css')
    link(href="http://staging.seucondominio.com.br/assets/prototype-b8672555b5fba00a6c848ccf5bcd466c.css" rel='stylesheet' type='text/css')
    link(href="http://codepen.io/dev6-seucondominio/pen/avpxNZ.css" rel='stylesheet' type='text/css')
    link(href="http://codepen.io/dev6-seucondominio/pen/gaXWjX.css" rel='stylesheet' type='text/css')
    //- link(href="http://codepen.io/dev6-seucondominio/pen/gaXWjX.css" rel='stylesheet' type='text/css')
    link(href="index.css" rel='stylesheet' type='text/css')
  body.sc-system(ng-app="app" ng-controller="Controll")
    
    section#top-menu.sc-p-v-sm.sc-p-h-xl.sc-bg-blue
      img(src="https://www.seucondominio.com.br/assets/institucional/logo-mobile-c07a4de0cd57b02cf5eaffefcda8d48e.png")

    section#top-bar.sc-bg-gray-lighter
      #top-bar-content.sc-p-t-lg.sc-p-r-md.sc-bg-gray-lighter Copy

    section#breadcrumb
      .sc-p-h-xl.sc-p-b-md.sc-bg-gray-lighter.sc-text-gray.sc-text-sm
        span.sc-text-blue Início  
        span / New

    section#corpo
      
    section#modais

    script(src="http://staging.seucondominio.com.br/assets/prototype-df624966e363f8d5ceeb4c6f3a6a3be6.js")
    script(src="../../source/modernizr.min.js")
    script(src="index.js" type='text/javascript')
    script(src="http://codepen.io/dev6-seucondominio/pen/avpxNZ.js" type='text/javascript')