html(ng-app='appUikit', ng-controller='UikitCtrl')
  head
    title Uikit
    link(href='../../source/font.css' rel='stylesheet' type='text/css')
    link(href="../../source/prototype.css" rel='stylesheet' type='text/css')
    link(href="index.css" rel='stylesheet' type='text/css')
  body
    section#top-menu.sc-p-v-sm.sc-p-h-xl.sc-bg-blue
      img(src="https://www.seucondominio.com.br/assets/institucional/logo-mobile-c07a4de0cd57b02cf5eaffefcda8d48e.png")

    section#top-bar
      #top-bar-content.sc-p-v-xxl.sc-p-h-xl.sc-bg-gray-lighter Home

    section#conteudo
      .sc-p-md.sc-border-b-gray-solid-md Icon 
        span -> font-size: 
        input.sc-input-default.sc-text-sm(ng-model="font.size", type="number")
      .clear
      .sc-align-bottom(style="font-size: {{font.size || 1}}em" ng-repeat="lista in listingIcones")
        .sc-m-h-md.icon-hover-green.sc-text-black
          .sc-icon(class="{{lista}}")
          
    script(src="../../source/prototype.js")
    script(src="../../source/modernizr.min.js")
    script(src="index.js" type='text/javascript')

          

      
      