$alturaTopMenu: 3.75em;

$colors: (
  "green" "#42B342", 
  "black" "#000",
  "yellow" "#e58c00",
  "white" "#FFF",
  "red" "#c74848",
  "blue" "#337ab7",
  "gray" "#7d858c",
  "foraMVP" "rgba(255, 105, 180, .7)"
);

body {margin: $alturaTopMenu 0 0; font-family: roboto;}
img {display: block;}

#top-menu {
  height: $alturaTopMenu;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
}

#top-bar {
  transition: all .3s;
  z-index: 99;
  position: relative;
  #top-bar-content {
    position: fixed;
    width: 100%;
    top: $alturaTopMenu;
    &.fixed {
      box-shadow: 0 0 .3em rgba(0, 0, 0, .3);
    }
  }
}

@each $color in $colors {
  $key: nth($color, 1);
  $value: nth($color, 2);

  .icon-hover-#{$key} {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    width: 2em;
    height: 2em;
    transition-duration: 250ms;
    padding: 0.5em;
    
    color: #{$value};
    &::before {
      content: '';
      width: 2em;
      height: 2em;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      transform: scale(0);
      transition-duration: 250ms;
      
      background-color: #{$value};
    }
    &:hover {
      color: white;
      &::before {
        transform: scale(1);
      }
    }
  }
}


@media (min-width: 640px) {
  #top-menu, #top-bar-content {
    transition: all .3s;
  }
}

body { // sc-modal
  .sc-modal {
    transform: none !important;
    right: 0 !important;
    left: 0 !important;
  }
  .sc-modal.ng-hide-remove {
    animation: modalShowEffect .2s linear 1;
  }
  .sc-modal.ng-hide-add {
    animation: modalHideEffect 1s linear 1;
  }
}

body { // mini-modal
  .mini-modal {
    overflow: auto;
    top: 50%;
    left: 50%;
    position: absolute;
    border: 1px solid #CCC;
    background-color: white;
    box-shadow: 0 0.4em 0.8em rgba(0,0,0,0.4);
    .head, .body, .footer {
      padding: 0.6em;
    }
    .head {
      border-bottom: #c1c4c8 solid 1px;
    }
    .footer {
      overflow: auto;
      border-top: #c1c4c8 solid 1px;
    }
    &.ng-hide-remove {
      animation: modalShowEffect .2s linear 1;
    }

    &.ng-hide-add {
      animation: modalHideEffect .2s linear 1;
    }
  }
}

.menu {
  position: relative;
  
  .active-menu {
    i {
      color: #FFF;
    }
    &::before {
      transform: scale(1);
    }
  }
  
  ul {
    position: absolute;
    top: 2em;
    z-index: 10;
    min-width: 7em;
    
    border-radius: .4em;
    transform-origin: top right;
    transition-duration: 170ms;
    
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    border: .1em solid #CCCCCC;
    background-clip: padding-box;
    right: .2em;
    transform: scale(1);
    opacity: 1;

    li {
      color: #4C4C4C;
      border: none;
      border-left: .3em solid transparent;
      cursor: pointer;
      padding: 8px 17px;
      transition-duration: 250ms;
      text-align: right;
    }
    li:first-child {
      margin-top: .5em;
    }
    li:last-child {
      margin-bottom: .5em;
    }
    li:hover {
      color: #000000;
      background-color: rgba(0,0,0,.1);
      border-left-color: #2590d9;
    }
  }
  ul.ng-hide-add {
    transform: scale(0);
    opacity: 0;
  }
  ul.ng-hide-remove {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes modalHideEffect {
  0% {
    transform:scale(1);
  }
  100% {
    transform:scale(0.5);
  }
}

@keyframes modalShowEffect{
  0% {
    transform:scale(0.7);
  }
  45% {
    transform:scale(1.05);
  }
  80% {
    transform:scale(0.95);
  }
  100% {
    transform:scale(1);
  }
}