html
  head
    title Termo de uso do contratante
    link(href="http://staging.seucondominio.com.br/assets/prototype-b8672555b5fba00a6c848ccf5bcd466c.css" rel='stylesheet' type='text/css')
    link(href="index.css" rel='stylesheet' type='text/css')
  body.sc-system(ng-app="app" ng-controller="Controll")
    
    section#top-menu.sc-p-v-sm.sc-p-h-xl.sc-bg-blue
      img(src="https://www.seucondominio.com.br/assets/institucional/logo-mobile-c07a4de0cd57b02cf5eaffefcda8d48e.png")

    section#top-bar.sc-bg-gray-lighter
      #top-bar-content.sc-p-t-lg.sc-p-r-md.sc-bg-gray-lighter 

    section#breadcrumb
      .sc-p-h-xl.sc-p-b-md.sc-bg-gray-lighter.sc-text-gray.sc-text-sm
        span Comercial

    section#corpo.sc-m-t-xxl
      p.sc-text-lg.sc-text-gray Contatos
      .sc-border-radius.sc-border-gray-light-solid-md.sc-p-t-md.sc-p-r-md.sc-m-md(style="display: flex; align-items: center; flex-wrap: wrap;")
        .sc-p-l-md.sc-p-b-md
          input.sc-input-default.sc-text-sm
        .sc-p-l-md.sc-p-b-md
          input.sc-input-default.sc-text-sm
        .sc-p-l-md.sc-p-b-md
          input.sc-input-default.sc-text-sm
        .sc-p-l-md.sc-p-b-md
          input.sc-input-default.sc-text-sm
        .sc-p-l-md.sc-p-b-md
          i.sc-badge-hover-gray.sc-icon.sc-icon-arquivo-4(ng-click="envioTermo.open()")
        .sc-p-l-md.sc-p-b-md
          i.sc-badge-hover-blue.sc-icon.sc-icon-pasta-2-aberta(ng-click="anyModal.open()")

    section#modais
      section#envio-termo-de-uso
        .sc-modal-md(sc-modal="envioTermo")
          .sc-modal-header
            i.sc-modal-close.sc-badge-hover-red.sc-icon.sc-icon-fechar-1(ng-click="envioTermo.close()")
            | Envio do termo de uso
          .sc-modal-body
            .sc-fieldset
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Nome do Condomínio
                  input.sc-input-default
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Data do vencimento
                  input.sc-input-default.sc-input-data(type="date", ng-model="data")
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Valor do sistema
                  input.sc-input-default(sc-input-currency, ng-model="currencyInput")
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Nome do responsável
                  input.sc-input-default
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Cpf do responsável
                  input.sc-input-default()
          .sc-modal-footer
            button.sc-btn.sc-btn-green Elaborar Termo de Uso

      section#envio-termo-de-uso
        .sc-modal-md(sc-modal="anyModal")
          .sc-modal-header
            i.sc-modal-close.sc-badge-hover-red.sc-icon.sc-icon-fechar-1(ng-click="anyModal.close()")
            | Dados para implantação
          .sc-modal-body
            
            p.sc-text-gray.sc-text-lg.align-center DADOS DO CONTRATANTE
            .sc-fieldset
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Nome do Condomínio
                  input.sc-input-default
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label CNPJ
                  input.sc-input-default
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Inscrição Municipal
                  input.sc-input-default
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Endereço (completo, inclusive CEP)
                  input.sc-input-default
            
            p.sc-text-gray.sc-text-lg.align-center E-MAILS
            .sc-fieldset
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label E-mail da adm. do condominio
                  input.sc-input-default
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label E-mail do contratante
                  input.sc-input-default
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label E-mail do sindico
                  input.sc-input-default
            
            p.sc-text-gray.sc-text-lg.align-center TELEFONES
            .sc-fieldset
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Telefone da adm. do condominio
                  input.sc-input-default
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Telefone do síndico
                  input.sc-input-default
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Telefone da portatia
                  input.sc-input-default
            
            p.sc-text-gray.sc-text-lg.align-center DADOS DO RESPONSÁVEL
            .sc-fieldset
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Nome
                  input.sc-input-default
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Nacionalidade
                  input.sc-input-default
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Estado Civil
                  input.sc-input-default
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label RG
                  input.sc-input-default
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label CPF
                  input.sc-input-default
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Endereço (completo, inclusive CEP)
                  input.sc-input-default

            .sc-m-t-lg
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Imagem com logotipo do condomínio
                  button.sc-btn.sc-btn-blue Anexar
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Dia do Vencimento do Boleto
                  input.sc-input-default(type="number", style="width: 7em")
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Nome que deseja para o site do condomínio
                  input.sc-input-default
              p.sc-text-gray Sugestão: 
                span.sc-text-bold  Nome do condomínio separado por hífen
          .sc-modal-footer
            button.sc-btn.sc-btn-green(ng-click="anyModal.close()") Enviar

    script(src="http://staging.seucondominio.com.br/assets/prototype-df624966e363f8d5ceeb4c6f3a6a3be6.js" type='text/javascript')
    script(src="../../source/modernizr.min.js" type='text/javascript')
    script(src="index.js" type='text/javascript')