@font-face {
  font-family: 'sc-icons';
  font-weight: normal;
  src: font-url('https://dl.dropboxusercontent.com/u/3330376/uikit/sc-icons.woff') format('woff');
}

body .sc-icon.sc-icon-filtro-2
{
  color:magenta;
}

body .sc-toggle input {
  display: none;
}

.colorPink {
  color: #FF00FF !important;
}

.menu {
  .clickscale {
    i {
      color: #000;
    }
    .circleHover {
      transform: scale(1);
    }
  }

  position: relative;
  text-align: center;
  width: 15em;
  margin: 1em auto;
  .openCss:target {
    display:none;
  }
  a {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    padding: 8px 17px;
    position: relative;
    i {
      color: #adadad;
    }
    .circleHover {
      width: 30px;
      height: 30px;
      position: absolute;
      top: -2px;
      left: 3px;
      border-radius: 50%;
      background-color: rgba(0,0,0,.1);
      transition-duration: 350ms;
      transform: scale(0);
    }
  }
  a:hover {
    i {
      color: #000;
    }
    .circleHover {
      transform: scale(1);
    }
  }
  ul {

    border-radius: .5em;
    transform-origin: top right;
    transition-duration: 170ms;
    z-index: 1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    border: .1em solid #CCCCCC;
    position: absolute;
    text-align: center;
    background-clip: padding-box;
    right: .2em;
    transform: scale(1);
    opacity: 1;

    li {
      color: #4C4C4C;
      border: none;
      border-left-width: .3em;
      border-left-style: solid;
      border-left-color: transparent;
      cursor: pointer;
      padding: 8px 17px;
      transition-duration: 250ms;
      width: 10em;
      text-align: right;
      color: #4C4C4C;
      font-family: roboto;
    }
    li:first-child {
      margin-top: .5em;
    }
    li:last-child {
      margin-bottom: .5em;
    }
    li:hover {
      color: #000000;
      background-color: rgba(0,0,0,.1);
      border-left-color: #2590d9;
    }
  }
  ul.ng-hide-add {
    transform: scale(0);
    opacity: 0;
  }
  ul.ng-hide-remove {
    transform: scale(0);
    opacity: 0;
  }
}

// Efeito icon hover
.iconDesig {
  vertical-align: middle;
  display: table-cell;
  margin: 0 !important;
  position: relative;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  width: 2em;
  height: 2em;
  top: 0;
  left: 0;
  text-align: center;
  i {
    transition-duration: 250ms;
  }
}

.iconDesig::before {
  content: '';
  width: 2em;
  height: 1.8em;
  position: absolute;
  top: 0;
  left: 0;
  border-radius:50%;
  transition-duration: 250ms;
  transform: scale(0);
}

.iconDesig:hover {
  i {
    color: white;
  }
  &::before {
    transform: scale(1);
  }
}

.iconDesig-yellow {
  i {
    color: #e58c00;
  }
  &::before {
    background-color: #e58c00;
  }
}

.iconDesig-green  {
  i {
    color: #42B342;
  }
  &::before {
    background-color: #42B342;
  }
}

.iconDesig-red {
  i {
    color: #c74848;
  }
  &::before {
    background-color: #c74848;
  }
}

.iconDesig-blue-light {
  i {
    color: #77acd9;
  }
  &::before {
    background-color: #77acd9;
  }
}

.iconDesig-black-lighter {
  i {
    color: rgba(0,0,0,.7);
  }
  &::before {
    background-color: rgba(0,0,0,.7);
  }
}
// Efeito icon hover