<body style="width: 100%; height: 100%; background-color: #a9b7c4;" ng-app="scApp" ng-controller="controll">


  <!-- Principal INICIO -->
    <div style="background-color: #dddddd; position: fixed; top: 0; width: 100%; z-index: 1;" class="sc-p-md">
      <div ng-init="totalizadores = true" style="background-color: #dddddd;" class="sc-p-md" style="overflow: hidden;">
        <button ng-click="cadastroNew.open()" class="sc-btn sc-btn-awesomeness sc-btn-blue">
          <div class="sc-btn-icon"><i class="sc-icon sc-icon-mais-1"></i></div>
          <div class="sc-btn-text">Nova Conta</div>
        </button>
        <div style="width: 18em;" class="sc-input-group">
          <input type="text" class="sc-input-default" />
          <i class="sc-icon sc-icon-lupa-2 sc-btn sc-btn-blue"></i>
          <i ng-click='openFilter = !openFilter' ng-class="{'sc-btn-gray': openFilter}" class="sc-icon sc-icon-filtro-2 sc-btn sc-btn-blue"></i>
          <i class="sc-icon sc-icon-impressora sc-text-red sc-btn sc-btn-blue"></i>
        </div>
        <button ng-click="dre.open()" class="sc-btn sc-btn-awesomeness sc-btn-yellow">
          <div class="sc-btn-icon"><i class="sc-icon sc-icon-arquivo-4"></i></div>
          <div class="sc-btn-text sc-text-white">D.R.E</div>
        </button>
        <div class="pull-right sc-m-v-lg sc-align-middle">
          <div sc-year-month-picker ng-model="data"></div>
          <span style="padding-left: 1em;" sc-dropdown-menu="" class="sc-dropdown">
            <a sc-dismiss-click="openMenu = false" class="iconDesig iconDesig-yellow" ng-click="openMenu = !openMenu" ng-class="{ 'clickscale':openMenu }">
              <i style="font-size: 1.5em" class="sc-icon sc-icon-engrenagem"></i>
            </a>
            <div style="position: absolute; right: 0; top: 8px; z-index: 2;" class="menu">
              <ul ng-show="openMenu">
                <li class="colorPink" style="width: 15em; margin-right: 0;" ng-click="configuracoes.open()">Contabilização Automática</li>
                <li style="width: auto; margin-right: 0;" ng-click="modalConfigBoleto.open()">Trocar plano de contas</li>
              </ul>
            </div>
          </span>
        </div>
      </div>
    </div>
  <!-- Principal FIM -->

  <!-- Modais INICIO -->
    <!-- Configuraçao Boleto INICIO -->
      <div ng-controller="BoletosModalCtrl">
        <div sc-modal="modalConfigBoleto" class="sc-modal removeAnimationDefu col-xs-12 col-sm-10 col-md-8 col-lg-6">
          <div class="sc-modal-header">
            Planos de contas
            <a ng-click="fecharModal()" style="top: -.8em; left: .8em; margin: 0;" class="pull-right sc-m-lg" id="fechar">
              <div class="circleHover"></div>
              <i class="sc-icon sc-icon-fechar-1"></i>
            </a>
            <button ng-click="criarModelo()" ng-show="!criandoEditandoModelo" class="sc-text-xs sc-m-l-lg sc-btn sc-btn-green"><i class="sc-icon sc-icon-mais-1"></i> <span class="sc-text-lg">Adicionar</span></button>
          </div>

          <div class="sc-modal-body">
            <div>
              <form action="">
                <div class="sc-m-lg">
                  <div ng-show="!criandoEditandoModelo">
                    <li ng-repeat="item in modelos" class="sc-text-md sc-p-md sc-bg-hover-gray-lighter" ng-class="{'sc-border-b-gray-light-dotted-md': !$last}">
                      {{item.nome}}
                      <span ng-click="editarModelo(item)" class="sc-cursor-pointer sc-m-l-xl sc-badge-icon sc-bg-hover-yellow sc-text-hover-white sc-border-radius-full sc-text-yellow" style="width:1.6em height:1.6em" :><i class="sc-icon sc-icon-lapis"></i></span>
                      <span ng-click="item.topo = !item.topo" class="sc-cursor-pointer sc-m-l-xl sc-badge-icon sc-text-green">
                        <i class="sc-icon sc-icon-visto-1" ng-class=" {'sc-text-gray ': item.topo } "></i>
                        <button class="sc-text-xs sc-m-l-lg sc-btn sc-btn-green"><span class="sc-text-lg">Trocar</span></button>
                      </span>
                      <div style="float: right">
                        <span ng-click="excluirModelo(item)" class="sc-cursor-pointer sc-m-l-xl sc-badge-icon sc-bg-hover-red sc-text-hover-white sc-border-radius-full sc-text-red" style="width:1.3em height:1.3em"><i class="sc-icon sc-icon-lixeira-1"></i></span>
                      </div>
                    </li>
                  </div>

                  <div class="sc-fieldset" ng-show="criandoEditandoModelo">
                    <div class="sc-m-t-lg sc-m-b-lg col-sm-9">
                      <label style="width:100%;">
                        <div class="sc-label">Nome do Plano de Contas</div>
                        <input type="text" class="sc-input-default" style="width:100%;" ng-model="modeloDefault.nome">
                      </label>
                    </div>
                    <div class="sc-m-t-lg sc-m-b-lg col-sm-3">
                      <label style="width:100%;">
                        <div class="sc-label">Data de Criação</div>
                        <div class="sc-p-t-sm">15 / 08 / 2015</div>
                      </label>
                    </div>
                    <div class="sc-m-t-lg sc-m-b-lg col-sm-9">
                      <div class="sc-label">Tipo de Partida:</div>
                      <label style="margin-bottom: 0 ;">
                        <span class="sc-toggle">
                          <input style="display: none;" ng-model="variaveisTestes.op" type="checkbox" checked />
                          <span label-true="Dobrada" label-false="Simples"></span>
                        </span>
                        <div style="display: inline-table;" class="sc-m-t-lg sc-m-h-lg">
                          <div class="sc-label">Qtde. Níveis:</div>
                          <input type="text" class="sc-input-default" style="width:4em;" ng-model="modeloDefault.Adicional">
                        </div>

                        <div class="sc-m-t-lg sc-m-b-lg col-xs-12 col-sm-12">
                          <label style="width:100%;">
                            <div class="sc-label">Observação: </div>
                            <textarea class="sc-input-default" style="width:100%;" rows="3" ng-model="modeloDefault.mensagemAdiconal"></textarea>
                          </label>
                        </div>
                        <div class="clear"></div>
                      </span>
                    </div>
                  </form>
                </div>
              </form>

              <div class="sc-modal-footer">
                <button ng-click="salvarModelo()" ng-show="criandoEditandoModelo" class="sc-btn sc-btn-green">Salvar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- Configuraçao Boleto FIM -->
    <!-- Contabilização Automática INICIO -->
      <div style="width: auto; overflow: auto;" class="sc-text-blue sc-p-md sc-modal active" sc-modal="configuracoes">
        <div style="padding: 0;" class="sc-text-blue sc-modal-body">
          <i style="margin-top: 1.2em; margin-right: 1em;" ng-click="configuracoes.close()" class="sc-cursor-pointer pull-right sc-icon sc-icon-fechar-1 sc-text-red"></i>
          <img ng-show="esconder" ng-click="esconder = false" style="width: 3em; margin-top: .7em;" class="sc-cursor-pointer margin-right: 1em; pull-right" src="http://i.imgur.com/KI0ELgf.png" />
          <div class="sc-modal-header align-center">
            <h4 style="margin: 0;" class="pull-center sc-text-bold">Contabilização Automática</h4>
          </div>
          <div class="sc-m-xxl">
            <div ng-hide="esconder" style="o CSSverflow: auto;" class="sc-bg-cian-lighter sc-text-cian-dark align-center sc-p-lg sc-m-b-lg sc-border-cian-dark-solid-md sc-border-radius sc-p-md align-justify">
              <p>A contabilização automática é utilizada para facilitar a identificação de receitas de despesas automatizadas ou que fazem parte de um montante recebido de fora única. Nesta tela de configuração você poderá selecionar as contas específicas para
                cada situação.</p>
                <span ng-click="esconder = true" ng-mouseleave="hover.button = false" ng-mouseover="hover.button = true" class="sc-cursor-pointer sc-m-t-md sc-p-sm sc-m-l-md sc-text-bold pull-right sc-text-cian-dark sc-text-md" ng-class="{ 'sc-border-radius-full sc-bg-cian-dark sc-text-white':hover.button }">Ok, entendi</span>
              </div>
              <div style="margin-top: 2em; display: flex; overflow: auto; background-color: #F7F7F9;" class="sc-p-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
                <div style="width: 45%; margin: 0;">
                  <div class="align-left sc-text-bold sc-text-lg">Cobranças</div>
                  <div class="align-left">
                    <div class="sc-m-t-lg">
                      <div>Juros: </div>
                      <select style="width: 10em;" class="sc-text-sm sc-input-default">
                        <option>1.1.2 - Cotas a receber</option>
                      </select>
                    </div>
                    <div class="sc-m-t-lg">
                      <div>Multas: </div>
                      <select style="width: 10em;" class="sc-text-sm sc-input-default">
                        <option>Plano de contas</option>
                      </select>
                    </div>
                    <div class="sc-m-t-lg">
                      <div>Descontos: </div>
                      <select style="width: 10em;" class="sc-text-sm sc-input-default">
                        <option>Plano de contas</option>
                      </select>
                    </div>
                    <div class="sc-m-t-lg">
                      <div>Acréscimos: </div>
                      <select style="width: 10em;" class="sc-text-sm sc-input-default">
                        <option>Plano de contas</option>
                      </select>
                    </div>
                    <div class="sc-m-t-lg">
                      <div>Custos Advoc.: </div>
                      <select style="width: 10em;" class="sc-text-sm sc-input-default">
                        <option>Plano de contas</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div style="width: 50%; margin: 0;">
                  <div class="align-left sc-text-bold sc-text-lg">Pagamentos</div>
                  <div class="align-left">
                    <div class="sc-m-t-lg">
                      <div>ISS/ISSQN: </div>
                      <select style="width: 10em;" class="sc-text-sm sc-input-default">
                        <option>Plano de contas</option>
                      </select>
                    </div>
                    <div class="sc-m-t-lg">
                      <div>IRRF: </div>
                      <select style="width: 10em;" class="sc-text-sm sc-input-default">
                        <option>Plano de contas</option>
                      </select>
                    </div>
                    <div class="sc-m-t-lg">
                      <div>INSS: </div>
                      <select style="width: 10em;" class="sc-text-sm sc-input-default">
                        <option>Plano de contas</option>
                      </select>
                    </div>
                    <div class="sc-m-t-lg">
                      <div>PIS/CONFINS/CSLL: </div>
                      <select style="width: 10em;" class="sc-text-sm sc-input-default">
                        <option>2.1.1 - Fornecedores</option>
                      </select>
                    </div>
                    <div class="sc-m-t-lg">
                      <div>Acrésimos: </div>
                      <select style="width: 10em;" class="sc-text-sm sc-input-default">
                        <option>Plano de contas</option>
                      </select>
                    </div>
                    <div class="sc-m-t-lg">
                      <div>Deduções: </div>
                      <select style="width: 10em;" class="sc-text-sm sc-input-default">
                        <option>Plano de contas</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div style="width: 50%; margin: 0;">
                  <div class="align-left sc-text-bold sc-text-lg">Área Comum</div>
                  <div class="align-left">
                    <div class="sc-m-t-lg">
                      <div>Salão de Festas: </div>
                      <select style="width: 10em;" class="sc-text-sm sc-input-default">
                        <option>Plano de contas</option>
                      </select>
                    </div>
                    <div class="sc-m-t-lg">
                      <div>Churrasqueira: </div>
                      <select style="width: 10em;" class="sc-text-sm sc-input-default">
                        <option>Plano de contas</option>
                      </select>
                    </div>
                    <div class="sc-m-t-lg">
                      <div>Quiosque: </div>
                      <select style="width: 10em;" class="sc-text-sm sc-input-default">
                        <option>Plano de contas</option>
                      </select>
                    </div>
                    <div class="sc-m-t-lg">
                      <div>Quadra: </div>
                      <select style="width: 10em;" class="sc-text-sm sc-input-default">
                        <option>2.1.1 - Fornecedores</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div style="width: 50%; margin: 0;">
                  <div class="align-left sc-text-bold sc-text-lg">Leituras</div>
                  <div class="align-left">
                    <div class="sc-m-t-lg">
                      <div>Àgua: </div>
                      <select style="width: 10em;" class="sc-text-sm sc-input-default">
                        <option>Plano de contas</option>
                      </select>
                    </div>
                    <div class="sc-m-t-lg">
                      <div>Energia: </div>
                      <select style="width: 10em;" class="sc-text-sm sc-input-default">
                        <option>Plano de contas</option>
                      </select>
                    </div>
                    <div class="sc-m-t-lg">
                      <div>Roçagem: </div>
                      <select style="width: 10em;" class="sc-text-sm sc-input-default">
                        <option>Plano de contas</option>
                      </select>
                    </div>
                    <div class="sc-m-t-lg">
                      <div>Àgua quente: </div>
                      <select style="width: 10em;" class="sc-text-sm sc-input-default">
                        <option>2.1.1 - Fornecedores</option>
                      </select>
                    </div>
                    <div class="sc-m-t-lg">
                      <div>Gás: </div>
                      <select style="width: 10em;" class="sc-text-sm sc-input-default">
                        <option>Plano de contas</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sc-modal-footer">
            <button ng-click="configuracoes.close()" class="sc-btn sc-btn-green">
              <i class="sc-icon sc-icon-visto-1 sc-text-sm"></i>
              <span>Salvar</span>
            </button>
          </div>
        </div>
      </div>
    <!-- Contabilização Automática FIM -->
    <!-- Cadastrar Novo INICIO -->
      <div style="width: auto; overflow: auto;" class="sc-text-blue sc-p-md sc-modal active" sc-modal="cadastroNew">
        <div style="padding: 0;" class="sc-text-blue sc-modal-body">
          <div class="sc-modal-header align-center">
            <span>Cadastrar Novo</span>
            <i ng-click="cadastroNew.close()" class="pull-right sc-icon sc-icon-fechar-1 sc-text-red"></i>
          </div>
          <div class="sc-m-xxl">
            <div style="display: flex; background-color: #F7F7F9; overflow: auto;" class="sc-p-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
              <div class="sc-m-t-lg sc-m-h-lg">
                <div>1º Nível: </div>
                <label style="margin-bottom: 0;">
                  <span class="sc-toggle">
                    <input style="display: none;" ng-model="variaveisTestes.op"type="checkbox"checked/>
                    <span label-true="Sim" label-false="Não"></span>
                  </span>
                </label>
              </div>
              <div ng-show="variaveisTestes.op" class="sc-m-t-lg sc-m-h-lg">
                <div ng-show="variaveisTestes.op">Tipo da Conta: </div>
                <div ng-hide="variaveisTestes.op">Conta Pai: </div>
                <select style="width: 10em;" class="sc-text-sm sc-input-default">
                  <option>Ativo</option>
                  <option>Passivo</option>
                  <option>Receita</option>
                  <option>Despesa</option>
                  <option>Patrimonio liquido</option>
                  <option>Controle</option>
                </select>
              </div>
              <div ng-show="!variaveisTestes.op" class="sc-m-t-lg sc-m-h-lg">
                <div ng-show="variaveisTestes.op">Tipo da Conta: </div>
                <div ng-hide="variaveisTestes.op">Conta Pai: </div>
                <select ng-init="teste = '1 Ativo'" ng-model="teste" style="width: 10em;" class="sc-text-sm sc-input-default">
                  <option ng-repeat="lista in listaPlanos">{{lista.name}}</option>
                </select>
              </div>
              <div style="width: 6em;" ng-show="!variaveisTestes.op" class="sc-m-t-lg sc-m-h-lg">
                <div>Código:</div>
                <div>1.2
                  <input type="text" style="width: 4em;" class="sc-text-sm sc-input-default" />
                </div>
              </div>
              <div ng-show="variaveisTestes.op" class="sc-m-t-md sc-m-h-lg">
                <div>Código:</div>
                <div>
                  <input type="text" style="width: 4em;" class="sc-text-sm sc-input-default" />
                </div>
              </div>
              <div class="sc-m-t-lg sc-m-h-lg">
                <div>Nome da conta: </div>
                <input style="width: 10em;" class="sc-text-sm sc-input-default" />
              </div>
              <div class="sc-m-t-lg sc-m-h-lg">
                <div>Saldo inicial: </div>
                <input style="width: 10em;" class="sc-text-sm sc-input-default" />
              </div>
              <div class="sc-m-t-lg sc-m-h-lg">
                <div>Data inicial: </div>
                <input style="line-height: 1;" type="date" class="sc-input-default sc-input-date" />

                <div class="sc-m-t-lg sc-m-b-lg col-sm-9">
                  <div class="sc-label">Tipo de Conta:</div>
                  <label style="margin-bottom: 0 ;">
                    <span class="sc-toggle">
                      <input style="display: none;" type="checkbox" checked />
                      <span label-true="Devedora" label-false="Credora"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sc-modal-footer">
            <button ng-click="cadastroNew.close()" class="sc-btn sc-btn-green">
              <i class="sc-icon sc-icon-visto-1 sc-text-sm"></i>
              <span>Salvar</span>
            </button>
          </div>
        </div>
      </div>
    <!-- Cadastrar Novo FIM -->
          
    <!-- D.R.E INICIO -->
      <div style="width: 25em; overflow: auto;" class="sc-text-blue sc-p-md sc-modal active" sc-modal="dre">
        <div style="padding: 0;" class="sc-text-blue sc-modal-body">
          <div class="sc-modal-header align-center">
            <span>D.R.E</span>
            <i ng-click="dre.close()" class="pull-right sc-icon sc-icon-fechar-1 sc-text-red"></i>
          </div>
          <div class="sc-m-xxl">
            <div style="background-color: #F7F7F9;" class="sc-p-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
              <div class="sc-p-b-lg sc-border-b-gray-light-dotted-md">
                <div style="display: inline-table;" class="sc-m-t-lg sc-m-h-lg">
                  <div>Mês inicial: </div>
                  <input style="width: 10em;" class="sc-text-sm sc-input-default" />
                </div>
                <div style="display: inline-table;" class="sc-m-t-lg sc-m-h-lg">
                  <div>Período: </div>
                  <select style="width: 10em;" class="sc-text-sm sc-input-default">
                    <option>Mensal</option>
                    <option>Trimestral</option>
                    <option>Semestral</option>
                    <option>Anual</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sc-modal-footer">
          <button ng-click="dre.close()" class="sc-btn sc-btn-green">
            <i class="sc-icon sc-icon-visto-1 sc-text-sm"></i>
            <span>Visualizar</span>
          </button>
        </div>
      </div>
    <!-- D.R.E FIM -->
  <!-- Modais FIM -->

  <!-- LISTA INICIO -->

    <section ng-show="openFilter" id="filter-bar" class="sc-p-h-lg sc-p-t-lg sc-border-t-gray-light-solid-md sc-bg-gray-lighter sc-border-b-gray-light-solid-md ng-animation-slider">
      <div class="sc-p-b-lg">
        <div class="sc-form-group sc-align-bottom">
          <span sc-dropdown-menu class="sc-dropdown pull-left">
            <div style="width: 16em;">
              <div class="sc-label">Devedores</div>
              <div class="tags">
                <span ng-repeat="item in itensSelecionadosVisiveis(listagemDevedoresFiltro)" class="sc-tag sc-tag-blue">
                  <span>{{item.nome}}</span>
                </span>
              </div>
            </div>
            <i class="sc-icon sc-icon-fechar-1 sc-tag-remove" ng-click="item.ativo = false"></i>
          </span>
          <span ng-if="itensSelecionados(listagemDevedoresFiltro).length > limiteItensVisiveis" ng-click="alteraVerTodos()" class="sc-tag sc-tag-yellow sc-cursor-pointer">
            <span>{{!verTodos ? 'Ver mais (' + qtdItensEscondidos(listagemDevedoresFiltro) + ')' : 'Ver menos'}}</span>
          </span>
          <div class="clear"></div>
        </div>
        <input type="text" class="sc-input-default" placeholder="Ex: 101" ng-model="searchText" ng-click="menu.open()" style="width: 100%;">
      </div>
      <ul class="sc-dropdown-menu ng-animation-slider" ng-show="menu.ison">
        <li>
          <div class="vertical-align marcar-todos" ng-show="ocultarSePesquisando" ng-click="marcarTodos(listagemDevedoresFiltro)">
            <span>{{!todosMarcados ? 'Marcar Todos' : 'Desmarcar Todos'}}</span>
          </div>
        </li>
        <li ng-repeat="item in listagemDevedoresFiltro">
          <div class="vertical-align" ng-show="ocultarSePesquisando" ng-click="marcarTodosFilhos(item)">
            <span>{{item.nome}}</span>
          </div>
          <ul>
            <li ng-repeat="subitem in subitens(item, searchText)" ng-click="todosMarcados = false">
              <div class="vertical-align" ng-click="marcarItem(subitem)">
                <i ng-class="subitem.ativo ? 'sc-icon-visto-4' : 'sc-icon-quadrado-1'" class="sc-icon sc-icon-fw"></i>
                <span>{{subitem.nome}}</span>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <div class="sc-m-l-md sc-align-bottom sc-p-b-xxl">
        <label>
          <div class="sc-label">Destinatário</div>
          <select class="sc-input-default">
            <option>Todos</option>
            <option>Proprietário</option>
            <option>Morador</option>
          </select>
        </label>
      </div>
      <div class="sc-align-bottom sc-m-l-md sc-p-b-xxl">
        <label class="sc-p-r-md">
          <div class="sc-label">Conta</div>
          <input type="text" class="sc-input-default">
        </label>
      </div>
      <div class="sc-m-l-md sc-align-bottom sc-p-b-xxl">
        <label>
          <div class="sc-label">Situação da cobrança</div>
          <span sc-dropdown-menu="" class="sc-dropdown ng-scope">
            <button type="button" class="sc-btn sc-btn-blue sc-dropdown-toggle" ng-click="menu.toggle()">
              Selecione <i class="sc-icon sc-icon-fw sc-icon-seta-5-baixo"></i>
            </button>
            <ul class="sc-dropdown-menu sc-dropdown-menu-right ng-animation-fader ng-hide" ng-show="menu.isOn">
              <li ng-repeat="link in filter" ng-click="link.active = !link.active">
                <div class="vertical-align">
                  <i ng-class="link.active ? 'sc-icon-visto-4' : 'sc-icon-quadrado-1'" class="sc-icon sc-icon-fw divider sc-icon-quadrado-1"></i>
                  <span>{{link.item}}</span>
                </div>
              </li>
            </ul>
          </span>
        </label>
      </div>
      <div class="sc-m-l-md sc-align-bottom sc-p-b-xxl">
        <label>
          <div class="colorPink sc-label">Tipo da data</div>
          <select class="sc-input-default">
            <option>Vencimento</option>
            <option>Pagamento</option>
            <option>Extrato</option>
            <option>Cencelamento</option>
            <option>Criação</option>
          </select>
        </label>
      </div>
      <div class="sc-m-l-md sc-align-bottom">
        <label>
          <div class="sc-label">Início</div>
          <input style="line-height: 1" type="date" class="sc-input-default sc-input-date">
        </label>
      </div>
      <div class="sc-m-l-md sc-align-bottom">
        <label>
          <div class="sc-label">Final</div>
          <input style="line-height: 1" type="date" class="sc-input-default sc-input-date">
        </label>
      </div>
      <div class="sc-m-l-md sc-align-bottom sc-p-b-xxl">
        <label>
          <div class="sc-label">Origem</div>
          <div class="sc-btn-group">
            <button class="sc-btn" ng-class="{'sc-active':showRateio}" ng-click="showRateio=!showRateio">Rateio</button>
            <button class="sc-btn" ng-class="{'sc-active':showCobrIndividual}" ng-click="showCobrIndividual=!showCobrIndividual">Cobrança Individual</button>
          </div>
        </label>
      </div>

      <div class=" sc-align-bottom sc-p-b-xxl">
        <div class="sc-m-t-lg sc-p-h-lg">
          <div>Data inicial: </div>
          <input style="line-height: 1;" type="date" class="sc-input-default sc-input-date" />
        </div>
        <div class="sc-m-t-lg sc-p-h-lg">
          <div>Data inicial: </div>
          <input style="line-height: 1;" type="date" class="sc-input-default sc-input-date" />
        </div>
        <div class="sc-form-group sc-align-bottom sc-m-h-lg">
          <span sc-dropdown-menu class="sc-dropdown pull-left sc-p-h-lg">
            <div style="width: 16em;">
              <div class="sc-label">Contas</div>
              <div class="tags">
                <span ng-repeat="item in listaPlanos(listagemDevedoresFiltro)" class="sc-tag sc-tag-blue">
                  <span>{{item.nome}}</span>
                </span>
              </div>
            </div>
          </span>
          <i class="sc-icon sc-icon-fechar-1 sc-tag-remove" ng-click="item.ativo = false"></i>
        </div>
        <span ng-if="itensSelecionados(listagemDevedoresFiltro).length > limiteItensVisiveis" ng-click="alteraVerTodos()" class="sc-tag sc-tag-yellow sc-cursor-pointer">
          <span>{{!verTodos ? 'Ver mais (' + qtdItensEscondidos(listagemDevedoresFiltro) + ')' : 'Ver menos'}}</span>
        </span>
        <div class="clear"></div>
      </div>
      <input type="text" class="sc-input-default" placeholder="Ex: Banco" ng-model="searchText" ng-click="menu.open()" style="width: 100%;">

      <ul style="max-height: 13em; overflow-x: hidden;" class="sc-dropdown-menu ng-animation-slider" ng-show="menu.isOn">
        <li>
          <div class="vertical-align marcar-todos" ng-show="ocultarSePesquisando" ng-click="marcarTodos(listagemDevedoresFiltro)">
            <span>{{!todosMarcados ? 'Marcar Todos' : 'Desmarcar Todos'}}</span>
          </div>
        </li>
        <li ng-click="item.ativo = ! item.ativo" ng-repeat="item in listaPlanos">
          <i ng-class="item.ativo ? 'sc-icon-visto-4' : 'sc-icon-quadrado-1'" class="sc-icon sc-icon-fw pull-left"></i>
          <span>{{item.name}}</span>
        </li>
      </ul>

      <div style="display: inline-table;" class="sc-m-t-lg sc-m-h-lg">
        <div>Banco/Caixa: </div>
        <select style="width: 10em;" class="sc-text-sm sc-input-default">
          <option>Itaú</option>
          <option>Banco do Brasil</option>
          <option>Caixa Síndico</option>
          <option>Caixa Zelador</option>
        </select>
      </div>
      <div class="sc-m-l-md sc-align-bottom sc-p-b-xxl">
        <label>
          <div class="sc-label">Status</div>
          <div class="sc-btn-group">
            <button class="sc-btn" ng-class="{'sc-active sc-active-green':showAtivado}" ng-click="showAtivado=!showAtivado">Ativado</button>
            <button class="sc-btn" ng-class="{'sc-active sc-active-red':showDesativado}" ng-click="showDesativado=!showDesativado">Desativado </button>
          </div>
        </label>
      </div>
      <div class="clear"></div>
      <label class="sc-p-r-md">
        <div class="sc-label">Emitir Relatórios</div>
        <a class="iconDesig iconDesig-yellow">
          <i class="sc-icon sc-icon-impressora"></i>
        </a>
        <a class="iconDesig iconDesig-blue-light">
          <i class="sc-icon sc-icon-carta-2"></i>
        </a>
      </label>

      <div class="sc-p-b-lg">
        <button class="sc-btn sc-btn-awesomeness sc-btn-blue" ng-click="novaBusca()">
          <div class="sc-btn-icon"><i class="sc-icon sc-icon-fw sc-icon-lupa-2"></i></div>
          <div class="sc-btn-text">Pesquisar</div>
        </button>

        <button class="sc-btn sc-btn-awesomeness sc-btn-red" ng-click="filtro.avancado.toggle()">
          <div class="sc-btn-icon"><i class="sc-icon sc-icon-fw sc-icon-fechar-1"></i></div>
          <div class="sc-btn-text">Cancelar</div>
        </button>
      </div>
    </section>
        
    <div style="margin-top: 6em;">
      <ul class="sc-accordion sc-text-blue">
        <li ng-init="init(lista)" ng-repeat="lista in planosDeContas">
          <div style="{{lista.bgColorAcc}}" class="sc-accordion-head " ng-class="{ 'sc-cursor-default':!lista.sub1 }">
            <div ng-show="lista.sub1" style="{{lista.txtColor}} {{lista.bColor}}" class="sc-accordion-icon-col sc-divider align-xs-center ">
              <i class="sc-icon sc-icon-seta-11-direita sc-transition " ng-class="{ 'sc-icon-seta-11-baixo':lista.opened }"></i>
            </div>
            <div ng-show="!lista.sub1" class="sc-accordion-icon-col sc-divider align-xs-center">
              <i class="sc-icon sc-icon-circulo-2 sc-text-sm"></i>
            </div>
            <div ng-click="lista.sub1 && openModal(lista)" style="{{lista.txtColor}}" class="sc-accordion-elastic-col title">
              <span>{{lista.name}}</span>
            </div>
            <div style="{{subLista.txtColor}}" class="sc-accordion-icon-col align-xs-center">
              <div sc-dismiss-click="openMenu = false" ng-mouseleave="subLista.reticiencias = false" ng-mouseover="subLista.reticiencias = true" class="sc-bagde-icon sc-text-gray" ng-class="{ 'sc-bg-gray sc-border-radius-full sc-text-white':subLista.reticiencias }">
                <a class="iconDesig iconDesig-gray" ng-click="openMenu = !openMenu" ng-class="{ 'clickscale':openMenu }">
                  <i style="font-size: 1.5em" class="sc-icon sc-icon-reticiencias-v"></i>
                </a>
                <div style="position: absolute; right: 0; top: 8px; z-index: 2;" class="menu">
                  <ul ng-show="openMenu">
                    <li style="width: 15em; margin-right: 0;">Editar</li>
                    <li style="width: auto; margin-right: 0;">Desativar</li>
                    <li style="width: auto; margin-right: 0;" ng-click="modalExcluir.open()">Excluir</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div ng-show="lista.opened" style="padding: 0;" class="sc-accordion-body ng-animation-slider">
            <ul class="sc-accordion sc-text-blue">
              <li style="margin-left: 1em; box-shadow: none;" ng-init="init(subLista)" ng-repeat="subLista in lista.sub1">
                <div style="{{subLista.bgColorAcc}}" class="sc-border-radius sc-accordion-head" ng-class="{ 'sc-cursor-default':!subLista.sub2 }">
                  <div ng-click="subLista.sub2 && openModal(subLista)" ng-show="subLista.sub2" style="{{subLista.txtColor}} {{subLista.bColor}}" class="sc-accordion-icon-col sc-divider align-xs-center">
                    <i class="sc-icon sc-icon-seta-11-direita sc-transition" ng-class="{ 'sc-icon-seta-11-baixo':subLista.opened }"></i>
                  </div>
                  <div ng-show="!subLista.sub2" class="sc-accordion-icon-col sc-divider align-xs-center">
                    <i class="sc-icon sc-icon-circulo-2 sc-text-sm"></i>
                  </div>
                  <div ng-click="subLista.sub2 && openModal(subLista)" style="{{subLista.txtColor}}" class="sc-accordion-elastic-col title">
                    <span>{{subLista.name}}</span>
                    <div ng-show="subLista.tag" style="display: inline-flex; {{subLista.txtColor}}" class="sc-m-l-lg sc-accordion-icon-col align-xs-center">
                      <span class="sc-tag sc-tag-blue" ng-class="{ 'sc-tag-white':subLista.opened }">
                        <span style="padding: 0.2em 0.6em;" ng-class="{ 'sc-text-blue':subLista.opened }">{{subLista.tag}}</span>
                      </span>
                    </div>
                  </div>
                  <div style="{{subLista.txtColor}}" class="sc-accordion-icon-col align-xs-center">
                    <div sc-dismiss-click="openMenu = false" ng-mouseleave="subLista.reticiencias = false" ng-mouseover="subLista.reticiencias = true" class="sc-bagde-icon sc-text-gray" ng-class="{ 'sc-bg-gray sc-border-radius-full sc-text-white':subLista.reticiencias }">
                      <a class="iconDesig iconDesig-gray" ng-click="openMenu = !openMenu" ng-class="{ 'clickscale':openMenu }">
                        <i style="font-size: 1.5em" class="sc-icon sc-icon-reticiencias-v"></i>
                      </a>
                      <div style="position: absolute; right: 0; top: 8px; z-index: 2;" class="menu">
                        <ul ng-show="openMenu">
                          <li style="width: 15em; margin-right: 0;">Editar</li>
                          <li style="width: auto; margin-right: 0;">Desativar</li>
                          <li style="width: auto; margin-right: 0;">Excluir</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div ng-show="subLista.opened" style="padding: 0;" class="sc-accordion-body ng-animation-slider">
                  <ul class="sc-accordion sc-text-blue">
                    <li style="margin-left: 1em; box-shadow: none;" ng-init="init(subLista2)" ng-repeat="subLista2 in subLista.sub2">
                      <div ng-click="subLista2.opened = !subLista2.opened" style="{{subLista2.bgColorAcc}}" class="sc-border-radius sc-accordion-head">
                        <div style="{{subLista2.txtColor}} {{subLista2.bColor}}" class="sc-accordion-icon-col sc-divider align-xs-center">
                          <i class="sc-icon sc-icon-seta-11-direita sc-transition" ng-class="{ 'sc-icon-seta-11-baixo':subLista2.opened }"></i>
                        </div>
                        <div style="{{subLista2.txtColor}}" class="sc-accordion-elastic-col title">
                          <span>{{subLista2.name}}</span>
                          <div ng-show="subLista2.tag" style="display: inline-flex; {{subLista2.txtColor}}" class="sc-m-l-lg sc-accordion-icon-col align-xs-center">
                            <span class="sc-tag sc-tag-blue" ng-class="{ 'sc-tag-white':subLista2.opened }">
                              <span style="padding: 0.2em 0.6em;" ng-class="{ 'sc-text-blue':subLista2.opened }">{{subLista2.tag}}</span>
                            </span>
                          </div>
                        </div>
                        <div style="{{subLista2.txtColor}}" class="sc-accordion-icon-col align-xs-center">
                          <div sc-dismiss-click="openMenu = false" ng-mouseleave="subLista2.reticiencias = false" ng-mouseover="subLista2.reticiencias = true" class="sc-bagde-icon sc-text-gray" ng-class="{ 'sc-bg-gray sc-border-radius-full sc-text-white':subLista2.reticiencias }">
                            <a class="iconDesig iconDesig-gray" ng-click="openMenu = !openMenu" ng-class="{ 'clickscale':openMenu }">
                              <i style="font-size: 1.5em" class="sc-icon sc-icon-reticiencias-v"></i>
                            </a>
                            <div style="position: absolute; right: 0; top: 8px; z-index: 2;" class="menu">
                              <ul ng-show="openMenu">
                                <li style="width: 15em; margin-right: 0;">Editar</li>
                                <li style="width: auto; margin-right: 0;">Desativar</li>
                                <li style="width: auto; margin-right: 0;">Excluir</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div ng-show="subLista2.opened" style="padding: 0;" class="sc-accordion-body ng-animation-slider">
                        <ul class="sc-accordion sc-text-blue">
                          <li style="margin-left: 1em; box-shadow: none;" ng-init="init(subLista3)" ng-repeat="subLista3 in subLista2.sub3">
                            <div ng-click="subLista3.opened = !subLista3.opened" style="{{subLista3.bgColorAcc}}" class="sc-border-radius sc-accordion-head" ng-class="{ 'sc-cursor-default':!subLista3.sub4 }">
                              <div style="{{subLista3.txtColor}} {{subLista3.bColor}}" class="sc-accordion-icon-col sc-divider align-xs-center">
                                <i class="sc-icon sc-icon-seta-11-direita sc-transition" ng-class="{ 'sc-icon-seta-11-baixo':subLista3.opened }"></i>
                              </div>
                              <div style="{{subLista3.txtColor}}" class="sc-accordion-elastic-col title">
                                <span>{{subLista3.name}}</span>
                                <div ng-show="subLista3.tag" style="display: inline-flex; {{subLista3.txtColor}}" class="sc-m-l-lg sc-accordion-icon-col align-xs-center">
                                  <span class="sc-tag sc-tag-blue" ng-class="{ 'sc-tag-white':subLista3.opened }">
                                    <span style="padding: 0.2em 0.6em;" ng-class="{ 'sc-text-blue':subLista3.opened }">{{subLista3.tag}}</span>
                                  </span>
                                </div>
                              </div>
                              <div style="{{subLista3.txtColor}}" class="sc-accordion-icon-col align-xs-center">
                                <div sc-dismiss-click="openMenu = false" ng-mouseleave="subLista3.reticiencias = false" ng-mouseover="subLista3.reticiencias = true" class="sc-bagde-icon sc-text-gray" ng-class="{ 'sc-bg-gray sc-border-radius-full sc-text-white':subLista3.reticiencias }">
                                  <a class="iconDesig iconDesig-gray" ng-click="openMenu = !openMenu" ng-class="{ 'clickscale':openMenu }">
                                    <i style="font-size: 1.5em" class="sc-icon sc-icon-reticiencias-v"></i>
                                  </a>
                                  <div style="position: absolute; right: 0; top: 8px; z-index: 2;" class="menu">
                                    <ul ng-show="openMenu">
                                      <li style="width: 15em; margin-right: 0;">Editar</li>
                                      <li style="width: auto; margin-right: 0;">Desativar</li>
                                      <li style="width: auto; margin-right: 0;">Excluir</li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div ng-show="subLista3.opened" style="padding: 0;" class="sc-accordion-body ng-animation-slider">
                              <ul class="sc-accordion sc-text-blue">
                                <li style="margin-left: 1em; box-shadow: none;" ng-init="init(subLista4)" ng-repeat="subLista4 in subLista3.sub4">
                                  <div ng-click="subLista4.opened = !subLista4.opened" style="{{subLista4.bgColorAcc}}" class="sc-border-radius sc-accordion-head">
                                    <div style="{{subLista4.txtColor}} {{subLista4.bColor}}" class="sc-accordion-icon-col sc-divider align-xs-center">
                                      <i class="sc-icon sc-icon-seta-11-direita sc-transition" ng-class="{ 'sc-icon-seta-11-baixo':subLista4.opened }"></i>
                                    </div>
                                    <div style="{{subLista4.txtColor}}" class="sc-accordion-elastic-col title">
                                      <span>{{subLista4.name}}</span>
                                      <div ng-show="subLista4.tag" style="display: inline-flex; {{subLista4.txtColor}}" class="sc-m-l-lg sc-accordion-icon-col align-xs-center">
                                        <span class="sc-tag sc-tag-blue" ng-class="{ 'sc-tag-white':subLista4.opened }">
                                          <span style="padding: 0.2em 0.6em;" ng-class="{ 'sc-text-blue':subLista4.opened }">{{subLista4.tag}}</span>
                                        </span>
                                      </div>
                                    </div>
                                    <div style="{{subLista4.txtColor}}" class="sc-accordion-icon-col align-xs-center">
                                      <div sc-dismiss-click="openMenu = false" ng-mouseleave="subLista4.reticiencias = false" ng-mouseover="subLista4.reticiencias = true" class="sc-bagde-icon sc-text-gray" ng-class="{ 'sc-bg-gray sc-border-radius-full sc-text-white':subLista4.reticiencias }">
                                        <a class="iconDesig iconDesig-gray" ng-click="openMenu = !openMenu" ng-class="{ 'clickscale':openMenu }">
                                          <i style="font-size: 1.5em" class="sc-icon sc-icon-reticiencias-v"></i>
                                        </a>
                                        <div style="position: absolute; right: 0; top: 8px; z-index: 2;" class="menu">
                                          <ul ng-show="openMenu">
                                            <li style="width: 15em; margin-right: 0;">Editar</li>
                                            <li style="width: auto; margin-right: 0;">Desativar</li>
                                            <li style="width: auto; margin-right: 0;">Excluir</li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div ng-show="subLista4.opened" style="overflow: auto; padding: 0;" class="sc-accordion-body ng-animation-slider">
                                    <div style="overflow: auto; background-color: rgba(255,0,255,.2);" class="sc-m-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
                                      <div class="sc-m-b-md" style="display: flex;">
                                        <div style="width: 6em;">Data</div>
                                        <div style="width: 13em;">Título</div>
                                        <div style="width: 6em;">Entrada</div>
                                        <div style="width: 6em;" class="sc-text-red">Saida</div>
                                      </div>
                                      <div ng-repeat="item in subLista4.sub5">
                                        <div style="display: flex;">
                                          <div style="width: 6em;" class="">{{item.data}}</div>
                                          <div style="width: 13em;" class="">{{item.titulo}}</div>
                                          <div style="width: 6em;" class="">{{item.entrada | currency}}</div>
                                          <div style="width: 6em;" class="sc-text-red">{{item.saida | currency}}</div>
                                          <div class="clear"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          
        </li>
      </ul>
    </div>

  <!-- LISTA FIM -->

</body>