doctype html
html(ng-app="myApp", ng-controller="controll")
  head
    title Teste com Angular
    link(href='index.css')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js")
    script(src="https://code.angularjs.org/1.4.7/angular-resource.js")
    script(src="https://code.angularjs.org/1.4.7/angular-route.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
    script(src='index.js')
    script(type='text/javascript').
      angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
  body

    a(href="/home") Home
    a(href="/teste1") Teste 1
    a(href="/teste2") Teste 2
    
    div(ng-view)