@font-face {
  font-family: 'sc-icons';
  font-weight: normal;
  src: font-url('https://dl.dropboxusercontent.com/u/3330376/uikit/sc-icons.woff') format('woff');
}
@font-face {
  font-family: 'sc-icons';
  src: url(sc-icons.woff);
}

body {
  width: 73em;
}

header {
  padding: .5em;
  .logo {
    display: inline-table;
    img {
      width: 5em;
    }
  }
  .banner {
    float: right;
    display: inline-table;
  }
}

footer {
  padding: .5em;
  .logo {
    img {
      width: 5em;
    }
  }
}

section {
  color: rgb(22, 62, 58);
  padding: 2em;
  margin: .8em 0;
  border-radius: .5em;
  background-color: #FFFFFF;
  #info {
    margin: 1em;
    display: inline-table;
    width: 26em;
    .subInfo {
      overflow: auto;
      height: 11em;
      border-radius: .5em;
      background-color: rgb(22, 62, 58);
      padding: .8em;
      #leftInfo {
        margin-right: 1em;
        float: left;
        .logoInfo {
          margin: .7em;
          padding: .8em;
          border-radius: .5em;
          background-color: #FFFFFF;
          img {
            width: 3em;
          }
        }
        .buttonInfo {
          float: left;
        }
      }
      .textInfo {
        display: table;
        color: #FFFFFF;
        text-align: justify;
      }
    }
  }
}
