<body style="margin: auto; background-color: #DBDBDB; margin-top: 1em;" ng-app="scApp" ng-controller="controll">

  <header>
    <div class="logo">
      <img src="https://www.seucondominio.com.br/assets/institucional/logo4-88e50e09b3cde768ad9f366837a85c4e.png">
      <img style="width: 10em;" src="https://www.seucondominio.com.br/assets/institucional/logo5-52c4e6ff04bdf19db3df5302d74e6637.png">
    </div>
    <div class="banner">
      <img src="http://static.wixstatic.com/media/1e2c09_e92957b0b7284ec8ba085f795166641c.png_400">
    </div>
  </header>

  <section>
    <div style="width: 32em;" id="info">
      <div>O NEGÓCIO</div>
      <div style="height: 13.5em;" class="subInfo">
        <div id="leftInfo">
          <div class="logoInfo">
            <img src="https://www.seucondominio.com.br/assets/institucional/logo4-88e50e09b3cde768ad9f366837a85c4e.png">
          </div>
          <div class="clear"></div>
          <div class="buttonInfo">
            <button class="sc-btn sc-btn-red">Veja Mais</button>
          </div>
        </div>
        <div class="textInfo">
          <p>A empresa Seu Condomínio atua na área de desenvolvimento de Software de Gestão de Condomínios (ERP – 100% Web e Mobile), que integra em um único software as atividades dos síndicos, moradores, administradores de condomínios, contadores, advogados (cobrança jurídica da inadimplência) e funcionários (zeladores e porteiros).</p>
        </div>
      </div>
    </div>
    <div style="width: 32em;" id="info">
      <div>O NEGÓCIO</div>
      <div style="height: 13.5em;" class="subInfo">
        <div id="leftInfo">
          <div class="logoInfo">
            <img src="https://www.seucondominio.com.br/assets/institucional/logo4-88e50e09b3cde768ad9f366837a85c4e.png">
          </div>
          <div class="clear"></div>
          <div class="buttonInfo">
            <button class="sc-btn sc-btn-red">Veja Mais</button>
          </div>
        </div>
        <div class="textInfo">
          <p>A empresa Seu Condomínio atua na área de desenvolvimento de Software de Gestão de Condomínios (ERP – 100% Web e Mobile), que integra em um único software as atividades dos síndicos, moradores, administradores de condomínios, contadores, advogados (cobrança jurídica da inadimplência) e funcionários (zeladores e porteiros).</p>
        </div>
      </div>
    </div>
    <div id="info">
      <div>O NEGÓCIO</div>
      <div class="subInfo">
        <div id="leftInfo">
          <div class="logoInfo">
            <img src="https://www.seucondominio.com.br/assets/institucional/logo4-88e50e09b3cde768ad9f366837a85c4e.png">
          </div>
          <div class="clear"></div>
          <div class="buttonInfo">
            <button class="sc-btn sc-btn-red">Veja Mais</button>
          </div>
        </div>
        <div class="textInfo">
          <p>A empresa Seu Condomínio atua na área de desenvolvimento de Software de Gestão de Condomínios (ERP – 100% Web e Mobile), que integra em um único software as atividades do condomínio.</p>
        </div>
      </div>
    </div>
    <div id="info">
      <div>O NEGÓCIO</div>
      <div class="subInfo">
        <div id="leftInfo">
          <div class="logoInfo">
            <img src="https://www.seucondominio.com.br/assets/institucional/logo4-88e50e09b3cde768ad9f366837a85c4e.png">
          </div>
          <div class="clear"></div>
          <div class="buttonInfo">
            <button class="sc-btn sc-btn-red">Veja Mais</button>
          </div>
        </div>
        <div class="textInfo">
          <p>A empresa Seu Condomínio atua na área de desenvolvimento de Software de Gestão de Condomínios (ERP – 100% Web e Mobile), que integra em um único software as atividades do condomínio.</p>
        </div>
      </div>
    </div>
    <div id="info">
      <div>O NEGÓCIO</div>
      <div class="subInfo">
        <div id="leftInfo">
          <div class="logoInfo">
            <img src="https://www.seucondominio.com.br/assets/institucional/logo4-88e50e09b3cde768ad9f366837a85c4e.png">
          </div>
          <div class="clear"></div>
          <div class="buttonInfo">
            <button class="sc-btn sc-btn-red">Veja Mais</button>
          </div>
        </div>
        <div class="textInfo">
          <p>A empresa Seu Condomínio atua na área de desenvolvimento de Software de Gestão de Condomínios (ERP – 100% Web e Mobile), que integra em um único software as atividades do condomínio.</p>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="logo">
      <img src="https://www.seucondominio.com.br/assets/institucional/logo4-88e50e09b3cde768ad9f366837a85c4e.png">
      <img style="width: 10em;" src="https://www.seucondominio.com.br/assets/institucional/logo5-52c4e6ff04bdf19db3df5302d74e6637.png">
    </div>
  </footer>

</body>
