html
  head
    title Galeria de Fotos
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css')
    link(href="https://dl.dropboxusercontent.com/u/2946154/sc/prototype.css" rel='stylesheet' type='text/css')
    link(href="http://codepen.io/dev6-seucondominio/pen/avpxNZ.css" rel='stylesheet' type='text/css')
    link(href="index.css" rel='stylesheet' type='text/css')
    script(src="https://dl.dropboxusercontent.com/u/2946154/sc/prototype.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
    script(src="index.js")
  body.sc-system(ng-app="GaleriaApp" ng-controller="GaleriaCtrl")
    
    section#top-menu.sc-p-v-sm.sc-p-h-xl.sc-bg-blue
      img(src="https://www.seucondominio.com.br/assets/institucional/logo-mobile-c07a4de0cd57b02cf5eaffefcda8d48e.png")

    section#top-bar.sc-bg-gray-lighter
      #top-bar-content.sc-p-t-lg.sc-p-r-md.sc-bg-gray-lighter
        .sc-p-l-lg.sc-p-b-md.pull-left
          button.sc-btn.sc-btn-awesomeness(ng-click="novo_album.open()")
            .sc-btn-icon
              i.sc-icon.sc-icon-mais-1
            .sc-btn-text.hidden-sm.hidden-xs
              span Novo Album
        .sc-p-l-lg.sc-p-b-md.col-xs-10.col-sm-8.col-md-6.col-lg-4
          .sc-input-group
            input.sc-input-default
            i.sc-icon.sc-icon-lupa-2.sc-btn.sc-btn-blue.hidden-xs

    section#new_album.sc-m-t-lg(ng-show="novoAlbum.new")
      ul.sc-accordion
        li.sc-acc-blue(style="overflow: auto")
          .sc-accordion-head
            .sc-accordion-elastic-col.title
              .sc-p-md(style="text-transform: capitalize") Titulo do novo Album Criado
          .sc-accordion-body.ng-animation-slider.sc-m-lg.sc-border-radius.sc-p-none(style="overflow: auto")
            .pull-left.sc-p-t-md.sc-p-l-md.sc-p-b-md(style="display: flex; flex-direction: column;")
              button.sc-btn.sc-btn-blue Adicionar Imagem
              button.sc-btn.sc-btn-blue.sc-m-t-md.foraMPV Notificar
            #list-view-new
              .box(ng-repeat="item in novoAlbum.galery")
                .sc-label {{item.title}}
                img(src="{{item.image}}")
                .icon-hover.icon-red(style="left: 50;")
                  i.sc-icon.sc-icon-lixeira-2
            .clear
            .pull-right.sc-m-md.sc-m-t-lg
              button.sc-btn.sc-btn-red.sc-m-r-md(ng-click="novoAlbum.new = false") Cancelar
              button.sc-btn.sc-btn-green(ng-click="novoAlbum.new = false") Salvar

    section#galeria.sc-m-t-lg(ng-controller="EventosCtrl")
      ul.sc-accordion
        li.sc-text-blue(ng-controller="EventoCtrl", ng-init="init(evento)", ng-repeat='evento in eventos', ng-class="{'sc-acc-blue': evento.acc}")
          .sc-accordion-head(ng-click='toggleAcc(evento)')
            label.sc-accordion-icon-col.sc-divider
              img(style="width: 2em; height: 2em", src="{{evento.galery[0].image}}")
            .sc-accordion-elastic-col.title
              .sc-p-md(style="text-transform: capitalize") {{evento.name}} - {{evento.date | date:'MMMM yyyy'}}
            .sc-accordion-col-3.hidden-xs
              .pull-right(sc-stop-click)
                .menu(sc-dropdown-menu)
                  .icon-hover.icon-gray(ng-class="{'active-menu':menu.isOn}" ng-click="menu.toggle()")
                    i.sc-icon.sc-icon-reticiencias-v
                  ul(style="width: 8em", ng-show="menu.isOn")
                    li.align-center(ng-click="actionMenu(evento, item)", ng-repeat="item in config.menu")
                      i.pull-left.sc-p-h-md(class="{{item.icon}} {{item.iconColor}}")
                      span {{item.name}}

          .sc-accordion-body.ng-animation-slider.sc-m-lg.sc-border-radius(style="overflow: auto", ng-show='evento.acc')
            div(ng-include="'form.html'")
    
    script(id='form.html', ng-controller="EventosCtrl", type='text/ng-template')
      section(ng-show="form._edit")
        .pull-left.sc-p-t-md.sc-p-l-md.sc-p-b-md(style="display: flex; flex-direction: column;")
          button.sc-btn.sc-btn-blue Adicionar Imagem
          button.sc-btn.sc-btn-blue.sc-m-t-md.foraMPV Notificar
        #list-view-new
          .box(ng-repeat="item in albumTmp")
            .sc-label {{item.title}}
            img(src="{{item.image}}")
            .icon-hover.icon-red(style="left: 50;")
              i.sc-icon.sc-icon-lixeira-2
        .clear
        .pull-right.sc-m-md.sc-m-t-lg
          button.sc-btn.sc-btn-red.sc-m-r-md(ng-click="form._edit = false") Cancelar
          button.sc-btn.sc-btn-green(ng-click="form._edit = false") Salvar
      section(ng-hide="form._edit")
        .sc-p-lg(style='overflow: auto;')
          #view
            .sc-label {{selectForm.title}}
            .box-view
              .seta-left
                i.sc-icon.sc-icon-seta-5-esquerda
              img(src="{{selectForm.image}}")
              .seta-right
                i.sc-icon.sc-icon-seta-5-direita
          #list-view.sc-m-t-lg
            .box.sc-cursor-pointer(ng-repeat="item in form.galery")
              .sc-label {{item.title}}
              img(src="{{item.image}}")
    
    section#modais
      section#novo_album
        .sc-modal.col-xs-12.col-sm-8.col-md-6.ng-isolate-scope(sc-modal="novo_album")
          .sc-modal-header(style="z-index: 100; box-shadow: none;")
            | Novo Album
            .pull-right
              .icon-hover.icon-red(ng-click="novo_album.close()")
                i.sc-icon.sc-icon-fechar-1

          .sc-modal-body(style="z-index: 102; box-shadow: none; overflow: visible;")
            .sc-bg-gray-lighter.sc-p-t-md
              .sc-p-l-md.sc-p-b-md(style="display: inline-table")
                .sc-label Nome do Album
                input.sc-input-default
              .sc-p-l-md.sc-p-b-md(style="display: inline-table")
                .sc-label Permissões
                .sc-dropdown(sc-dropdown-menu)
                  .sc-btn-group(ng-click="menu.toggle()", style="width: 9em;")
                    button.sc-btn Selecione
                    i.sc-icon.sc-icon-seta-5-baixo.sc-btn.sc-btn-blue
                  ul.sc-dropdown-menu.ng-animation-slider(style="max-height: 10em; overflow: auto; z-index: 9999", ng-show="menu.isOn")
                    li(ng-repeat="item in config.permissoes", ng-click="i.select = !i.select")
                      a(href="")
                        i.sc-icon.sc-icon-quadrado-1(ng-class="{'sc-icon-visto-4':i.select}")
                        span.sc-p-l-md {{item.perm}}

          .sc-modal-footer(style="z-index: 101; box-shadow: none;")
            button.sc-btn.sc-btn-green(ng-click="novoAlbum()") Salvar


    script(src="http://codepen.io/dev6-seucondominio/pen/avpxNZ.js" type='text/javascript')