html {width: 100%}
body {width: 100%}

* {
  margin: 0;
  padding: 0;
}

.foraMPV {
  color: #FF69B4 !important;
}

#view {
  text-align: center;
  .box-view {
    display: flex;
    align-items: center;
    .seta-left, .seta-right {
      margin: 0 auto;
      font-size: 4em;
      i {
        cursor: pointer;
      }
    }
    img {
      box-shadow: 3px 4px 6px rgba(0,0,0,.5);
      margin: 0 auto;
    }
  }
}

#list-view {
  margin: 1.5em auto;
  text-align: center;
  display: flex;
  align-items: center;
  .box {
    margin: 0 auto;
    img {
      max-height: 10em;
      min-height: 7em;
      width: 10em;
    }
  }
}

#list-view-new {
  margin: .5em auto;
  text-align: center;
  display: flex;
  align-items: center;
  .box {
    margin-left: 2em;
    img {
      height: 8em;
      width: 8em;
    }
  }
}
