@font-face {
	font-family: 'sc-icon2';
	src:url('fonts/sc-icon2.eot?ryffe7');
	src:url('fonts/sc-icon2.eot?ryffe7#iefix') format('embedded-opentype'),
		url('fonts/sc-icon2.ttf?ryffe7') format('truetype'),
		url('fonts/sc-icon2.woff?ryffe7') format('woff'),
		url('fonts/sc-icon2.svg?ryffe7#sc-icon2') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="sc-icon2-"], [class*=" sc-icon2-"] {
	font-family: 'sc-icon2';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sc-icon2-power:before {
	content: "\e901";
}
.sc-icon2-logoSc:before {
	content: "\e900";
}
.sc-icon2-agenda:before {
	content: "\e801";
}
.sc-icon2-lista:before {
	content: "\e802";
}
.sc-icon2-cogs:before {
	content: "\e804";
}
.sc-icon2-table2:before {
	content: "\e800";
}
.sc-icon2-paragraph-justify:before {
	content: "\e803";
}

