<html ng-app="app" ng-controller="LancamentosCtrl">
  <head>
    <title>Lançamentos</title>
    <link href="../../source/font.css" rel="stylesheet" type="text/css"/>
    <link href="../../source/prototype.css" rel="stylesheet" type="text/css"/>
    <link href="http://codepen.io/dev6-seucondominio/pen/avpxNZ.css" rel="stylesheet" type="text/css"/>
    <link href="http://codepen.io/dev6-seucondominio/pen/gaXWjX.css" rel="stylesheet" type="text/css"/>
    <link href="index.css" rel="stylesheet" type="text/css"/>
  </head>
  <body class="sc-system">
   
    <!-- Modal INICIO -->
      <section id="configuracao_de_cobrancas" ng-controller="ConfigCobrancasCtrl">
        <div sc-modal="config.modalCobranca" class="sc-modal removeAnimationDefu col-sm-12 col-md-7 col-lg-5 sc-modal ng-isolate-scope active">
          <div class="sc-modal-header">Configuração de Cobrança
            <div ng-click="fecharModal()" class="pull-right">
              <div class="icon-hover-red"><i class="sc-icon sc-icon-fechar-1"></i></div>
            </div>
          </div>
          <div class="sc-modal-body">
            <div class="sc-m-lg">
              <div ng-show="!criandoEditandoModelo">
                <li ng-repeat="item in modelos" ng-class="{'sc-border-b-gray-light-dotted-md': !$last}" class="sc-text-md sc-p-md sc-bg-hover-gray-lighter">
                  <div class="pull-left sc-text-blue sc-m-t-sm sc-p-r-md">{{item.nome}}</div>
                  <div class="pull-right">
                    <div ng-click="excluirModelo(item)" class="icon-hover-red"><i class="sc-icon sc-icon-lixeira-1"></i></div>
                  </div>
                  <div ng-click="editarModelo(item)" class="icon-hover-yellow"><i class="sc-icon sc-icon-lapis"></i></div>
                </li>
              </div>
              <div ng-show="criandoEditandoModelo" class="sc-fieldset">
                <div style="width: 100%" class="sc-p-l-md sc-p-b-md sc-align-bottom">
                  <label>
                    <div class="sc-label">Título</div>
                    <input style="width: 100%" ng-model="modeloDefault.nome" class="sc-input-default"/>
                  </label>
                </div>
                <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                  <label>
                    <div class="sc-label">Multa</div>
                    <input style="width: 10em" ng-model="modeloDefault.multa" class="sc-input-default"/><span ng-click="modeloDefault.multaType = !modeloDefault.multaType" class="sc-label sc-m-l-md">{{modeloDefault.multaType ? '%':'$'}}</span>
                  </label>
                </div>
                <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                  <label>
                    <div class="sc-label">Juros</div>
                    <input style="width: 10em" ng-model="modeloDefault.juros" class="sc-input-default"/><span ng-click="modeloDefault.jurosType = !modeloDefault.jurosType" class="sc-label sc-m-l-md">{{modeloDefault.jurosType ? '%':'$'}}</span>
                  </label>
                </div>
                <div class="sc-p-b-md sc-p-l-md sc-align-middle"><span style="max-width: 3.5em" class="sc-label"></span>
                  <label class="sc-m-l-lg"><span class="sc-toggle">
                      <input type="checkbox" ng-model="modeloDefault.reciboSacado" checked=""/><span label-true="A.D." label-false="A.M."></span></span></label>
                </div><br/>
                <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                  <label>
                    <div class="sc-label">Prazo pra cobrança jurídica</div>
                    <input type="number" style="width: 7em" ng-model="modeloDefault.cobrancaJuridica" class="sc-input-default"/>
                  </label>
                </div><br/>
                <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                  <label>
                    <div class="sc-label">Multa</div>
                    <input style="width: 10em" ng-model="modeloDefault.multa" class="sc-input-default"/><span ng-click="modeloDefault.multa2Type = !modeloDefault.multa2Type" class="sc-label sc-m-l-md">{{modeloDefault.multa2Type ? '%':'$'}}</span>
                  </label>
                </div>
                <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                  <label>
                    <div class="sc-label">Juros</div>
                    <input style="width: 10em" ng-model="modeloDefault.juros" class="sc-input-default"/><span ng-click="modeloDefault.juros2Type = !modeloDefault.juros2Type" class="sc-label sc-m-l-md">{{modeloDefault.juros2Type ? '%':'$'}}</span>
                  </label>
                </div>
                <div class="sc-p-b-md sc-p-l-md sc-align-middle"><span style="max-width: 3.5em" class="sc-label"></span>
                  <label class="sc-m-l-lg"><span class="sc-toggle">
                      <input type="checkbox" ng-model="modeloDefault.reciboSacado2" checked=""/><span label-true="A.D." label-false="A.M."></span></span></label>
                </div>
              </div>
            </div>
          </div>
          <div class="sc-modal-footer">
            <button ng-click="criarModelo()" ng-show="!criandoEditandoModelo" class="sc-btn sc-btn-green">Adicionar</button>
            <button ng-click="salvarModelo()" ng-show="criandoEditandoModelo" class="sc-btn sc-btn-green">Salvar</button>
          </div>
        </div>
      </section>
      <!-- Configuração de Cobrança INICIO -->
        <div ng-controller="TotalSelecionadosCtrl">
          <div sc-modal="modalTotalSelecionados" class="sc-modal col-sm-12 col-md-9 col-lg-7 sc-modal ng-isolate-scope active">
            <div class="sc-modal-header align-center">
              <i ng-click="fecharModal()" class="sc-modal-close sc-icon sc-icon-fechar-2 sc-text-gray sc-text-hover-red"></i>
              Total selecionados - R$ 800,00 (6)
              <!-- <button ng-click="criarModelo()" ng-show="!criandoEditandoModelo" class="sc-text-xs sc-m-l-lg sc-btn sc-btn-green"><i class="sc-icon sc-icon-mais-1" ></i> <span class="sc-text-lg">Adicionar</span></button> -->
            </div>

            <div class="sc-modal-body">

              <div ng-show="!criandoEditandoModelo">
                <li ng-repeat="item in modelos" class="sc-text-md sc-p-md sc-bg-hover-gray-lighter" ng-class="{'sc-border-b-gray-light-dotted-md': !$last}">
                  <div ng-click="item.acc = !item.acc" class="sc-cursor-pointer">
                    {{item.nome}}
                    <span ng-click="editarModelo(item)" class="sc-cursor-pointer sc-m-l-xl sc-bagde-icon sc-bg-hover-yellow sc-text-hover-white sc-border-radius-full sc-text-yellow"><!-- <i class="sc-icon sc-icon-lapis"></i> --></span>
                    <div style="float: right">
                      <span>R$ {{item.valor}},00</span>
                      <span ng-click="excluirModelo(item)" class="sc-cursor-pointer sc-bagde-icon sc-bg-hover-red sc-text-hover-white sc-border-radius-full sc-text-red"><i class="sc-icon sc-icon-lixeira-1"></i></span>
                    </div>
                  </div>
                  <div ng-show="item.acc" class="sc-m-l-lg ng-animation-slider">
                    <div ng-repeat="lancamento in item.lancamentos">
                      <span>{{lancamento.name}}</span>
                      <span class="pull-right">
                        <span>R$ {{lancamento.value}},00</span>
                        <span ng-click="excluirModelo(item)" class="sc-cursor-pointer sc-bagde-icon sc-bg-hover-red sc-text-hover-white sc-border-radius-full sc-text-red"><i class="sc-icon sc-icon-lixeira-1"></i></span></span>
                    </div>
                  </div>
                </li>
              </div>
            </div>

            <div class="sc-modal-footer">
              <div class="pull-left">
                <span class="sc-text-blue sc-text-bold">Tipo de relatório</span>
                <div class="sc-p-r-xl sc-btn-group">
                  <button ng-class="{ 'sc-btn-blue':selectU }" ng-click="selectU = !selectU; selectF = false" style="transition-duration: 500ms; border-radius: .3em 0 0 .3em;" class="sc-btn">Resumido</button>
                  <button ng-class="{ 'sc-btn-blue':selectF }" ng-click="selectU = false; selectF = !selectF" style="transition-duration: 500ms; border-radius: 0 .3em .3em 0;" class="sc-btn">Detalhado</button>
                </div>
                <span class="iconDesig iconDesig-yellow">
                  <div class="circleHover"></div>
                  <i class="sc-icon sc-icon-impressora"></i>
                </span>
              </div>
              <button ng-click="criandoEditandoModelo = false" class="sc-btn sc-btn-green">Salvar</button>
            </div>
          </div>
        </div>
      <!-- Configuração de Cobrança FIM -->
      <!-- Excluir INICIO -->
        <div style="width: 35em;" sc-modal="marcarTodosModal2" class="sc-modal removeAnimationDefu col-xs-12 col-sm-10 col-md-8 col-lg-6">
          <div class="sc-modal-header align-center">
            <span>Alerta (<span class="sc-bg-yellow-lighter sc-cursor-pointer"><span ng-init="cancellPago = true" ng-show="!Cancell" ng-click="Cancell = !Cancell">Cancelamento de Lançamento</span> <span ng-show="Cancell" ng-click="Cancell = !Cancell">Cancelamento de Lançamento 2</span></span>)</span>
            <a ng-click="marcarTodosModal2.close()" style="top: -.8em; left: .8em; margin: 0;" class="pull-right sc-m-lg" id="fechar">
              <div class="circleHover"></div>
              <i class="sc-icon sc-icon-fechar-1"></i>
            </a>
          </div>

          <div style="padding-top: 2em;" class="sc-modal-body align-center">
            <span class="sc-text-blue sc-text-bold aling-center">Existem 2.347 registros, você deseja marcar todos ?</span>
          </div>

          <div ng-show="!Cancell" class="sc-modal-footer">
            <button ng-click="marcarTodosModal2.close()" class="sc-btn sc-btn-green">sim</button>
            <button ng-click="marcarTodosModal2.close()" class="sc-btn sc-btn-red">Não</button>
          </div>
          <div ng-show="Cancell" class="sc-modal-footer aling-center">
            <button ng-click="marcarTodosModal2.close()" class="sc-btn sc-btn-green">Enviar para a lixeira</button>
            <button ng-click="marcarTodosModal2.close()" class="sc-btn sc-btn-red">Excluir definitivamente</button>
          </div>
        </div>
      <!-- Excluir FIM -->
      <!-- Alerta impressora INICIO -->
        <div style="width: 35em;" sc-modal="marcarTodosModal" class="sc-modal removeAnimationDefu col-xs-12 col-sm-10 col-md-8 col-lg-6">
          <div class="sc-modal-header align-center">
            <span>Alerta (<span class="sc-bg-yellow-lighter sc-cursor-pointer"><span ng-init="cancellPago = true" ng-show="!Cancell" ng-click="Cancell = !Cancell">Nenhum registro selecionado</span> <span ng-show="Cancell" ng-click="Cancell = !Cancell">Nenhum registro selecionado 2</span></span>)</span>
            <a ng-click="marcarTodosModal.close()" style="top: -.8em; left: .8em; margin: 0;" class="pull-right sc-m-lg" id="fechar">
              <div class="circleHover"></div>
              <i class="sc-icon sc-icon-fechar-1"></i>
            </a>
          </div>

          <div ng-hide="Cancell" style="padding-top: 2em;" class="sc-modal-body align-center">
            <span class="sc-text-blue sc-text-bold aling-center">Não existe nenhum registro selecionado. <div>Selecione pelo menos um (01) registro.</div></span>
          </div>
          <div ng-show="Cancell" style="padding-top: 2em;" class="aling-center sc-modal-body">
            <span class="sc-text-blue sc-text-bold">Tipo de relatório</span>
            <div style="display: flex;" class="sc-p-r-xl">
              <button ng-class="{ 'sc-btn-blue':selectU }" ng-click="selectU = !selectU; selectF = false" style="transition-duration: 500ms; border-radius: .3em 0 0 .3em;" class="sc-btn">Resumido</button>
              <button ng-class="{ 'sc-btn-blue':selectF }" ng-click="selectU = false; selectF = !selectF" style="transition-duration: 500ms; border-radius: 0 .3em .3em 0;" class="sc-btn">Detalhado</button>
            </div>
          </div>

          <div ng-show="!Cancell" class="sc-modal-footer">
            <button ng-click="marcarTodosModal.close()" class="sc-btn sc-btn-green">sim</button>
            <button ng-click="marcarTodosModal.close()" class="sc-btn sc-btn-red">Não</button>
          </div>
          <div ng-show="Cancell" class="sc-modal-footer">
            <button ng-click="marcarTodosModal.close()" class="sc-btn sc-btn-green">Gerar relatório</button>
          </div>
        </div>
      <!-- Alerta impressora FIM -->
      <!-- Excluir INICIO -->
        <div style="width: 35em;" sc-modal="excluirModal" class="sc-modal removeAnimationDefu col-xs-12 col-sm-10 col-md-8 col-lg-6">
          <div class="sc-modal-header align-center">
            <span>Alerta (<span class="sc-bg-yellow-lighter sc-cursor-pointer"><span ng-init="cancellPago = true" ng-show="!Cancell" ng-click="Cancell = !Cancell">Cancelamento de Lançamento</span> <span ng-show="Cancell" ng-click="Cancell = !Cancell">Cancelamento de Lançamento 2</span></span>)</span>
            <a ng-click="excluirModal.close()" style="top: -.8em; left: .8em; margin: 0;" class="pull-right sc-m-lg" id="fechar">
              <div class="circleHover"></div>
              <i class="sc-icon sc-icon-fechar-1"></i>
            </a>
          </div>

          <div style="padding-top: 2em;" class="sc-modal-body align-center">
            <span class="sc-text-blue sc-text-bold aling-center">Deseja realmente excluir este Lançamento ?</span>
          </div>

          <div ng-show="!Cancell" class="sc-modal-footer">
            <button ng-click="excluirModal.close()" class="sc-btn sc-btn-green">sim</button>
            <button ng-click="excluirModal.close()" class="sc-btn sc-btn-red">Não</button>
          </div>
          <div ng-show="Cancell" class="sc-modal-footer">
            <button ng-click="excluirModal.close()" class="sc-btn sc-btn-green">Enviar para a lixeira</button>
            <button ng-click="excluirModal.close()" class="sc-btn sc-btn-red">Excluir definitivamente</button>
          </div>
        </div>
      <!-- Excluir FIM -->
      <!-- Configuração de Cobrança INICIO -->
        <div ng-controller="BoletosModalCtrl">
          <div sc-modal="config.modalConfigBoleto" class="sc-modal col-sm-12 col-md-9 col-lg-7 sc-modal ng-isolate-scope active">
            <div class="sc-modal-header">
              <i ng-click="fecharModal()" class="sc-modal-close sc-icon sc-icon-fechar-2 sc-text-gray sc-text-hover-red"></i>
              Configuração de Cobrança
              <button ng-click="criarModelo()" ng-show="!criandoEditandoModelo" class="sc-text-xs sc-m-l-lg sc-btn sc-btn-green"><i class="sc-icon sc-icon-mais-1" ></i> <span class="sc-text-lg">Adicionar</span></button>
            </div>

            <div class="sc-modal-body">
              <div>
                <form action="">
                  <div class="sc-m-lg">

                    <div ng-show="!criandoEditandoModelo">
                      <li ng-repeat="item in modelos" class="sc-text-md sc-p-md sc-bg-hover-gray-lighter" ng-class="{'sc-border-b-gray-light-dotted-md': !$last}">
                        {{item.nome}}
                        <span ng-click="editarModelo(item)" class="sc-cursor-pointer sc-m-l-xl sc-bagde-icon sc-bg-hover-yellow sc-text-hover-white sc-border-radius-full sc-text-yellow"><i class="sc-icon sc-icon-lapis"></i></span>
                        <div style="float: right">
                          <span ng-click="excluirModelo(item)" class="sc-cursor-pointer sc-bagde-icon sc-bg-hover-red sc-text-hover-white sc-border-radius-full sc-text-red"><i class="sc-icon sc-icon-lixeira-1"></i></span>
                        </div>
                      </li>
                    </div>

                    <div style="overflow: auto;" class="sc-fieldset" ng-show="criandoEditandoModelo">
                      <div style="padding: 0;" class="sc-m-t-lg sc-m-b-lg col-xs-12 col-sm-4">
                        <label>
                          <div class="sc-label">Título</div>
                          <input type="text" class="sc-input-default" style="width:100%;" ng-model="modeloDefault.nome">
                        </label>
                      </div>
                      <div style="padding: 0;" class="sc-m-t-lg sc-m-b-lg col-xs-12 col-sm-3">
                        <label>
                          <div class="sc-label">Multa</div>
                          <input type="text" style="width:4em" class="sc-input-default" ng-model="modeloDefault.multa">
                          <span class="sc-label">%</span>
                        </label>
                      </div>
                      <div style="padding: 0;" class="sc-m-t-lg sc-m-b-lg col-xs-12 col-sm-5">
                        <div>
                          <div class="sc-label">Juros</div>
                          <input type="text" style="width:4em" class="sc-input-default" ng-model="modeloDefault.juros">
                          <span class="sc-label" style="display:inline-block">%</span>
                          <label style="position: absolute; bottom: 0.3em; margin-left: 1em">
                            <span class="sc-toggle" >
                              <input type="checkbox" ng-model="modeloDefault.tipoJuros" checked ng-true-value="'a.d.'" ng-false-value="'a.m.'" />
                              <span label-true="a.d." label-false="a.m."></span>
                            </span>
                          </label>
                          <label style="left: 12em; position: absolute; bottom: 0.3em; margin-left: 1em">
                            <span class="sc-toggle" >
                              <input type="checkbox" ng-model="modeloDefault.tipoJuros2" checked ng-true-value="'a.d.'" ng-false-value="'a.m.'" />
                              <span label-true="Composto" label-false="Simples"></span>
                            </span>
                          </label>
                        </div>
                      </div>
                      <div class="clear"></div>
                      <div style="padding: 0;" class="sc-m-t-lg sc-m-b-lg col-xs-12 col-sm-4">
                        <label>
                          <div class="sc-label">Cobrança Jurídica</div>
                          <input type="number" style="width:100%" class="sc-input-default" ng-model="modeloDefault.cobrancaJuridica">
                        </label>
                      </div>
                      <div style="padding: 0;" class="sc-m-t-lg sc-m-b-lg col-xs-12 col-sm-3">
                        <label>
                          <div class="sc-label">Multa</div>
                          <input type="text" style="width:4em" class="sc-input-default" ng-model="modeloDefault.multa">
                          <span class="sc-label">%</span>
                        </label>
                      </div>
                      <div style="padding: 0;" class="sc-m-t-lg sc-m-b-lg col-xs-12 col-sm-5">
                        <div>
                          <div class="sc-label">Juros</div>
                          <input type="text" style="width:4em" class="sc-input-default" ng-model="modeloDefault.juros">
                          <span class="sc-label" style="display:inline-block">%</span>
                          <label style="position: absolute; bottom: 0.3em; margin-left: 1em">
                            <span class="sc-toggle" >
                              <input type="checkbox" ng-model="modeloDefault.tipoJuros" checked/>
                              <span label-true="a.d." label-false="a.m."></span>
                            </span>
                          </label>
                          <label style="left: 12em; position: absolute; bottom: 0.3em; margin-left: 1em">
                            <span class="sc-toggle" >
                              <input type="checkbox" ng-model="modeloDefault.tipoJuros2" checked />
                              <span label-true="Composto" label-false="Simples"></span>
                            </span>
                          </label>
                        </div>
                      </div>
                      <div class="clear"></div>
                      <hr />
                      <div class="sc-m-t-lg sc-m-b-lg col-xs-12 col-sm-12">
                        <label style="width:100%;">
                          <div class="sc-label sc-p-md sc-align-middle">
                            <span>Instrução de Cobrança</span>
                            <a ng-click="addInput()" style="left: .8em; margin: 0;" class="sc-m-lg" id="mais">
                              <div class="circleHover"></div>
                              <i class="sc-icon sc-icon-mais-1"></i>
                            </a>
                          </div>
                          <div ng-repeat="lista in listaInput" ng-class="{ 'sc-m-t-lg':$index>0 }">
                            <input type="text" class="sc-input-default" style="width:95%;" ng-model="modeloDefault.instrucoesCobranca" placeholder="Ex: Não receber após vencimento.">
                            <a ng-show="listaInput.length > 1" style="left: .8em; margin: 0;" class="pull-right sc-m-lg" id="fechar">
                              <div class="circleHover"></div>
                              <i class="sc-icon sc-icon-lixeira-1"></i>
                            </a>
                          </div>
                        </label>
                      </div>
                      <div class="sc-m-t-lg sc-m-b-lg col-xs-12 col-sm-12">
                        <label style="width:100%;">
                          <div class="sc-label">Observação Boleto</div>
                          <textarea class="sc-input-default" style="width:100%;" rows="3" ng-model="modeloDefault.observacaoBoleto" placeholder="Ex: Após vencimento juros 2% a.d."></textarea>
                        </label>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="sc-modal-footer">
              <button ng-click="salvarModelo()" ng-show="criandoEditandoModelo" class="sc-btn sc-btn-green">Salvar</button>
              <button ng-click="cancelarCriarEditar()" ng-show="criandoEditandoModelo" class="sc-btn sc-btn-yellow">Cancelar</button>
            </div>
          </div>
        </div>
      <!-- Configuração de Cobrança FIM -->
      <!-- gerarCobranca INICIO -->
        <div style="width: 38em;" sc-modal="gerarCobranca" class="sc-modal col-xs-12 col-sm-10 col-md-8 col-lg-5">
          <div class="sc-modal-header">
            <i ng-click="gerarCobranca.close()" class="sc-modal-close sc-icon sc-icon-fechar-2 sc-text-gray sc-text-hover-red"></i> Gerar Cobrança
          </div>

          <div class="sc-modal-body">
            <div class="sc-p-l-md sc-p-b-md pull-left">
              <label>
                <div class="sc-label">Título</div>
                <input style="width:15em;" class="sc-input-default" />
              </label>
            </div>
            <div class="sc-p-l-md sc-p-b-md pull-right">
              <div class="sc-label">
                <span>Gerar boletos?</span>
              </div>
              <label class="sc-text-lg">
                <span class="sc-toggle" >
                  <input type="checkbox" />
                  <span ng-click="bol = !bol" label-true="Sim" label-false="Não"></span>
                </span>
              </label>
            </div>
            <div class="clear"></div>
            <div class="sc-p-l-md sc-p-b-md pull-left">
              <label>
                <div class="sc-label">Vencimento</div>
                <input type="date" style="width:15em;" class="sc-input-default sc-input-date" />
              </label>
            </div>
            <div class="sc-p-l-md sc-p-b-md pull-right">
              <label>
                <div class="sc-label">Tipo de Cobrança:</div>
                <select class="sc-input-default">
                  <option></option>
                  <option>Cobranaça Mensal</option>
                  <option>Cobranaça Semanal</option>
                  <option>Cobranaça Anual</option>
                </select>
              </label>
            </div>
            <div class="clear"></div>
            <div class="sc-p-l-md sc-p-b-md pull-left">
              <label>
                <div class="sc-label">Pagamentos até o dia</div>
                <input type="date" style="width:15em;" class="sc-input-default sc-input-date" />
              </label>
            </div>
            <div class="sc-p-l-md sc-p-b-md pull-right">
              <label>
                <div class="sc-label">Desconto</div>
                <input style="width:7em;" class="sc-input-default" />
                <span ng-click="alt = !alt">{{alt ? '%':'$'}}</span>
              </label>
            </div>
            <div class="clear"></div>
            <div ng-show="bol" style="width: 100%;" class="sc-p-l-md sc-p-b-md">
              <label>
                <div class="sc-label">Conta</div>
                <select style="width: 100%" ng-model="composicao" class="sc-input-default">
                  <option>Banco Itau</option>
                  <option>Banco do Brasil</option>
                  <option>Caixa síndico</option>
                  <option>Caixa zelador</option>
                </select>
              </label>
            </div>
            <div class="clear"></div>
            <div ng-show="bol" class="sc-p-l-md sc-p-b-md pull-left">
              <label>
                <div class="sc-label">Tipo de Boleto:</div>
                <select class="sc-input-default">
                  <option></option>
                  <option>Boleto 1</option>
                  <option>Boleto 2</option>
                  <option>Boleto 3</option>
                </select>
              </label>
            </div>
            <div ng-show="bol" class="sc-p-l-md sc-p-b-md pull-right">
              <label>
                <div class="sc-label">Envio de boleto:</div>
                <select class="sc-input-default">
                  <option value></option>
                  <option value="Email">Email</option>
                  <option value="Impressão">Baixar PDF</option>
                </select>
              </label>
            </div>
            <div class="clear"></div>
            <div class="sc-p-l-md sc-p-b-md pull-left">
              <span class="sc-text-blue sc-text-bold">Tipo de relatório</span>
              <div style="display: flex;" class="sc-p-r-xl">
                <button ng-class="{ 'sc-btn-blue':selectU }" ng-click="selectU = !selectU; selectF = false" style="transition-duration: 500ms; border-radius: .3em 0 0 .3em;" class="sc-btn">Resumido</button>
                <button ng-class="{ 'sc-btn-blue':selectF }" ng-click="selectU = false; selectF = !selectF" style="transition-duration: 500ms; border-radius: 0 .3em .3em 0;" class="sc-btn">Detalhado</button>
              </div>
            </div>
          </div>

          <div class="sc-modal-footer">
            <button ng-click="gerarCobranca.close()" class="sc-btn sc-btn-green">Visualizar</button>
            <button ng-click="gerarCobranca.close()" class="sc-btn sc-btn-blue">Gerar</button>
          </div>
        </div>
      <!-- gerarCobranca FIM -->
    <!-- Modal FIM -->

    <header id="head" class="sc-bg-blue sc-p-lg">
      <div class="logo">
        <img src="https://www.seucondominio.com.br/assets/responsivo/logo_seucondominio_branca_80px-d049dcfd41a00dbb8df2309619527295.png">
      </div>
    </header>
    <div class="fixScroll">
      <div class="sc-p-h-xl sc-p-v-md sc-bg-gray-lighter sc-border-b-gray-light-solid-md sc-text-gray sc-text-sm">
        <span>Início / Financeiro /  <span class="sc-text-bold">Lançamentos de Crédito e Débito</span></span>
      </div>
      <section class="sc-p-lg sc-bg-gray-lighter sc-border-b-gray-light-solid-md" ng-class="{ 'top-bar':scrollPosBoll }">
        <div class="sc-align-middle">
          <div class="sc-p-r-xl">
            <button ng-click="novoLancamento()" class="sc-btn sc-btn-blue sc-btn-awesomeness">
              <div class="sc-btn-icon"><i class="sc-icon sc-icon-mais-1"></i></div>
              <div class="sc-btn-text hidden-xs hidden-sm">Novo Lançamento</div>
            </button>
          </div>
          <div class="sc-p-r-xl">
            <div class="sc-input-group">
              <input type="text" placeholder="Pagador ou título" class="sc-input-default"/>
              <i class="sc-icon sc-icon-lupa-2 sc-btn sc-btn-blue"></i>
              <i ng-click="openFilter = !openFilter" ng-class="{'sc-btn-gray': openFilter}" class="sc-icon sc-icon-filtro-2 sc-btn sc-btn-blue"></i>
              <i ng-click="marcarTodosModal.open()" class="sc-icon sc-icon-impressora sc-btn sc-btn-blue"></i>
            </div>
          </div>
          <div ng-hide="openFilter" class="sc-p-r-xl"><span class="sc-text-bold sc-text-gray-dark">Até:</span>
            <input type="date" ng-model="hoje" style="line-height: 1;" class="sc-input-default sc-input-date"/>
          </div>
          <!-- <div class="sc-p-r-xl sc-align-bottom">
            <label>
              <span sc-dropdown-menu="sc-dropdown-menu" class="sc-dropdown">
                <button type="button" ng-click="menu.toggle()" class="sc-btn sc-btn-green sc-dropdown-toggle">Gerar<i class="sc-icon sc-icon-fw sc-icon-seta-5-baixo"></i></button>
                <ul ng-show="menu.isOn" class="sc-dropdown-menu sc-dropdown-menu-right ng-animation-slider">
                  <li ng-click="gerarCobranca.open()">
                    <div class="sc-p-sm vertical-align">
                      <span>Até a data</span>
                    </div>
                  </li>
                  <li ng-click="gerarCobranca.open()">
                    <div class="sc-p-sm vertical-align">
                      <span>Todas marcadas</span>
                    </div>
                  </li>
                </ul>
              </span>
            </label>
          </div> -->
          <div class="sc-p-r-xl">
            <button ng-click="gerarCobranca.open()" ng-show="selecionados() &gt; 0" class="sc-btn sc-btn-green">Gerar Cobrança</button>
          </div>
          <div class="sc-p-r-xl">
            <button ng-click="excluirModal.open()" ng-show="selecionados() &gt; 0" class="sc-btn sc-btn-red">Excluir</button>
          </div>
        </div>
        <div sc-stop-click class="pull-right">
          <div sc-dropdown-menu class="menu">
            <div ng-class="{'active-menu':menu.isOn}" ng-click="menu.toggle()" class="icon-hover-yellow">
              <i class="sc-icon sc-icon-engrenagem"></i>
            </div>
            <ul ng-show="menu.isOn">
              <li ng-click="actionMenu(item)", ng-repeat="item in config.menu">{{item.nome}}</li>
            </ul>
          </div>
        </div>
      </section>

      <section ng-show="openFilter" id="filter-bar" class="sc-p-h-lg sc-p-t-lg sc-bg-gray-lighter sc-border-b-gray-light-solid-md ng-animation-slider">
        <div class="filter-bar-campos sc-p-md">
          <div class="sc-p-r-xl sc-align-bottom">
            <label>
              <div class="sc-label">Destinatário</div>
              <select ng-model="destinatario" ng-options="item for item in config.destinatarios" class="sc-input-default"></select>
            </label>
          </div>
          <div class="sc-p-r-xl sc-align-bottom">
            <label>
              <div class="sc-label">Título</div>
              <input type="text" ng-model="form.titulo" class="sc-input-default"/>
            </label>
          </div>
          <div class="sc-p-r-xl sc-align-bottom">
            <label>
              <div class="sc-label">Pagador</div>
              <input ng-model="typeNewProp" typeahead="pag as pag.nome for pag in pesquisar() | filter:$viewValue" typeahead-wait-ms="500" typeahead-on-select="setPagador(typeNewProp); typeNewProp = null" type="text" placeholder="Digite um pagador" class="sc-input-default sc-input-block"/>
            </label>
            <div ng-repeat="pag in form.pagadores"><span class="sc-tag sc-tag-blue"><span>{{pag.pessoa.nome}}</span><i ng-click="deletePagador(pag)" class="sc-icon sc-icon-fechar-1 sc-tag-remove"></i></span></div>
          </div>
          <div class="sc-p-r-xl sc-align-bottom">
            <label>
              <div class="sc-label">Status</div>
              <span sc-dropdown-menu="sc-dropdown-menu" class="sc-dropdown">
                <button type="button" ng-click="menu.toggle()" class="sc-btn sc-btn-blue sc-dropdown-toggle">Selecione<i class="sc-icon sc-icon-fw sc-icon-seta-5-baixo"></i></button>
                <ul ng-show="menu.isOn" class="sc-dropdown-menu sc-dropdown-menu-right ng-animation-slider">
                  <li ng-repeat="status in config.status" ng-click="status.active = !status.active">
                    <div class="vertical-align"><i ng-class="status.active ? 'sc-icon-visto-4' : 'sc-icon-quadrado-1'" class="sc-icon sc-icon-fw"></i><span>{{status.nome}}</span></div>
                  </li>
                </ul>
              </span>
            </label>
          </div>
          <div class="sc-p-r-xl sc-align-bottom">
            <label>
              <div class="sc-label">Tipo de data:</div>
              <select class="sc-input-default">
                <option></option>
                <option>Cobrar a partir de</option>
                <option>Geração</option>
                <option>Exclusão</option>
                <option>Criação</option>
              </select>
            </label>
          </div>
          <div class="sc-p-r-xl sc-align-bottom">
            <label>
              <div class="sc-label">Início</div>
              <input style="line-height: 1;" type="date" class="sc-input-default sc-input-date"/>
            </label>
          </div>
          <div class="sc-p-r-xl sc-align-bottom">
            <label>
              <div class="sc-label">Final</div>
              <input style="line-height: 1;" type="date" class="sc-input-default sc-input-date"/>
            </label>
          </div>
          <div class="sc-p-r-xl sc-align-bottom">
            <label>
              <div class="sc-label">Composição</div>
              <select ng-model="composicao" ng-options="item for item in config.composicao" class="sc-input-default">
                <option value="" ng-if="false"></option>
              </select>
            </label>
          </div>
          <div class="sc-p-r-xl sc-align-bottom">
            <button ng-class="{ 'sc-btn-blue':selectU }" ng-click="selectU = !selectU; selectF = false" style="transition-duration: 500ms; border-radius: .3em 0 0 .3em;" class="sc-btn">Unidades</button>
            <button ng-class="{ 'sc-btn-blue':selectF }" ng-click="selectU = false; selectF = !selectF" style="transition-duration: 500ms; border-radius: 0 .3em .3em 0;" class="sc-btn">Fornecedores</button>
          </div>

        </div>
        <div class="filter-bar-acoes sc-p-md">
          <div class="sc-align-middle">
            <div class="sc-p-r-xl">
              <button class="sc-btn sc-btn-blue sc-btn-awesomeness">
                <div class="sc-btn-icon"><i class="sc-icon sc-icon-lupa-2"></i></div>
                <div class="sc-btn-text hidden-xs hidden-sm">Pesquisar</div>
              </button>
            </div>
            <div class="sc-p-r-xl">
              <button ng-click="openFilter = false" class="sc-btn sc-btn-red sc-btn-awesomeness">
                <div class="sc-btn-icon"><i class="sc-icon sc-icon-fechar-1"></i></div>
                <div class="sc-btn-text hidden-xs hidden-sm">Limpar Busca</div>
              </button>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="corpo" ng-class="{ 'corpo-scroll':scrollPosBoll }">
      <div class="sc-bg-white">
        <div ng-hide="novoRegistro._new">
          <div id="card" ng-click="verificarSelesionados('Aberto')" class="sc-bg-blue">
            <div style="z-index: 1;" class="min-card" ng-class="{ 'clickCard':(filtro.aberto == 'Aberto') }"></div>
            <div class="pull-right">
              <i style="z-index: 0; margin-right: .3em; margin-top: .6em; font-size: 2.4em; color: rgba(0,0,0,.09); padding: .2em 0 0 .7em;" class="sc-icon sc-icon-visto-1"></i>
            </div>
            <div style="display: flex;">
              <div id="percent" class="sc-text-white" style="z-index: 1; width: 5em;">
                <div style="text-align: center; margin: .5em; padding: 1.14em 0; border-radius: 10em; border: 3px solid white; border-color: #FFF">100%</div>
              </div>
              <div style="z-index: 1; line-height: 1.8em; padding: 0;" class="sc-text-white sc-m-l-lg align-left sc-p-t-xl">
                <div style="font-size: 3em; margin-top: .3em;">{{somas('Aberto')}}</div>
                <div><span style="font-size: .8em;">Aberto</span></div>
              </div>
            </div>
          </div>

          <div id="card" ng-click="verificarSelesionados('Reaberto')" class="sc-bg-blue-dark">
            <div style="z-index: 1;" class="min-card" ng-class="{ 'clickCard':(filtro.reaberto == 'Reaberto') }"></div>
            <div class="pull-right">
              <i style="z-index: 0; margin-right: .3em; margin-top: .6em; font-size: 2.4em; color: rgba(0,0,0,.09); padding: .2em 0 0 .7em;" class="sc-p-md sc-text-xxxl sc-icon sc-icon-visto-1"></i>
            </div>
            <div style="display: flex;">
              <div id="percent" class="sc-text-white" style="z-index: 1; width: 5em;">
                <div style="text-align: center; margin: .5em; padding: 1.14em 0; border-radius: 10em; border: 3px solid white; border-color: #FFF">100%</div>
              </div>
              <div style="z-index: 1; line-height: 1.8em; padding: 0;" class="sc-text-white sc-m-l-lg align-left sc-p-t-xl">
                <div style="font-size: 3em; margin-top: .3em;">{{somas('Reaberto')}}</div>
                <div><span style="font-size: .8em;">Reaberto</span></div>
              </div>
            </div>
          </div>

          <div id="card" class="sc-bg-green">
            <div style="z-index: 1;" class="min-card"></div>
            <div class="pull-right">
              <i style="z-index: 0; margin-right: .3em; margin-top: .6em; font-size: 2.4em; color: rgba(0,0,0,.09); padding: .2em 0 0 .7em;" class="sc-p-md sc-text-xxxl sc-icon sc-icon-visto-1"></i>
            </div>
            <div style="display: flex;">
              <div id="percent" class="sc-text-white" style="z-index: 1; width: 5em;">
                <div style="text-align: center; margin: .5em; padding: 1.14em 0; border-radius: 10em; border: 3px solid white; border-color: #FFF">100%</div>
              </div>
              <div style="z-index: 1; line-height: 1.8em; padding: 0;" class="sc-text-white sc-m-l-lg align-left sc-p-t-xl">
                <div style="font-size: 3em; margin-top: .3em;">10</div>
                <div><span style="font-size: .8em;">Crédito</span></div>
              </div>
            </div>
          </div>

          <!-- <div id="card" ng-click="verificarSelesionados('Gerado')" class="sc-bg-green">
            <div style="z-index: 1;" class="min-card" ng-class="{ 'clickCard':(filtro.gerado == 'Gerado') }"></div>
            <div class="pull-right">
              <i style="z-index: 0; margin-right: .3em; margin-top: .6em; font-size: 2.4em; color: rgba(0,0,0,.09); padding: .2em 0 0 .7em;" class="sc-p-md sc-text-xxxl sc-icon sc-icon-visto-1"></i>
            </div>
            <div style="display: flex;">
              <div id="percent" class="sc-text-white" style="z-index: 1; width: 5em;">
                <div style="text-align: center; margin: .5em; padding: 1.14em 0; border-radius: 10em; border: 3px solid white; border-color: #FFF">100%</div>
              </div>
              <div style="z-index: 1; line-height: 1.8em; padding: 0;" class="sc-text-white sc-m-l-lg align-left sc-p-t-xl">
                <div style="font-size: 3em; margin-top: .3em;">{{somas('Gerado')}}</div>
                <div><span style="font-size: .8em;">Gerado</span></div>
              </div>
            </div>
          </div>

          <div id="card" ng-click="verificarSelesionados('Excluido')" class="sc-bg-red">
            <div style="z-index: 1;" class="min-card" ng-class="{ 'clickCard':(filtro.exluido == 'Excluido') }"></div>
            <div class="pull-right">
              <i style="z-index: 0; margin-right: .3em; margin-top: .6em; font-size: 2.4em; color: rgba(0,0,0,.09); padding: .2em 0 0 .7em;" class="sc-p-md sc-text-xxxl sc-icon sc-icon-visto-1"></i>
            </div>
            <div style="display: flex;">
              <div id="percent" class="sc-text-white" style="z-index: 1; width: 5em;">
                <div style="text-align: center; margin: .5em; padding: 1.14em 0; border-radius: 10em; border: 3px solid white; border-color: #FFF">100%</div>
              </div>
              <div style="z-index: 1; line-height: 1.8em; padding: 0;" class="sc-text-white sc-m-l-lg align-left sc-p-t-xl">
                <div style="font-size: 3em; margin-top: .3em;">{{somas('Excluido')}}</div>
                <div><span style="font-size: .8em;">Excluido</span></div>
              </div>
            </div>
          </div> -->

          <div id="card" class="pull-right sc-bg-yellow sc-cursor-default">
            <div style="z-index: 1;" class="min-card"></div>
            <div class="pull-right">
              <i style="z-index: 0; margin-right: .3em; margin-top: .6em; font-size: 2.4em; color: rgba(0,0,0,.09); padding: .2em 0 0 .7em;" class="sc-p-md sc-text-xxxl sc-icon sc-icon-visto-1"></i>
            </div>
            <div style="display: flex;">
              <div id="percent" class="sc-text-white" style="z-index: 1; width: 5em;">
                <div style="text-align: center; margin: .5em; padding: 1.14em 0; border-radius: 10em; border: 3px solid white; border-color: #FFF">100%</div>
              </div>
              <div style="z-index: 1; line-height: 1.8em; padding: 0;" class="sc-text-white sc-m-l-lg align-left sc-p-t-xl">
                <div style="font-size: 3em; margin-top: .3em;">{{somaTotal()}}</div>
                <div><span style="font-size: .8em;">Total</span></div>
              </div>
            </div>
          </div>
        </div>
        <section ng-hide="novoRegistro._new" id="barraTotal">
          <div style="position: relative; top: 1em;" class="sc-border-t-gray-light-solid-md sc-bg-white sc-p-xl">
            <div style="overflow: auto;" class="sc-text-normal">
              <label class="sc-m-t-xl" ng-hide="teste1">
                <!-- <input ng-click="teste1 = !teste1; marcarTodosModal2.open()" type="checkbox" class="sc-checkbox sc-checkbox-blue" ng-model="todasMarcadas" /> -->
                <input ng-click="teste1 = !teste1" type="checkbox" class="sc-checkbox sc-checkbox-blue" ng-model="todasMarcadas" />
                Marcar Todos
              </label>
              <label class="sc-m-t-xl" ng-show="teste1">
                <input ng-click="teste1 = !teste1" ng-click="desmarcarTodos(sizeFilterScope)" type="checkbox" class="sc-checkbox sc-checkbox-blue" ng-model="todasMarcadas" />
                Desmarcar Todos
                <div style="font-weight: normal;" class="sc-cursor-pointer sc-bg-yellow-lighter">
                  Selecionar todos os 1.853 registros.
                </div>
              </label>
              <label class="somaMarcadosClass sc-border-gray-light-solid-md sc-p-sm sc-border-radius sc-m-l-lg pull-right">
                <div> 
                  <span ng-click="modalTotalSelecionados.open()" style="position: relative; left: -5px" class="iconDesig iconDesig-yellow">
                    <div class="circleHover"></div>
                    <i class="sc-icon sc-icon-lapis"></i>
                  </span>
                  <span>Total selecionados: (6)</span>
                </div>
                <span style="margin-left: 2.4em;">R$ 800,00</span>
              </label>
              <label style="width: 13em;" class="sc-border-gray-light-solid-md sc-p-sm sc-border-radius pull-right">
                <div>Total:</div>
                <span>R$800,00</span>
              </label>
            </div>
          </div>
          <ul class="sc-accordion">
            <li ng-repeat="cobranca in sizeFilterScope = ( myFilter() | orderBy:orderby )" ng-init="initForm(cobranca)" ng-controller="CobrancaCtrl" ng-include="'form.html'" class="{{corStatus(cobranca)}}">
            </li>
          </ul>
        </section>
      </div>

      <section style="overflow: auto;" ng-if="novoRegistro._new" class="sc-m-t-lg" id="novo-lancamento">
        <ul class="sc-accordion">
          <li ng-init="initForm(novoRegistro)" ng-controller="LancamentoCtrl" ng-include="'form.html'" class="sc-acc-blue-lighter"></li>
        </ul>
      </section>

      <section ng-hide="novoRegistro._new" id="lancamentos">
        <ul class="sc-accordion">
          <li ng-repeat="pagador in pagadores" ng-class="{'sc-acc-blue': pagador.acc}">
            <div ng-click="toggleAccPagadores(pagador)" class="sc-accordion-head">
              <label ng-hide="pagador._new" ng-click="$event.stopPropagation()" class="sc-accordion-icon-col sc-divider">
                <input type="checkbox" ng-model="pagador.checked" class="sc-checkbox sc-checkbox-blue"/>
              </label>
              <div class="sc-accordion-elastic-col title">
                <div class="sc-p-md">{{pagador.nome}}</div>
              </div>
              <div class="sc-accordion-col-7 align-right"><span class="sc-p-r-md">R$800,00</span></div>
            </div>
            <div ng-show="pagador.acc" class="sc-accordion-body ng-animation-slider">
              <ul class="sc-accordion">
                <li ng-repeat="lancamento in pagador.lancamentos" ng-init="initForm(lancamento)" ng-controller="LancamentoCtrl" ng-include="'form.html'" class="sc-acc-blue-lighter"></li>
              </ul>
            </div>
          </li>
        </ul>
      </section>

      <script id="form.html" type="text/ng-template">
        <div ng-click="form.acc = !form.acc" class="sc-accordion-head">
          <label ng-hide="form._new" ng-click="$event.stopPropagation()" class="sc-accordion-icon-col sc-divider">
            <input type="checkbox" ng-model="form.checked" class="sc-checkbox sc-checkbox-blue"/>
          </label>
          <div ng-show="form._new" class="sc-accordion-icon-col sc-divider"><i ng-class="{'sc-rotate-90': form.acc}" class="sc-icon sc-icon-seta-11-direita sc-transition"></i></div>
          <div class="sc-accordion-elastic-col title">
            <div style="display: inline-table;" class="sc-p-xs">{{form.titulo}}</div>
            <div style="display: inline-table; width: 4.5em;" class="align-center sc-accordion-elastic-col title">
              <span ng-class="'sc-bg-{{corStatus(form)}}'" class="sc-p-h-sm sc-text-normal sc-text-white sc-text-sm sc-border-radius">{{form.status}}</span>
            </div>
            <div ng-show="form.statusP" style="display: inline-table; width: 4.5em;" class="align-center sc-accordion-elastic-col title">
              <span ng-class="'sc-bg-gray'" class="sc-p-h-sm sc-text-normal sc-text-white sc-text-sm sc-border-radius">{{form.statusP}}</span>
            </div>
            <div ng-show="form.programacao" style="display: inline-table; width: 4.5em;" class="align-center sc-accordion-elastic-col title">
              <span class="sc-p-h-sm sc-text-normal sc-bg-red sc-text-white sc-text-sm sc-border-radius">Programação</span>
            </div>
          </div>
          <div class="sc-accordion-col-7 align-right"><span class="sc-p-r-lg">R$800,00</span></div>
        </div>
        <div style="overflow: auto;" ng-show="form.acc" class="sc-accordion-body ng-animation-slider">
          <div style="overflow: auto;" class="sc-p-lg">
            <div class="sc-fieldset">
              <div ng-click="form._openCadastro = !form._openCadastro" class="sc-cursor-pointer sc-text-lg"><i class="sc-m-r-lg sc-text-sm sc-icon sc-icon-seta-11-direita sc-transition" ng-class="{ 'sc-rotate-90':form._openCadastro }"></i><b> Cadastro</b></div>
              <div ng-show="form._openCadastro" style="display: flex;" class="ng-animation-slider campos-form sc-m-t-xxl">
                <div class="sc-p-v-lg">
                  <label>
                    <div class="sc-label">Título</div>
                    <input type="text" ng-model="form.titulo" class="sc-input-default"/>
                  </label>
                </div>
                <div class="sc-m-l-lg sc-p-v-lg ">
                  <label>
                    <div class="sc-label">Destinatário</div>
                    <select ng-model="destinatario" ng-options="item for item in config.destinatarios" class="sc-input-default"></select>
                  </label>
                </div>
                <div style="position: relative; top: 1.6em;" class="sc-m-l-lg sc-p-v-lg">
                  <div sc-year-month-picker ng-model="data"></div>
                </div>
                <div class="sc-m-l-lg sc-p-v-lg">
                  <label>
                    <div class="sc-label">Cobrar a partir de</div>
                    <input type="date" style="line-height: 1;" ng-model="form.bomPara" class="sc-input-default sc-input-date"/>
                  </label>
                </div>
                <div style="width: 6em;" class=" sc-m-t-md sc-m-l-lg">
                  <label style="margin-top: 2em;">
                    <span class="sc-toggle">
                      <input ng-model="clikc_s.creditoShow" type="checkbox" checked />
                      <span label-true="Crédito" label-false="Débito"></span>
                    </span>
                  </label>
                </div>
                <div ng-if="form._new" class="sc-m-l-lg sc-p-v-lg">
                  <label>
                    <div class="sc-label">Pagador</div>
                    <input ng-model="typeNewProp" typeahead="pag as pag.nome for pag in pesquisar() | filter:$viewValue" typeahead-wait-ms="500" typeahead-on-select="setPagador(typeNewProp); typeNewProp = null" type="text" placeholder="Digite um pagador" class="sc-input-default sc-input-block sc-m-b-sm"/>
                  </label>
                  <div ng-repeat="pag in form.pagadores"><span class="sc-tag sc-tag-blue"><span>{{pag.pessoa.nome}}</span><i ng-click="deletePagador(pag)" class="sc-icon sc-icon-fechar-1 sc-tag-remove"></i></span></div>
                </div>
                <div class="clear"></div>
              </div>
              <div class="clear"></div>
            </div>
            <div class="sc-fieldset">
              <div ng-click="form._openComposicaoC = !form._openComposicaoC" class="sc-cursor-pointer sc-text-lg">
                <i class="sc-m-r-lg sc-text-sm sc-icon sc-icon-seta-11-direita sc-transition" ng-class="{ 'sc-rotate-90':form._openComposicaoC }"></i>
                <b> Composição da Cobrança</b>
              </div>
              <div ng-show="form._openComposicaoC" ng-repeat="numC in form._inputs" class="ng-animation-slider campos-form" ng-class="{ 'sc-m-t-xxl':($index==0) }">
                <div class="sc-align-middle">
                  <div class="">
                    <label>
                      <div class="sc-label">Título</div>
                      <input type="text" ng-model="numC.nome" class="sc-input-default"/>
                    </label>
                  </div>
                  <div class="sc-p-l-lg ">
                    <label>
                      <div class="sc-label">Valor</div>
                      <input ng-model="valor" ng-model="numC.valor" sc-currency-input="sc-currency-input" type="text" class="sc-input-default"/>
                    </label>
                  </div>
                  <div class="sc-p-l-lg ">
                    <label>
                      <div class="sc-label">Plano de Contas</div>
                      <select ng-model="numC.planoContas" ng-options="item for item in config.planoDeContas" class="sc-input-default"></select>
                    </label>
                  </div>
                  <div class=" sc-p-l-lg sc-m-t-sm">
                    <a style="left: 0;" ng-show="$index == form._inputs.length-1" ng-click="addLancamento(numC)" class="pull-right sc-m-lg iconDesig iconDesig-green">
                      <div class="circleHover"></div>
                      <i class="sc-icon sc-icon-mais-1"></i>
                    </a>
                    <button ng-hide="$index == form._inputs.length-1" ng-click="numC.subComp = !numC.subComp" class="sc-btn sc-m-t-xxl" ng-class="{ 'sc-btn-yellow':numC.subComp }">Sub-composição</button>
                    <a style="top: 1.4em;" ng-hide="$index == form._inputs.length-1" ng-click="removeLancamento(numC)" class="pull-right sc-m-lg iconDesig iconDesig-red">
                      <div class="circleHover"></div>
                      <i class="sc-icon sc-icon-lixeira-1"></i>
                    </a>
                  </div>
                </div>
                <hr ng-hide="$index == form._inputs.length-1" />
                <div ng-show="numC.subComp" class="sc-m-l-xl ng-animation-slider">
                  <div class="sc-text-md">
                    <b>Sub-Composição</b>
                  </div>
                  <div class="clear"></div>
                  <div ng-repeat="subCompVar in numC.subComposicao" class="ng-animation-slider">
                    <div class="sc-align-middle">
                      <div class="">
                        <label>
                          <div ng-hide="$index != 0 && numC.subComposicao.length > 1" class="sc-label">Título</div>
                          <input type="text" ng-model="subCompVar.nome" class="sc-input-default"/>
                        </label>
                      </div>
                      <div class="sc-p-l-lg ">
                        <label>
                          <div ng-hide="$index != 0 && numC.subComposicao.length > 1" class="sc-label">Valor</div>
                          <input ng-model="subCompVar.valor" sc-currency-input="sc-currency-input" type="text" class="sc-input-default"/>
                        </label>
                      </div>
                      <div>
                        <a ng-show="$index == numC.subComposicao.length-1" ng-click="addLancamentoSub(numC.subComposicao)" class="pull-right sc-m-lg iconDesig iconDesig-green">
                          <div class="circleHover"></div>
                          <i class="sc-icon sc-icon-mais-1"></i>
                        </a>
                        <a ng-hide="$index == numC.subComposicao.length-1" ng-click="removeLancamentoSub(numC.subComposicao, subComp)" class="pull-right sc-m-lg iconDesig iconDesig-red">
                          <div class="circleHover"></div>
                          <i class="sc-icon sc-icon-lixeira-1"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <hr />
                </div>
                <div class="clear"></div>
              </div>
            </div>
            <div ng-show="clikc_s.creditoShow" class="sc-fieldset">
              <div ng-click="form.teste = !form.teste" class="sc-cursor-pointer sc-text-lg"><i class="sc-m-r-lg sc-text-sm sc-icon sc-icon-seta-11-direita sc-transition" ng-class="{ 'sc-rotate-90':form.teste }"></i><b>Abatimento (  <span class="sc-text-green">500</span> / <span class="sc-text-red">800</span> )</b><i class="sc-m-l-lg sc-icon sc-icon-arquivo-2 sc-text-blue"></i></div>
              <div ng-show="form.teste" class="ng-animation-slider campos-form sc-m-t-xxl">
                <div class="sc-align-middle">
                  <div class="sc-p-v-lg">
                    <label>
                      <div class="sc-label">Data</div>
                      <input type="date" style="line-height: 1;" ng-model="dataTeste" class="sc-input-default sc-input-date"/>
                    </label>
                  </div>
                  <div class="sc-m-l-lg sc-p-v-lg">
                    <label>
                      <div class="sc-label">Valor</div>
                      <input type="text" ng-init="valorTeste = 400" ng-model="valorTeste" class="sc-input-default"/>
                    </label>
                  </div>
                  <div class="sc-m-l-lg sc-p-v-lg">
                    <label>
                      <div class="sc-label">Observações</div>
                      <input type="text" ng-init="valorTeste = 400; obsTeste = 'Pgt. em cheque (3345)'" ng-model="obsTeste" class="sc-input-default"/>
                    </label>
                  </div>
                  <div class="sc-m-l-lg sc-p-v-lg sc-align-bottom">
                    <button class="sc-btn sc-btn-green">Novo Abatimento</button>
                  </div>
                </div>
                <div class="clear"></div>
                <div>
                  <p>05/08/2015 -------------------- R$ 200,00 (20%) -------------------- Pagamento em dinheiro <i class="sc-icon sc-icon-lixeira-1 sc-text-red"></i> </p>
                  <p>01/08/2015 -------------------- R$ 300,00 (30%) -------------------- Abatido na cobrança Rateio 08/2015</p>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="sc-align-middle sc-m-b-lg right">
            <div ng-show="form._new" ng-click="form._new = false" class="sc-m-l-md sc-align-bottom">
              <div>
                <button class="sc-btn sc-btn-red">Cancelar</button>
              </div>
            </div>
            <div ng-hide="form._new" class="sc-m-l-md sc-align-bottom">
              <div>
                <button ng-click="excluirModal.open()" class="sc-btn sc-btn-red">Excluir</button>
              </div>
            </div>
            <div class="sc-m-l-md sc-align-bottom">
              <div>
                <button class="sc-btn sc-btn-blue">Salvar</button>
              </div>
            </div>
            <div ng-hide="form._new" class="sc-m-l-md sc-align-bottom">
              <div>
                <button ng-click="gerarCobranca.open()" class="sc-btn sc-btn-green">Gerar</button>
              </div>
            </div>
          </div>
        </div>
      </script>
    </div>

    <script src="../../source/prototype.js"></script>
    <script src="../../source/modernizr.min.js"></script>
    <script src="index.js" type="text/javascript"></script>
    <script src="http://codepen.io/dev6-seucondominio/pen/avpxNZ.js" type="text/javascript"></script>

  </body>
</html>