header {
  background: #2590d9;
  background: -ms-linear-gradient(top, #2590d9 0%, #135ca6 30%);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(30%, #2590d9), color-stop(100%, #135ca6));
  background: -webkit-linear-gradient(top, #2590d9 30%, #135ca6);
  border-bottom: 1px solid black;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

header .logo img {
  width: 9em;
}

.btn-exemplo {
  transition: all 100ms ease-in-out;
  box-shadow: 2px -2px 1px rgba(0,0,0,.4);
  margin-top: .3em;
  border-bottom: 2px solid #59f;
}

.corpo {
  z-index: 0;
  position: relative;
  top: 4em;
}

.corpo-scroll {
  position: relative;
  top: 8em;
}

.fixScroll {
  position: relative;
  top: 4.4em;
  z-index: 2;
  .top-bar {
    border-top: 1.5px solid gray;
    position: fixed;
    top: 4.2em;
    width: 100%;
    z-index: 10;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }
}

.btn-exemplo:hover {
  background: #2590d9;
  background: -ms-linear-gradient(top, #2590d9 0%, #135ca6 30%);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(30%, #2590d9), color-stop(100%, #135ca6));
  background: -webkit-linear-gradient(top, #2590d9 30%, #135ca6);
}

.btn-exemplo:active {
  box-shadow: none;
  position: relative;
  top: 2px;
  border: none;
}

.btn-exemplo-Click {
  box-shadow: none;
  position: relative;
  top: 2px;
  border: none;
}


.cardHover {
  background-color: rgba(0,0,0,.2);
}

#card {
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  display: inline-table;
  width: 17em;
  position: relative;
  cursor: pointer;
  margin: .8em;
  .clickCard {
    width: 17em !important;
  }
  .min-card {
    width: 5em;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    transition: width 500ms;
    position: absolute;
  }
}

#card:hover .min-card {
  width: 17em;
  #percent {
    background: none;
  }
}

input.typeahead-combo{
  cursor: pointer;
  padding-right: 1.8em;
  background-image: asset-url('https://www.seucondominio.com.br/assets/typeahead/search-e018421dd276ff1fd31e5f3ba2716acc.svg');
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
}
input.typeahead-search{
  padding-left: 1.8em;
  background-image: url('https://www.seucondominio.com.br/assets/typeahead/search-e018421dd276ff1fd31e5f3ba2716acc.svg');
  background-size: .8em;
  background-position: 0.5em center;
  background-repeat: no-repeat;
}
.typeahead-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  float: left;
  min-width: 160px;
  margin: 1px 0 0;
  list-style: none;
  font-size: 1em;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 8px rgba(0,0,0,.2);
  box-shadow: 0 5px 8px rgba(0,0,0,.2);
  background-clip: padding-box;
  max-height: 18em;
  overflow-y:auto;
  border-radius: .2em;
}
.typeahead-dropdown-menu>li.group-list>h1{
  color:#333;
  margin: .1em .2em;
  clear: both;
}
.typeahead-dropdown-menu>li.match-list,
.typeahead-dropdown-menu>li.group-list>ul>li.match-list{
  &>a {
    display: block;
    padding: .6em .8em;
    line-height: 1.42857143;
    color: #0078C1;
    background-color: #f7f7f7;
    .sc-icon {margin-right: .4em}
    &>span.index{
      border: 1px solid red;
      background-color: yellow;
      padding: .2em;
      font-size: 1.2em;
      margin: .2em;
      margin-right: .6em;
      display: inline-block;
      min-width: 1.8em;
      text-align: center;
      border-radius: .4em;
    }
    &>div.no-records{
      font-weight: normal;
    }
    &>div.new-record,&>div.no-records{
      display: table;
      &>span,&>i{
        display:table-cell;
        vertical-align: middle;
      }
      &>span.pre-text{
        font-weight: normal;
        padding-right: .2em;
      }
    }
    & b.highlight{
      background-color: #BBD2E6;
      padding: 0 1px;
      border-radius: 0.2em;
    }
  }
  &.even{
    &>a {background-color: #f0f0f0;}
  }
  &:first-of-type a {border-radius: .2em .2em 0 0;}
  &:last-of-type a {border-radius: 0 0 .2em .2em;}
  &.active{
    &>a b.highlight{
      background-color: #5F9BCF;
    }
    &>a>span.index{
      color:#000;
    }
    &>a, &>a:hover, &>a:active{
      color: #fff;
      text-decoration: none;
      outline: 0;
      background-color: #77ACD9;
    }
  }
}
