@font-face {
  font-family: 'sc-icons';
  font-weight: normal;
  src: font-url('https://dl.dropboxusercontent.com/u/3330376/uikit/sc-icons.woff') format('woff');
}

.menu {
  overflow: auto;
  width: 100%;
  background-color: #e9e9e9;
}

.foto {
  width: 5em;
}

.tooltip.customClass .tooltip-inner {
    color: #880000;
    background-color: #ffff66;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
/* Hide arrow */
.tooltip.customClass .tooltip-arrow {
    display: none;
}
