@font-face {
  font-family: 'sc-icons';
  font-weight: normal;
  src: font-url('https://dl.dropboxusercontent.com/u/3330376/uikit/sc-icons.woff') format('woff');
}

.setaTeste {
  width: 0;
  height: 0;
  padding: 0;
  border: 33px solid;
  background-color: transparent;
  border-color: #337ab7 transparent transparent transparent;
  margin: 0 auto;
}