html(ng-app='scApp', ng-controller='controll')
  head
    title Fornecedor
    link(href="http://staging.seucondominio.com.br/assets/prototype-b8672555b5fba00a6c848ccf5bcd466c.css" rel='stylesheet' type='text/css')
    link(href="index.css" rel='stylesheet' type='text/css')
  body
    h1.sc-p-xxxl(style='margin-top: 0; background: #edeeef;')
    .align-center.sc-m-t-lg.sc-text-gray
      h1.sc-text-blue CADASTRO RÁPIDO
      h4.sc-text-gray CADASTRO FORNECEDOR
      .sc-p-lg.sc-m-lg.sc-border-gray-solid-md.sc-border-radius.sc-p-md(style='border-radius: 2em; display: inline-block; background-color: #F7F7F9;')
        .sc-m-t-lg.sc-m-h-lg(style='display: inline-table;')
          div NOME 
          input.sc-border-radius(style='background: #E5E5E5; border: none; height: 2.5em; padding: 0 1em; font-size: 1em;')
        .sc-m-t-lg.sc-m-h-lg(style='display: inline-table;')
          div E-MAIL 
          input.sc-border-radius(style='background: #E5E5E5; border: none; height: 2.5em; padding: 0 1em; font-size: 1em;')
        .sc-m-t-lg.sc-m-h-lg(style='display: inline-table;')
          div SITE 
          input.sc-border-radius(style='background: #E5E5E5; border: none; height: 2.5em; padding: 0 1em; font-size: 1em;')
        .clear
        .sc-m-t-lg.sc-m-h-lg(style='display: inline-table;')
          div TELEFONE 
          input.sc-border-radius(style='background: #E5E5E5; border: none; height: 2.5em; padding: 0 1em; font-size: 1em;')
        .sc-m-t-lg.sc-m-h-lg(style='display: inline-table;')
          div CATEGORIAS 
          input.sc-border-radius(style='background: #E5E5E5; border: none; height: 2.5em; padding: 0 1em; font-size: 1em;')
        .clear
        .sc-m-t-xxxl
          button.sc-btn.sc-btn-green
            span Salvar
      .clear
      .sc-m-t-xxxl
        h1.sc-bg-blue.sc-text-white.align-center.sc-p-xl(style='margin-bottom: 0;') VEJA COMO FUNCIONA
        h1.setaTeste
        .sc-p-lg.sc-m-lg.sc-border-gray-solid-sm.sc-border-radius.sc-p-md(style='overflow: auto; background-color: #F7F7F9;')
          i.pull-left.sc-m-r-xs.sc-icon.sc-icon-video-1(style='font-size: 12em;')
          div
            p
              | --------------------------------------------------------------------------------------------------------------------------------------------------------------------
            p
              | --------------------------------------------------------------------------------------------------------------------------------------------------------------------
            p
              | --------------------------------------------------------------------------------------------------------------------------------------------------------------------
            p
              | --------------------------------------------------------------------------------------------------------------------------------------------------------------------
            p
              | --------------------------------------------------------------------------------------------------------------------------------------------------------------------
            p
              | --------------------------------------------------------------------------------------------------------------------------------------------------------------------


    script(src="http://staging.seucondominio.com.br/assets/prototype-df624966e363f8d5ceeb4c6f3a6a3be6.js" type='text/javascript')
    script(src="../../source/modernizr.min.js" type='text/javascript')
    script(src="index.js" type='text/javascript')