html(ng-app="app" ng-controller="AppCtrl")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css')
  body.sc-system
   
    section#top-menu.sc-p-v-sm.sc-p-h-xl.sc-bg-blue
      img(src="https://www.seucondominio.com.br/assets/institucional/logo-mobile-c07a4de0cd57b02cf5eaffefcda8d48e.png")

    section#top-bar.sc-bg-gray-lighter
      #top-bar-content.sc-p-t-lg.sc-p-r-md.sc-bg-gray-lighter(ng-class="{'shadowOpen':actionAlt.novaLeituraOpen || openFilter}")
        .sc-p-l-lg.sc-p-b-md.pull-left
          button.sc-btn.sc-btn-awesomeness(ng-click="adicionarPassagem = !adicionarPassagem")(ng-class="{'sc-btn-blue':adicionarPassagem}")
            .sc-btn-icon
              i.sc-icon.sc-icon-mais-1
            .sc-btn-text.hidden-sm.hidden-xs
              span Adicionar Passagem
        .sc-p-l-lg.sc-p-b-md.col-xs-10.col-sm-8.col-md-6.col-lg-4
          .sc-input-group
            input.sc-input-default
            i.sc-icon.sc-icon-lupa-2.sc-btn.sc-btn-blue
            i.sc-icon.sc-icon-.sc-icon-impressora.sc-btn.sc-btn-blue.hidden-xs
        .sc-p-l-lg.sc-p-b-md.pull-right.hidden-xs
          .icon-hover.icon-yellow(ng-click="configModal.open()")
            i.sc-icon.sc-icon-engrenagem
        .clear
     
   section#breadcrumb
    .sc-p-h-xl.sc-p-b-md.sc-bg-gray-lighter.sc-text-gray.sc-text-sm
      span.sc-text-blue Início / 
      span Passagem de Serviço
  
    section#nova-entrada.sc-m-t-md.ng-animation-slider(ng-show="adicionarPassagem")
      ul.sc-accordion
        li.sc-acc-blue
          .sc-accordion-head.sc-text-blue.sc-cursor-default
            .sc-accordion-elastic-col.title Nova Passagem de Serviço
          .sc-accordion-doby.sc-p-lg.sc-bg-gray-lighter(style="overflow: auto")
            .col-xs-12.col-sm-6.col-lg-3.sc-p-none
              .pull-left.sc-border-gray-light-solid-md.sc-border-radius.sc-m-r-md(style="width: 6em; height: 6em; background: url('http://www.pubzi.com/f/Business-Person.svg'); background-size: 4em; background-position: center; background-repeat: no-repeat")
              .sc-label.sc-text-sm Quem sai
              input.sc-input-default.sc-text-xs(ng-class="{'error':addPassagem.errorSai}" ng-model="addPassagem.sai", style="width: 12em;")
              .sc-label.sc-text-sm.sc-m-t-md Senha
              input.sc-input-default.sc-text-xs(ng-class="{'error':addPassagem.errorSaiPass}" ng-model="addPassagem.saiPass", type="password", style="width: 12em;")
            .col-xs-12.col-sm-6.col-lg-3.sc-p-none
              .pull-left.sc-border-gray-light-solid-md.sc-border-radius.sc-m-r-md(style="width: 6em; height: 6em; background: url('http://www.pubzi.com/f/Business-Person.svg'); background-size: 4em; background-position: center; background-repeat: no-repeat")
              .sc-label.sc-text-sm Quem entra
              input.sc-input-default.sc-text-xs(ng-class="{'error':addPassagem.errorEntra}" ng-model="addPassagem.entra", style="width: 12em;")
              .sc-label.sc-text-sm.sc-m-t-md Senha
              input.sc-input-default.sc-text-xs(ng-class="{'error':addPassagem.errorEntraPass}" ng-model="addPassagem.entraPass", type="password", style="width: 12em;")
            .clear.sc-p-t-lg.sc-text-blue
              p Eu {{addPassagem.sai || '_________'}} (que está saindo), passo o posto de serviço para o {{addPassagem.entra || '_________'}} (que está entrando) , de acordo com as informações abaixo:
            .col-xs-12.col-sm-3.col-md-2.sc-text-sm.sc-p-none
              .sc-label Vistoria
              .sc-dropdown(sc-dropdown-menu)
                .sc-input-group(style="width: 9em;")(ng-click="menu.toggle()")
                  input.sc-input-default(ng-class="{'error':addPassagem.errorVistoria}" ng-model="addPassagem.vistoria")
                  i.sc-icon.sc-icon-seta-5-baixo.sc-btn.sc-btn-blue
                ul.sc-dropdown-menu.ng-animation-slider(ng-show="menu.isOn")
                  li(ng-click="addPassagem.vistoria = (op1 ? '':'Option 1'); op1 = !op1; op2 = false")
                    a(href="")
                      i.sc-icon.sc-icon-quadrado-1(ng-class="{'sc-icon-visto-4':op1}")
                      span.sc-p-l-md Option 1
                  li(ng-click="addPassagem.vistoria = (op2 ? '':'Option 2'); op2 = !op2; op1 = false")
                    a(href="")
                      i.sc-icon.sc-icon-quadrado-1(ng-class="{'sc-icon-visto-4':op2}")
                      span.sc-p-l-md Option 2
            .col-xs-12.col-sm-9.sc-text-sm.sc-p-none
              .sc-label Observações
              textarea.sc-input-default(ng-model="addPassagem.obs", rows="5", style="max-width: 55em; width: 100%;")
            .pull-left.sc-m-t-lg(ng-show="addPassagem.error")
              p.sc-text-sm.sc-text-red.sc-m-v-md
                i.sc-icon.sc-icon-exclamacao-3.sc-text-md
                | Peencha corretamente os campos
            .pull-right.sc-text-sm.sc-m-t-lg
              button.sc-btn.sc-btn-red(ng-click="cancelarPassagem()") Cancelar
              button.sc-btn.sc-btn-blue(ng-click="anotacaoPassagem()") Salvar anotações
              button.sc-btn.sc-btn-green(ng-click="fazerPassagem()") Fazer a passagem
            
    section#anotacoes.sc-m-t-md.ng-animation-slider(ng-show="anotacoesTmp.length > 0 && !adicionarPassagem")
      ul.sc-accordion
        li
          .sc-accordion-head.sc-text-blue(ng-click="anotacoesTmp.opened = !anotacoesTmp.opened")
            .sc-accordion-icon-col.sc-divider.align-xs-center
              i.sc-icon.sc-icon-seta-11-direita.sc-transition(ng-class="{'sc-icon-seta-11-baixo':anotacoesTmp.opened}")
            .sc-accordion-elastic-col.title 
              span.sc-text-yellow {{anotacoesTmp.length > 1 ? 'Anotações':'Anotação'}}
            .sc-accordion-col-13.hidden-xs
              .pull-right(sc-stop-click)
                .menu(sc-dropdown-menu)
                  .icon-hover.icon-gray(ng-class="{'active-menu':menu.isOn}" ng-click="menu.toggle()")
                    i.sc-icon.sc-icon-reticiencias-v
                  ul(ng-show="menu.isOn")
                    li Option 1
                    li Option 2
          
          .sc-accordion-doby.sc-m-h-lg.ng-animation-slider(ng-show="anotacoesTmp.opened" style="overflow: auto")
            ul.sc-accordion
              li(ng-repeat="anotacao in anotacoesTmp | orderBy: 'id'")
                .sc-accordion-head.sc-text-blue(ng-click="anotacao.opened = !anotacao.opened")
                  .sc-accordion-icon-col.sc-divider.align-xs-center
                    i.sc-icon.sc-icon-seta-11-direita.sc-transition(ng-class="{'sc-icon-seta-11-baixo':anotacao.opened}")
                  .sc-accordion-elastic-col.title 
                    span.sc-text-red {{anotacao.sai}}
                    i.sc-icon.sc-icon-seta-6-direita-esquerda.sc-p-h-md(ng-show="anotacao.sai || anotacao.entra")
                    span.sc-text-green {{anotacao.entra}}
                    .sc-label(ng-hide="anotacao.sai || anotacao.entra") Sem Título
                  .sc-accordion-col-13.hidden-xs
                    span(style="position: relative; top: .4em;") {{anotacao.data | date:'dd/MM/yyyy'}} 
                      b  às 
                      |  {{anotacao.hora}}
                    .pull-right(sc-stop-click)
                      .menu(sc-dropdown-menu)
                        .icon-hover.icon-gray(ng-class="{'active-menu':menu.isOn}" ng-click="menu.toggle()")
                          i.sc-icon.sc-icon-reticiencias-v
                        ul(ng-show="menu.isOn")
                          li Option 1
                          li Option 2
                .sc-accordion-doby.ng-animation-slider.sc-m-lg.sc-p-lg.sc-bg-gray-lighter.sc-border-radius(style="overflow: auto" ng-show="anotacao.opened")
                  .col-xs-12.col-sm-6.col-lg-3.sc-p-none
                    .pull-left.sc-border-gray-light-solid-md.sc-border-radius.sc-m-r-md(style="width: 6em; height: 6em; background: url('http://www.pubzi.com/f/Business-Person.svg'); background-size: 4em; background-position: center; background-repeat: no-repeat")
                    .sc-label.sc-text-sm Quem sai
                    input.sc-input-default.sc-text-xs(ng-class="{'error':anotacao.errorSai}" ng-model="anotacao.sai", style="width: 12em;")
                    .sc-label.sc-text-sm.sc-m-t-md Senha
                    input.sc-input-default.sc-text-xs(ng-class="{'error':anotacao.errorSaiPass}" ng-model="anotacao.saiPass", type="password", style="width: 12em;")
                  .col-xs-12.col-sm-6.col-lg-3.sc-p-none
                    .pull-left.sc-border-gray-light-solid-md.sc-border-radius.sc-m-r-md(style="width: 6em; height: 6em; background: url('http://www.pubzi.com/f/Business-Person.svg'); background-size: 4em; background-position: center; background-repeat: no-repeat")
                    .sc-label.sc-text-sm Quem entra
                    input.sc-input-default.sc-text-xs(ng-class="{'error':anotacao.errorEntra}" ng-model="anotacao.entra", style="width: 12em;")
                    .sc-label.sc-text-sm.sc-m-t-md Senha
                    input.sc-input-default.sc-text-xs(ng-class="{'error':anotacao.errorEntraPass}" ng-model="anotacao.entraPass", type="password", style="width: 12em;")
                  .clear.sc-p-t-lg.sc-text-blue
                    p Eu 
                      b {{anotacao.sai || '_________'}}  
                      |  (que está saindo), passo o posto de serviço para o
                      b  {{anotacao.entra || '_________'}}
                      | (que está entrando) , de acordo com as informações abaixo:
                  .col-xs-12.col-sm-3.col-md-2.sc-text-sm.sc-p-none
                    .sc-label Vistoria
                    .sc-dropdown(sc-dropdown-menu)
                      .sc-input-group(style="width: 9em;")(ng-click="menu.toggle()")
                        input.sc-input-default(ng-class="{'error':anotacao.errorVistoria}" ng-model="anotacao.vistoria")
                        i.sc-icon.sc-icon-seta-5-baixo.sc-btn.sc-btn-blue
                      ul.sc-dropdown-menu.ng-animation-slider(ng-show="menu.isOn")
                        li(ng-click="anotacao.vistoria = (op1 ? '':'Option 1'); op1 = !op1; op2 = false")
                          a(href="")
                            i.sc-icon.sc-icon-quadrado-1(ng-class="{'sc-icon-visto-4':op1}")
                            span.sc-p-l-md Option 1
                        li(ng-click="anotacao.vistoria = (op2 ? '':'Option 2'); op2 = !op2; op1 = false")
                          a(href="")
                            i.sc-icon.sc-icon-quadrado-1(ng-class="{'sc-icon-visto-4':op2}")
                            span.sc-p-l-md Option 2
                  .col-xs-12.col-sm-9.sc-text-sm.sc-p-none
                    .sc-label Observações
                    textarea.sc-input-default(ng-model="anotacao.obs", rows="5", style="max-width: 55em; width: 100%;")
                  .pull-left.sc-m-t-lg(ng-show="anotacao.error")
                    p.sc-text-sm.sc-text-red.sc-m-v-md
                      i.sc-icon.sc-icon-exclamacao-3.sc-text-md
                      | Peencha corretamente os campos
                  .pull-right.sc-text-sm.sc-m-t-lg
                    button.sc-btn.sc-btn-red(ng-click="cancelarPassagemAnotacao(anotacao)") Cancelar
                    button.sc-btn.sc-btn-blue(ng-click="anotacaoPassagemAnotacao(anotacao)") Salvar anotações
                    button.sc-btn.sc-btn-green(ng-click="fazerPassagemAnotacao(anotacao)") Fazer a passagem

    section#listagem-entrada.sc-m-t-md.ng-animation-slider(ng-hide="adicionarPassagem")
      ul.sc-accordion
        li(ng-class="{'sc-acc-blue':acc.opened}" ng-repeat="passagem in passagens | orderBy: '-id'")
          .sc-accordion-head.sc-text-blue(ng-click="passagem.opened = !passagem.opened")
            .sc-accordion-icon-col.sc-divider.align-xs-center
              i.sc-icon.sc-icon-seta-11-direita.sc-transition(ng-class="{'sc-icon-seta-11-baixo':passagem.opened}")
            .sc-accordion-elastic-col.title 
              span.sc-text-red {{passagem.sai}}
              i.sc-icon.sc-icon-seta-6-direita-esquerda.sc-p-h-md
              span.sc-text-green {{passagem.entra}}
            .sc-accordion-col-13.hidden-xs
              span(style="position: relative; top: .4em;") {{passagem.data | date:'dd/MM/yyyy'}} 
                b  às 
                |  {{passagem.hora}}
              .pull-right(sc-stop-click)
                .menu(sc-dropdown-menu)
                  .icon-hover.icon-gray(ng-class="{'active-menu':menu.isOn}" ng-click="menu.toggle()")
                    i.sc-icon.sc-icon-reticiencias-v
                  ul(ng-show="menu.isOn")
                    li Option 1
                    li Option 2
          .sc-accordion-doby.ng-animation-slider.sc-m-lg.sc-p-lg.sc-bg-gray-lighter.sc-border-radius(style="overflow: auto" ng-show="passagem.opened")
            h3.sc-label Detalhes da entrada
            p.sc-p-t-none.sc-label.visible-xs(style="position: relative; top: .4em;") {{passagem.data | date:'dd/MM/yyyy'}} 
              b  às 
              |  {{passagem.hora}}
            .clear.sc-p-v-lg.sc-text-blue
              span Eu 
              b.sc-text-red {{passagem.sai}} 
              span  (que está saindo),  passo o posto de serviço para a
              b.sc-text-green  {{passagem.entra}}
              san  (que está entrando) ,  de acordo com as informações abaixo:
            .col-xs-12.col-sm-4.col-md-3.col-lg-2.sc-p-h-none.sc-p-b-md
              .sc-label Vistoria
              span.sc-text-blue {{passagem.vistoria}}
            .col-xs-12.col-sm-8.sc-p-none.sc-p-b-md
              .sc-label Observações
              p.sc-text-blue.sc-border-blue-light-solid-md.sc-p-md.sc-border-radius {{passagem.obs}}
              
            ul.clear.sc-accordion
              li
                .sc-accordion-head.sc-text-blue(style="border: none;")(ng-click="acc.visualizacao = !acc.visualizacao")
                  .sc-accordion-icon-col.align-xs-center
                    i.sc-icon.sc-icon-seta-11-direita.sc-transition(ng-class="{'sc-icon-seta-11-baixo':acc.visualizacao}")
                  .sc-accordion-elastic-col.title 
                    span Visualizações
                .sc-accordion-doby.ng-animation-slider.sc-p-lg.sc-border-t-gray-solid-md(ng-show="acc.visualizacao") 
                  .col-xs-12.col-md-6.sc-p-none
                    .sc-border-gray-solid-md.sc-p-md.sc-m-r-lg.sc-m-b-lg
                      span(style="background-color: #f3f3f4 !important; position: absolute; top: -9px; left: 3px;")
                        i.sc-icon.sc-icon-quadrado-1
                        | Síndico
                      p.sc-m-t-lg
                        i.sc-icon.sc-icon-quadrado-1
                        span Marcio - 
                        span.sc-text-gray E-mail não foi enviado
                      p 
                        i.sc-icon.sc-icon-quadrado-1
                        span Diego Felipe da Silva Paiva - 
                        span.sc-text-gray E-mail não foi enviado
                      p 
                        i.sc-icon.sc-icon-quadrado-1
                        span GuilhermeADM - 
                        span.sc-text-gray E-mail não foi enviado
                      p 
                        i.sc-icon.sc-icon-quadrado-1
                        span Gabriel de Souza - 
                        span.sc-text-gray E-mail não foi enviado
                  .col-xs-12.col-md-6.sc-p-none
                    .sc-border-gray-solid-md.sc-p-md.sc-m-b-lg
                      span(style="background-color: #f3f3f4 !important; position: absolute; top: -9px; left: 3px;")
                        i.sc-icon.sc-icon-quadrado-1
                        | Administração do condomínio
                      p.sc-m-t-lg
                        i.sc-icon.sc-icon-quadrado-1
                        span Marcio - 
                        span.sc-text-gray E-mail não foi enviado
                      p 
                        i.sc-icon.sc-icon-quadrado-1
                        span Diego Felipe da Silva Paiva - 
                        span.sc-text-gray E-mail não foi enviado
                      p 
                        i.sc-icon.sc-icon-quadrado-1
                        span GuilhermeADM - 
                        span.sc-text-gray E-mail não foi enviado
                      p 
                        i.sc-icon.sc-icon-quadrado-1
                        span Gabriel de Souza - 
                        span.sc-text-gray E-mail não foi enviado
                  .pull-right.sc-text-sm.sc-m-t-lg
                    button.sc-btn.sc-btn-blue Notificar por E-mail
        
    section#configuracao(ng-controller="ConfigCtrl")
      .sc-modal.col-xs-12.col-sm-8.col-md-6.ng-isolate-scope(sc-modal="configModal")
        .sc-modal-header
          | Configurações
          .pull-right.sc-text-sm
            .icon-hover.icon-red(ng-click="configModal.close()")
              i.sc-icon.sc-icon-fechar-1

        .sc-modal-body
          .align-center.sc-border-b-gray-dashed-md.sc-p-b-lg
            p Enviar e-mail notificando passagem de serviço automaticamente?
            label.sc-text-sm.sc-p-b-lg
              span.sc-toggle
                input(type="checkbox")
                span(label-true="Sim" label-false="Não")
          .sc-p-md.sc-border-radius
            p Cadastre os itens para conferência
            form.sc-text-sm(ng-submit="add_to_list(addItem)")
              input.sc-input-default(ng-model="addItem.name" ng-class="{'error error':addItem.errorAdd}")
              i.sc-icon.sc-icon-mais-1.sc-btn.sc-btn-blue.sc-m-l-md(ng-click="add_to_list(addItem)")
              p.sc-text-red.sc-m-v-md(ng-show="addItem.errorAdd")
                i.sc-icon.sc-icon-exclamacao-3.sc-text-md Item não pode ser vazio
            .sc-m-t-lg(style="display: table;")
              table.sc-table
                thead
                  tr
                    td Itens
                    td
                tbody
                  tr(ng-repeat="item in items")
                    td(ng-hide="item.edit") {{item.name}}
                    td(style="padding: 0.5em; padding-left: 0.7em; font-size: 0.9em")(ng-show="item.edit")
                      input.sc-input-default.sc-text-sm.sc-p-sm(ng-model="item.name" style="min-width: 12em;")
                    td
                      .icon-hover.icon-green(ng-show="item.edit")
                        i.sc-icon.sc-icon-visto-1(ng-click="item.edit = !item.edit")
                      .icon-hover.icon-red
                        i.sc-icon.sc-icon-lixeira-1(ng-click="remove_to_list(item)" ng-hide="item.edit")
                        i.sc-icon.sc-icon-fechar-1(ng-click="item.edit = !item.edit" ng-show="item.edit")
                      .icon-hover.icon-yellow(ng-hide="item.edit")
                        i.sc-icon.sc-icon-lapis(ng-click="item.edit = !item.edit")
            

        .sc-modal-footer.sc-text-sm
          button.sc-btn.sc-btn-green(ng-click="configModal.close()") Salvar
            
            
            
            
            