html {width: 100%}
body {width: 100%}

* {
  margin: 0;
  padding: 0;
}

.error {
  background-color: #fae7e7 !important;
  border-style: solid !important;
  border-color: #c74848 !important;
  color: #621e1e !important;
}