<body style="width: 100%; height: 100%; background-color: #a9b7c4;" ng-app="scApp" ng-controller="controll">

  <!-- Modais INICIO -->
    <!-- Opções de Cadastro INICIO -->
      <div style="width: 55em; overflow: auto;" class="sc-text-blue sc-p-md sc-modal active" sc-modal="editarPrevisto">
        <div style="padding: 0;" class="sc-text-blue sc-modal-body">
          <div class="sc-modal-header align-center">
            <span>Janeiro / 2015 </span>
            <button ng-click="addCamp()" class="sc-text-xs sc-btn sc-btn-green">Adicionar</button>
            <div class="sc-modal-icon">
              <span ng-click="editarPrevisto.close()" class="iconDesig iconDesig-red">
                <i class="sc-icon sc-icon-fechar-1"></i>
              </span>
            </div>
          </div>
          <div ng-repeat="lista in listaInputs | orderBy: '-id'" style="background-color: #F7F7F9;" class="sc-m-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
            <div class="sc-m-l-lg" style="display: inline-table;">
              <div>Descrição:</div>
              <input ng-model="lista.description" class="sc-text-sm sc-input-default" />
            </div>
            <div class="sc-m-l-lg" style="display: inline-table;">
              <div>Ano:</div>
              <select ng-model="lista.ano" style="width: 9em;" class="sc-text-sm sc-input-default">
                <option value="0">2015</option>
                <option value="1">2014</option>
                <option value="2">2013</option>
                <option value="3">2012</option>
                <option value="4">2011</option>
                <option value="5">2010</option>
              </select>
            </div>
            <div class="sc-m-l-lg" style="display: inline-table;">
              <div>Valor:</div>
              <input sc-currency-default ng-model="lista.valor" class="sc-text-sm sc-input-default" />
            </div>
            <div class="sc-m-l-lg" style="display: inline-table;">
              <div style="color: #FF00FF !important;">Plano de contas:</div>
              <select ng-model="lista.planoContas" style="width: 15em;" class="sc-text-sm sc-input-default">
                <option value="0">1. Receitas</option>
                <option value="1">1.1 Taxa de Condomínio</option>
                <option value="2">1.2 Sala de festas</option>
                <option value="3">1.3 Acordo</option>
                <option value="4">1.4 Fundo de reserva</option>
                <option value="5" style="color: red;">2 Despesas</option>
                <option value="6" style="color: red;">2.1 Funcionários</option>
                <option value="7" style="color: red;">2.2 Energia</option>
                <option value="8" style="color: red;">2.3 Câmeras</option>
              </select>
            </div>
            <div class="sc-m-l-lg" style="display: inline-table; position: relative; top: 1.7em;">
              <a ng-click"rmvCamp(lista)" class="iconDesig iconDesig-red">
                <i class="sc-icon sc-icon-lixeira-1"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="sc-modal-footer">
          <button ng-click="editarPrevisto.close()" class="sc-btn sc-btn-green">Salvar</button>
        </div>
      </div>
    <!-- Opções de Cadastro FIM -->
    <!-- Opções de Cadastro INICIO -->
      <div style="width: 85em; overflow: auto;" class="sc-text-blue sc-p-md sc-modal active" sc-modal="novaPrevisao">
        <div style="padding: 0;" class="sc-text-blue sc-modal-body">
          <div class="sc-modal-header align-center">
            Adicionar Previsão
            <div class="sc-modal-icon">
              <span ng-click="novaPrevisao.close()" class="iconDesig iconDesig-red">
                <i class="sc-icon sc-icon-fechar-1"></i>
              </span>
            </div>
          </div>
          <div style="background-color: #F7F7F9;" class="sc-m-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
            <div class="sc-m-l-lg" style="display: inline-table;">
              <div>Descrição:</div>
              <input class="sc-text-sm sc-input-default" />
            </div>
            <div class="sc-m-l-lg" style="display: inline-table;">
              <div>Ano:</div>
              <select ng-model="lista.ano" style="width: 9em;" class="sc-text-sm sc-input-default">
                <option value="0">2015</option>
                <option value="1">2014</option>
                <option value="2">2013</option>
                <option value="3">2012</option>
                <option value="4">2011</option>
                <option value="5">2010</option>
              </select>
            </div>
            <div class="sc-m-l-lg" style="display: inline-table;">
              <div>Valor:</div>
              <input ng-model="valorTeste" class="sc-text-sm sc-input-default" />
            </div>
            <div class="sc-m-l-lg" style="display: inline-table;">
              <div style="color: #FF00FF !important;">Plano de contas:</div>
              <select style="width: 15em;" class="sc-text-sm sc-input-default">
                <option>1. Receitas</option>
                <option>1.1 Taxa de Condomínio</option>
                <option>1.2 Sala de festas</option>
                <option>1.3 Acordo</option>
                <option>1.4 Fundo de reserva</option>
                <option style="color: red;">2 Despesas</option>
                <option style="color: red;">2.1 Funcionários</option>
                <option style="color: red;">2.2 Energia</option>
                <option style="color: red;">2.3 Câmeras</option>
              </select>
            </div>
          </div>
          <div style="background-color: #F7F7F9;" class="sc-m-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
            <div>
              <h1>1º Semestre</h1>
            </div>
            <div class="sc-m-l-lg sc-m-b-lg" style="display: inline-table;">
              <div>
                <i class="sc-icon sc-icon-visto-4"></i>
                <span>Janeiro:</span>
              </div>
              <input ng-model="valorTeste" class="sc-text-sm sc-input-default" />
            </div>
            <div class="sc-m-l-lg sc-m-b-lg" style="display: inline-table;">
              <div>
                <i class="sc-icon sc-icon-visto-4"></i>
                <span>Fevereiro:</span>
              </div>
              <input ng-model="valorTeste" class="sc-text-sm sc-input-default" />
            </div>
            <div class="sc-m-l-lg sc-m-b-lg" style="display: inline-table;">
              <div>
                <i class="sc-icon sc-icon-quadrado-1"></i>
                <span>Março:</span>
              </div>
              <input ng-model="valorTeste" disabled class="sc-text-sm sc-input-default" />
            </div>
            <div class="sc-m-l-lg sc-m-b-lg" style="display: inline-table;">
              <div>
                <i class="sc-icon sc-icon-quadrado-1"></i>
                <span>Abril:</span>
              </div>
              <input ng-model="valorTeste" disabled class="sc-text-sm sc-input-default" />
            </div>
            <div class="sc-m-l-lg sc-m-b-lg" style="display: inline-table;">
              <div>
                <i class="sc-icon sc-icon-quadrado-1"></i>
                <span>Maio:</span>
              </div>
              <input ng-model="valorTeste" disabled class="sc-text-sm sc-input-default" />
            </div>
            <div class="sc-m-l-lg sc-m-b-lg" style="display: inline-table;">
              <div>
                <i class="sc-icon sc-icon-quadrado-1"></i>
                <span>Junho:</span>
              </div>
              <input ng-model="valorTeste" disabled class="sc-text-sm sc-input-default" />
            </div>
            <hr />
            <div class="clear"></div>
            <div>
              <h1>2º Semestre</h1>
            </div>
            <div class="sc-m-l-lg sc-m-b-lg" style="display: inline-table;">
              <div>
                <i class="sc-icon sc-icon-quadrado-1"></i>
                <span>Julho:</span>
              </div>
              <input ng-model="valorTeste" disabled class="sc-text-sm sc-input-default" />
            </div>
            <div class="sc-m-l-lg sc-m-b-lg" style="display: inline-table;">
              <div>
                <i class="sc-icon sc-icon-quadrado-1"></i>
                <span>Agosto:</span>
              </div>
              <input ng-model="valorTeste" disabled class="sc-text-sm sc-input-default" />
            </div>
            <div class="sc-m-l-lg sc-m-b-lg" style="display: inline-table;">
              <div>
                <i class="sc-icon sc-icon-quadrado-1"></i>
                <span>Setembro:</span>
              </div>
              <input ng-model="valorTeste" disabled class="sc-text-sm sc-input-default" />
            </div>
            <div class="sc-m-l-lg sc-m-b-lg" style="display: inline-table;">
              <div>
                <i class="sc-icon sc-icon-visto-4"></i>
                <span>Outubro:</span>
              </div>
              <input ng-model="valorTeste" class="sc-text-sm sc-input-default" />
            </div>
            <div class="sc-m-l-lg sc-m-b-lg" style="display: inline-table;">
              <div>
                <i class="sc-icon sc-icon-visto-4"></i>
                <span>Novembro:</span>
              </div>
              <input ng-model="valorTeste" class="sc-text-sm sc-input-default" />
            </div>
            <div class="sc-m-l-lg sc-m-b-lg" style="display: inline-table;">
              <div>
                <i class="sc-icon sc-icon-visto-4"></i>
                <span>Desembro:</span>
              </div>
              <input ng-model="valorTeste" class="sc-text-sm sc-input-default" />
            </div>
          </div>
        </div>
        <div class="sc-modal-footer">
          <button ng-click="novaPrevisao.close()" class="sc-btn sc-btn-green">Salvar</button>
        </div>
      </div>
    <!-- Opções de Cadastro FIM -->
  <!-- Modais FIM -->

  <nav ng-show="openMenuResponse" class="menu-responsivo"></nav>
  <div ng-hide="scrollPosBollMobile || (scrollPos < 250)" class="buttonBackTop">
    <a style="{{testeclick}}" ng-click="scrollTopButton()" class="sc-box-shadow-z1 sc-btn sc-dropdown-toggle sc-border-radius-full">
      <i class="sc-icon sc-icon-seta-11-cima"></i>
    </a>
  </div>
  <header ng-class="{ 'sc-box-shadow-z1':scrollPosBoll }">
    <div class="ng-animation-slider" id="head1">
      <div class="cursor-pointer logo">
        <img style="width: 9em;" src="https://www.seucondominio.com.br/assets/responsivo/logo_seucondominio_branca_80px-d049dcfd41a00dbb8df2309619527295.png">
      </div>
    </div>
    <div id="head2" ng-hide="scrollPos >= 50">
      <div ng-click="openMenuResponse=!openMenuResponse" class="cursor-pointer logo">
        <img alt="Seta menu" class="sc-m-r-md seta-logo" style="width: .5em;" src="https://www.seucondominio.com.br/assets/responsivo/seta-menu-6c7810b355501e81dc7319a98ee038e4.png">
        <img style="width: 9em;" src="https://www.seucondominio.com.br/assets/responsivo/logo_seucondominio_branca_80px-d049dcfd41a00dbb8df2309619527295.png">
      </div>
    </div>
    <div ng-hide="scrollPosBoll" id="caminhosTela" class="ng-animation-slider sc-border-b-gray-light-solid-md sc-p-h-xl sc-p-v-md sc-bg-gray-lighter sc-text-gray sc-text-sm">
      <span>Início / ???? /  <span class="sc-text-bold">Previsão Orçamentária</span></span>
    </div>

    <section style="width: 100%;" class="barraMenu1 sc-p-lg sc-bg-gray-lighter sc-align-middle">
      <div class="sc-m-v-lg sc-align-middle">
        <button ng-click="novaPrevisao.open()" class="sc-btn sc-btn-awesomeness sc-btn-blue">
          <div class="sc-btn-icon"><i class="sc-icon sc-icon-mais-1"></i></div>
          <div class="sc-btn-text">Adicionar Previsão</div>
        </button>
        <div class="sc-m-h-lg" style="display: inline-table;">
          <div class="sc-input-group">
            <input style="border-color:  #FF00FF !important;" type="text" placeholder="" class="sc-input-default"/>
            <i class="colorPink sc-icon sc-icon-lupa-2 sc-btn sc-btn-blue"></i>
            <i ng-click="openFilter = !openFilter" ng-class="{'sc-btn-gray': openFilter}" class="colorPink sc-icon sc-icon-filtro-2 sc-btn sc-btn-blue"></i>
            <i ng-click="marcarTodosModal.open()" class="colorPink sc-icon sc-icon-impressora sc-btn sc-btn-blue"></i>
          </div>
        </div>
        <div style="display: inline-table;">
          <i class="sc-cursor-pointer sc-text-xxl sc-text-blue sc-icon sc-icon-seta-5-esquerda"></i>
          <span class="sc-text-xxl sc-p-h-md">2015</span>
          <i class="sc-cursor-pointer sc-text-xxl sc-text-blue sc-icon sc-icon-seta-5-direita"></i>
        </div>
      </div>
    </section>

    <button ng-hide="scrollPosBollMobile || (scrollPos < 250)" style="overflow: hidden; position: absolute; z-index: 11; left: -19px; top: 10em; width: 3em; background-color: white; border-color: white; border-radius: 50%; transform: rotate(-90deg); background-image: linear-gradient(top, #CCC 2%, white 99%);" class="setaEsquerdaFlut sc-btn sc-dropdown-toggle sc-border-radius-full">
      <i style="position: relative; bottom: -0.5em;    position: relative; color: #2590d9;" class="sc-icon sc-icon-seta-11-baixo"></i>
    </button>
    <section ng-hide="scrollPosBollMobile && (scrollPos >= 60)" class="barraMenu2 ng-animation-slider sc-p-h-lg sc-bg-gray-lighter sc-align-middle" ng-class="{ 'sc-box-shadow-z2':scrollPos>0 }">
      <div class="sc-m-v-lg sc-align-middle">
        <span style="color: #999999; font-size: 2em;" class="titleBarra2">Previsão Orçamentária</span>
      </div>
      <div class="pull-right sc-m-v-lg sc-align-middle">
        <span style="padding-left: 1em;" sc-dropdown-menu="" class="sc-dropdown">
          <div class="buscaMobile" ng-class="{ 'openBusca':actionClick.search }">
            <input ng-show="actionClick.search" placeholder="Busca..." class="sc-input-default" />
            <i ng-show="actionClick.search" ng-click="actionClick.search = !actionClick.search" class="sc-cursor-pointer buttonSearch sc-icon sc-icon-fechar-1"></i>
          </div>
          <button style="overflow: hidden;" ng-click="actionClick.search = !actionClick.search" class="sc-btn sc-dropdown-toggle sc-border-radius-full">
            <i class="sc-icon sc-icon-lupa-2"></i>
          </button>
          <button style="overflow: hidden; z-index: 20" class="sc-btn sc-dropdown-toggle sc-border-radius-full" ng-click="menu.toggle()">
            <i class="sc-icon sc-icon-seta-11-baixo"></i>
          </button>
          <ul style="position: absolute;" class="menu-mobile-conf sc-bg-gray-lighter" ng-show="menu.isOn">
            <li class="menuIconsAnimate icon1">
              <button style="overflow: hidden;" class="sc-btn sc-dropdown-toggle sc-border-radius-full">
                <i class="sc-icon sc-icon-impressora"></i>
              </button>
            </li>
            <li class="menuIconsAnimate icon2">
              <button style="overflow: hidden;" class="sc-btn sc-dropdown-toggle sc-border-radius-full">
                <i class="sc-icon sc-icon-filtro-2"></i>
              </button>
            </li>
            <li class="menuIconsAnimate icon3">
              <button style="overflow: hidden;" class="sc-btn sc-dropdown-toggle sc-border-radius-full">
                <i class="sc-icon sc-icon-ordem-a-z"></i>
              </button>
            </li>
            <li class="menuIconsAnimate icon4">
              <button style="overflow: hidden;" class="sc-btn sc-dropdown-toggle sc-border-radius-full">
                <i class="sc-icon sc-icon-engrenagem"></i>
              </button>
            </li>
          </ul>
        </span>
      </div>
    </section>
  </header>

  <section id="previsaoOrc">
    <div class="sc-m-t-lg sc-text-blue">
      <ul class="sc-accordion">
        <li ng-init="init(include)" style="cursor: default;">
          <div style="cursor: default; {{include.bgColorAcc}}" class="sc-accordion-head">
            <div ng-click="toggleAcc(include)" style="{{include.txtColor}}" class="sc-accordion-elastic-col">
              <span style="font-weight: bold;">{{include.mes}}</span>
              <div style="{{include.txtColor}}" class="previstoLine sc-text-green description">Previsto: R$ {{include.previsto}}</div>
              <div style="{{include.txtColor}}" class="realizadoLine sc-text-yellow description">Realizado: R$ {{include.realizado}}</div>
            </div>
            <div ng-click="toggleAcc(include)" style="padding-right: 1.5em; width: 15em;" class="preReaCol align-right sc-accordion-elastic-col">
              <div style="{{include.txtColor}}" class="sc-text-green">Previsto: R$ {{include.previsto}}</div>
              <div style="{{include.txtColor}}" class="sc-text-yellow colorPink">Realizado: R$ {{include.realizado}}</div>
            </div>
            <div ng-click="toggleAcc(include)" style="width: 11em; {{include.txtColor}}" class="previstoCol sc-text-green align-right sc-accordion-elastic-col">
              <div>Previsto</div>
              <span>R$ {{include.previsto}}</span>
            </div>
            <div ng-click="toggleAcc(include)" style="padding-right: 1.5em; width: 11em; {{include.txtColor}}" class="colorPink realizadoCol sc-m-r-lg sc-text-yellow align-right sc-accordion-elastic-col title">
              <div>Realizado</div>
              <span>R$ {{include.realizado}}</span>
            </div>
            <div style="width: 4.4em; {{lista.txtColor}}" class="sc-m-r-lg sc-text-yellow align-right sc-accordion-elastic-col title">
            </div>
          </div>
          <div ng-show="false" style="overflow: auto; padding:0;" class="sc-accordion-body ng-animation-slider">
            <div style="background-color: #F7F7F9;" class="sc-m-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
              <div style="position: relative;" ng-mouseleave="subLista.hoverLista = false" ng-mouseover="subLista.hoverLista = true" ng-repeat="subInclude in include.detalhes" class="sc-p-t-sm" ng-class="{ 'sc-bg-blue-lighter':subInclude.hoverLista }">
                <span style="margin-left: 2.2em; width: 12em;">
                  <span ng-class="{ 'sc-text-red':$index>=4 }">{{subInclude.name}}</span>
                  <div style="margin-left: 2.2em;" class="previstoLine sc-text-green description">R$ {{subInclude.previsto}}</div>
                  <div style="margin-left: 2.2em;" class="realizadoLine sc-text-yellow description colorPink">R$ {{subInclude.realizado}}</div>
                </span>
                <span ng-click="novaPrevisao.open()" style="width: 2.8em; position: absolute; top: .5em; right: 0;" class="pull-right align-center">
                  <a class="iconDesig iconDesig-yellow">
                    <i class="sc-icon sc-icon-lapis"></i>
                  </a>
                </span>
                <span style="padding-right: 4.4em; width: 15em;" class="preReaCol pull-right">
                  <div class="sc-text-green align-right">R$ {{include.previsto}}</div>
                  <div class="sc-text-yellow align-right colorPink">R$ {{lista.realizado}}</div>
                </span>
                <span style="width: 14em; padding-right: 4.4em;" class="realizadoCol sc-text-yellow pull-right align-right colorPink">R$ {{subInclude.realizado}}</span>
                <span style="width: 10em;" class="previstoCol sc-text-green pull-right align-right">R$ {{subInclude.previsto}}</span>
                <div class="clear"></div>
                <div class="sc-border-t-gray-light-dotted-md sc-m-sm"></div>
              </div>
            </div>
          </div>
        </li>
        <li ng-init="init(lista)" ng-repeat="lista in previsoesMensais">
          <div style="{{lista.bgColorAcc}}" class="sc-accordion-head">
            <div ng-click="toggleAcc(lista)" style="{{lista.txtColor}} {{lista.bColor}}" class="sc-accordion-icon-col sc-divider align-xs-center">
              <i class="sc-icon sc-icon-seta-11-direita sc-transition" ng-class="{ 'sc-icon-seta-11-baixo':lista.acc }"></i>
            </div>
            <div ng-click="toggleAcc(lista)" style="{{lista.txtColor}}" class="sc-accordion-elastic-col">
              <span>{{lista.mes}}</span>
              <div style="{{lista.txtColor}}" class="previstoLine sc-text-green description">Previsto: R$ {{lista.previsto}}</div>
              <div style="{{lista.txtColor}}" class="realizadoLine sc-text-yellow description">Realizado: R$ {{lista.realizado}}</div>
            </div>
            <div ng-click="toggleAcc(lista)" style="padding-right: 1.5em; width: 15em;" class="preReaCol align-right sc-accordion-elastic-col">
              <div style="{{lista.txtColor}}" class="sc-text-green">Previsto: R$ {{lista.previsto}}</div>
              <div style="{{lista.txtColor}}" class="sc-text-yellow colorPink">Realizado: R$ {{lista.realizado}}</div>
            </div>
            <div ng-click="toggleAcc(lista)" style="width: 11em; {{lista.txtColor}}" class="previstoCol sc-text-green align-right sc-accordion-elastic-col">
              <div>Previsto</div>
              <span>R$ {{lista.previsto}}</span>
            </div>
            <div ng-click="toggleAcc(lista)" style="padding-right: 1.5em; width: 11em; {{lista.txtColor}}" class="colorPink realizadoCol sc-m-r-lg sc-text-yellow align-right sc-accordion-elastic-col title">
              <div>Realizado</div>
              <span>R$ {{lista.realizado}}</span>
            </div>
            <div ng-click="editarPrevisto.open()" style="width: 4.4em; {{lista.txtColor}}" class="sc-m-r-lg sc-text-yellow align-right sc-accordion-elastic-col title">
              <span class="iconDesig iconDesig-pink">
                <i class="sc-icon sc-icon-lapis"></i>
              </span>
            </div>
          </div>
          <div ng-show="lista.acc" style="overflow: auto; padding:0;" class="sc-accordion-body ng-animation-slider">
            <div style="background-color: #F7F7F9;" class="sc-m-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
              <div style="position: relative;" ng-mouseleave="subLista.hoverLista = false" ng-mouseover="subLista.hoverLista = true" ng-repeat="subLista in lista.detalhes" class="sc-p-t-sm" ng-class="{ 'sc-bg-blue-lighter':subLista.hoverLista }">
                <span style="margin-left: 2.2em; width: 12em;">
                  <span ng-class="{ 'sc-text-red':$index>=4 }">{{subLista.name}}</span>
                  <div style="margin-left: 2.2em;" class="previstoLine sc-text-green description">R$ {{subLista.previsto}}</div>
                  <div style="margin-left: 2.2em;" class="realizadoLine sc-text-yellow description colorPink">R$ {{subLista.realizado}}</div>
                </span>
                <span ng-click="novaPrevisao.open()" style="width: 2.8em; position: absolute; top: .5em; right: 0;" class="pull-right align-center">
                  <a class="iconDesig iconDesig-yellow">
                    <i class="sc-icon sc-icon-lapis"></i>
                  </a>
                </span>
                <span style="padding-right: 4.4em; width: 15em;" class="preReaCol pull-right">
                  <div class="sc-text-green align-right">R$ {{lista.previsto}}</div>
                  <div class="sc-text-yellow align-right colorPink">R$ {{lista.realizado}}</div>
                </span>
                <span style="width: 14em; padding-right: 4.4em;" class="realizadoCol sc-text-yellow pull-right align-right colorPink">R$ {{subLista.realizado}}</span>
                <span style="width: 10em;" class="previstoCol sc-text-green pull-right align-right">R$ {{subLista.previsto}}</span>
                <div class="clear"></div>
                <div class="sc-border-t-gray-light-dotted-md sc-m-sm"></div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

</body>
