@font-face {
  font-family: 'sc-icons';
  src: url(sc-icons.woff);
}

@font-face {
  font-family: 'sc-icons';
  font-weight: normal;
  src: font-url('https://dl.dropboxusercontent.com/u/3330376/uikit/sc-icons.woff') format('woff');
}

.colorPink {
  color: #FF00FF !important;
}

.BgroundPink {
  background-color: #FF00FF !important;
}


@media (min-width: 580px) {
  .realizadoLine, .previstoLine, .preReaCol {
    display: none !important;
  }
}

@media (max-width: 579px) {
  .realizadoLine, .previstoLine, .previstoCol, .realizadoCol {
    display: none !important;
  }
}

@media (max-width: 444px) {
  .realizadoLine, .previstoLine {
    display: block !important;
  }
  .previstoCol, .realizadoCol, .preReaCol {
    display: none !important;
  }
  section.barraMenu2 {
    span.titleBarra2 {
      font-size: 1.6em !important;
    }
  }
}

@media (max-width: 358px) {
  section.barraMenu2 {
    span.titleBarra2 {
      font-size: 1.2em !important;
    }
  }
}

@media (max-width: 305px) {
  section.barraMenu2 {
    span.titleBarra2 {
      font-size: 1em !important;
    }
  }
}

@media (max-width: 260px) {
  section.barraMenu2 {
    span.titleBarra2 {
      font-size: .8em !important;
    }
  }
}

// Modal - Seu Condominio
.sc-modal {
  transform: none !important;
  right: 0 !important;
  left: 0 !important;
}

.sc-modal-header {
  padding-bottom: 0 !important;
  overflow: auto !important;
  .sc-modal-icon {
    float: right;
    position: relative;
    top: -.5em;
    right: -.5em;
  }
}

.sc-modal.ng-hide-remove {
  animation: modalShowEffect .2s linear 1;
}
.sc-modal.ng-hide-add {
  animation: modalHideEffect 1s linear 1;
}

@keyframes modalHideEffect {
  0% {
    transform:scale(1);
  }
  100% {
    transform:scale(0.5);
  }
}

@keyframes modalShowEffect{
  0% {
    transform:scale(0.7);
  }
  45% {
    transform:scale(1.05);
  }
  80% {
    transform:scale(0.95);
  }
  100% {
    transform:scale(1);
  }
}
// Modal - Seu Condominio

// Efeito icon hover
.iconDesig {
  vertical-align: middle;
  display: table-cell;
  margin: 0 !important;
  position: relative;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  width: 2em;
  height: 2em;
  text-align: center;
  i {
    transition-duration: 250ms;
  }
}
.iconDesig::before {
  content: '';
  width: 2em;
  height: 2em;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  transition-duration: 250ms;
  transform: scale(0);
}

.iconDesig:hover {
  i {
    color: white;
  }
  &::before {
    transform: scale(1);
  }
}

.iconDesig-yellow {
  i {
    color: #e58c00;
  }
  &::before {
    background-color: #e58c00;
  }
}

.iconDesig-red {
  i {
    color: #c74848;
  }
  &::before {
    background-color: #c74848;
  }
}

.iconDesig-black-lighter {
  i {
    color: rgba(0,0,0,.7);
  }
  &::before {
    background-color: rgba(0,0,0,.7);
  }
}

.iconDesig-pink {
  i {
    color: #FF00FF;
  }
  &::before {
    background-color: #FF00FF;
  }
}
// Efeito icon hover

//efeitos

//search
.buttonSearch {
  top: .7em;
  right: 4.4em;
  overflow: hidden;
  position: absolute !important;
}

.buttonSearch.ng-hide-remove {
  animation: buttonAnimation .75s;
}

.buttonSearch.ng-hide-add {
  animation: buttonAnimation .75s reverse;
}

@keyframes buttonAnimation {
  0% {
    opacity: 0;
    transform: rotate(0deg) scale(1);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg) scale(1.2);
  }
}
//end Search
//menu mobile down

//end menu mobile down

//end efeitos


//Menu
header {
  left: 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  #head1, #head2 {
    padding: .8em;
    background: #2590d9;
    background: -ms-linear-gradient(top, #2590d9 0%, #135ca6 30%);
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(30%, #2590d9), color-stop(100%, #135ca6));
    background: -webkit-linear-gradient(top, #2590d9 30%, #135ca6);
    border-bottom: 1px solid black;
  }
  .logo {
    cursor: pointer;
    display: inline-table;
  }
  section.barraMenu2 {
    width: 100%;
    .buscaMobile {
      padding-right: 3.7em;
      padding-left: .5em;
      right: 3em;
      width: 100%;
      right: 0;
      position: fixed;
      z-index: 100;
      input {
        float: right;
        right: .3em;
        width: 98%;
        border-radius: 2em;
        border-color: #999999;
        background-color: #CCC;
        &.ng-hide-add {
          animation: inputAnimate .75s reverse;
        }
        &.ng-hide-remove {
          animation: inputAnimate .75s;
        }
      }
    }
    ul.menu-mobile-conf {
      position: absolute;
      width: 2em;
      height: 13em;
      border-radius: 1em;
      right: .4em;
      top: 1em;
      z-index: 10;
      border: 1px solid rgba(0,0,0,.1);
      li.icon1 {
        position: absolute;
        right: -6px;
        top: 2em;
      }
      li.icon2 {
        position: absolute;
        right: -6px;
        top: 5em;
      }
      li.icon3 {
        position: absolute;
        right: -6px;
        top: 8em;
      }
      li.icon4 {
        position: absolute;
        right: -6px;
        top: 11em;
      }
    }
    ul.menu-mobile-conf.ng-hide-add {
      webkit-animation: menuAnimatehide .75s reverse;
      animation: menuAnimatehide .75s reverse;
      .menuIconsAnimate {
        webkit-animation: menuIconsAnimate 1s reverse;
        animation: menuIconsAnimate 1s reverse;
      }
    }
    ul.menu-mobile-conf.ng-hide-remove {
      webkit-animation: menuAnimate .75s;
      animation: menuAnimate .75s;
      .menuIconsAnimate {
        webkit-animation: menuIconsAnimate .75s;
        animation: menuIconsAnimate .75s;
      }
    }
    .openBusca {
      z-index: 20;
      width: 100%;
      right: 0;
      input {
        width: 100%;
      }
      button {
        position: absolute;
        top: 0;
      }
    }
  }
  section.barraMenu1 {
    ul.menuStyle {
      border-radius: .5em;
      padding: 1em 0;
      li {
        color: #4C4C4C;
        border: none;
        border-left-width: .3em;
        border-left-style: solid;
        border-left-color: transparent;
        &:hover {
          border-left-color: #2590d9;
        }
      }
    }
    .clickscale {
      i {
        color: #FFF !important;
      }
      .circleHover {
        transform: scale(1) !important;
      }
    }
    .notClickscale {
      .circleHover {
        transform: scale(0) !important;
      }
    }
  }
}
div.buttonBackTop {
  position: fixed;
  bottom: 3em;
  right: 4em;
  z-index: 100;
  transform: scale(1);
  .testeclick {
    background: #2590d9 !important;
    a i {
      color: #FFF !important;
    }
  }
  a {
    border: none;
    background: none;
    border: 2px solid #2590d9;
    i {
      color: #2590d9;
    }
  }
  &.ng-hide-add { animation: backTopAnimate .75s reverse; }
  &.ng-hide-remove { animation: backTopAnimate .75s; }
}
#previsaoOrc {
  position: relative;
}

.menu-responsivo {
  position: fixed;
  overflow: auto;
  height: 100%;
  top: 4.3em;
  width: 85%;
  color: #FFF;
  background-color: #222222;
  text-shadow: 1px 1px 1px #111;
  z-index: 10;
}

.menu-responsivo.ng-hide-add {
  animation: 1s showMenu reverse;
}

.menu-responsivo.ng-hide-remove {
  animation: 1s showMenu;
}

@keyframes menuIconsAnimate {
  0% {
    top: -15px;
    opacity: 0;
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes inputAnimate {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 98%;
    opacity: 1;
  }
}

@keyframes menuAnimate {
  0% {
    opacity: 0;
    height: 0;
  }
  50% {
    height: 15em;
  }
  100% {
    opacity: 1;
    height: 13em;
  }
}

@keyframes menuAnimatehide {
  0% {
    height: 0;
  }
  100% {
    height: 13em;
  }
}

@keyframes showMenu {
  0% {
    opacity: 0;
    width: 0;
  }
  50% {
    opacity: .5;
    width: 90%;
  }
  100% {
    opacity: 1;
    width: 85%;
  }
}

@keyframes backTopAnimate {
  0% {
    bottom: -4em;
  }
  100% {
    bottom: 3em;
  }
}

@media (min-width: 701px) {
  #previsaoOrc {
    top: 10em;
  }

  header {
    button.setaEsquerdaFlut, div#head2, section.barraMenu2 {
      display: none !important;
    }
    div.head2 {
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  section#cobrancas .corpo #barraTotal label#totalCurrency {
    width: 36% !important;
  }
  body.sc-system {
    overflow: auto;
    width: 100%;
    height: 100%;
  }
  header {
    div.head2 {
      width: 100%;
    }
    div#head1, div#caminhosTela, section.barraMenu1 {
      display: none !important;
    }
  }

  .notMobile {
    display: none !important;
  }
  .okMobile {
    display: block !important;
  }

  section#cobrancas .corpo #barraTotal label#totalCurrency {
    width: 36% !important;
  }
  body ul.sc-accordion > li > .sc-accordion-head > *.sc-accordion-icon-col {
    width: 3.6em !important;
  }
}

@media (min-width: 501px) {
  .somaMarcadosClass {
    overflow: hidden;
    white-space: nowrap;
    border-color: #c1c4c8;
    margin-right: 0.8em;
    padding: 0.4em;
    border-style: solid;
    border-width: 1px;
    width: 13em;
    opacity: 1;
  }
}

@media (max-width: 700px) {
  header {
    div.head2 {
      width: 100%;
    }
    div#head1, div#caminhosTela, section.barraMenu1 {
      display: none !important;
    }
  }
  section#previsaoOrc {
    top: 7.9em;
  }
  .okMobile {
    display: none !important;
  }
}


//end Menu
