<body class="sc-system" ng-app="myapp" ng-controller="controll">
  <div>
    <h2>fora da mvp</h2>
    <ul>
      <li>
        Bloquear e Desbloquear usuários
      </li>
      <li>
        histórico
      </li>
      <li>
        Definir uma data para fixar recado
      </li>
      <li>
        Botões que morador visualiza e botões que administrador visualiza
      </li>
    </ul>
  </div>
  
  <div style="background-color: #E0E4E9" class="sc-text-sm sc-box-shadow-z1 sc-border-radius my-body">
    <div style="margin-bottom: 1em;">
      <h1 class="sc-text-blue-dark sc-p-b-md align-center">Mural do Condomínio</h1>
    </div>
    <div clas=" width: 100%; sc-p-md sc-text-sm">
      <textarea ng-click="PostInputShow = true" ng-init="postText=''" type="text" placeholder="Digite sua mensagem.." style="padding: 0.5em; width: 100%;" ng-model="postText" class="sc-bg-white sc-box-shadow-z1 sc-" ng-class="{'ShowPost': PostInputShow,'HidePost': !PostInputShow, 'textConf': !PostInputShow}">
      </textarea>
      
      <div ng-show="PostInputShow" style="float: right;" class="sc-align-middl ng-animation-slider sc-m-md">
        <button ng-click="AnexarArquivo()" class="sc-m-l-lg sc-btn sc-btn-awesomeness sc-btn-green">
            <div class="sc-btn-icon"><i class="sc-icon sc-icon-clipe"></i></div>
            <div class="sc-btn-text">Anexar</div>
        </button>
        <button style="float: right;" ng-click="AddPost()" class="sc-btn sc-btn-awesomeness sc-m-l-md sc-btn-blue">
            <div class="sc-btn-icon"><i class="sc-icon sc-icon-comentario"></i></div>
            <div class="sc-btn-text">Enviar</div>
        </button>
        <input type="file" id="anexarFile" style="display: none;"/>
      </div>
    </div>
    <div class="clear"></div>
    <div style="border-bottom: 1px solid rgba(255,255,255,0.6);" ng-repeat="post in Post" class="sc-transition att sc-m-v-lg sc-border-radius" ng-init="post.ContLike = 0; post.ContUnLike = 0">
      <div style="overflow: hidden;" class="sc-p-md sc-border-radius sc-border-gray-light-solid-md">  
        <img class="sc-border-radius sc-border-gray-light-solid-md" style="width: 5em; float: left;" src="{{post.photo}}">
        <div ng-controller="PostsCtrl" ng-init="initPost2(post)" style="float: right;">
          <div style="display: initial; position: relative;" class="sc-m-l-md">
            <div ng-click="EditPost($index)" class="sc-btn sc-btn-clean"> 
              <i style="font-size: 1em;" class="sc-transition sc-icon sc-icon-reticiencias-v sc-transition" ng-class="{'sc-rotate-90': post.editpost}"></i>
            </div>
            <ul class="sc-animation-slider box sc-border-radius sc-box-shadow-z1 sc-border-gray-light-solid-md sc-bg-white" style="min-width: 13em;" ng-show="post.editpost">
              <li ng-click="BlocAlt($index)" ng-mouseenter="Bloc = true" ng-mouseleave="Bloc = false" class="sc-cursor-pointer sc-p-sm sc-transition sc-border-radius" ng-class="{'sc-bg-blue-lighter': Bloc}">
                <i style="font-size: 1.5em;" class="sc-icon sc-transition" ng-class="{'sc-icon-cadeado-fechado': post.bloquear, 'sc-icon-cadeado-aberto': !post.bloquear, 'sc-text-red': post.bloquear, 'sc-text-green': !post.bloquear}"></i>
                <span ng-show="!post.bloquear">
                  Bloquear Usuário
                </span>
                <span ng-show="post.bloquear">
                  Desbloquear Usuário
                </span>
              </li>
              <li ng-click="editando()" class="sc-border-t-gray-light-solid-md sc-cursor-pointer sc-p-sm sc-border-radius sc-transition" ng-class="{'sc-bg-blue-lighter': Bloc3}" ng-mouseenter="Bloc3 = true" ng-mouseleave="Bloc3 = false">
                <i style="font-size: 1.5em; display: inline-table;" class="sc-icon sc-icon sc-icon-lapis sc-text-yellow sc-transition"></i>
                <span style="display: inline-table;">
                  Editar recado
                </span>
              </li>
              <li ng-click="deletePost()" class="sc-border-t-gray-light-solid-md sc-cursor-pointer sc-p-sm sc-transition sc-border-radius" ng-class="{'sc-bg-blue-lighter': Bloc4}" ng-mouseenter="Bloc4 = true" ng-mouseleave="Bloc4 = false">
                <i style="font-size: 1.5em; display: inline-table;" class="sc-icon sc-icon sc-icon-lixeira-2 sc-text-red sc-transition"></i>
                <span style="display: inline-table;">
                  Excluir recado
                </span>
              </li>
              <li class="sc-border-t-gray-light-solid-md sc-cursor-pointer sc-p-sm sc-border-radius sc-transition" ng-class="{'sc-bg-blue-lighter': Bloc5}"ng-mouseenter="Bloc5 = true" ng-mouseleave="Bloc5 = false">
                <div>
                  <i style="font-size: 1.5em; display: inline-table;" class="sc-icon sc-icon sc-icon-circulo-1-marcado sc-text-blue sc-transition"></i>
                  <span style="display: inline-table;">
                    Fixar recado
                  </span>
                </div>
              </li>
              <li class="sc-border-t-gray-light-solid-md sc-cursor-pointer sc-border-radius sc-p-sm sc-transition" ng-class="{'sc-bg-blue-lighter': Bloc6}" ng-mouseenter="Bloc6 = true" ng-mouseleave="Bloc6 = false">
                <i style="font-size: 1.5em; display: inline-table;" class="sc-icon sc-icon sc-icon-historico sc-text-blue sc-transition"></i>
                <span style="display: inline-table;">
                  Histórico
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div style="overflow: hidden;" class="sc-m-l-md" >
          <div class="sc-m-l-md sc-text-bold">
            <span>
              {{post.name}}
            </span>
            <span class="sc-text-blue"> 
              ({{post.bloc}})
            </span>
          </div>
          <div class="sc-m-t-md sc-m-l-md sc-text-gray sc-text-sm">
            {{post.hr}} - {{post.date}}
          </div>
        </div>
        <div class="clear"></div>
        <div ng-controller="PostsCtrl" ng-init="init(post)"> 
          <p ng-hide="post.editingPost" style="word-break: break-word;" class="sc-animation-slider sc-text-blue-dark sc-m-t-xxxl sc-m-b-lg" ng-bind-html="post.published | nl2br">
            {{post.published}}
          </p>
          <div style="overflow: hidden;" clas="width: 100%; sc-p-md sc-text-sm">
            <textarea ng-show="post.editingPost" ng-click="PostInputShow = true" type="text" style="padding: 0.5em; width: 100%; height: 7em;" ng-model="post.editPost" class="sc-m-v-md sc-bg-white sc-box-shadow-z1 sc-">
            </textarea>
             <div class="align-center">
              <img style="max-width: 100%;" src="{{post.anexo}}">
            </div>
            <div ng-show="post.editingPost" style="float: right;" class="sc-align-middl ng-animation-slider sc-m-md">
              <button ng-click="cancelEdit()" class="sc-m-l-lg sc-btn sc-btn-awesomeness sc-btn-red">
                  <div class="sc-btn-icon"><i class="sc-icon sc-icon-fechar-1"></i></div>
                  <div class="sc-btn-text">Cancelar</div>
              </button>
              <button style="float: right;" ng-click="saveEdit()" class="sc-btn sc-btn-awesomeness sc-m-l-md sc-btn-green">
                  <div class="sc-btn-icon"><i class="sc-icon sc-icon-visto-1"></i></div>
                  <div class="sc-btn-text">Salvar</div>
              </button>
              <input type="file" id="anexarFile" style="display: none;"/>
            </div>
          </div>
        </div>
        <div style="display: inline-table;">
          <div style="display: inline-table;" ng-click="SomaLike($index)" class="sc-btn sc-btn-clean sc-m-l-md">
            <i style="font-size: 1.5em;" class="sc-icon sc-icon-polegar-cima sc-text-green"></i>
            {{post.ContLike}}
          </div>
        </div>
        <div style="display: inline-table;">
          <div style="display: inline-table;" ng-click="SomaUnLike($index, comentario)" class="sc-btn sc-btn-clean sc-m-l-md">
            <i style="font-size: 1.5em;" class="sc-text-xxl sc-icon sc-icon-polegar-baixo sc-text-red"></i>
            {{post.ContUnLike}}
          </div>
        </div>
        <hr class="sc-hr-gray" />
        <div class="clear"></div>
        <div ng-controller="CommentsCtrl" ng-init="init(post)" ng-mouseenter="hover2 = true" ng-mouseleave="hover2 = false" class="ng-animation-slider" ng-class="{'sc-animation-slider': !hover2}">
          <div style="float: left; margin-right: 1em;">  
            <img class="sc-border-radius sc-border-gray-light-solid-md" style="width: 3em;" src="{{post.photo}}">
          </div>
          <div style="overflow: hidden;">
            <textarea ng-click="post.InputShow2 = true" type="text" placeholder="Comentar.." style="padding: 0.5em; width: 100%;" ng-model='post.novoComentario' class="sc-bg-white sc-box-shadow-z1 sc-" ng-class="{'ShowPost': post.InputShow2,'HidePost': !post.InputShow2, 'textConf': !post.InputShow2}"></textarea>
          </div>
          <div ng-show="post.InputShow2" style="float: right;" class="ng-animation-slider sc-m-md">
            <button class="sc-m-l-lg sc-btn sc-btn-awesomeness sc-btn-green">
                <div class="sc-btn-icon"><i class="sc-icon sc-icon-clipe"></i></div>
                <div class="sc-btn-text">Anexar</div>
            </button>
            <button style="float: right;" ng-click="AddComent()" class="sc-btn sc-btn-awesomeness sc-m-l-md sc-btn-blue">
                <div class="sc-btn-icon"><i class="sc-icon sc-icon-comentario"></i></div>
                <div class="sc-btn-text">Enviar</div>
            </button>
          </div>
          <div class="clear"></div>
          <div ng-controller="CommentCtrl" ng-init="init(commets)" style="overflow: auto;" class="sc-m-md" ng-repeat="commets in post.commentsPost">
            <div class="clear"></div>
            <div style="float: left; margin-right: 1em;">  
              <img class="sc-border-radius sc-border-gray-light-solid-md" style="width: 3em;" src="{{post.photo}}">
            </div>
            <div style="overflow: hidden;" class="sc-m-l-md" >
              <div class="sc-m-l-md sc-text-bold">
                <span>
                  {{commets.name}}
                </span>
                <span class="sc-text-blue"> 
                  ({{commets.bloc}}): 
                </span>
                 <span ng-hide="commets.commentedit" style="word-break: break-all;" class="sc-text-gray" ng-bind-html="commets.comment | nl2br"> 
                  {{commets.comment}}
                </span>
              </div>
              <div ng-show="commets.commentedit">
                <textarea type="text" style="padding: 0.5em; width: 100%;" ng-model='commets.comment' class="sc-bg-white sc-box-shadow-z1 sc-" ng-class="{'ShowPost': post.InputShow2,'HidePost': !post.InputShow2, 'textConf': !post.InputShow2}"></textarea>
              </div>
              <div ng-show="commets.commentedit" style="float: right;" class="ng-animation-slider sc-m-md">
                <button ng-click="CancelEditComment()" class="sc-m-l-lg sc-btn sc-btn-awesomeness sc-btn-red">
                    <div class="sc-btn-icon"><i class="sc-icon sc-icon-fechar-1"></i></div>
                    <div class="sc-btn-text">Cancelar</div>
                </button>
                <button style="float: right;" ng-click="SaveEditComment()" class="sc-btn sc-btn-awesomeness sc-m-l-md sc-btn-green">
                    <div class="sc-btn-icon"><i class="sc-icon sc-icon-visto-1"></i></div>
                    <div class="sc-btn-text">Salvar</div>
                </button>
              </div>
              <div class="sc-m-t-md sc-m-l-md sc-text-sm">
                <span class="sc-text-gray">{{commets.hr}} - {{commets.date}}</span>
                <span class="sc-cursor-pointer sc-text-blue">
                  <span ng-click="sumLikeComment()" ng-show="!commets.likesClick">Curtir</span> 
                  <span ng-click="sumUnLikeComment()" ng-show="commets.likesClick">Descurtir</span>
                  <span ng-show="commets.likes > 0">({{commets.likes}})</span>
                  <div style="position: absolute; display: inline-table;">
                    <div ng-click="commets.commentShow = !commets.commentShow" class="sc-m-l-md sc-btn-icon"><i class="sc-icon sc-icon-lapis"></i></div>
                    <div>
                      <ul style="z-index: 2;" ng-show="commets.commentShow" class="sc-animation-slider sc-border-radius sc-box-shadow-z1 sc-border-gray-light-solid-md sc-bg-white" style="width: auto;">
                        <li ng-click="edtComment()" ng-mouseenter="BlocComment1 = true" ng-mouseleave="BlocComment1 = false" class="sc-cursor-pointer sc-p-sm sc-transition sc-border-radius" ng-class="{'sc-bg-blue-lighter': BlocComment1}">
                          <i style="font-size: 1.5em; z-index: 2;" class="sc-text-blue sc-icon sc-icon-comentario"></i>
                          <span>
                            Editar
                          </span>
                        </li>
                        <li ng-click="deleteComment()" ng-mouseenter="BlocComment = true" ng-mouseleave="BlocComment = false" class="sc-cursor-pointer sc-p-sm sc-transition sc-border-radius" ng-class="{'sc-bg-blue-lighter': BlocComment}">
                          <i style="font-size: 1.5em; z-index: 2;" class="sc-text-red sc-icon sc-icon-lixeira-2"></i>
                          <span>
                            Excluir
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>