@font-face {
  font-family: 'sc-icons';
  font-weight: normal;
  src: font-url('https://dl.dropboxusercontent.com/u/3330376/uikit/sc-icons.woff') format('woff');
}

.my-body {
  background-color: gray-light; 
  padding: 1em;
  margin: 3em auto auto;
  max-width: 50em;
}

.ShowPost {
  min-height: 5.5em;
}

.LinePhoto {
  display: inline-table;
  position: absolute;
  margin-bottom: 4em;
}

.ShowPublic {
  min-height: 4.7em;
}

.HidePublic {
  max-height: 3.4em;
}

.file {
  position: absolute;
  z-index: 1;
  max-width: 7em;
  max-height: 5em;
}

.box {
  position: absolute; 
  right: 0;
}

.att {
  background-color: white;
}

.att:hover {
  background-color: #f5f8fa;
}

.textConf:hover {
  background-color: #f5f8fa;
  cursor: default;
}

.BaixarC {
  opacity: 0.5;
}