<body style="background-color: #a9b7c4; overflow-x: hidden;" ng-app="app" ng-controller="controll" class="sc-system" ng-class="{ 'hiddenBody':openMenuResponse }">

  <!-- Modal INICIO -->
    <!-- Configuração Faixas INICIO -->
      <div ng-controller="FAixasModalCtrl">
        <div sc-modal="modalConfigFaixas" class="sc-modal" style="width: 20em">
          <div class="sc-modal-header align-center">
            Configuração Faixas
            <div class="sc-modal-icon">
              <span ng-click="fecharModal()" class="iconDesig iconDesig-red">
                <i class="sc-icon sc-icon-fechar-1"></i>
              </span>
            </div>
          </div>

          <div class="sc-modal-body">
            <div class="sc-aling-middle sc-fieldset">
              <div class="sc-m-t-lg sc-m-b-lg">
                <label>
                  <div class="sc-label">Faixas</div>
                  <select style="text-align: center" class="sc-text-sm sc-input-default">
                    <option>Faixa 1</option>
                    <option>Faixa 2</option>
                    <option>Faixa 3</option>
                    <option>Faixa 4</option>
                    <option>.</option>
                    <option>.</option>
                    <option>.</option>
                    <option>Faixa 23</option>
                  </select>
                </label>
              </div>
              <div class="sc-m-t-lg sc-m-b-lg">
                <label>
                  <div class="sc-label">valor</div>
                  <input type="text" class="sc-input-default">
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- Configuração Faixas FIM -->
    <!-- Excluir INICIO -->
      <div style="width: 20em;" sc-modal="excluirModal" class="sc-modal removeAnimationDefu col-xs-12 col-sm-10 col-md-8 col-lg-6">
        <div class="sc-modal-header align-center">
          <span>Alerta</span>
          <div class="sc-modal-icon">
            <span ng-click="excluirModal.close()" class="iconDesig iconDesig-red">
              <i class="sc-icon sc-icon-fechar-1"></i>
            </span>
          </div>
        </div>

        <div style="padding-top: 2em;" class="sc-modal-body align-center">
          <span class="sc-text-blue sc-text-bold aling-center">Você tem certeza que realmente deseja excluir ?</span>
        </div>

        <div class="sc-modal-footer">
          <button ng-click="excluirModal.close()" class="sc-btn sc-btn-red">Não</button>
          <button ng-click="excluirModal.close()" class="sc-btn sc-btn-green">sim</button>
        </div>
      </div>
    <!-- Excluir FIM -->
    <!-- Novo Slide INICIO -->
      <div ng-controller="NovoSlideModalCtrl">
        <div sc-modal="novoSlideModal" class="sc-modal removeAnimationDefu col-sm-12 col-md-9 col-lg-7 sc-modal ng-isolate-scope active">
          <div class="sc-modal-header align-center">
            <span>Configuração Slider</span>
            <div class="sc-modal-icon">
              <span ng-click="fecharModal()" class="iconDesig iconDesig-red">
                <i class="sc-icon sc-icon-fechar-1"></i>
              </span>
            </div>
          </div>

          <div class="sc-modal-body">
            <div>
              <form action="">
                <div class="sc-m-lg">

                  <div class="sc-fieldset">
                    <div style="display: inline-table;" class="sc-m-t-lg sc-align-bottom sc-m-b-lg">
                      <label>
                        <div class="sc-label">Título</div>
                        <input type="text" class="sc-input-default">
                      </label>
                    </div>
                    <div style="display: inline-table;" class="sc-m-l-lg sc-m-t-lg sc-align-bottom sc-m-b-lg ">
                      <label>
                        <div class="sc-label">Arquivo</div>
                        <button class="sc-btn sc-btn-blue">Novo arquivo</button>
                      </label>
                    </div>
                    <div style="display: inline-table;" class="sc-m-l-lg sc-m-t-lg sc-align-bottom sc-m-b-lg">
                      <label>
                        <div class="sc-label">Exibição em: </div>
                        <div class="sc-cursor-pointer" ng-click="circle1 = true; circle2=false">
                          <i class="sc-icon sc-icon-circulo-1" ng-class="{ 'sc-icon-circulo-2':circle1 }"></i>
                          <span>Tamanho original</span>
                        </div>
                        <div class="sc-cursor-pointer" ng-click="circle2 = true; circle1=false">
                          <i class="sc-icon sc-icon-circulo-1" ng-class="{ 'sc-icon-circulo-2':circle2 }"></i>
                          <span>Tela Cheia</span>
                        </div>
                      </label>
                    </div>
                    <div style="display: inline-table; padding: 0;" class="sc-m-l-lg sc-m-t-lg sc-align-bottom sc-m-b-lg ">
                      <label>
                        <div class="sc-label">Cincular a um grupo</div>
                          <select class="sc-input-default">
                            <option></option>
                            <option>Ponto 1</option>
                            <option>Ponto 2</option>
                            <option>Ponto 3</option>
                            <option>Ponto 4</option>
                            <option>Ponto 5</option>
                            <option>Ponto 6</option>
                            <option>Ponto 7</option>
                            <option>Ponto 8</option>
                          </select>
                      </label>
                    </div>
                    <div style="display: inline-table;" class="sc-m-l-lg sc-m-t-lg sc-align-bottom sc-m-b-lg">
                      <label class="pull-left" ng-class="{ 'sc-m-r-lg':circle4 }">
                        <div class="sc-label">Exibição o Slide em: </div>
                        <div class="sc-cursor-pointer" ng-click="circle3 = true; circle4=false">
                          <i class="sc-icon sc-icon-circulo-1" ng-class="{ 'sc-icon-circulo-2':circle3 }"></i>
                          <span>Todo dia</span>
                        </div>
                        <div class="sc-cursor-pointer" ng-click="circle4 = true; circle3=false">
                          <i class="sc-icon sc-icon-circulo-1" ng-class="{ 'sc-icon-circulo-2':circle4 }"></i>
                          <span>Faixas a partid de: </span>
                        </div>
                      </label>
                      <div class="ng-animation-slider" ng-show="circle4">
                        <span sc-year-month-picker ng-model="data"></span>
                        <span>
                          <select style="text-align: center" class="sc-text-sm sc-input-default">
                            <option>Faixas</option>
                            <option>Faixa 1: 00:00 - 01:00</option>
                            <option>Faixa 2: 01:00 - 02:00</option>
                            <option>Faixa 3: 02:00 - 03:00</option>
                            <option>Faixa 4: 03:00 - 04:00</option>
                            <option class="sc-align-center">.</option>
                            <option class="sc-align-center">.</option>
                            <option class="sc-align-center">.</option>
                            <option>Faixa 23: 23:00 - 00</option>
                          </select>
                        </span>
                        <div style="text-align: center">Até</div>
                        <span sc-year-month-picker ng-model="data"></span>
                        <span>
                          <select style="text-align: center" class="sc-text-sm sc-input-default">
                            <option>Faixas</option>
                            <option>Faixa 1: 00:00 - 01:00</option>
                            <option>Faixa 2: 01:00 - 02:00</option>
                            <option>Faixa 3: 02:00 - 03:00</option>
                            <option>Faixa 4: 03:00 - 04:00</option>
                            <option>.</option>
                            <option>.</option>
                            <option>.</option>
                            <option>Faixa 23: 23:00 - 00</option>
                          </select>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    <!-- Novo Slide FIM -->
    <!-- Novo Ponto INICIO -->
      <div ng-controller="NovoPontoModalCtrl">
        <div sc-modal="novoPontoModal" class="sc-modal removeAnimationDefu col-sm-12 col-md-9 col-lg-7 sc-modal ng-isolate-scope active">
          <div class="sc-modal-header align-center">
            <span>Configuração Ponto</span>
            <div class="sc-modal-icon">
              <span ng-click="fecharModal()" class="iconDesig iconDesig-red">
                <i class="sc-icon sc-icon-fechar-1"></i>
              </span>
            </div>
          </div>

          <div class="sc-modal-body">
            <div class="sc-fieldset">
              <div style="display: inline-table;" class="sc-m-t-lg sc-align-bottom sc-m-b-lg">
                <label>
                  <div class="sc-label">Título</div>
                  <input type="text" class="sc-input-default">
                </label>
              </div>
              <div style="display: inline-table;" class="sc-m-t-lg sc-align-bottom sc-m-b-lg">
                <label>
                  <div class="sc-label">Endereço</div>
                  <input type="text" class="sc-input-default">
                </label>
              </div>
              <div style="display: inline-table;" class="sc-m-t-lg sc-align-bottom sc-m-b-lg">
                <label>
                  <div class="sc-label">Telefone</div>
                  <input type="text" class="sc-input-default">
                </label>
              </div>
              <div style="display: inline-table;" class="sc-m-t-lg sc-align-bottom sc-m-b-lg">
                <label>
                  <div class="sc-label">Permissão</div>
                  <input type="text" class="sc-input-default">
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- Novo Ponto FIM -->
  <!-- Modal FIM -->

  <nav ng-show="openMenuResponse" class="menu-responsivo"></nav>
  <div ng-hide="scrollPosBollMobile || (scrollPos < 250)" class="buttonBackTop">
    <a ng-click="scrollTopButton()" class="sc-box-shadow-z1 sc-btn sc-dropdown-toggle sc-border-radius-full" >
      <i class="sc-icon sc-icon-seta-4-cima"></i>
    </a>
  </div>
  <header ng-class="{ 'sc-box-shadow-z1':scrollPosBoll }">
    <div class="ng-animation-slider" id="head1">
      <div class="cursor-pointer logo">
        <img style="width: 9em;" src="https://www.seucondominio.com.br/assets/responsivo/logo_seucondominio_branca_80px-d049dcfd41a00dbb8df2309619527295.png">
      </div>
    </div>
    <div id="head2" ng-hide="scrollPos >= 50">
      <div ng-click="openMenuResponse=!openMenuResponse" class="cursor-pointer logo">
        <img alt="Seta menu" class="sc-m-r-md seta-logo" style="width: .5em;" src="https://www.seucondominio.com.br/assets/responsivo/seta-menu-6c7810b355501e81dc7319a98ee038e4.png">
        <img style="width: 9em;" src="https://www.seucondominio.com.br/assets/responsivo/logo_seucondominio_branca_80px-d049dcfd41a00dbb8df2309619527295.png">
      </div>
    </div>

    <div id="caminhosTela" ng-hide="scrollPosBoll || scrollPosBollMobile" class="ng-animation-slider sc-border-b-gray-light-solid-md sc-p-h-xl sc-p-v-md sc-bg-gray-lighter sc-text-gray sc-text-sm">
      <span>Início / <span class="sc-text-bold">Midia INDOOR</span></span>
    </div>

    <section style="width: 100%;" class="barraMenu1 sc-p-sm sc-bg-gray-lighter sc-align-middle">
      <div style="position: relative;" class="sc-align-middle">
        <div class="sc-p-sm">
          <select class="sc-input-default">
            <option>Tvs</option>
            <option>Anúncios</option>
            <option>Configurações</option>
          </select>
        </div>
        <div class="sc-p-sm">
          <button ng-click="novoPontoModal.open()" class="sc-btn sc-btn-awesomeness" ng-class="{ 'sc-btn-blue':novoPonto }">
            <div class="sc-btn-icon"><i class="sc-icon sc-icon-mais-1"></i></div>
            <div class="sc-btn-text">Cadastar Novo Ponto</div>
          </button>
        </div>
        <div class="sc-p-sm">
          <div class="sc-input-group">
            <input type="text" class="sc-input-default"/>
            <i ng-click="teste1 = !teste1" ng-class="{'sc-btn-gray': teste1}" class="sc-icon sc-icon-impressora sc-btn sc-btn-blue"></i>
            <i ng-show="showSlides" ng-click="openFilter = !openFilter; nadaConsta = false;  openFilterAZ = false" ng-class="{'sc-btn-gray': openFilter}" class="sc-icon sc-icon-filtro-2 sc-btn sc-btn-blue"></i>
          </div>
        </div>
        <div ng-show="showSlides" style="right: -10px; position: absolute; top: 9px;">
          <span style="padding-left: 1em;" sc-dropdown-menu="" class="sc-dropdown">
            <a style="top: 0; z-index: 2; border: 1px solid #FF00FF" ng-click="modalConfigFaixas.open()" id="engrenagem">
              <div class="circleHover"></div>
              <i class="sc-icon sc-icon-engrenagem"></i>
            </a>
          </span>
        </div>
      </div>
    </section>

    <button ng-hide="scrollPosBollMobile || (scrollPos < 250)" style="overflow: hidden; position: absolute; z-index: 11; left: -19px; top: 10em; width: 3em; background-color: white; border-color: white; border-radius: 50%; transform: rotate(-90deg); background-image: linear-gradient(top, #CCC 2%, white 99%);" class="setaEsquerdaFlut sc-btn sc-dropdown-toggle sc-border-radius-full">
      <i style="position: relative; bottom: -0.5em;    position: relative; color: #2590d9;" class="sc-icon sc-icon-seta-11-baixo"></i>
    </button>
    <section ng-hide="scrollPosBollMobile && (scrollPos >= 60)" class="barraMenu2 ng-animation-slider sc-p-h-lg sc-bg-gray-lighter sc-align-middle" ng-class="{ 'sc-box-shadow-z2':scrollPos>0 }">
      <div class="sc-m-v-lg sc-align-middle">
        <span style="color: #999999; font-size: 2em;" >Midia Indoor</span>
      </div>
      <div class="pull-right sc-m-v-lg sc-align-middle">
        <span style="padding-left: 1em;" sc-dropdown-menu="" class="sc-dropdown">
          <div class="buscaMobile" ng-class="{ 'openBusca':actionClick.search }">
            <input ng-show="actionClick.search" placeholder="Busca..." class="sc-input-default" />
            <i ng-show="actionClick.search" ng-click="actionClick.search = !actionClick.search" class="sc-cursor-pointer buttonSearch sc-icon sc-icon-fechar-1"></i>
          </div>
          <button style="overflow: hidden;" ng-click="actionClick.search = !actionClick.search" class="sc-btn sc-dropdown-toggle sc-border-radius-full">
            <i class="sc-icon sc-icon-lupa-2"></i>
          </button>
          <button style="overflow: hidden; z-index: 20" class="sc-btn sc-dropdown-toggle sc-border-radius-full" ng-class="{ 'animationScale':menu.isOn }" ng-click="actionClick.downButtom = ! actionClick.downButtom">
            <i style="transform-duration: 1s;" class="sc-icon sc-icon-seta-11-baixo sc-transition" ng-class="{ 'sc-rotate-180':actionClick.downButtom }"></i>
          </button>
        </span>
      </div>
    </section>
    <section ng-show="!scrollPosBollMobile && actionClick.downButtom" style="position: relative; top: -6px; width: 100%;" class="barraMenu2 ng-animation-slider sc-p-lg sc-bg-gray-lighter sc-align-middle sc-box-shadow-z2">
      <div class="sc-align-middle">
        <select class="sc-text-sm sc-input-default">
          <option>Tvs</option>
          <option>Anúncios</option>
          <option>Configurações</option>
        </select>
      </div>
      <div class="pull-right sc-align-middle">
        <span sc-dropdown-menu="" class="sc-dropdown">
          <button style="overflow: hidden; width: 2.4em; z-index: 20" class="sc-btn sc-dropdown-toggle sc-border-radius-full" ng-class="{ 'animationScale':menu.isOn }" ng-click="menu.toggle()">
            <i class="sc-icon sc-icon-reticiencias-v"></i>
          </button>
          <ul style="position: absolute; right: 3px" class="menu-mobile-conf sc-bg-gray-lighter ng-animation-fader" ng-show="menu.isOn">
            <li class="menuIconsAnimate icon1">
              <button style="overflow: hidden;" class="sc-btn sc-dropdown-toggle sc-border-radius-full">
                <i class="sc-icon sc-icon-impressora"></i>
              </button>
            </li>
            <li class="menuIconsAnimate icon2">
              <button style="overflow: hidden;" class="sc-btn sc-dropdown-toggle sc-border-radius-full">
                <i class="sc-icon sc-icon-filtro-2"></i>
              </button>
            </li>
            <li class="menuIconsAnimate icon3">
              <button style="overflow: hidden;" class="sc-btn sc-dropdown-toggle sc-border-radius-full">
                <i class="sc-icon sc-icon-ordem-a-z"></i>
              </button>
            </li>
            <li class="menuIconsAnimate icon4">
              <button style="overflow: hidden;" class="sc-btn sc-dropdown-toggle sc-border-radius-full">
                <i class="sc-icon sc-icon-engrenagem"></i>
              </button>
            </li>
          </ul>
        </span>
      </div>
    </section>

    <section ng-show="openFilter" id="filter-bar" class="sc-p-h-lg sc-p-t-lg sc-border-t-gray-light-solid-md sc-bg-gray-lighter sc-border-b-gray-light-solid-md ng-animation-slider">
      <div class="sc-p-b-lg">
        <div class="sc-align-bottom sc-m-l-md sc-p-b-xxl">
          <label class="sc-p-r-md">
            <div class="sc-label">Título</div>
            <input type="text" class="sc-input-default">
          </label>
        </div>

        <div class="sc-m-l-md sc-align-bottom">
          <label>
            <div class="sc-label">Data de Criação</div>
            <input style="line-height: 1" type="date" class="sc-input-default sc-input-date">
          </label>
        </div>

        <div class=" sc-align-bottom sc-p-b-xxl">
          <label class="sc-p-r-md">
            <div class="sc-label">Grupos</div>
            <select class="sc-input-default">
              <option></option>
              <option>Ponto 1</option>
              <option>Ponto 2</option>
            </select>
          </label>
        </div>

        <div class=" sc-align-bottom sc-p-b-xxl">
          <label class="sc-p-r-md">
            <div class="sc-label">Tipo</div>
            <select class="sc-input-default">
              <option></option>
              <option>Programados</option>
              <option>Diários</option>
            </select>
          </label>
        </div>
      </div>

      <div class="sc-p-b-lg">
        <button class="sc-btn sc-btn-blue">Pesquisar</button>
        <button class="sc-btn sc-btn-red">Cancelar</button>
      </div>
    </section>
  </header>

  <section id="MidiaIndoor" ng-controller="SlidesCtrl">
    <div class="corpo">
      <ul class="sc-accordion">
        <li ng-repeat="midia in midiaIndoor" ng-class="{'sc-acc-blue': midia.acc}">
          <div class="sc-accordion-head">
            <label ng-click="toggleAccMidia(midia)" class="sc-accordion-icon-col sc-divider">
              <i class="sc-icon sc-icon-seta-11-direita sc-transition" ng-class="{ 'sc-icon-seta-11-baixo':midia.acc }"></i>
            </label>
            <div ng-click="toggleAccMidia(midia)" class="sc-accordion-elastic-col title">
              <div style="padding-bottom: 0;" class="sc-p-md">{{midia.nome}}</div>
              <span style="padding-top: 0;" class="sc-p-md description">
                <div>Local: {{midia.local}}</div>
                <div>Grupo: {{midia.grupo}}</div>
                <div>Ultima Exibição: {{midia.UltExibicao}}</div>
              </span>
            </div>

            <div class="sc-cursor-default sc-accordion-col-10 align-xs-center">
              <label class="labelDesk">
                <span class="sc-toggle" >
                  <input type="checkbox" checked />
                  <span label-true="Ativo" label-false="Desativado"></span>
                </span>
              </label>
              <label ng-click="midia.situacao = !midia.situacao" class="sc-cursor-pointer labelMobil" style="margin-top: 1em;" ng-class="{ 'sc-bg-red':!midia.situacao, 'sc-bg-green':midia.situacao }">
              </label>
            </div>

            <div class="sc-cursor-default menu sc-accordion-icon-col align-xs-center">
              <span ng-click="midia.openMenu = !midia.openMenu" ng-class="{ 'clickscale':midia.openMenu }" class="iconDesig iconDesig-black-lighter" ng-click="openMenu = !openMenu" ng-class="{ 'clickscale':openMenu }">
                <i class="sc-icon sc-icon-reticiencias-v"></i>
              </span>
              <ul ng-show="midia.openMenu">
                <li ng-click="novoSlideModal.open()" style="margin-right: 0;">Novo Slide</li>
                <li ng-click="menuClickAction(lista, form)" ng-repeat="lista in menuAcc" style="margin-right: 0;" ng-class="{ 'colorPink':lista.nome == 'Desfazer Acordo' || lista.nome == 'Gerar Recibo' }">{{lista.nome}}</li>
              </ul>
            </div>
          </div>
          <div ng-show="midia.acc" class="sc-accordion-body ng-animation-slider">
            <ul class="sc-accordion">
              <li ng-repeat="slider in midia.slides" ng-init="initForm(slider)" ng-controller="sliderCtrl" ng-include="'form.html'" class="sc-m-b-sm sc-m-h-xl sc-acc-blue-lighter"></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <script id="form.html" type="text/ng-template">
    <div class="sc-cursor-default sc-accordion-head">

      <div class="sc-accordion-elastic-col title {{corText(form)}}">
        <div style="display: inline-table;" class="sc-p-xs">
          <span>{{form.nome}} </span>
        </div>
      </div>

      <div class="sc-cursor-default sc-accordion-col-10 align-xs-center">
        <label class="labelDesk">
          <span class="sc-toggle" >
            <input type="checkbox" checked />
            <span label-true="Ativo" label-false="Desativado"></span>
          </span>
        </label>
        <label ng-click="form.situacao = !form.situacao" class="sc-cursor-pointer labelMobil" style="margin-top: 1em;" ng-class="{ 'sc-bg-red':!form.situacao, 'sc-bg-green':form.situacao }">
        </label>
      </div>

      <div ng-show="form.programacao" class="sc-accordion-icon-col align-xs-center">
        <i class="sc-icon sc-icon-relogio-1 sc-text-xxl"></i>
      </div>

      <div class="menu sc-accordion-icon-col align-xs-center">
        <span ng-click="form.openMenu = !form.openMenu" ng-class="{ 'clickscale':form.openMenu }" class="iconDesig iconDesig-black-lighter" ng-click="openMenu = !openMenu" ng-class="{ 'clickscale':openMenu }">
          <i class="sc-icon sc-icon-reticiencias-v"></i>
        </span>
        <ul ng-show="form.openMenu">
          <li ng-click="menuClickAction(lista, form)" ng-repeat="lista in menuAcc" style="margin-right: 0;" ng-class="{ 'colorPink':lista.nome == 'Desfazer Acordo' || lista.nome == 'Gerar Recibo' }">{{lista.nome}}</li>
        </ul>
      </div>
    </div>
  </script>

</body>
