@font-face {
  font-family: 'sc-icons';
  font-weight: normal;
  src: font-url('https://dl.dropboxusercontent.com/u/3330376/uikit/sc-icons.woff') format('woff');
}

header {
  background: #2590d9;
  background: -ms-linear-gradient(top, #2590d9 0%, #135ca6 30%);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(30%, #2590d9), color-stop(100%, #135ca6));
  background: -webkit-linear-gradient(top, #2590d9 30%, #135ca6);
  border-bottom: 1px solid #000000;
}

header .logo img {
  width: 9em;
}

.modalInput {
  .esquerdo {
    float: left;
    width: 50%;
    padding-right: .8em;
    .conteudo{
      display: block;
      margin-top: .8em;
    }
    .conteudo:first-child {
      margin: 0;
    }
  }
  .direito {
    float: right;
    width: 50%;
    .conteudo{
      display: block;
      margin-top: .8em;
    }
    .conteudo:first-child {
      margin: 0;
    }
  }
}

#SubCabecario {
  display: flex;
  padding: .8em;
  background-color: #dddddd;
  width: 100%;
  border-bottom: 1px solid #000000;
  .sc-input-group input {
    width: 15em;
  }
}

#listagem ul li .accordionConf {
  .circleHover2 {
    display: initial;
    position: relative;
    div {
      width: 2em;
      height: 2em;
      position: absolute;
      top: -5px;
      left: -6.3px;
      border-radius: 50%;
      background-color: rgba(0,0,0,.1);
      transition-duration: 250ms;
      transform: scale(0);
    }
  }
  .circleHover2:hover {
    div {
      transform: scale(1);
    }
  }
}

#listagem {
  ul li .labelMobil {
    display: none;
  }
  padding-top: .8em;
  .description span {
    font-weight: bold;
  }
  .menu2 {
    position: relative;
    text-align: center;
    margin: 1em auto;
    .openCss:target {
      display:none;
    }
    a {
      color: #000000;
      text-decoration: none;
      cursor: pointer;
      padding: .5em;
      position: relative;
      .iconMenu2 {
        color: #adadad;
      }
      .circleHover {
        width: 2em;
        height: 2em;
        position: absolute;
        top: 0;
        left: -.4em;
        border-radius: 50%;
        background-color: rgba(0,0,0,.1);
        transition-duration: 250ms;
        transform: scale(0);
      }
    }
    a:hover {
      .iconMenu2 {
        color: #000;
      }
      .circleHover {
        transform: scale(1);
      }
    }
    ul {
      z-index: 1;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      background-color: #FFFFFF;
      border-radius: .3em;
      border: .1em solid #CCCCCC;
      position: absolute;
      text-align: center;
      background-clip: padding-box;
      margin-top: .3em;

      transition-duration: 350ms;
      overflow: hidden;
      right: 0;
      height: 5.38em;
      width: 6em;
      margin-right: .3em;
      opacity: 1;
      li {
        transition-duration: 500ms;
        padding: .3em 0;
        width: 8em;
        text-align: left;
        a {
          color: #4C4C4C;
          font-family: roboto;
        }
      }
      li:first-child {
        margin-top: .5em;
      }
      li:last-child {
        margin-bottom: .5em;
      }
      li:hover {
        color: #000000;
        background-color: rgba(0,0,0,.1);
      }
    }
    ul.ng-hide {
      height: 0;
      width: 0;
    }
  }
}

@media (max-width: 480px) {
  #listagem ul li {
    .sc-accordion-icon-col {
      width: 3em !important;
    }
    .labelDesck {
      display: none;
    }
    .labelMobil {
      display: inline-table;
      border-radius: 50%;
      width: 1em;
      height: 1em;
      transition-duration: 500ms;
    }
    label.ng-animate {
      opacity: .4;
      width: 1.3em;
      height: 1.3em;
    }
  }
  #SubCabecario {
    .sc-btn-text {
      display: none;
    }
  }
}
