<body style="width: 100%; height: 100%; background-color: #a9b7c4;" ng-app="scApp" ng-controller="controll">

  <!-- Modais INICIO -->
    <!-- novaInfracao INICIO -->
      <div style="width: 40em; overflow: auto;" class="sc-text-blue sc-p-md sc-modal active" sc-modal="novaInfracaoModal">
        <div style="padding: 0;" class="sc-text-blue">
          <div class="sc-modal-header align-center">
            <span>Nova Infração</span>
            <i ng-click="novaInfracaoModal.close()" class="pull-right sc-icon sc-icon-fechar-1 sc-text-red"></i>
          </div>
          <div style="max-height: 25em;" class="sc-modal-body">
            <div style="overflow: auto; background-color: #F7F7F9;" class="modalInput sc-p-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
              <div class="esquerdo">
                <div class="conteudo">
                  <div>Título da Infração: </div>
                  <input class="sc-text-sm sc-input-default sc-m-r-lg" style="width: 100%;" />
                </div>
                <div class="conteudo">
                  <div>Nome do Infrator: </div>
                  <input class="sc-text-sm sc-input-default sc-m-r-lg" style="width: 100%;" />
                </div>
                <div class="conteudo">
                  <div>Residência do responsável: </div>
                  <div class="sc-text-sm sc-input-group">
                    <input type="text" class="sc-input-default "/>
                    <i class="sc-icon sc-icon-lupa-2 sc-btn sc-btn-blue"></i>
                  </div>
                </div>
                <div class="conteudo">
                  <div>Tipo de infração: </div>
                  <select style="width: 100%;" class="sc-text-sm sc-input-default">
                    <option>Barulho</option>
                  </select>
                </div>
                <div class="conteudo">
                  <div>Vinculada a ocorrência: <span class="sc-text-bold">#2</span> </div>
                  <input class="sc-text-sm sc-input-default sc-m-r-lg" style="width: 100%;" />
                </div>
                <div class="conteudo">
                  <div>Título da Infração: </div>
                  <input class="sc-text-sm sc-input-default sc-m-r-lg" style="width: 100%;" />
                </div>
              </div>
              <div class="direito">
                <div class="conteudo">
                  <div style="display: inline-table;">
                    <div>Ocorrido em:</div>
                    <input sc-date-input ng-model="data" style="width: 11em; line-height: 1;" class="sc-text-sm sc-input-default" />
                  </div>
                  <div style="display: inline-table;">
                    <div>Horário:</div>
                    <input time-input ng-model="hora" style="width: 9em;" class="sc-text-sm sc-input-default" />
                  </div>
                </div>
                <div class="align-center conteudo">
                  <div>É morador ?</div>
                  <label style="margin: 0;">
                    <span class="sc-toggle" >
                      <input type="checkbox"/>
                      <span label-true="Sim" label-false="Não"></span>
                    </span>
                  </label>
                </div>
                <div class="conteudo">
                  <div>Responsável: </div>
                  <input class="sc-text-sm sc-input-default sc-m-r-lg" style="width: 100%;" />
                </div>
                <div class="conteudo">
                  <div>Valor da multa: </div>
                  <input class="sc-text-sm sc-input-default sc-m-r-lg" style="width: 50%;" />
                </div>
              </div>
              <div class="clear"></div>
              <div class="sc-m-t-lg">
                <div>Detalhes da Infração</div>
                <textarea rows="5" style="width: 100%;" class="sc-input-default sc-text-sm"></textarea>
                <div>
                  <button class="sc-btn sc-btn-gray">
                    <span>Anexar Arquivos</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sc-modal-footer">
          <button ng-click="novaInfracaoModal.close()" class="sc-btn sc-btn-blue">
            <span>Salvar</span>
          </button>
          <button ng-click="novaInfracaoModal.close()" class="sc-btn sc-btn-green">
            <span>Notificar</span>
          </button>
          <button ng-click="novaInfracaoModal.close()" class="sc-btn sc-btn-red">
            <span>Cancelar  </span>
          </button>
        </div>
      </div>
    <!-- novaInfracao FIM -->
  <!-- Modais FIM -->


  <header class="sc-bg-blue sc-p-lg">
    <div class="logo">
      <img src="https://www.seucondominio.com.br/assets/responsivo/logo_seucondominio_branca_80px-d049dcfd41a00dbb8df2309619527295.png">
    </div>
  </header>

  <section id="SubCabecario" class="sc-align-middle">
    <button class="sc-m-r-lg sc-btn sc-btn-awesomeness sc-btn-blue">
      <div class="sc-btn-icon"><i class="sc-icon sc-icon-mais-1"></i></div>
      <div class="sc-btn-text">Cadastrar Novo</div>
    </button>
    <div style="display: inline-table;">
      <div class="sc-input-group">
        <input type="text" class="sc-input-default "/>
        <i class="sc-icon sc-icon-lupa-2 sc-btn sc-btn-blue"></i>
      </div>
    </div>
    <button ng-click="filterClick = !filterClick" class="filter-top sc-m-l-lg sc-btn"><i class="sc-icon sc-icon-filtro-2"></i></button>
  </section>

  <section id="listagem">
    <ul class="sc-accordion sc-text-blue">
      <li ng-init="init(lista)" ng-repeat="lista in ocorrenciaINflacao">
        <div style="{{lista.bgColorAcc}}" class="accordionConf sc-accordion-head">
          <div ng-click="openModal(lista)" style="{{lista.txtColor}} {{lista.bColor}}" class="sc-accordion-icon-col sc-divider align-xs-center">
            <i class="sc-icon sc-icon-seta-11-direita sc-transition" ng-class="{ 'sc-icon-seta-11-baixo':lista.opened }"></i>
          </div>
          <div ng-click="openModal(lista)" style="{{lista.txtColor}}" class="sc-accordion-elastic-col title">
            <span>#{{lista.id}} {{lista.name}}</span>
            <span class="description"><span>Reclamação em:</span> {{lista.data | date: 'dd/MM/yyyy'}}</span>
            <span class="description">
              <span>Criado por:</span> {{lista.criado}} |
              <span>Autor:</span> {{lista.autor}}
            </span>
          </div>
          <div ng-show="lista.situacao" style="width: 9em;" class="sc-cursor-default sc-accordion-icon-col align-xs-center">
            <div ng-click="novaInfracaoModal.open()" class="sc-cursor-pointer circleHover2">
              <div></div>
              <i class="sc-icon sc-icon-exclamacao-3 sc-text-red"></i>
            </div>
          </div>
          <div style="width: 9em;" class="sc-cursor-default sc-accordion-icon-col align-xs-center">
            <label class="labelDesck" style="margin-top: 1em;">
              <span class="sc-toggle" >
                <input type="checkbox" ng-model="lista.situacao" />
                <span label-true="Resolvida" label-false="Pendente"></span>
              </span>
            </label>
            <label ng-click="lista.situacao = !lista.situacao" class="sc-cursor-pointer labelMobil" style="margin-top: 1em;" ng-class="{ 'sc-bg-red':!lista.situacao, 'sc-bg-green':lista.situacao }">
            </label>
          </div>
          <div style="{{lista.txtColor}} {{lista.bColor}}" class="sc-cursor-default menu2 sc-accordion-icon-col align-xs-center">
            <a ng-click="openMenu = !openMenu">
              <div class="circleHover"></div>
              <i class="iconMenu2 sc-icon sc-icon-reticiencias-v"></i>
            </a>
            <ul ng-show="openMenu">
              <li style="margin-right: 0;"><a href="#">Editar</a></li>
              <li style="margin-right: 0;"><a href="#">Imprimir</a></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </section>

</body>
