<body style="width: 100%; height: 100%; background-color: #a9b7c4;" class="sc-text-blue" ng-app="scApp" ng-controller="controll">
  <!-- Principal INICIO -->
    <div style="background-color: #dddddd;" class="sc-text-blue sc-p-md">
      <div style="background-color: #dddddd;" class="sc-p-md" style="overflow: hidden;">
        <div class="sc-m-l-md" style="display: inline-table;">
          <button ng-click="testeNovo = !testeNovo" class="sc-btn sc-btn-awesomeness sc-btn-blue">
            <div class="sc-btn-icon"><i class="sc-icon sc-icon-mais-1"></i></div>
            <div class="sc-btn-text">Cadastrar Novo</div>
          </button>
          <div style="display: inline;" class="sc-input-group">
            <input type="text" placeholder="Conta, agencia" style="width: 25em;" class="sc-input-default " />
          </div>
          <button ng-click='openFiltro = !openFiltro' class="sc-btn"><i class="sc-icon sc-icon-filtro-2 sc-text-blue"></i></button>
        </div>
        <div class="sc-text-lg pull-right align-right">
          <div>Total das contas:</div>
          <div>R$ 20.000,00</div>
        </div>
      </div>
    </div>
  <!-- Principal FIM -->

  <!-- Modais INICIO -->
    <!-- Transferências INICIO -->
      <div style="width: 50em; overflow: auto;" class="sc-text-blue sc-p-md sc-modal active" sc-modal="transferencias">
        <div style="padding: 0;" class="sc-text-blue sc-modal-body">
          <div class="sc-modal-header align-center">
            <span>Transferência</span>
            <i ng-click="transferencias.close()" class="pull-right sc-icon sc-icon-fechar-1 sc-text-red"></i>
          </div>
          <div class="sc-m-xxl">
            <div style="background-color: #F7F7F9;" class="sc-p-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
              <div class="sc-p-b-lg sc-border-b-gray-light-dotted-md">
                <div style="display: inline-table;" class="sc-m-h-lg">
                  <div>Conta origem: </div>
                  <select style="width: 15em;" class="sc-text-sm sc-input-default">
                    <option></option>
                  </select>
                </div>
                <div style="display: inline-table;" class="sc-m-h-lg">
                  <div>Plano de contas: </div>
                  <select style="width: 15em;" class="sc-text-sm sc-input-default">
                    <option></option>
                  </select>
                </div>
              </div>
              <div class="clear"></div>
              <div class="sc-p-b-lg sc-border-b-gray-light-dotted-md">
                <div style="display: inline-table;" class="sc-m-h-lg">
                  <div>Conta destino: </div>
                  <select style="width: 15em;" class="sc-text-sm sc-input-default">
                    <option></option>
                  </select>
                </div>
                <div style="display: inline-table;" class="sc-m-h-lg">
                  <div>Plano de contas: </div>
                  <select style="width: 15em;" class="sc-text-sm sc-input-default">
                    <option></option>
                  </select>
                </div>
              </div>
              <div class="clear"></div>
              <div class="sc-m-h-lg">
                <div>Data:</div>
                <input sc-date-input ng-model="data" style="line-height: 1; width: 12em;" class="sc-text-sm sc-input-default" />
              </div>
              <div style="display: inline-table;" class="sc-m-t-lg sc-m-h-lg">
                <div>Valor: </div>
                <input style="width: 10em;" class="sc-text-sm sc-input-default" />
              </div>
              <div class="clear"></div>
              <div style="display: inline-table;" class="sc-m-t-lg sc-m-h-lg">
                <div>Descrição: </div>
                <input style="width: 30em;" class="sc-text-sm sc-input-default" />
              </div>
            </div>
          </div>
        </div>
        <div class="sc-modal-footer">
          <button ng-click="transferencias.close()" class="sc-btn sc-btn-red">
            <i class="sc-icon sc-icon-fechar-1 sc-text-sm"></i>
            <span>Cancelar</span>
          </button>
          <button ng-click="transferencias.close()" class="sc-btn sc-btn-green">
            <i class="sc-icon sc-icon-visto-1 sc-text-sm"></i>
            <span>Iniciar</span>
          </button>
        </div>
      </div>
    <!-- Transferências FIM -->
    <!-- Transferências INICIO -->
      <div style="width: 33em; overflow: auto;" class="sc-text-blue sc-p-md sc-modal active" sc-modal="deletar">
        <div style="padding: 0;" class="sc-text-blue sc-modal-body">
          <div class="sc-modal-header align-center">
            <span>Transferência</span>
            <i ng-click="deletar.close()" class="pull-right sc-icon sc-icon-fechar-1 sc-text-red"></i>
          </div>
          <div class="sc-m-xxl">
            <div class="sc-p-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
              <p>A conta selecionada tem um saldo de <span class="sc-text-black sc-text-bold">R$ 5.000,00</span>, gostaria de fazer uma transferência desse valor para outra conta antes de deiletá-la?</p>
            </div>
          </div>
        </div>
        <div class="sc-modal-footer">
          <button ng-click="deletar.close()" class="sc-btn sc-btn-red">
            <i class="sc-icon sc-icon-fechar-1 sc-text-sm"></i>
            <span>Deletar</span>
          </button>
          <button ng-click="deletar.close(); transferencias.open()" class="sc-btn sc-btn-green">
            <i class="sc-icon sc-icon-visto-1 sc-text-sm"></i>
            <span>Transferir</span>
          </button>
        </div>
      </div>
    <!-- Transferências FIM -->
  <!-- Modais FIM -->

  <!-- listagem de previsões INICIO -->
    <div class="sc-m-t-lg sc-text-blue">
      <ul class="sc-accordion">
        <li ng-show="testeNovo">
          <div ng-init="initNovoEdit(novo); novo.opened = true" ng-click="openNovoAcc(novo)" style="{{novo.bgColorAcc}}" class="sc-accordion-head">
            <div style="width: 6em; {{novo.txtColor}} {{novo.bColor}}" class="sc-accordion-icon-col sc-divider align-xs-center">
              <img style="width: 4em;" class="sc-border-radius" src="http://www.imagenstop.net/wp-content/gallery/imagens-para-celular/Imagens-Bonitas-para-Facebook.jpg">
            </div>
            <div style="{{novo.txtColor}}" class="sc-accordion-elastic-col title">
              <span class="sc-text-xxl">Nova Conta</span>
            </div>
          </div>
          <div ng-show="novo.opened" style="overflow: auto; padding:0;" class="sc-accordion-body ng-animation-slider">
            <div style="background-color: #F7F7F9;" class="sc-m-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
              <div class="sc-m-r-lg" style="display: inline-table;">
                <div>Bancos:</div>
                <select ng-model="amostraCI" style="width: 10em;" class="sc-text-sm sc-input-default">
                  <option>Itaú</option>
                  <option>Sicoob</option>
                </select>
              </div>
              <div ng-show="amostraCI != 'Sicoob'" class="sc-m-r-lg" style="display: inline-table;">
                <div>Agência:</div>
                <input style="width: 10em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
              </div>
              <div ng-show="amostraCI != 'Sicoob'" class="sc-m-r-lg" style="display: inline-table;">
                <div>Conta:</div>
                <input style="width: 15em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
              </div>
              <div ng-show="amostraCI == 'Sicoob'" class="sc-m-r-lg" style="display: inline-table;">
                <div>Cooperativa-DV:</div>
                <input style="width: 10em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
              </div>
              <div ng-show="amostraCI == 'Sicoob'" class="sc-m-r-lg" style="display: inline-table;">
                <div>Conta-DV:</div>
                <input style="width: 15em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
              </div>
              <div ng-show="amostraCI == 'Sicoob'" class="sc-m-r-lg" style="display: inline-table;">
                <div>Cliente-DV:</div>
                <input style="width: 15em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
              </div>
              <div ng-show="teste" class="sc-m-r-lg" style="display: inline-table;">
                <div>Carteira:</div>
                <select style="width: 10em;" class="sc-text-sm sc-input-default">
                  <option></option>
                </select>
              </div>
              <div ng-show="teste" class="sc-m-r-lg" style="display: inline-table;">
                <div>Nosso Número:</div>
                <input style="width: 15em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
              </div>
              <div class="pull-right">
                <div class="sc-m-r-lg" style="display: inline-table;">
                  <div>Conta principal ?</div>
                  <label style="min-width: 7em;">
                    <span class="sc-toggle">
                      <input type="checkbox"/>
                      <span label-true="Sim" label-false="Não"></span>
                    </span>
                  </label>
                </div>
                <div class="sc-m-r-lg" style="display: inline-table;">
                  <div>Habilitar Boletos ?</div>
                  <label style="min-width: 7em;">
                    <span class="sc-toggle">
                      <input type="checkbox" ng-model="teste" />
                      <span label-true="Sim" label-false="Não"></span>
                    </span>
                  </label>
                </div>
              </div>
              <div class="clear"></div>
              <div class="sc-m-t-lg sc-m-r-lg" style="display: inline-table;">
                <div>Gerente:</div>
                <input style="width: 10em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
              </div>
              <div class="sc-m-r-lg" style="display: inline-table;">
                <div>Telefone:</div>
                <input style="width: 15em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
              </div>
              <div class="sc-m-r-lg" style="display: inline-table;">
                <div>E-mail:</div>
                <input style="width: 15em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
              </div>
              <div class="sc-m-r-lg" style="display: inline-table;">
                <div>Saldo inicial:</div>
                <input style="width: 15em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
              </div>
              <div class="sc-m-r-lg" style="display: inline-table;">
                <div>Data do Extrato:</div>
                <input sc-date-input ng-model="data" style="line-height: 1; width: 12em; font-size: 0.8em; text-transform: uppercase;" class="sc-text-sm sc-input-default"/>
              </div>
              <div class="clear"></div>
              <div class="sc-m-t-lg sc-m-r-lg" style="display: inline-table;">
                <div>Endereço:</div>
                <input style="width: 30em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
              </div>
              <div class="sc-m-r-lg" style="display: inline-table;">
                <div>Bairro:</div>
                <input style="width: 20em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
              </div>
              <div class="sc-m-r-lg" style="display: inline-table;">
                <div>CEP:</div>
                <input style="width: 10em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
              </div>
              <div class="sc-m-r-lg" style="display: inline-table;">
                <div>Estado:</div>
                <select style="width: 10em;" class="sc-text-sm sc-input-default">
                  <option></option>
                </select>
              </div>
               <div class="sc-m-r-lg" style="display: inline-table;">
                <div>Cidade:</div>
                <select style="width: 10em;" class="sc-text-sm sc-input-default">
                  <option></option>
                </select>
              </div>
            </div>
            <div class="clear"></div>
            <div style="overflow: auto;" class="pull-right sc-border-b-gray-light-solid-md sc-p-sm">
              <button ng-click="testeNovo = false" class="sc-text-sm sc-m-r-md sc-btn sc-btn-awesomeness sc-btn-red">
                <div class="sc-btn-icon"><i class="sc-icon sc-icon-fechar-1"></i></div>
                <div class="sc-btn-text">Cancelar</div>
              </button>
              <button ng-click="testeNovo = false" class="sc-text-sm sc-btn sc-m-r-md sc-btn-awesomeness sc-btn-green">
                <div class="sc-btn-icon"><i class="sc-icon sc-icon-visto-1"></i></div>
                <div class="sc-btn-text">Salvar</div>
              </button>
            </div>
          </div>
        </li>
        <li ng-show="novo.testeEditar">
          <div ng-init="initNovoEdit(novo)" ng-click="openNovoAcc(novo)" style="{{novo.bgColorAcc}}" class="sc-accordion-head">
            <div style="width: 6em; {{novo.txtColor}} {{novo.bColor}}" class="sc-accordion-icon-col sc-divider align-xs-center">
              <img style="width: 4em;" class="sc-border-radius" src="http://www.imagenstop.net/wp-content/gallery/imagens-para-celular/Imagens-Bonitas-para-Facebook.jpg">
            </div>
            <div style="{{novo.txtColor}}" class="sc-accordion-elastic-col title">
              <span class="sc-text-xxl">Editar Conta</span>
            </div>
          </div>
          <div ng-show="novo.opened" style="overflow: auto; padding:0;" class="sc-accordion-body ng-animation-slider">
            <div style="background-color: #F7F7F9;" class="sc-m-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
              <div class="sc-m-r-lg" style="display: inline-table;">
                <div>Bancos:</div>
                <select ng-model="amostraCI" style="width: 10em;" class="sc-text-sm sc-input-default">
                  <option>Itaú</option>
                  <option>Sicoob</option>
                </select>
              </div>
              <div ng-show="amostraCI != 'Sicoob'" class="sc-m-r-lg" style="display: inline-table;">
                <div>Agência:</div>
                <input style="width: 10em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
              </div>
              <div ng-show="amostraCI != 'Sicoob'" class="sc-m-r-lg" style="display: inline-table;">
                <div>Conta:</div>
                <input style="width: 15em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
              </div>
              <div ng-show="amostraCI == 'Sicoob'" class="sc-m-r-lg" style="display: inline-table;">
                <div>Cooperativa-DV:</div>
                <input style="width: 10em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
              </div>
              <div ng-show="amostraCI == 'Sicoob'" class="sc-m-r-lg" style="display: inline-table;">
                <div>Conta-DV:</div>
                <input style="width: 15em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
              </div>
              <div ng-show="amostraCI == 'Sicoob'" class="sc-m-r-lg" style="display: inline-table;">
                <div>Cliente-DV:</div>
                <input style="width: 15em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
              </div>
              <div ng-show="teste" class="sc-m-r-lg" style="display: inline-table;">
                <div>Carteira:</div>
                <select style="width: 10em;" class="sc-text-sm sc-input-default">
                  <option></option>
                </select>
              </div>
              <div ng-show="teste" class="sc-m-r-lg" style="display: inline-table;">
                <div>Nosso Número:</div>
                <input style="width: 15em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
              </div>
              <div class="pull-right">
                <div class="sc-m-r-lg" style="display: inline-table;">
                  <div>Conta principal ?</div>
                  <label style="min-width: 7em;">
                    <span class="sc-toggle">
                      <input type="checkbox"/>
                      <span label-true="Sim" label-false="Não"></span>
                    </span>
                  </label>
                </div>
                <div class="sc-m-r-lg" style="display: inline-table;">
                  <div>Habilitar Boletos ?</div>
                  <label style="min-width: 7em;">
                    <span class="sc-toggle">
                      <input type="checkbox" ng-model="teste" />
                      <span label-true="Sim" label-false="Não"></span>
                    </span>
                  </label>
                </div>
              </div>
              <div class="clear"></div>
              <div class="sc-m-t-lg sc-m-r-lg" style="display: inline-table;">
                <div>Gerente:</div>
                <input style="width: 10em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
              </div>
              <div class="sc-m-r-lg" style="display: inline-table;">
                <div>Telefone:</div>
                <input style="width: 15em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
              </div>
              <div class="sc-m-r-lg" style="display: inline-table;">
                <div>E-mail:</div>
                <input style="width: 15em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
              </div>
              <div class="sc-m-r-lg" style="display: inline-table;">
                <div>Saldo inicial:</div>
                <input style="width: 15em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
              </div>
              <div class="sc-m-r-lg" style="display: inline-table;">
                <div>Data do Extrato:</div>
                <input sc-date-input ng-model="data" style="line-height: 1; width: 12em; font-size: 0.8em; text-transform: uppercase;" class="sc-text-sm sc-input-default"/>
              </div>
              <div class="clear"></div>
              <div class="sc-m-t-lg sc-m-r-lg" style="display: inline-table;">
                <div>Endereço:</div>
                <input style="width: 30em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
              </div>
              <div class="sc-m-r-lg" style="display: inline-table;">
                <div>Bairro:</div>
                <input style="width: 20em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
              </div>
              <div class="sc-m-r-lg" style="display: inline-table;">
                <div>CEP:</div>
                <input style="width: 10em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
              </div>
              <div class="sc-m-r-lg" style="display: inline-table;">
                <div>Estado:</div>
                <select style="width: 10em;" class="sc-text-sm sc-input-default">
                  <option></option>
                </select>
              </div>
               <div class="sc-m-r-lg" style="display: inline-table;">
                <div>Cidade:</div>
                <select style="width: 10em;" class="sc-text-sm sc-input-default">
                  <option></option>
                </select>
              </div>
            </div>
            <div class="clear"></div>
            <div style="overflow: auto;" class="pull-right sc-border-b-gray-light-solid-md sc-p-sm">
              <button ng-click="novo.testeEditar = false" class="sc-text-sm sc-m-r-md sc-btn sc-btn-awesomeness sc-btn-red">
                <div class="sc-btn-icon"><i class="sc-icon sc-icon-fechar-1"></i></div>
                <div class="sc-btn-text">Cancelar</div>
              </button>
              <button ng-click="novo.testeEditar = false" class="sc-text-sm sc-btn sc-m-r-md sc-btn-awesomeness sc-btn-green">
                <div class="sc-btn-icon"><i class="sc-icon sc-icon-visto-1"></i></div>
                <div class="sc-btn-text">Salvar</div>
              </button>
            </div>
          </div>
        </li>
        <li ng-show="!lista.edit" ng-init="init(lista)" ng-repeat="lista in contas">
          <div style="{{lista.bgColorAcc}}" class="sc-accordion-head">
            <div ng-click="openAcc(lista)" style="width: 6em; {{lista.txtColor}} {{lista.bColor}}" class="sc-accordion-icon-col sc-divider align-xs-center">
              <img style="width: 4em;" class="sc-border-radius" src="{{lista.photo}}">
            </div>
            <div ng-click="openAcc(lista)" style="{{lista.txtColor}}" class="sc-accordion-elastic-col title">
              <span>{{lista.name}}</span>
              <span class="description">
                <div>cc: {{lista.cc}}</div>
                <div>ag: {{lista.ag}}</div>
              </span>
            </div>
            <div ng-click="openAcc(lista)" ng-click="openAcc(lista)" style="width: 10em; {{lista.txtColor}}" class="sc-text-xxl align-right sc-accordion-elastic-col title">
              <span>R$ {{lista.saldo}}</span>
            </div>
            <div style="{{lista.txtColor}}" ng-click="openMenu = !openMenu" class="sc-accordion-icon-col align-xs-center">
              <i class="sc-text-xxl sc-icon sc-icon-reticiencias-v sc-transition"></i>
            </div>
            <div ng-show="openMenu" style="width: 14em; position: absolute; z-index: 1; margin-left: -14em; margin-top: 3.5em;">
              <ul class="sc-animation-slider sc-border-radius sc-box-shadow-z1 sc-border-gray-light-solid-md sc-bg-white" style="text-transform: uppercase;">
                <li ng-click="transferencias.open()" ng-mouseenter="lista.statusFiltro  = true" ng-mouseleave="lista.statusFiltro = false" class="sc-border-t-gray-light-solid-md sc-cursor-pointer sc-transition sc-border-radius sc-p-sm sc-transition sc-border-radius" ng-class="{'sc-bg-blue-lighter sc-text-white': lista.statusFiltro }">
                  <img style="width: 2em;" src="http://i.imgur.com/V3XydgZ.png">
                  <span class="sc-border-l-gray-light-solid-md sc-p-l-md">Transferência</span>
                </li>
                <li ng-click="novo.testeEditar = !novo.testeEditar; lista.edit = true" ng-mouseenter="lista.statusFiltro1  = true" ng-mouseleave="lista.statusFiltro1 = false" class="sc-border-t-gray-light-solid-md sc-cursor-pointer sc-transition sc-border-radius sc-p-sm sc-transition sc-border-radius" ng-class="{'sc-bg-blue-lighter sc-text-white': lista.statusFiltro1 }">
                  <i style="padding: .4em;" class="sc-icon sc-icon-lapis sc-text-yellow"></i>
                  <span class="sc-border-l-gray-light-solid-md sc-p-l-md">Editar</span>
                </li>
                <li ng-click="deletar.open()" ng-mouseenter="lista.statusFiltro2 = true" ng-mouseleave="lista.statusFiltro2 = false"class="sc-border-t-gray-light-solid-md sc-cursor-pointer sc-transition sc-border-radius sc-p-sm sc-transition sc-border-radius" ng-class="{'sc-bg-blue-lighter sc-text-white': lista.statusFiltro2 }">
                  <i style="padding: .4em;" class="sc-icon sc-icon-lixeira-2 sc-text-red"></i>
                  <span class="sc-border-l-gray-light-solid-md sc-p-l-md">Exluir</span>
                </li>
              </ul>
            </div>
          </div>
          <div ng-show="lista.opened" style="overflow: auto; padding:0;" class="sc-accordion-body ng-animation-slider">
            <div style="background-color: #F7F7F9;" class="sc-m-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
              <div class="sc-p-xs">
                <i style="width: 1.2em;" class="sc-text-black sc-text-xxl sc-m-r-sm sc-icon sc-icon-dinheiro-3"></i>
                {{lista.saldo}} <span class="sc-text-black">em</span> {{lista.data}}
              </div>
              <div class="sc-p-xs">
                <i style="width: 1.2em;" class="sc-text-black sc-text-xxl sc-m-r-sm sc-icon sc-icon-banco"></i>
                <span><span class="sc-text-black">CC:</span> {{lista.cc}}</span>
                <span><span class="sc-text-black">AG:</span> {{lista.ag}}</span>
              </div>
              <div class="sc-p-xs">
                <i style="width: 1.2em;" class="sc-text-black sc-text-xxl sc-m-r-sm sc-icon sc-icon-executivo"></i>
                <span>{{lista.gerente}}</span>
                <i style="width: 1.2em;" class="sc-text-black sc-m-l-lg sc-text-xxl sc-m-r-sm sc-icon sc-icon-telefone-1"></i>
                <span>{{lista.telefone}}</span>
                <i style="width: 1.2em;" class="sc-text-black sc-m-l-lg sc-text-xxl sc-m-r-sm sc-icon sc-icon-carta-4"></i>
                <span>{{lista.email}}</span>
              </div>
              <div class="sc-p-xs">
                <i style="width: 1.2em;" class="sc-text-black sc-text-xxl sc-m-r-sm sc-icon sc-icon-local"></i>
                <span>{{lista.endereco}} <span class="sc-text-black">-</span> {{lista.bairro}}<span class="sc-text-black">,</span> {{lista.cidade}} <span class="sc-text-black">-</span> {{lista.estado}}</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  <!-- listagem de previsões FIM -->

</body>
