<body style="width: 100%; height: 100%; background-color: #a9b7c4;" ng-app="scApp" ng-controller="controll">

  <!-- Principal INICIO -->
    <div style="background-color: #dddddd; position: fixed; top: 0; width: 100%; z-index: 1;" class="sc-p-md">
      <div ng-init="totalizadores = true" style="background-color: #dddddd;" class="sc-p-md" style="overflow: hidden;">
        <button ng-click="novo.open()" class="sc-m-r-lg sc-btn sc-btn-awesomeness sc-btn-blue">
          <div class="sc-btn-icon"><i class="sc-icon sc-icon-mais-1"></i></div>
          <div class="sc-btn-text sc-text-white">Nova encomenda</div>
        </button>
        <div style="display: inline-table;">
          <div class="sc-input-group">
            <input type="text" style="width: 40em;" placeholder="Residência ou destinatário..." class="sc-input-default " />
            <i class="sc-icon sc-icon-lupa-2 sc-btn sc-btn-blue"></i>
          </div>
        </div>
        <div class="pull-right">
          <button ng-click="livroEncomenda.open()" class="sc-btn sc-btn-awesomeness sc-btn-yellow">
            <div class="sc-btn-icon"><i class="sc-icon sc-icon-arquivo-4"></i></div>
            <div class="sc-btn-text sc-text-white">Livro encomenda</div>
          </button>
        </div>
      </div>
    </div>
  <!-- Principal FIM -->

  <!-- Modais INICIO -->
    <!-- Livo encomenda INICIO -->
      <div style="width: 25em; overflow: hidden;" class="sc-text-blue sc-p-md sc-modal active" sc-modal="livroEncomenda">
        <div style="z-index: 3; box-shadow: none; padding: 0; overflow: initial;" class="sc-text-blue sc-modal-body">
          <div class="sc-modal-header align-center">
            <i ng-click="livroEncomenda.close()" class="pull-right sc-icon sc-icon-fechar-1 sc-text-red"></i>
            <h4 style="margin: 0;" class="pull-center sc-text-bold">Livro Encomenda</h4>
          </div>
          <div class="sc-m-xxl">
            <div style="display: flex; overflow: auto; background-color: #F7F7F9;" class="sc-p-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
              <div class="sc-m-t-lg sc-m-h-lg">
                <div>Páginas: </div>
                <input style="width: 5em;" class="sc-text-sm sc-input-default" />
              </div>
              <div class="sc-m-t-lg sc-m-h-lg">
                <div>Colunas: </div>
                <div ng-click="listaShow = !listaShow" style="padding: 0; height: 2.7em; width: 15em;" class="sc-text-sm sc-input-default"><span class="pull-left sc-m-sm">Selecione da lista</span><button style="margin: 0;" class="pull-right sc-btn sc-btn-blue"><i class="sc-icon sc-icon-seta-5-baixo"></i></button></div>
                <div style="position: absolute; z-index: 1;">
                  <ul ng-show="listaShow" class="sc-animation-slider sc-border-radius sc-box-shadow-z1 sc-border-gray-light-solid-md sc-bg-white">
                    <li ng-click="lista.click = !lista.click" ng-repeat="lista in colunasLista " ng-mouseenter="lista.hover = true" ng-mouseleave="lista.hover = false" class="sc-border-t-gray-light-solid-md sc-cursor-pointer sc-p-sm sc-transition sc-border-radius sc-p-md sc-transition sc-border-radius" ng-class="{'sc-bg-blue-lighter': lista.hover}">
                      <i class="sc-icon sc-icon-quadrado-1" ng-class="{ 'sc-icon-visto-4':lista.click }"></i>
                      <span class="sc-border-l-gray-light-solid-md sc-p-sm">{{lista.name}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="z-index: 1;" class="sc-modal-footer">
          <button ng-click="livroEncomenda.close()" class="sc-btn sc-btn-green">
            <i class="sc-icon sc-icon-impressora sc-text-sm"></i>
            <span>Imprimir</span>
          </button>
        </div>
      </div>
    <!-- Livo encomenda FIM -->
    <!-- Cadastrar Novo INICIO -->
      <div style="width: 35em; overflow: auto;" class="sc-text-blue sc-p-md sc-modal active" sc-modal="novo">
        <div style="padding: 0;" class="sc-text-blue sc-modal-body">
          <div class="sc-modal-header align-center">
            <i ng-click="novo.close()" class="pull-right sc-icon sc-icon-fechar-1 sc-text-red"></i>
            <span class="sc-text-bold sc-text-xl">Nova Encomenda</span>
          </div>
          <div class="sc-m-xxl">
            <div style="background-color: #F7F7F9;" class="sc-p-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
              <div class="sc-text-bold sc-text-lg align-center">DESTINATÁRIO</div>
              <div class="sc-m-t-lg">
                <div>Tipo:</div>
                <div style="display: inline-flex;" class="sc-cursor-pointer sc-bg-blue sc-border-radius">
                  <div ng-init="tipoClick1 = true" ng-click="tipoClick1 = true; tipoClick2 = false;" class="sc-border-radius sc-text-white sc-p-sm" ng-class="{ 'sc-bg-blue-dark':tipoClick1 }">Residência</div>
                  <div ng-click="tipoClick1 = false; tipoClick2 = true;" class="sc-border-radius sc-text-white sc-p-sm" ng-class="{ 'sc-bg-blue-dark':tipoClick2 }">Outro</div>
                </div>
              </div>
              <div ng-show="tipoClick1" style="width: 100%; display: flex;" class="sc-m-t-lg">
                <div style="width: 50%;" class="">
                  <div>Residência:</div>
                  <div class="sc-text-sm sc-input-group">
                    <input type="text" style="width: 100%;" class="sc-input-default " />
                    <i class="sc-icon sc-icon-lupa-2 sc-btn sc-btn-blue"></i>
                  </div>
                </div>
                <div style="width: 50%;" class="sc-m-l-lg">
                  <div>Nome:</div>
                  <input style="width: 100%;" class="sc-text-sm sc-input-default" />
                </div>
              </div>
              <div ng-show="!tipoClick1" class="sc-m-t-lg">
                <div class="">
                  <div>Nome:</div>
                  <input style="width: 100%;" class="sc-text-sm sc-input-default" />
                </div>
              </div>
              <hr />
              <div class="clear"></div>
              <div class="sc-text-bold sc-text-lg align-center">REMETENTE</div>
              <div class="sc-m-t-lg">
                <div class="">
                  <div>Nome:</div>
                  <input style="width: 100%;" class="sc-text-sm sc-input-default" />
                </div>
              </div>
              <hr />
              <div class="clear"></div>
              <div>
                <div>Descrição da encomenda:</div>
                <textarea style="width: 100%;" rows="4" class="sc-text-sm sc-input-default"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="sc-modal-footer">
          <button ng-click="novo.close()" class="sc-btn sc-btn-green">
            <i class="sc-icon sc-icon-visto-1 sc-text-sm"></i>
            <span>Salvar</span>
          </button>
        </div>
      </div>
    <!-- Cadastrar Novo FIM -->
    <!-- Editar INICIO -->
      <div style="width: 35em; overflow: auto;" class="sc-text-blue sc-p-md sc-modal active" sc-modal="editar">
        <div style="padding: 0;" class="sc-text-blue sc-modal-body">
          <div class="sc-modal-header align-center">
            <i ng-click="editar.close()" class="pull-right sc-icon sc-icon-fechar-1 sc-text-red"></i>
            <span class="sc-text-bold sc-text-xl">Editar Encomenda</span>
          </div>
          <div class="sc-m-xxl">
            <div style="background-color: #F7F7F9;" class="sc-p-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
              <div class="sc-text-bold sc-text-lg align-center">DESTINATÁRIO</div>
              <div class="sc-m-t-lg">
                <div>Tipo:</div>
                <div style="display: inline-flex;" class="sc-bg-blue sc-border-radius">
                  <div ng-init="tipoClick1Edit = true" ng-click="tipoClick1Edit = true; tipoClick2Edit = false;" class="sc-border-radius sc-text-white sc-p-sm" ng-class="{ 'sc-bg-blue-dark':tipoClick1Edit }">Residência</div>
                  <div ng-click="tipoClick1Edit = false; tipoClick2Edit = true;" class="sc-border-radius sc-text-white sc-p-sm" ng-class="{ 'sc-bg-blue-dark':tipoClick2Edit }">Outro</div>
                </div>
              </div>
              <div ng-show="tipoClick1Edit" style="width: 100%; display: flex;" class="sc-m-t-lg">
                <div style="width: 50%;" class="">
                  <div>Residência:</div>
                  <div class="sc-text-sm sc-input-group">
                    <input type="text" style="width: 100%;" class="sc-input-default " />
                    <i class="sc-icon sc-icon-lupa-2 sc-btn sc-btn-blue"></i>
                  </div>
                </div>
                <div style="width: 50%;" class="sc-m-l-lg">
                  <div>Nome:</div>
                  <input style="width: 100%;" class="sc-text-sm sc-input-default" />
                </div>
              </div>
              <div ng-show="!tipoClick1Edit" class="sc-m-t-lg">
                <div class="">
                  <div>Nome:</div>
                  <input style="width: 100%;" class="sc-text-sm sc-input-default" />
                </div>
              </div>
              <hr />
              <div class="clear"></div>
              <div class="sc-text-bold sc-text-lg align-center">REMETENTE</div>
              <div class="sc-m-t-lg">
                <div class="">
                  <div>Nome:</div>
                  <input style="width: 100%;" class="sc-text-sm sc-input-default" />
                </div>
              </div>
              <hr />
              <div class="clear"></div>
              <div>
                <div>Descrição da encomenda:</div>
                <textarea style="width: 100%;" rows="4" class="sc-text-sm sc-input-default"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="sc-modal-footer">
          <button ng-click="editar.close()" class="sc-btn sc-btn-green">
            <i class="sc-icon sc-icon-visto-1 sc-text-sm"></i>
            <span>Salvar</span>
          </button>
        </div>
      </div>
    <!-- Editar FIM -->
    <!-- Entregar INICIO -->
      <div style="width: 60em; overflow: auto;" class="sc-text-blue sc-p-md sc-modal active" sc-modal="entregar">
        <div style="padding: 0;" class="sc-text-blue sc-modal-body">
          <div class="sc-modal-header align-center">
            <i ng-click="entregar.close()" class="pull-right sc-icon sc-icon-fechar-1 sc-text-red"></i>
            <span class="sc-text-bold sc-text-xl">Entregar</span>
          </div>
          <div class="sc-m-xxl">
            <div style="background-color: #F7F7F9;" class="sc-p-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
              <div style="display: flex;" class="">
                <div>
                  <div>Entrague para</div>
                  <input style="width: 25em;" class="sc-text-sm sc-input-default" />
                </div>
                <div class="sc-m-l-xxxl sc-m-t-md">
                  <div>Confirmação</div>
                  <div class="sc-cursor-pointer" style="display: inline-table;" ng-click="clicks.quadrado1 = true; clicks.quadrado2 = false; clicks.quadrado3 = false">
                    <i class="sc-icon sc-icon-quadrado-1" ng-class="{ 'sc-icon-visto-4':clicks.quadrado1 }"></i>
                    <span class="sc-m-l-md">Folha Encomenda</span>
                  </div>
                  <div class="sc-cursor-pointer sc-m-l-lg" style="display: inline-table;" ng-click="clicks.quadrado2 = true; clicks.quadrado1 = false; clicks.quadrado3 = false;">
                    <i class="sc-icon sc-icon-quadrado-1" ng-class="{ 'sc-icon-visto-4':clicks.quadrado2 }"></i>
                    <span class="sc-m-l-md">Virtual com senha</span>
                  </div>
                  <div class="sc-cursor-pointer sc-m-l-lg" style="display: inline-table;" ng-click="clicks.quadrado3 = true; clicks.quadrado1 = false; clicks.quadrado2 = false">
                    <i class="sc-icon sc-icon-quadrado-1" ng-class="{ 'sc-icon-visto-4':clicks.quadrado3 }"></i>
                    <span class="sc-m-l-md">Nenhuma</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sc-modal-footer">
          <button ng-click="clickTeste(clicks.quadrado2)" class="sc-btn sc-btn-green">
            <span>Entregar</span>
          </button>
        </div>
      </div>
    <!-- Entregar FIM -->
    <!-- Notificar INICIO -->
      <div style="width: 35em; overflow: auto;" class="sc-text-blue sc-p-md sc-modal active" sc-modal="notificar">
        <div style="padding: 0;" class="sc-text-blue sc-modal-body">
          <div class="sc-modal-header align-center">
            <i ng-click="notificar.close()" class="pull-right sc-icon sc-icon-fechar-1 sc-text-red"></i>
            <span class="sc-text-bold sc-text-xl">Notificar</span>
          </div>
          <div class="sc-m-xxl">
            <div style="display: flex; background-color: #F7F7F9;" class="sc-p-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
              <div class="sc-m-t-lg">
                <div>Meio de notificação:</div>
                <div style="display: inline-flex;" class="sc-cursor-pointer sc-bg-blue sc-border-radius">
                  <div ng-init="tipoClick1 = true" ng-click="tipoClick1 = true; tipoClick2 = false;" class="sc-border-radius sc-text-white sc-p-sm" ng-class="{ 'sc-bg-blue-dark':tipoClick1 }">E-mail</div>
                  <div ng-click="tipoClick1 = false; tipoClick2 = true;" class="sc-border-radius sc-text-white sc-p-sm" ng-class="{ 'sc-bg-blue-dark':tipoClick2 }">Outros</div>
                </div>
              </div>
              <div class="sc-m-l-xxl sc-m-t-lg">
                <div>Observações</div>
                <input style="width: 20em;" class="sc-text-sm sc-input-default" />
              </div>
            </div>
          </div>
        </div>
        <div class="sc-modal-footer">
          <button ng-click="notificar.close()" class="sc-btn sc-btn-green">
            <i class="sc-icon sc-icon-visto-1 sc-text-sm"></i>
            <span>Notificar</span>
          </button>
        </div>
      </div>
    <!-- Notificar FIM -->
    <!-- Login para retirada INICIO -->
      <div style="width: 35em; overflow: auto;" class="sc-text-blue sc-p-md sc-modal active" sc-modal="confirmVirtua">
        <div style="padding: 0;" class="sc-text-blue sc-modal-body">
          <div class="sc-modal-header align-center">
            <i ng-click="confirmVirtua.close()" class="pull-right sc-icon sc-icon-fechar-1 sc-text-red"></i>
            <span class="sc-text-bold sc-text-xl">Confirmação Virtual</span>
          </div>
          <div class="sc-m-xxl">
            <div style="background-color: #F7F7F9;" class="align-center sc-p-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
              <span>Insira as credenciais de acesso do sistema apra comprovar a retirada de sua encomenda da portaria</span>
            </div>
            <div style="background-color: #F7F7F9;" class="align-center sc-m-t-lg sc-p-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
              <div>
                <span>Login: </span>
                <input style="width: 18em;" class="sc-text-sm sc-input-default" />
              </div>
              <div style="margin-left: -.4em;" class="sc-m-t-lg">
                <span>Senha: </span>
                <input style="width: 18em;" class="sc-text-sm sc-input-default" />
              </div>
            </div>
          </div>
        </div>
        <div class="sc-modal-footer">
          <button ng-click="confirmVirtua.close(); avisoOFF.open()" class="sc-btn sc-btn-green">
            <i class="sc-icon sc-icon-visto-1 sc-text-sm"></i>
            <span>Confirmar entrega (teste 1)</span>
          </button>
          <button ng-click="confirmVirtua.close(); avisoOK.open()" class="sc-btn sc-btn-green">
            <i class="sc-icon sc-icon-visto-1 sc-text-sm"></i>
            <span>Confirmar entrega (teste 2)</span>
          </button>
        </div>
      </div>
    <!-- Login para retirada FIM -->
    <!-- Aviso Concluido INICIO -->
      <div style="width: 25em; overflow: auto;" class="sc-p-md sc-modal active" sc-modal="avisoOK">
        <div style="padding: 0;" class="sc-text-blue sc-modal-body">
          <div class="sc-modal-header align-center">
            <i ng-click="avisoOK.close();" class="pull-right sc-icon sc-icon-fechar-1 sc-text-red"></i>
            <span class="sc-text-bold sc-text-xl">Entrega concluida</span>
          </div>
          <div class="align-center sc-m-xxl">
            <span>Entrega Concluida com sucesso.</span>
          </div>
        </div>
        <div class="align-center sc-modal-footer">
          <button ng-click="avisoOK.close()" class="sc-btn sc-btn-blue">
            <span>OK</span>
          </button>
        </div>
      </div>
    <!-- Aviso Concluido FIM -->
    <!-- Aviso erro INICIO -->
      <div style="width: 25em; overflow: auto;" class="sc-p-md sc-modal active" sc-modal="avisoOFF">
        <div style="padding: 0;" class="sc-text-blue sc-modal-body">
          <div class="sc-modal-header align-center">
            <i ng-click="avisoOFF.close()" class="pull-right sc-icon sc-icon-fechar-1 sc-text-red"></i>
            <span class="sc-text-bold sc-text-xl">Atenção</span>
          </div>
          <div class="align-center sc-m-xxl">
            <span>Usuário sem permissão para retirada da encomenda.</span>
          </div>
        </div>
        <div class="align-center sc-modal-footer">
          <button ng-click="avisoOFF.close(); entregar.open()" class="sc-btn sc-btn-blue">
            <span>Voltar</span>
          </button>
        </div>
      </div>
    <!-- Aviso erro FIM -->
  <!-- Modais FIM -->

  <!-- LISTA INICIO -->
    <div style="margin-top: 6em;">
      <ul class="sc-accordion sc-text-blue">
        <li ng-init="init(lista)" ng-repeat="lista in imprimirPdfLista">
          <div style="{{lista.bgColorAcc}}" class="sc-accordion-head">
            <div ng-click="openModal(lista)" style="{{lista.txtColor}} {{lista.bColor}}" class="sc-accordion-icon-col sc-divider align-xs-center">
              <i class="sc-icon sc-icon-seta-11-direita sc-transition" ng-class="{ 'sc-icon-seta-11-baixo':lista.opened }"></i>
            </div>
            <div ng-click="openModal(lista)" style="{{lista.txtColor}}" class="sc-accordion-elastic-col title">
              <span>{{lista.name}}</span>
              <span class="description">{{lista.descricao}}</span>
            </div>
            <div ng-click="openMenu = !openMenu" style="{{lista.txtColor}} {{lista.bColor}}" class="sc-text-xl sc-accordion-icon-col align-xs-center">
              <i class="sc-icon sc-icon-reticiencias-v"></i>
            </div>
            <div ng-show="openMenu" style="width: 14em; position: absolute; z-index: 1; margin-left: -14em; margin-top: 2.2em;">
              <ul class="sc-animation-slider sc-border-radius sc-box-shadow-z1 sc-border-gray-light-solid-md sc-bg-white" style="text-transform: uppercase;">
                <li ng-click="entregar.open(); openMenu = false" ng-mouseenter="lista.entregar  = true" ng-mouseleave="lista.entregar = false" class="sc-border-t-gray-light-solid-md sc-cursor-pointer sc-transition sc-border-radius sc-p-sm sc-transition sc-border-radius" ng-class="{'sc-bg-blue-lighter sc-text-white': lista.entregar }">
                  <img style="width:1.7em;" src="http://i.imgur.com/0FFTW9G.png">
                  <span class="sc-border-l-gray-light-solid-md sc-p-l-md">Entregar</span>
                </li>
                <li ng-click="notificar.open()" ng-mouseenter="lista.notificar  = true" ng-mouseleave="lista.notificar = false" class="sc-border-t-gray-light-solid-md sc-cursor-pointer sc-transition sc-border-radius sc-p-sm sc-transition sc-border-radius" ng-class="{'sc-bg-blue-lighter sc-text-white': lista.notificar }">
                  <img style="width:1.7em;" src="http://i.imgur.com/DeY3U8F.png">
                  <span class="sc-border-l-gray-light-solid-md sc-p-l-md">Notificar</span>
                </li>
                <li ng-click="editar.open(); openMenu = false" ng-mouseenter="lista.editar  = true" ng-mouseleave="lista.editar = false" class="sc-border-t-gray-light-solid-md sc-cursor-pointer sc-transition sc-border-radius sc-p-sm sc-transition sc-border-radius" ng-class="{'sc-bg-blue-lighter sc-text-white': lista.editar }">
                  <i style="padding: .4em;" class="sc-icon sc-icon-lapis sc-text-yellow"></i>
                  <span class="sc-border-l-gray-light-solid-md sc-p-l-md">Editar</span>
                </li>
                <li ng-mouseenter="lista.excluir  = true" ng-mouseleave="lista.excluir = false" class="sc-border-t-gray-light-solid-md sc-cursor-pointer sc-transition sc-border-radius sc-p-sm sc-transition sc-border-radius" ng-class="{'sc-bg-blue-lighter sc-text-white': lista.excluir }">
                  <i style="padding: .4em;" class="sc-icon sc-icon-lixeira-2 sc-text-red"></i>
                  <span class="sc-border-l-gray-light-solid-md sc-p-l-md">Exluir</span>
                </li>
              </ul>
            </div>
          </div>
          <div ng-show="lista.opened" style="overflow: auto; padding: 0;" class="sc-accordion-body ng-animation-slider">
            <div style="overflow: auto; background-color: #F7F7F9;" class="sc-m-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
              <div>
                <h4 class="sc-text-xxl sc-text-bold">Detalhes da Encomenda:</h4>
              </div>
              <div>
                <hr />
                <h4 class="sc-text-xl sc-text-bold">Tentativas de Contato</h4>
                <p class="sc-text-blue"><span class="sc-text-yellow">Email enviado (aguardando resposta)</span> cadastrado por <span class="sc-text-bold">Diego Felipe</span> em <span class="sc-text-bold">09/07/2015 às 11:00</span></p>
                <p class="sc-text-blue"><span class="sc-text-green">Email lido</span> cadastrado por <span class="sc-text-bold">Diego Felipe</span> em <span class="sc-text-bold">09/07/2015 às 12:00</span></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  <!-- LISTA FIM -->

</body>
