<body style="width: 100%; height: 100%; background-color: #a9b7c4;" ng-app="scApp" ng-controller="controll">

  <header class="sc-bg-blue sc-p-lg">
    <div class="logo">
      <img src="https://www.seucondominio.com.br/assets/responsivo/logo_seucondominio_branca_80px-d049dcfd41a00dbb8df2309619527295.png">
    </div>
  </header>

  <section id="SubCabecario" class="sc-align-middle">
    <button ng-click="novoClick = !novoClick" class="sc-m-r-lg sc-btn sc-btn-awesomeness sc-btn-blue">
      <div class="sc-btn-icon"><i class="sc-icon sc-icon-mais-1"></i></div>
      <div class="sc-btn-text">Cadastrar Novo</div>
    </button>
    <div style="display: inline-table;">
      <div class="sc-input-group">
        <input type="text" class="sc-input-default "/>
        <i class="sc-icon sc-icon-lupa-2 sc-btn sc-btn-blue"></i>
      </div>
    </div>
    <button ng-click="filterClick = !filterClick" class="filter-top sc-m-l-lg sc-btn"><i class="sc-icon sc-icon-filtro-2"></i></button>
  </section>

  <section ng-show="filterClick" class="filter ng-animation-slider">
    <div class="bloco">
      <div class="conteudo">
        <div class="title">Título</div>
        <input style="width: 25em;" class="sc-text-sm sc-input-default">
      </div>
      <div class="conteudo">
        <div class="title">Prazo</div>
        <input data-input type="date" ng-model="data" style="line-height: 1; width: 25em;" class="sc-input-date sc-text-sm sc-input-default">
      </div>
      <div class="conteudo">
        <div class="title">Data de Criação</div>
        <input data-input type="date2" ng-model="data2" style="line-height: 1; width: 25em;" class="sc-input-date sc-text-sm sc-input-default">
      </div>
      <div class="conteudo">
        <div class="title">atraso</div>
        <input style="width: 5em;" class="sc-text-sm sc-input-default">
      </div>
      <div class="conteudo">
        <div class="title">Tipo</div>
        <select style="width: 10em;" class="sc-text-sm sc-input-default">
          <option>Limpeza</option>
          <option>Obra</option>
          <option>Manutenção</option>
          <option>Outros</option>
        </select>
      </div>
      <div class="conteudo">
        <div class="title">Status</div>
        <select style="width: 10em;" class="sc-text-sm sc-input-default">
          <option>Todas</option>
          <option>Aberta</option>
          <option>Concluída</option>
          <option>Cancelada</option>
        </select>
      </div>
    </div>
    <div class="clear"></div>
    <div style="float: right;" class="sc-m-t-lg">
      <button class="sc-btn sc-btn-blue">Aplicar</button>
      <button class="sc-btn sc-btn-red">Limpar busca</button>
      <button class="sc-btn"><i class="sc-icon sc-icon-impressora"></i></button>
    </div>
  </section>

  <section id="listagem">
    <ul class="sc-accordion sc-text-blue">
      <li ng-init="openModal(addNew)" ng-show="novoClick">
        <div style="{{addNew.bgColorAcc}}" class="accordionConf sc-accordion-head">
          <div ng-click="openModal(addNew)" style="{{addNew.txtColor}} {{addNew.bColor}}" class="sc-accordion-icon-col sc-divider align-xs-center">
            <i class="sc-icon sc-icon-seta-11-direita sc-transition" ng-class="{ 'sc-icon-seta-11-baixo':addNew.opened }"></i>
          </div>
          <div ng-click="openModal(addNew)" style="{{addNew.txtColor}}" class="sc-accordion-elastic-col title">
            <span>#01 Nova Tarefa</span>
            <span class="description"><span>Criado por:</span> Síndico em 05/05/2015 às 16:19</span>
            <span class="description"><span>prazo:</span> 14/05/2015</span>
          </div>
        </div>
        <div style="overflow: auto;" id="accOpend" ng-show="addNew.opened" class="sc-accordion-body ng-animation-slider">
          <div class="bloco">
            <h1>Cadastro</h1>
            <div class="infoMae">
              <div class="conteudo">
                <div class="title"><span>Título</span></div>
                <input style="width: 20em;" class="sc-text-sm sc-input-default">
              </div>
              <div class="conteudo">
                <div class="title"><span>Responsável</span></div>
                <div style="display: inline-table">
                  <div class="sc-text-sm sc-input-group">
                    <input style="width: 20em;" class="sc-input-default "/>
                    <i class="sc-icon sc-icon-lupa-2 sc-btn sc-btn-blue"></i>
                  </div>
                </div>
              </div>
              <div class="conteudo">
                <div class="title"><span>Tipo</span></div>
                <div>
                  <select style="width: 10em;" class="sc-text-sm sc-input-default">
                    <option></option>
                    <option ng-repeat="addNew2 in listaTipo">{{addNew2.name}}</option>
                  </select>
                </div>
              </div>
              <div class="conteudo">
                <div class="title"><span>Início</span></div>
                <input sc-date-input ng-model="data1" style="width: 12em; line-height: 1;" class="sc-text-sm sc-input-default">
              </div>
              <div class="conteudo">
                <div class="title"><span>Previsão</span></div>
                <input sc-date-input ng-model="data2" style="width: 12em; line-height: 1;" class="sc-text-sm sc-input-default">
              </div>
              <div class="conteudo">
                <div class="title"><span>Moradores visualizam ?</span></div>
                <label >
                  <span class="sc-toggle" >
                    <input type="checkbox" />
                    <span label-true="sim" label-false="não"></span>
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div class="bloco">
            <h1>Pessoas Encarregadas</h1>
            <div class="infoMae2">
              <div class="conteudo">
                <div class="title"><span>Nome</span></div>
                <div style="display: inline-table">
                  <div class="sc-text-sm sc-input-group">
                    <input ng-click="addInput = true" style="width: 20em;" class="sc-input-default "/>
                    <i class="sc-icon sc-icon-lupa-2 sc-btn sc-btn-blue"></i>
                  </div>
                </div>
              </div>
              <div class="conteudo">
                <div class="title"><span>Cargo</span></div>
                <input ng-click="addInput = true" style="width: 20em;" class="sc-text-sm sc-input-default "/>
              </div>
              <div class="clear"></div>
              <div ng-show="addInput" class="sc-m-t-lg conteudo">
                <div class="title"><span>Nome</span></div>
                <div style="display: inline-table">
                  <div class="sc-text-sm sc-input-group">
                    <input style="width: 20em;" class="sc-input-default "/>
                    <i class="sc-icon sc-icon-lupa-2 sc-btn sc-btn-blue"></i>
                  </div>
                </div>
              </div>
              <div ng-show="addInput" class="conteudo">
                <div class="title"><span>RG/CPF</span></div>
                <input style="width: 20em;" class="sc-text-sm sc-input-default "/>
              </div>
            </div>
          </div>
          <div class="bloco">
            <h1>Materiais e Serviços</h1>
            <div class="infoMae2">
              <div class="conteudo">
                <div class="title"><span>Título</span></div>
                <div style="display: inline-table">
                  <div class="sc-text-sm sc-input-group">
                    <input ng-click="addInput2 = true" style="width: 20em;" class="sc-input-default "/>
                    <i class="sc-icon sc-icon-lupa-2 sc-btn sc-btn-blue"></i>
                  </div>
                </div>
              </div>
              <div class="conteudo">
                <div class="title"><span>Valor</span></div>
                <input ng-click="addInput2 = true" style="width: 20em;" class="sc-text-sm sc-input-default "/>
              </div>
              <div class="clear"></div>
              <div ng-show="addInput2" class="sc-m-t-lg conteudo">
                <div class="title"><span>Título</span></div>
                <div style="display: inline-table">
                  <div class="sc-text-sm sc-input-group">
                    <input style="width: 20em;" class="sc-input-default "/>
                    <i class="sc-icon sc-icon-lupa-2 sc-btn sc-btn-blue"></i>
                  </div>
                </div>
              </div>
              <div ng-show="addInput2" class="conteudo">
                <div class="title"><span>Valor</span></div>
                <input style="width: 20em;" class="sc-text-sm sc-input-default "/>
              </div>
            </div>
          </div>
          <div class="pull-right">
            <button class="sc-btn sc-btn-red">Cancelar</button>
            <button class="sc-btn sc-btn-green">Salvar</button>
          </div>
        </div>
      </li>
      <li ng-init="init(lista)" ng-repeat="lista in tarefas">
        <div style="{{lista.bgColorAcc}}" class="accordionConf sc-accordion-head">
          <div ng-click="openModal(lista)" style="{{lista.txtColor}} {{lista.bColor}}" class="sc-accordion-icon-col sc-divider align-xs-center">
            <i class="sc-icon sc-icon-seta-11-direita sc-transition" ng-class="{ 'sc-icon-seta-11-baixo':lista.opened }"></i>
          </div>
          <div ng-click="openModal(lista)" style="{{lista.txtColor}}" class="sc-accordion-elastic-col title">
            <span>#{{lista.id}} {{lista.name}}</span>
            <span class="description"><span>Criado por:</span> {{lista.description}}</span>
            <span class="description">
              <span>prazo:</span> {{lista.prazo}} |
              <span> Conclusão:</span> {{lista.conclusao}}
              <span> Atraso:</span> {{lista.atraso}}
            </span>
          </div>
          <div style="width: 9em;" class="sc-cursor-default sc-accordion-icon-col align-xs-center">
            <label class="labelDesck" style="margin-top: 1em;">
              <span class="sc-toggle" >
                <input type="checkbox" ng-model="lista.situacao" />
                <span label-true="Aberta" label-false="Cancelada"></span>
              </span>
            </label>
            <label ng-click="lista.situacao = !lista.situacao" class="sc-cursor-pointer labelMobil" style="margin-top: 1em;" ng-class="{ 'sc-bg-red':!lista.situacao, 'sc-bg-green':lista.situacao }">
            </label>
          </div>
          <div style="{{lista.txtColor}} {{lista.bColor}}" class="sc-cursor-default menu2 sc-accordion-icon-col align-xs-center">
            <a ng-click="openMenu = !openMenu">
              <div class="circleHover"></div>
              <i class="iconMenu2 sc-icon sc-icon-reticiencias-v"></i>
            </a>
            <ul ng-show="openMenu">
              <li ng-click="lista.edit = !lista.edit" style="margin-right: 0;"><a href="#">Editar</a></li>
              <li style="margin-right: 0;"><a href="#">Excluir</a></li>
              <li style="margin-right: 0;"><a href="#">Imprimir</a></li>
            </ul>
          </div>
        </div>
        <div id="accOpend" ng-show="lista.opened" class="sc-accordion-body ng-animation-slider">
          <div class="bloco">
            <h1>Cadastro</h1>
            <div class="infoMae">
              <div class="conteudo">
                <div class="title"><span>Título</span></div>
                <div ng-hide="lista.edit" class="description">{{lista.name}}</div>
                <input ng-show="lista.edit" style="width: 20em;" ng-model="lista.name" class="sc-text-sm sc-input-default">
              </div>
              <div class="conteudo">
                <div class="title"><span>Responsável</span></div>
                <div ng-hide="lista.edit" class="description">{{lista.responsavel}}</div>
                <div ng-show="lista.edit" style="display: inline-table">
                  <div class="sc-text-sm sc-input-group">
                    <input style="width: 20em;" ng-model="lista.responsavel" class="sc-input-default "/>
                    <i class="sc-icon sc-icon-lupa-2 sc-btn sc-btn-blue"></i>
                  </div>
                </div>
              </div>
              <div class="conteudo">
                <div class="title"><span>Tipo</span></div>
                <div ng-hide="lista.edit" class="description">{{lista.tipo}}</div>
                <div ng-show="lista.edit">
                  <select style="width: 10em;" ng-model="lista.tipo" class="sc-text-sm sc-input-default">
                    <option ng-repeat="lista2 in listaTipo">{{lista2.name}}</option>
                  </select>
                </div>
              </div>
              <div class="conteudo">
                <div class="title"><span>Início</span></div>
                <div ng-hide="lista.edit" class="description">{{lista.inicio | date: 'dd/MM/yyyy'}}</div>
                <input ng-show="lista.edit" sc-date-input ng-model="lista.inicio" style="width: 12em; line-height: 1;" class="sc-text-sm sc-input-default">
              </div>
              <div class="conteudo">
                <div class="title"><span>Previsão</span></div>
                <div ng-hide="lista.edit" class="description">{{lista.previsao | date: 'dd/MM/yyyy'}}</div>
                <input ng-show="lista.edit" sc-date-input ng-model="lista.previsao" style="width: 12em; line-height: 1;" class="sc-text-sm sc-input-default">
              </div>
              <div ng-show="lista.edit" class="conteudo">
                <div class="title"><span>Moradores visualizam ?</span></div>
                <label >
                  <span class="sc-toggle" >
                    <input type="checkbox" ng-model="lista.vista" />
                    <span label-true="sim" label-false="não"></span>
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div class="bloco">
            <h1>Pessoas Encarregadas</h1>
            <div class="infoMae2" ng-repeat="lista2 in lista.pessoasEncarregadas">
              <div ng-show="lista2.name" class="conteudo">
                <div class="title"><span>Nome</span></div>
                <div ng-hide="lista.edit" class="description">{{lista2.name}}</div>
                <div ng-show="lista.edit" style="display: inline-table">
                  <div class="sc-text-sm sc-input-group">
                    <input style="width: 20em;" ng-model="lista2.name" class="sc-input-default "/>
                    <i class="sc-icon sc-icon-lupa-2 sc-btn sc-btn-blue"></i>
                  </div>
                </div>
              </div>
              <div ng-show="lista2.cargo" class="conteudo">
                <div class="title"><span>Cargo</span></div>
                <div ng-hide="lista.edit" class="description">{{lista2.cargo}}</div>
                <input ng-show="lista.edit" style="width: 20em;" ng-model="lista2.cargo" class="sc-text-sm sc-input-default "/>
              </div>
              <div ng-show="lista2.rgCpf" class="conteudo">
                <div class="title"><span>RG/CPF</span></div>
                <div ng-hide="lista.edit" class="description">{{lista2.rgCpf}}</div>
                <input ng-show="lista.edit" style="width: 20em;" ng-model="lista2.rgCpf" class="sc-text-sm sc-input-default "/>
              </div>
              <div class="clear"></div>
              <div ng-show="lista.edit" class="sc-m-t-lg conteudo">
                <div class="title"><span>Nome</span></div>
                <div style="display: inline-table">
                  <div class="sc-text-sm sc-input-group">
                    <input style="width: 20em;" class="sc-input-default "/>
                    <i class="sc-icon sc-icon-lupa-2 sc-btn sc-btn-blue"></i>
                  </div>
                </div>
              </div>
              <div ng-show="lista.edit && lista2.cargo" class="conteudo">
                <div class="title"><span>Cargo</span></div>
                <input style="width: 20em;" class="sc-text-sm sc-input-default "/>
              </div>
              <div ng-show="lista.edit && lista2.rgCpf" class="conteudo">
                <div class="title"><span>RG/CPF</span></div>
                <input style="width: 20em;" class="sc-text-sm sc-input-default "/>
              </div>
              <hr ng-show="$index < lista.pessoasEncarregadas.length-1" />
            </div>
          </div>
          <div class="bloco">
            <h1>Materiais e Serviços</h1>
            <div class="infoMae2" ng-repeat="lista2 in lista.materiasServicos">
              <div class="conteudo">
                <div class="title"><span>Título</span></div>
                <div ng-hide="lista.edit" class="description">{{lista2.titulo}}</div>
                <div ng-show="lista.edit" style="display: inline-table">
                  <div class="sc-text-sm sc-input-group">
                    <input style="width: 20em;" ng-model="lista2.titulo" class="sc-input-default "/>
                    <i class="sc-icon sc-icon-lupa-2 sc-btn sc-btn-blue"></i>
                  </div>
                </div>
              </div>
              <div class="conteudo">
                <div class="title"><span>Valor</span></div>
                <div ng-hide="lista.edit" class="description">R$  {{lista2.valor}}</div>
                <input ng-show="lista.edit" style="width: 20em;" ng-model="lista2.valor" class="sc-text-sm sc-input-default "/>
              </div>
              <div class="clear"></div>
              <div class="sc-m-t-lg conteudo">
                <div class="title"><span>Título</span></div>
                <div style="display: inline-table">
                  <div class="sc-text-sm sc-input-group">
                    <input style="width: 20em;" class="sc-input-default "/>
                    <i class="sc-icon sc-icon-lupa-2 sc-btn sc-btn-blue"></i>
                  </div>
                </div>
              </div>
              <div ng-show="lista.edit" class="conteudo">
                <div class="title"><span>Valor</span></div>
                <input style="width: 20em;" class="sc-text-sm sc-input-default "/>
              </div>
            </div>
          </div>
          <div class="bloco">
            <h1>Registro de atividades</h1>
            <div class="infoMae3">
              <div class="caixaMensagem">
                <div class="title">Comente aqui:</div>
                <textarea rows="4" class="sc-input-default sc-text-sm"></textarea>
                <div class="button">
                  <button class="sc-btn sc-btn-blue"><i class="sc-m-r-md sc-icon sc-icon-comentario"></i>Enviar comentário</button>
                </div>
              </div>
              <div class="conteudo" ng-repeat="lista2 in lista.comentarios">
                <div class="imgIcon"><img ng-show="lista2.img" src="{{lista2.img}}"> <i ng-show="!lista2.img" class="sc-icon sc-text-white {{lista2.bg}} {{lista2.icon}}"></i></div>
                <div class="comentario">
                  <div class="id">
                    <div  class="efect">
                      <div class="circulo"></div>
                      <i class="lixeira sc-icon sc-icon-lixeira-1"></i>
                    </div>
                    {{lista2.name}}
                  </div>
                  <div class="texto">{{lista2.comentario}}</div>
                  <div class="texto">{{lista2.status}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>

</body>
