@font-face {
  font-family: 'sc-icons';
  font-weight: normal;
  src: font-url('https://dl.dropboxusercontent.com/u/3330376/uikit/sc-icons.woff') format('woff');
}

header {
  background: #2590d9;
  background: -ms-linear-gradient(top, #2590d9 0%, #135ca6 30%);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(30%, #2590d9), color-stop(100%, #135ca6));
  background: -webkit-linear-gradient(top, #2590d9 30%, #135ca6);
  border-bottom: 1px solid #000000;
}

header .logo img {
  width: 9em;
}

#SubCabecario {
  display: flex;
  padding: .8em;
  background-color: #dddddd;
  width: 100%;
  border-bottom: 1px solid #000000;
  .sc-input-group input {
    width: 15em;
  }
}

#listagem {
  ul li .labelMobil {
    display: none;
  }
  padding-top: .8em;
  .description span {
    font-weight: bold;
  }
  .menu2 {
    position: relative;
    text-align: center;
    margin: 1em auto;
    .openCss:target {
      display:none;
    }
    a {
      color: #000000;
      text-decoration: none;
      cursor: pointer;
      padding: .5em;
      position: relative;
      .iconMenu2 {
        color: #adadad;
      }
      .circleHover {
        width: 2em;
        height: 2em;
        position: absolute;
        top: 0;
        left: -.4em;
        border-radius: 50%;
        background-color: rgba(0,0,0,.1);
        transition-duration: 250ms;
        transform: scale(0);
      }
    }
    a:hover {
      .iconMenu2 {
        color: #000;
      }
      .circleHover {
        transform: scale(1);
      }
    }
    ul {
      z-index: 1;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      background-color: #FFFFFF;
      border-radius: .3em;
      border: .1em solid #CCCCCC;
      position: absolute;
      text-align: center;
      background-clip: padding-box;
      margin-top: .3em;

      transition: height 350ms ease, width 450ms ease;
      overflow: hidden;
      right: 0;
      height: 7.38em;
      width: 6em;
      margin-right: .3em;
      opacity: 1;

      li {
        transition-duration: 500ms;
        padding: .3em 0;
        width: 8em;
        text-align: left;
        a {
          color: #4C4C4C;
          font-family: roboto;
        }
      }
      li:first-child {
        margin-top: .5em;
      }
      li:last-child {
        margin-bottom: .5em;
      }
      li:hover {
        color: #000000;
        background-color: rgba(0,0,0,.1);
      }
    }
  }
  ul.ng-hide {
    height: 0;
    width: 0;
  }
  #accOpend {
    padding: .8em;
    .bloco {
      color: #0168af;
      border-radius: .5em;
      padding: .8em;
      margin-bottom: .8em;
      overflow: auto;
      background-color: #F7F7F9;
      h1 {
        margin-top: 0;
        font-size: 1.4em;
        font-weight: bold;
      }
      .infoMae {
        .conteudo {
          display: inline-table;
          margin-right: 1em;
          .title {
            font-weight: bold;
          }
          .description {
            color: #000;
          }
          :last-child {
            margin: 0;
          }
        }
      }
      .infoMae2 {
        margin-top: .8em;
        .conteudo {
          display: inline-table;
          margin-right: 1em;
          .title {
            font-weight: bold;
          }
          .description {
            color: #000;
          }
          :last-child {
            margin: 0;
          }
        }
      }
      .infoMae3 {
        margin-top: .8em;
        .caixaMensagem {
          .title {
            font-weight: bold;
          }
          textarea {
            width: 100%;
          }
          .button {
            margin-top: .8em;
            margin-bottom: .8em;
            .anexoMae {
              display: inline-block;
              .anexo {
                z-index: 0;
              }
              .file {
                cursor: pointer;
                position: absolute;
                z-index: 1;
                width: 10.5em;
                height: 2.5em;
                opacity: 0;
              }
              :hover .anexo {
                background-color: #454a4e;
                filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF454A4E', endColorstr='#FF51575C');
                background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #454a4e), color-stop(99%, #51575c));
                background-image: -webkit-linear-gradient(top, #454a4e 0%, #51575c 99%);
                background-image: -moz-linear-gradient(top, #454a4e 0%, #51575c 99%);
                background-image: -o-linear-gradient(top, #454a4e 0%, #51575c 99%);
                background-image: linear-gradient(top, #454a4e 0%, #51575c 99%);
              }
            }
          }
        }
        .conteudo {
          overflow: auto;
          padding: .8em;
          .imgIcon {
            img {
              width: 3.3em;
              margin-right: 1em;
              float: left;
              border: 1px solid #CCCCCC;
              border-radius: 50%;
              background-color: rgba(0,0,0,.2);
            }
            i {
              text-align: center;
              padding-top: .9em;
              width: 3.3em;
              height: 3.3em;
              margin-right: 1em;
              float: left;
              border: 1px solid #CCCCCC;
              border-radius: 50%;
            }
          }
          .comentario {
            .id {
              display: flex;
              font-weight: bold;
              color: #7d858c;
              span {
                margin-top: .5em;
                font-size: 1.2em;
              }
              button {
                margin-top: .2em;
                height: 1em;
              }
              .efect {
                cursor: pointer;
                .lixeira {
                  position: relative;
                  margin-right: .5em;
                }
                .circulo {
                  margin-left: .5em;
                  margin-top: .5em;
                  transition-duration: 500ms;
                  position: absolute;
                  border-radius: 50%;
                  background-color: rgba(0,0,0,0.2);
                }
              }
              .efect:hover {
                .lixeira {
                  color: #c74848;
                }
                .circulo {
                  padding: 1em;
                  margin-left: -.57em;
                  margin-top: -.3em;
                }
              }
            }
            .texto {
              color: #7d858c;
            }
          }
          .ng-animate {
            transition-duration: 0s;
          }
          .ng-hide {
            opacity: .4;
          }
          .ng-hide-add {
            opacity: .6;
          }
        }
        .conteudo:nth-child(even) {
          background-color: #cfe1f2;
        }
        .conteudo:nth-child(odd) {
          background-color: transparent;
        }
        .conteudo2 {
          overflow: auto;
          padding: .8em;
          .imgIcon {
            img {
              width: 3.3em;
              margin-right: 1em;
              float: left;
              border: 1px solid #CCCCCC;
              border-radius: 50%;
              background-color: rgba(0,0,0,.2);
            }
            i {
              text-align: center;
              padding-top: .9em;
              width: 3.3em;
              height: 3.4em;
              top:50%;
              left:50%;
              margin-top:-50px;
              margin-left:-50px;
              margin-right: 1em;
              float: left;
              border: 1px solid #CCCCCC;
              border-radius: 50%;
            }
          }
          .comentario {
            .id {
              display: flex;
              font-weight: bold;
              color: #7d858c;
              span {
                margin-top: .5em;
                font-size: 1.2em;
              }
              button {
                margin-top: .2em;
                height: 1em;
              }
              .efect {
                cursor: pointer;
                .lixeira {
                  position: relative;
                  margin-right: .5em;
                }
                .circulo {
                  margin-left: .5em;
                  margin-top: .5em;
                  transition-duration: 500ms;
                  position: absolute;
                  border-radius: 50%;
                  background-color: rgba(0,0,0,0.2);
                }
                :hover {
                  .lixeira {
                    color: #c74848;
                  }
                  .circulo {
                    padding: 1em;
                    margin-left: -.57em;
                    margin-top: -.3em;
                  }
                }
              }
            }
            .texto {
              color: #7d858c;
            }
          }
          :nth-child(even) {
            background-color: transparent;
          }
          :nth-child(odd) {
            background-color: #cfe1f2;
          }
          .ng-animate {
            transition-duration: 0s;
          }
          .ng-hide {
            opacity: .4;
          }
          .ng-hide-add {
            opacity: .6;
          }
        }
        .ng-animate {
          transition-duration: 350ms;
        }
        .ng-hide {
          opacity: .4;
        }
        .ng-hide-add {
          opacity: .6;
        }
      }
    }
  }
}

.filter {
  padding-bottom: 0;
  margin: .8em .8em 0 .8em;
  color: #0168af;
  border-radius: .5em;
  padding: .8em;
  overflow: auto;
  background-color: #F7F7F9;
  .bloco {
    display: inline-block;
    .conteudo {
      display: inherit;
      margin-right: 1em;
      margin-bottom: 1em;
    }
  }
}

.cadastrarNovo {
  padding-bottom: 0;
  margin: .8em .8em 0 .8em;
  color: #0168af;
  border-radius: .5em;
  padding: .8em;
  overflow: hidden;
  background-color: #F7F7F9;
  .button2 {
    float: right;
  }
  .bloco {
    display: inline-block;
    .conteudo {
      display: inline-block;
      margin-right: 1em;
      margin-bottom: 1em;
      .resize {
        .sc-input-group {
          input {
            width: 20em;
          }
        }
        input {
          width: 10em;
        }
      }
    }
    .resize:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: 480px) {
  #listagem ul li {
    .sc-accordion-icon-col {
      width: 3em !important;
    }
    .labelDesck {
      display: none;
    }
    .labelMobil {
      display: inline-table;
      border-radius: 50%;
      width: 1em;
      height: 1em;
      transition-duration: 500ms;
    }
    .ng-animate {
      opacity: .4;
      width: 1.3em;
      height: 1.3em;
    }
  }
  .cadastrarNovo .bloco {
    .conteudo .resize {
      width: 100%;
      .sc-input-group {
        width: 100%;
        input {
          width: 100%;
        }
      }
    }
    .resize {
      width: 100%;
      input {
        width: 100%;
      }
    }
  }
  #SubCabecario {
    .sc-btn-text {
      display: none;
    }
  }
  .cadastrarNovo .bloco .trio {
    text-align: center;
    .conteudo {
      :first-child {
        float: left;
      }
      :last-child {
        float: right;
        margin-right: 0;
      }
    }
  }
  .cadastrarNovo {
    .button2 {
      float: none;
      text-align: center;
    }
  }
  #listagem #accOpend .bloco .infoMae {
    display: table;
    .conteudo {
      display: inline-table;
      :first-child {
        margin-bottom: .8em;
      }
    }
  }
}

@media (max-width: 410px) {
  .cadastrarNovo .bloco .trio {
    .conteudo {
      :first-child {
        float: none;
      }
      :last-child {
        float: none;
        margin-right: .8em;
      }
    }
  }

}
