html(ng-app="app" ng-controller="AppCtrl")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css')
  body.sc-system(style="font-size: 0.9em;")
   
    section#top-menu.sc-p-v-sm.sc-p-h-xl.sc-bg-blue
      img(src="https://www.seucondominio.com.br/assets/institucional/logo-mobile-c07a4de0cd57b02cf5eaffefcda8d48e.png")

    section#top-bar.sc-bg-gray-lighter
      #top-bar-content.sc-p-t-lg.sc-p-r-md.sc-bg-gray-lighter
        .sc-p-l-lg.sc-p-b-md.pull-left
          button.sc-btn.sc-btn-awesomeness(ng-click="actionAlt.newFracao = !actionAlt.newFracao")(ng-class="{'sc-btn-blue':!actionAlt.newFracao}")
            .sc-btn-icon
              i.sc-icon.sc-icon-mais-1
            .sc-btn-text.hidden-sm.hidden-xs
              span Cadastrar Fração
        .sc-p-l-lg.sc-p-b-md.col-xs-10.col-sm-8.col-md-6.col-lg-4
          .sc-input-group
            input.sc-input-default
            i.sc-icon.sc-icon-lupa-2.sc-btn.sc-btn-blue.hidden-xs
            i.sc-icon.sc-icon-filtro-2.sc-btn.sc-btn-blue.foraMPV(ng-class="{'sc-btn-gray':openFilter}" ng-click="openFilter = !actionAlt.newFracao ? !openFilter:false")
            i.sc-icon.sc-icon-.sc-icon-impressora.sc-btn.sc-btn-blue.hidden-xs
        .clear
      
    section#breadcrumb
      .sc-p-h-xl.sc-p-b-md.sc-bg-gray-lighter.sc-text-gray.sc-text-sm
        span.sc-text-blue Início / 
        span Frações

    section#nova-leitura.sc-border-t-gray-light-solid-md.sc-p-t-md.ng-animation-slider(ng-controller="fracoesCtrl", ng-show='actionAlt.newFracao')
      ul.sc-accordion
        li.sc-acc-blue
          .sc-accordion-head
            .sc-accordion-icon-col.sc-divider.align-xs-center
              i.sc-icon.sc-icon-seta-11-baixo
            .sc-accordion-elastic-col.title Nova Fração
          .sc-accordion-doby.sc-m-lg.sc-p-t-md.sc-bg-gray-lighter.sc-border-radius
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Nome
                div
                  input.sc-input-default
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Calcular Fração em
                .sc-btn-group(ng-init="cadastro.seiLa = true")
                  button.sc-btn(ng-class="{ 'sc-btn-blue':cadastro.seiLa }", ng-click='cadastro.valorInformado = false; cadastro.seiLa = true') Valor informado
                  button.sc-btn(ng-class="{ 'sc-btn-blue':cadastro.valorInformado }", ng-click='cadastro.valorInformado = true; cadastro.seiLa = false') ?????????????
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Tipo
                .sc-dropdown(sc-dropdown-menu)(ng-click="menu.toggle()")
                  .sc-btn-group(style="width: 9em;")
                    button.sc-btn Selecione
                    i.sc-icon.sc-icon-seta-5-baixo.sc-btn.sc-btn-blue(ng-click="menu.toggle()")
                  ul.sc-dropdown-menu.ng-animation-slider(style="width: 100%; max-height: 10em;", ng-show="menu.isOn")
                    li
                      a(href="")
                        i.sc-icon.sc-icon-quadrado-1
                        span.sc-p-l-md Outros
                    li
                      a(href="")
                        i.sc-icon.sc-icon-quadrado-1
                        span.sc-p-l-md Lista de tipos
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Unidades
                .sc-dropdown(sc-dropdown-menu)(ng-click="menu.toggle()")
                  .sc-btn-group(style="width: 9em;")
                    button.sc-btn Selecione
                    i.sc-icon.sc-icon-seta-5-baixo.sc-btn.sc-btn-blue(ng-click="menu.toggle()")
                  ul.sc-dropdown-menu.ng-animation-slider(style="max-height: 10em;", ng-show="menu.isOn")
                    li
                      a(href="")
                        i.sc-icon.sc-icon-quadrado-1
                        span.sc-p-l-md Lista de Unidades
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Unidades Isentas
                  i.sc-icon.sc-icon-duvida-2(data-toggle="tooltip" data-placement="top" title="Fara um lançamento no valor que a unidade pagaria para que a mesma seja rateado para as outras unidades participantes")
                .sc-dropdown(sc-dropdown-menu, ng-click="menu.toggle()")
                  .sc-btn-group(style="width: 9em;")
                    button.sc-btn Selecione
                    i.sc-icon.sc-icon-seta-5-baixo.sc-btn.sc-btn-blue(ng-click="menu.toggle()")
                  ul.sc-dropdown-menu.ng-animation-slider(style="max-height: 10em;", ng-show="menu.isOn")
                    li
                      a(href="")
                        i.sc-icon.sc-icon-quadrado-1
                        span.sc-p-l-md Lista de Unidades

            .sc-p-v-lg.sc-p-l-lg.sc-border-t-gray-light-solid-md
              button.sc-btn.sc-btn-green Salvar
              button.sc-btn.sc-btn-red(ng-click="actionAlt.newFracao = false") Cancelar
              
    section#lista-fracao.sc-m-t-lg.ng-animation-slider(ng-hide="actionAlt.newFracao")
      ul.sc-accordion
        li(ng-class="{'sc-acc-blue':fracao.opened}" ng-repeat="fracao in fracoes")
          .sc-accordion-head.sc-text-blue(ng-click="toggleAcc(fracao)")
            .sc-accordion-icon-col.sc-divider.align-xs-center
              i.sc-icon.sc-icon-seta-11-direita.sc-transition(ng-class="{ 'sc-icon-seta-11-baixo':fracao.opened }")
            .sc-accordion-elastic-col.title(ng-class="{'sc-text-red':fracao.null}") {{fracao.title}}
            .sc-accordion-col-3
              .pull-right(sc-stop-click)
                .menu(sc-dropdown-menu)
                  .icon-hover.icon-gray(ng-class="{'active-menu':menu.isOn}" ng-click="menu.toggle()")
                    i.sc-icon.sc-icon-reticiencias-v
                  ul(ng-show="menu.isOn")
                    li(ng-click="fracao.edit = !fracao.edit") Editar
                    li Excluir
          .sc-accordion-doby.sc-m-lg.sc-p-t-md.sc-bg-gray-lighter.sc-border-radius.ng-animation-slider(ng-show="fracao.opened && fracao.edit")
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Nome
                div
                  input.sc-input-default
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Calcular Fração em
                .sc-btn-group(ng-init="cadastro.seiLa = true")
                  button.sc-btn(ng-class="{ 'sc-btn-blue':cadastro.seiLa }", ng-click='cadastro.valorInformado = false; cadastro.seiLa = true') Valor informado
                  button.sc-btn(ng-class="{ 'sc-btn-blue':cadastro.valorInformado }", ng-click='cadastro.valorInformado = true; cadastro.seiLa = false') ?????????????
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Tipo
                .sc-dropdown(sc-dropdown-menu)(ng-click="menu.toggle()")
                  .sc-btn-group(style="width: 9em;")
                    button.sc-btn Selecione
                    i.sc-icon.sc-icon-seta-5-baixo.sc-btn.sc-btn-blue(ng-click="menu.toggle()")
                  ul.sc-dropdown-menu.ng-animation-slider(style="width: 100%; max-height: 10em;", ng-show="menu.isOn")
                    li
                      a(href="")
                        i.sc-icon.sc-icon-quadrado-1
                        span.sc-p-l-md Outros
                    li
                      a(href="")
                        i.sc-icon.sc-icon-quadrado-1
                        span.sc-p-l-md Lista de tipos
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Unidades
                .sc-dropdown(sc-dropdown-menu)(ng-click="menu.toggle()")
                  .sc-btn-group(style="width: 9em;")
                    button.sc-btn Selecione
                    i.sc-icon.sc-icon-seta-5-baixo.sc-btn.sc-btn-blue(ng-click="menu.toggle()")
                  ul.sc-dropdown-menu.ng-animation-slider(style="max-height: 10em;", ng-show="menu.isOn")
                    li
                      a(href="")
                        i.sc-icon.sc-icon-quadrado-1
                        span.sc-p-l-md Lista de Unidades
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Unidades Isentas
                  i.sc-icon.sc-icon-duvida-2(data-toggle="tooltip" data-placement="top" title="Fara um lançamento no valor que a unidade pagaria para que a mesma seja rateado para as outras unidades participantes")
                .sc-dropdown(sc-dropdown-menu, ng-click="menu.toggle()")
                  .sc-btn-group(style="width: 9em;")
                    button.sc-btn Selecione
                    i.sc-icon.sc-icon-seta-5-baixo.sc-btn.sc-btn-blue(ng-click="menu.toggle()")
                  ul.sc-dropdown-menu.ng-animation-slider(style="max-height: 10em;", ng-show="menu.isOn")
                    li
                      a(href="")
                        i.sc-icon.sc-icon-quadrado-1
                        span.sc-p-l-md Lista de Unidades

            .sc-p-v-lg.sc-p-l-lg.sc-border-t-gray-light-solid-md
              button.sc-btn.sc-btn-green Salvar
              button.sc-btn.sc-btn-red(ng-click="fracao.edit = false") Cancelar
          .sc-accordion-doby.ng-animation-slider.sc-m-lg.sc-bg-gray-lighter.sc-border-radius(style="overflow: auto")(ng-show="fracao.opened && !fracao.edit")
            .box(ng-class="{'box-last-child':$index==fracao.unidades.length-1}" ng-repeat="unidade in fracao.unidades")
              .box-info
                .sc-label.sc-m-t-lg Torre 1 - Apt. 101
              .box-info
                .sc-label(ng-class="{'sc-text-red':!unidade.valor}") Valor:
                input.sc-input-default.sc-text-sm(ng-model="unidade.valor", style="width: 70%;")
              .box-info
                .sc-label Proporção:
                span {{unidade.proporcao | number}}
              
            .pull-right.sc-m-lg
              button.sc-btn.sc-btn-green Salvar
