<body style="width: 100%; height: 100%; background-color: #a9b7c4;" ng-app="scApp" ng-controller="controll">

  <header>
    <div class="logo">
      <img src="https://www.seucondominio.com.br/assets/responsivo/logo_seucondominio_branca_80px-d049dcfd41a00dbb8df2309619527295.png">
    </div>
  </header>

  <section id="corpo">
    <div class="perfil">
      <div class="photo">
        <img ng-src="{{usuario.icon}}">
      </div>
      <div class="dadosPerfil">
        <div id="info">
          <div id="titleInfo">Nome</div>
          <div id="infoUser">{{usuario.name}}</div>
          <input ng-show="false" class="medio sc-text-sm sc-input-default">
        </div>
        <div id="info">
          <div id="titleInfo">CPF</div>
          <div id="infoUser">{{usuario.cpf}}</div>
          <input ng-show="false" class="medio sc-text-sm sc-input-default">
        </div>
        <div id="info">
          <div id="titleInfo">RG</div>
          <div id="infoUser">{{usuario.rg}}</div>
          <input ng-show="false" class="medio sc-text-sm sc-input-default">
        </div>
        <div id="info">
          <div id="titleInfo">Endereço</div>
          <div id="infoUser">{{usuario.endereco}}</div>
          <input ng-show="false" class="medio sc-text-sm sc-input-default">
        </div>
        <div id="info">
          <div id="titleInfo">E-Mail</div>
          <div id="infoUser">{{usuario.email}}</div>
          <input ng-show="false" class="medio sc-text-sm sc-input-default">
        </div>
        <div id="info">
          <div id="titleInfo">Telefone 1</div>
          <div id="infoUser">{{usuario.tell1}}</div>
          <input ng-show="false" class="medio sc-text-sm sc-input-default">
        </div>
        <div id="info">
          <div id="titleInfo">Telefone 2</div>
          <div id="infoUser">{{usuario.tell2}}</div>
          <input ng-show="false" class="medio sc-text-sm sc-input-default">
        </div>
      </div>
      <div class="clear"></div>
      <div id="confUser">
        <div class="publicConf">
          <div>Tonar meu perfil público ?</div>
          <label >
           <span class="sc-toggle" >
            <input type="checkbox" ng-model="usuario.public" />
            <span label-true="sim" label-false="não"></span>
           </span>
          </label>
        </div>
        <div class="buttomConf">
          <button class="sc-btn sc-btn-yellow">Editar</button>
          <button class="sc-btn sc-btn-green">Salvar</button>
        </div>
      </div>
    </div>
  </section>

  <section id="listagemInfo" style="margin: 0 .8em">
    <ul class="sc-accordion sc-text-blue">
      <li ng-init="init(cobranca)">
        <div ng-click="openModal(cobranca)" style="{{cobranca.bgColorAcc}}" class="accordionConf sc-accordion-head">
          <div style="{{cobranca.txtColor}} {{cobranca.bColor}}" class="sc-accordion-icon-col sc-divider align-xs-center">
            <i class="sc-icon sc-icon-seta-11-direita sc-transition" ng-class="{ 'sc-icon-seta-11-baixo':cobranca.opened }"></i>
          </div>
          <div style="{{cobranca.txtColor}}" class="sc-accordion-elastic-col title">
            <span>Minhas Cobranças</span>
          </div>
          <div style="width: 10em; {{cobranca.txtColor}} {{cobranca.bColor}}" class="sc-accordion-icon-col align-xs-center">
            <span>{{lista1[0].valorRef}}</span>
          </div>
        </div>
        <div id="accordionOpen" ng-show="cobranca.opened" class="sc-accordion-body ng-animation-slider">
          <div class="conteudoAcc">
            <div class="infoCobranca">
              <div class="caixaInfo">
                <div>Saldo</div>
                <div class="caixaValor">{{lista1[0].saldo}}</div>
              </div>
              <div class="caixaInfo">
                <div>Mês passado: {{lista1[0].mesPassado}}</div>
                <div class="caixaValor">{{lista1[0].valorPassado}}</div>
              </div>
              <div class="caixaInfo">
                <div>Mês de Ref.: {{lista1[0].mesRef}}</div>
                <div class="caixaValor">{{lista1[0].valorRef}}</div>
              </div>
            </div>
            <div class="infoRegistro">
              <div class="caixaRegistro">
                <div>Registros</div>
                <div ng-repeat="lista in lista1[0].registros" class="registroInfo">
                  <span>{{lista.data}} -- {{lista.status}} -- {{lista.taxa}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li ng-init="init(residencia)">
        <div style="{{residencia.bgColorAcc}}" class="accordionConf sc-accordion-head">
          <div ng-click="openModal(residencia)" style="{{residencia.txtColor}} {{residencia.bColor}}" class="sc-accordion-icon-col sc-divider align-xs-center">
            <i class="sc-icon sc-icon-seta-11-direita sc-transition" ng-class="{ 'sc-icon-seta-11-baixo':residencia.opened }"></i>
          </div>
          <div ng-click="openModal(residencia)" style="{{residencia.txtColor}}" class="sc-accordion-elastic-col title">
            <span>Minha Residência</span>
          </div>
        </div>
        <div id="accordionOpen" ng-show="residencia.opened" class="sc-accordion-body ng-animation-slider">
          <div class="conteudoAccNew">
            <div class="caixaTopicos" ng-repeat="lista in lista1[1].informacoes">
              <div class="topo">
                <span class="iconTopo"><img src="{{lista.icon}}"></span>
                <span class="textTopo">{{lista.name}}</span>
              </div>
              <div class="corpoTopico" ng-repeat="lista2 in lista.subInfo">
                <div class="listaFamilia" >
                  <div class="PhotoIcon" ng-show="lista2.icon">
                    <img src="{{lista2.icon}}">
                  </div>
                  <div class="paiConteudo">
                    <div class="conteudo" ng-show="lista2.name"><div class="title">Nome</div><span>{{lista2.name}}</span></div>
                    <div class="conteudo" ng-show="lista2.funcao"><div class="title">Função</div><span>{{lista2.funcao}}</span></div>
                    <div class="conteudo" ng-show="lista2.email"><div class="title">E-mail</div><span>{{lista2.email}}</span></div>
                    <div class="conteudo" ng-show="lista2.tell"><div class="title">Telefone</div><span>{{lista2.tell}}</span></div>
                    <div class="conteudo" ng-show="lista2.rg"><div class="title">RG</div><span>{{lista2.rg}}</span></div>
                    <div class="conteudo" ng-show="lista2.cpf"><div class="title">CPF</div><span>{{lista2.cpf}}</span></div>
                    <div class="conteudo" ng-show="lista2.marca"><div class="title">Marca</div><span>{{lista2.marca}}</span></div>
                    <div class="conteudo" ng-show="lista2.modelo"><div class="title">Modelo</div><span>{{lista2.modelo}}</span></div>
                    <div class="conteudo" ng-show="lista2.cor"><div class="title">Cor</div><span>{{lista2.cor}}</span></div>
                    <div class="conteudo" ng-show="lista2.placa"><div class="title">Placa</div><span>{{lista2.placa}}</span></div>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li ng-init="init(lista)" ng-repeat="lista in lista2">
        <div style="{{lista.bgColorAcc}}" class="accordionConf sc-accordion-head">
          <div ng-click="openModal(lista)" style="{{lista.txtColor}} {{lista.bColor}}" class="sc-accordion-icon-col sc-divider align-xs-center">
            <i class="sc-icon sc-icon-seta-11-direita sc-transition" ng-class="{ 'sc-icon-seta-11-baixo':lista.opened }"></i>
          </div>
          <div ng-click="openModal(lista)" style="{{lista.txtColor}}" class="sc-accordion-elastic-col title">
            <span>{{lista.name}}</span>
          </div>
          <div ng-click="teste()" style="{{lista.txtColor}} {{lista.bColor}}" class="impressora sc-accordion-icon-col sc-divider align-xs-center">
            <div class="circle"></div>
            <i class="sc-icon sc-icon-impressora impressoraHover"></i>
          </div>
        </div>
        <div id="accordionOpen" ng-show="lista.opened" class="sc-accordion-body ng-animation-slider">
          <div class="conteudoAcc3">
            <div ng-repeat="lista2 in lista.subInfo">
              <div class="listaInfo">
                <div class="title">{{lista2.status}}</div>
                <div class="status">{{lista2.subStatus}}</div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>

</body>
