@font-face {
  font-family: 'sc-icons';
  font-weight: normal;
  src: font-url('https://dl.dropboxusercontent.com/u/3330376/uikit/sc-icons.woff') format('woff');
}

header {
  background: #2590d9;
  background: -ms-linear-gradient(top, #2590d9 0%, #135ca6 30%);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(30%, #2590d9), color-stop(100%, #135ca6));
  background: -webkit-linear-gradient(top, #2590d9 30%, #135ca6);
  border-bottom: 1px solid black;
  padding: .5em;
  .logo img {
    width: 10em;
  }
}

#corpo {
  color: #0168af;
  border-radius: .5em;
  margin: .8em;
  padding: .8em;
  overflow: auto;
  background-color: #F7F7F9;
  .perfil {
    .photo {
      margin-right: 1em;
      float: left;
      border: 1px solid #CCCCCC;
      padding: .2em;
      border-radius: .5em;
      background-color: rgba(0,0,0,.2);
    }
    .dadosPerfil {
      #titleInfo {
        padding-left: .3em;
        font-weight: bold;
        border-bottom: 1px solid rgba(0,0,0,.2);
      }
      #infoUser {
        padding-left: .3em;
        color: #000000;
      }
      #info {
        margin: 0 .5em .5em .5em;
        display: inline-table;
      }
    }
    #confUser {
      margin-top: 1em;
      width: 100%;
      .buttomConf {
        margin-top: 1em;
        display: inline-table;
        float: right;
        button:last-child {
          margin-left: 1em;
        }
      }
      .publicConf {
        display: inline-table;
        label {
          margin: 0;
        }
      }
    }
  }
}

#listagemInfo {
  ul {
    li:nth-child(1) .accordionConf {
      border-radius: .5em .5em 0 0;
    }
    li:last-child .accordionConf {
      border-radius: 0 0 .5em .5em;
    }
    li {
      .impressora {
        .circle {
          top: 1.5em;
          right: 1.6em;
          padding: 0;
          border-radius: 50%;
          position: absolute;
          transition-duration: 300ms;
          background-color: #FFFFFF;
        }
        .impressoraHover {
          transition-duration: 500ms;
          opacity: 1;
        }
        :hover {
          .impressoraHover {
            opacity: .8;
            color: #0168af;
          }
          .circle {
            top: .4em;
            right: .7em;
            padding: 1em;
          }
        }
      }
    }
    li #accordionOpen {
      color: #0168af;
      padding: .8em;
      .conteudoAcc { // Minhas Cobranças
        border-radius: .5em;
        padding: .8em;
        overflow: auto;
        background-color: #F7F7F9;
        display: flex;
        .infoCobranca {
          display: flex;
          .caixaInfo {
            text-align: center;
            width: 10em;
            height: 100%;
            background-color: rgba(0,0,0,.1);
            border-radius: .3em;
            border: .1em solid #CCCCCC;
            padding: .8em;
            margin-right: 1em;
            .caixaValor {
              margin: 1em;
              color: #000000;
            }
          }
          .caixaInfo:last-child {
            margin: 0;
          }
        }
        .infoRegistro {
          .caixaRegistro {
            text-align: center;
            width: 25em;
            background-color: rgba(0,0,0,.1);
            border-radius: .36em;
            border: .1em solid #CCCCCC;
            padding: .3em;
            margin-left: 1em;
            .registroInfo span {
              border-bottom: .1em solid #CCCCCC;
              color: #000000;
            }
          }
        }
      }
      .conteudoAccNew { // Minha Residência
        border-radius: .5em;
        padding: .8em;
        overflow: auto;
        background-color: #F7F7F9;
        display: block;
        .caixaTopicos {
          width: 100%;
          margin-top: 1em;
          .topo {
            border-radius: .5em .5em 0 0;
            width: 100%;
            border: .2em solid #CCCCCC;
            padding: .3em;
            background-color: #FFF;
            .textTopo {
              font-size: 1.5em;
              font-weight: bold;
            }
            .iconTopo img {
              width: 2em;
            }
          }
          .corpoTopico {
            overflow: auto;
            background-color: #FFFFFF;
            padding: .8em;
            width: 100%;
            border-width: 0 .2em .1em .2em;
            border-style: solid;
            border-color: #CCCCCC;
            display: block;
            .listaFamilia {
              display: flex;
              background-color: rgba(0,0,0,.1);
              overflow: auto;
              padding: .8em;
              border-radius: .5em;
              .PhotoIcon {
                img {
                  float: left;
                  border: 1px solid #CCCCCC;
                  padding: .2em;
                  border-radius: .5em;
                  background-color: rgba(0,0,0,.2);
                }
              }
              .paiConteudo {
                display: flex;
                .conteudo {
                  margin-left: 1em;
                }
                .conteudo:nth-child(2) {
                  margin-left: 0;
                }
                span {
                  color: #000;
                }
                .title{
                  border-bottom: 1px solid rgba(0,0,0,.2);
                  font-weight: bold;
                }
              }
            }
          }
          .corpoTopico:last-child {
            border-width: 0 .2em .2em .2em;
            border-radius: 0 0 .5em .5em;
          }
        }
        .caixaTopicos:first-child {
          margin-top: 0;
        }
      }
      .conteudoAcc3 { // Restante
        border-radius: .5em;
        padding: .8em;
        overflow: auto;
        background-color: #F7F7F9;
        display: block;
        .listaInfo {
          margin-bottom: .1em;
          border-top-width: 1px;
          border-bottom-width: 1px;
          border-color: #CCCCCC;
          border-style: solid;
          .title {
            font-weight: bold;
            color: #0168af;
          }
          .status {
            color: #000000;
          }
        }
      }
    }
  }
}

@media all and (max-width: 805px) {
  section {
    .perfil .photo {
      margin-bottom: 1em;
    }
    .perfil .dadosPerfil {
      display: block;
    }
  }
}

@media all and (max-width: 877px) {
  #listagemInfo ul li #accordionOpen {
    .conteudoAcc {
      display: block;
      .infoCobranca {
        display: flex;
        .caixaInfo {
          width: 50%;
        }
      }
      .infoRegistro {
        .caixaRegistro {
          width: 100%;
          margin: 0;
          margin-top: 1em;
        }
      }
    }
    .conteudoAccNew .caixaTopicos .corpoTopico {
      .listaFamilia {
        display: block;
        .PhotoIcon img {
          margin-right: 1em;
        }
        .paiConteudo {
          display: block;
          .conteudo {
            margin: 0;
            margin-right: 1em;
            display: inline-table;
          }
        }
      }
    }
  }
}

@media all and (max-width: 513px) {
  #listagemInfo ul li {
    #accordionOpen {
      .conteudoAcc {
        .infoCobranca {
          display: block;
          width: 100%;
          .caixaInfo {
            width: 100%;
            margin: 0;
            margin-top: 1em;
          }
          .caixaInfo:first-child {
            margin-top: 0;
          }
          .caixaInfo:last-child {
            margin-top: 1em;
          }
        }
        .infoRegistro {
          .caixaRegistro {
            width: 100%;
            margin: 0;
            margin-top: 1em;
          }
        }
      }
      .conteudoAccNew .caixaTopicos .corpoTopico {
        .listaFamilia {
          .PhotoIcon {
            display: flex;
            img {
              margin: auto;
            }
          }
          .paiConteudo {
            display: block;
            text-align: center;
            margin-top: 1em;
            .conteudo {
              margin: 0;
              margin-right: 1em;
              display: inline-table;
            }
          }
        }
      }
      .conteudoAcc3 .listaInfo {
        text-align: center;
      }
    }
  }
}
