$alturaTopMenu: 3.75em;

body {margin: $alturaTopMenu 0 0; font-family: roboto;}

* {
  margin: 0;
  padding: 0;
}


.foraMVP {
  color: #FF69B4 !important;
}

.sc-system .tags .sc-dropdown-menu {
  width: 100%;
  left: 0;
  top: auto;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.sc-system {
  transition: padding-top .2s;
  -moz-transition: padding-top .2s;
  -webkit-transition: padding-top .2s;
  .sc-dropdown-menu{
    width: 100%;
    left: 0;
    top: auto;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    & > li{
      &:hover {
        background: #fff;
      }
      & > div {
        padding-left: .5em;
        &:hover {
          background: #86A1BB;
          color: #fff;
        }
        &.marcar-todos {
          background: #86A1BB;
          color: #fff;
          &:hover {
            background: #708498;
            color: #fff;
          }
        }
      }
      & .vertical-align > * {
        display: inline-block;
      }
    }
    & ul {
      & li {
        border-top: 1px solid #ddd;
        background: #eee;
        padding-left: 1em;
        &:hover {
          background: #fff;
        }
      }
    }
    &.sc-dropdown-menu-right {
      width: auto;
      left: auto;
    }
  }
}