html(ng-app='app', ng-controller='LancamentosCtrl')
  head
    title Programação de Cobrança (#2219)
    link(href='../source/font.css' rel='stylesheet' type='text/css')
    link(href="../source/prototype.css" rel='stylesheet' type='text/css')
    link(href="http://codepen.io/dev6-seucondominio/pen/avpxNZ.css" rel='stylesheet' type='text/css')
    link(href="http://codepen.io/dev6-seucondominio/pen/gaXWjX.css" rel='stylesheet' type='text/css')
    link(href="index.css" rel='stylesheet' type='text/css')
  body.sc-system
    section#top-menu.sc-p-v-sm.sc-p-h-xl.sc-bg-blue
      img(src="https://www.seucondominio.com.br/assets/institucional/logo-mobile-c07a4de0cd57b02cf5eaffefcda8d48e.png")

    section#top-bar
      #top-bar-content.sc-p-v-lg.sc-bg-gray-lighter
        .sc-p-l-lg.pull-left
          button.sc-btn.sc-btn-awesomeness(ng-click="!openFilter && novoLancamento()")(ng-class="{'sc-btn-blue':!novoRegistro._new}")
            .sc-btn-icon
              i.sc-icon.sc-icon-mais-1
            .sc-btn-text.hidden-sm.hidden-xs
              span Cadastrar Novo
        .sc-p-l-lg.col-xs-10.col-sm-8.col-md-6.col-lg-4
          .sc-input-group
            input.sc-input-default
            i.sc-icon.sc-icon-lupa-2.sc-btn.sc-btn-blue.hidden-xs
            i.sc-icon.sc-icon-filtro-2.sc-btn.sc-btn-blue(ng-class="{'sc-btn-gray':openFilter}" ng-click="openFilter = !novoRegistro._new ? !openFilter:false")
            i.sc-icon.sc-icon-.sc-icon-impressora.sc-btn.sc-btn-blue.hidden-xs
        .clear
        
        section#filter-bar.sc-border-b-gray-light-solid-md.ng-animation-slider.sc-m-t-lg.ng-cloak(ng-cloak, ng-show='openFilter')
          .filter-bar-campos
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Título
                input.sc-input-default(type='text', ng-model='form.titulo')
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Status
                span.sc-dropdown(sc-dropdown-menu='sc-dropdown-menu')
                  button.sc-btn.sc-btn-blue.sc-dropdown-toggle(type='button', ng-click='menu.toggle()')
                    | Selecione
                    i.sc-icon.sc-icon-fw.sc-icon-seta-5-baixo
                  ul.sc-dropdown-menu.sc-dropdown-menu-right.ng-animation-slider(ng-show='menu.isOn')
                    li(ng-repeat='status in config.status', ng-click='status.active = !status.active')
                      .vertical-align
                        i.sc-icon.sc-icon-fw(ng-class="status.active ? 'sc-icon-visto-4' : 'sc-icon-quadrado-1'")
                        span {{status.nome}}
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Tipo de data:
                select.sc-input-default
                  option
                  option Cobrar a partir de
                  option Geração
                  option Exclusão
                  option Criação
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Data inicial
                input.sc-input-default.sc-input-date(style='line-height: 1;', type='date')
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Pagador
                input.sc-input-default.sc-input-block(ng-model='typeNewProp', typeahead='pag as pag.nome for pag in pesquisar() | filter:$viewValue', typeahead-wait-ms='500', typeahead-on-select='setPagador(typeNewProp); typeNewProp = null', type='text', placeholder='Digite um pagador')
              div(ng-repeat='pag in form.pagadores')
                span.sc-tag.sc-tag-blue
                  span {{pag.pessoa.nome}}
                  i.sc-icon.sc-icon-fechar-1.sc-tag-remove(ng-click='deletePagador(pag)')
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Destinatário
                select.sc-input-default(ng-model='destinatario', ng-options='item for item in config.destinatarios')
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Repetição
                select.sc-input-default
                  option
                  option Semanal
                  option Mensal
                  option Anual
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Data Final
                input.sc-input-default.sc-input-date(style='line-height: 1;', type='date')
          .filter-bar-acoes
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              button.sc-btn.sc-btn-blue.sc-btn-awesomeness
                .sc-btn-icon
                  i.sc-icon.sc-icon-lupa-2
                .sc-btn-text.hidden-xs.hidden-sm Pesquisar
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              button.sc-btn.sc-btn-red.sc-btn-awesomeness(ng-click='openFilter = false')
                .sc-btn-icon
                  i.sc-icon.sc-icon-fechar-1
                .sc-btn-text.hidden-xs.hidden-sm Limpar Busca

    section#breadcrumb
      .sc-p-h-xl.sc-p-b-md.sc-bg-gray-lighter.sc-text-gray.sc-text-sm
        span.sc-text-blue Início  
        span / Financeiro / Lançamentos Programados

    section#barraTotal.sc-p-t-lg.sc-p-r-md(style="width: 100%;" ng-hide="novoRegistro._new")
      .pull-left.sc-p-t-lg
        .sc-p-b-lg.sc-p-l-md.pull-left(ng-hide='teste1')(style="display: table-cell; vertical-align: middle;")
          input.sc-checkbox.sc-checkbox-blue(ng-click='teste1 = !teste1', type='checkbox', ng-model='todasMarcadas')
          span.sc-m-l-md Marcar Todos
        .sc-p-b-lg.sc-p-l-md.pull-left(ng-show='teste1')(style="display: table-cell; vertical-align: middle;")
          input.sc-checkbox.sc-checkbox-blue(ng-click='teste1 = !teste1', type='checkbox', ng-model='todasMarcadas')
          span.sc-m-l-md Desmarcar Todos
      .pull-right
        .sc-p-b-lg.sc-p-l-md.pull-left
          .align-center.sc-p-h-md.sc-border-blue-light-solid-md.sc-border-radius
            .sc-label Total
            span R$ 500,00
        .sc-p-b-lg.sc-p-l-md.pull-left
          .align-center.sc-p-h-md.sc-border-blue-light-solid-md.sc-border-radius
            .sc-label Total Selecionados:
            span R$ 00,00

    section#lancamentos(ng-controller='LancamentoCtrl') 
      section#novo-lancamento.sc-m-t-lg(style='overflow: auto;', ng-if='novoRegistro._new')
        ul.sc-accordion
          li.sc-acc-blue.sc-cursor-default
            .sc-accordion-head
              .sc-accordion-icon-col.sc-divider
                i.sc-icon.sc-icon-seta-11-baixo
              .sc-accordion-elastic-col.title
                .sc-p-xs Novo Lançamento
            .sc-accordion-body.ng-animation-slider(style='overflow: auto;', ng-show='novoRegistro.acc')
              div(ng-init="initForm(novoRegistro)", ng-include="'form.html'")
              
      section#lancamentos(ng-hide='novoRegistro._new')
        ul.sc-accordion
          li.sc-text-blue(ng-init="initForm(pagador)", ng-repeat='pagador in pagadores', ng-class="{'sc-acc-blue': pagador.acc}")
            .sc-accordion-head(ng-click='toggleAccPagadores(pagador)')
              label.sc-accordion-icon-col.sc-divider(sc-stop-click)
                input.sc-checkbox.sc-checkbox-blue(type='checkbox', ng-model='pagador.checked')
              .sc-accordion-elastic-col.title
                .sc-p-md {{pagador.nome}}
              .sc-accordion-col-7.align-right
                span.sc-p-r-md R$800,00
              .sc-accordion-col-3.hidden-xs
                .pull-right(sc-stop-click)
                  .menu(sc-dropdown-menu)
                    .icon-hover.icon-gray(ng-class="{'active-menu':menu.isOn}" ng-click="menu.toggle()")
                      i.sc-icon.sc-icon-reticiencias-v
                    ul(style="width: 8em", ng-show="menu.isOn")
                      li.align-center(ng-click="actionMenu(pagador, item)", ng-repeat="item in config.menu")
                        i.pull-left.sc-p-h-md(class="{{item.icon}}")
                        span {{item.name}}

            .sc-accordion-body.ng-animation-slider.sc-m-lg.sc-border-radius(style="overflow: auto", ng-show='pagador.acc')
              div(ng-include="'form.html'")
      
    script(id='form.html', type='text/ng-template')
      .sc-p-lg(style='overflow: auto;')
        .sc-fieldset
          .sc-cursor-pointer.sc-text-lg(ng-click='form._openCadastro = !form._openCadastro')
            i.sc-m-r-lg.sc-text-sm.sc-icon.sc-icon-seta-11-direita.sc-transition(ng-class="{ 'sc-rotate-90':form._openCadastro }")
            b  Cadastro
          .ng-animation-slider.campos-form.sc-m-t-xxl(ng-show='form._openCadastro')
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Pagador
                input.sc-input-default.sc-input-block(ng-model='typeNewProp', typeahead='pag as pag.nome for pag in pesquisar() | filter:$viewValue', typeahead-wait-ms='500', typeahead-on-select='setPagador(typeNewProp); typeNewProp = null', type='text', placeholder='Digite um pagador')
              div(ng-repeat='pag in form.pagadores')
                span.sc-tag.sc-tag-blue
                  span {{pag.pessoa.nome}}
                  i.sc-icon.sc-icon-fechar-1.sc-tag-remove(ng-click='deletePagador(pag)')
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Destinatário
                select.sc-input-default(ng-model='destinatario', ng-options-='item for item in config.destinatarios')
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Título
                input.sc-input-default(type='text', ng-model='form.titulo')
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label.sc-p-md Rateio
                label
                  span.sc-toggle
                    input(ng-model="rateioCriterio" type="checkbox" checked)
                    span(label-true="Sim", label-false="Não")
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label.align-center Mês de referência
                div(sc-month-picker ng-model="monthPickerDate")
        .sc-fieldset
          .sc-cursor-pointer.sc-text-lg(ng-click='form._openComposicaoC = !form._openComposicaoC')
            i.sc-m-r-lg.sc-text-sm.sc-icon.sc-icon-seta-11-direita.sc-transition(ng-class="{ 'sc-rotate-90':form._openComposicaoC }")
            b  Composição da Cobrança
            button.sc-m-l-lg.sc-btn-sm.sc-btn.sc-btn-blue(sc-stop-click, ng-click='addLancamento()') Adicionar
          .ng-animation-slider.campos-form(ng-show='form._openComposicaoC && form._inputs.length != 0', ng-repeat='numC in form._inputs', ng-class="{ 'sc-m-t-xxl':($index==0) }")
            .sc-align-middle
              .sc-p-l-md.sc-p-b-md
                .sc-label Título
                input.sc-input-default(type='text', ng-model='numC.nome')
              .sc-p-l-md.sc-p-b-md
                .sc-label Valor
                input.sc-input-default(style="width: 10em", ng-model='valor', sc-currency-input='sc-currency-input', type='text')
              .sc-p-l-md.sc-p-b-md(ng-show="trocarPlanoConta")
                .pull-left.sc-label Plano de Contas
                .pull-right
                  .icon-hover.icon-blue
                    i.sc-icon.sc-icon-seta-6-direita-esquerda(ng-click="trocarPlanoConta = ! trocarPlanoConta")
                .clear
                select.sc-input-default(ng-model='planoTeste', ng-init="planoTeste = '1 Ativo'")
                  option(ng-repeat='item in planoDeContas1') {{item.plano}}
              .sc-p-l-md.sc-p-b-md(ng-show="rateioCriterio")
                .sc-label Critério de Rateio
                select.sc-input-default(ng-model='repetir')
                  option(ng-repeat="item in config.criterioRateio", ng-class="{'foraMVP': $index == 4}") {{item}}
              .sc-p-l-md.sc-p-b-md(ng-hide="trocarPlanoConta")
                .pull-left.sc-label Plano de Contas 
                .pull-left
                  .icon-hover.icon-yellow.sc-cursor-default
                    i.sc-icon.sc-icon-exclamacao-3.sc-text-yellow(data-toggle='tooltip', data-placement='top', title='Text Text!')
                .pull-right
                  .icon-hover.icon-blue
                    i.sc-icon.sc-icon-seta-6-direita-esquerda(ng-click="trocarPlanoConta = ! trocarPlanoConta")
                .clear
                select.sc-input-default.error(ng-model='planoTeste')
                  option(ng-repeat='item in planoDeContas2') {{item.plano}}
              .sc-p-l-md.sc-p-b-md
                button.sc-btn.sc-m-t-xxxl(ng-click='numC.subComp = !numC.subComp', ng-class="{ 'sc-btn-yellow':numC.subComp }") Sub-composição
                .pull-right
                  .icon-hover.icon-red(style='top: 1.4em;', ng-click='removeLancamento(numC)')
                    i.sc-icon.sc-icon-lixeira-1
            hr(ng-show='form._inputs.length > 1 || numC.subComp')
            .sc-m-l-xl.ng-animation-slider(ng-show='numC.subComp')
              .sc-text-md
                b Sub-Composição
                button.sc-m-l-lg.sc-btn.sc-btn-blue.sc-text-sm(ng-click='addLancamentoSub(numC)') Adicionar
              .clear
              .sc-m-t-md
                .sc-align-middle
                  .sc-p-l-md.sc-p-b-md(style="width: 14.6em;")
                    .sc-label(ng-hide='$index != 0 && numC.subComposicao.length > 1') Título
                  .sc-p-l-md.sc-p-b-md
                    .sc-label(ng-hide='$index != 0 && numC.subComposicao.length > 1') Valor
              .listaSub(ng-repeat='subCompVar in numC.subComposicao')
                .sc-align-middle
                  .sc-p-l-md.sc-p-b-md
                    input.sc-input-default(type='text', ng-model='subCompVar.nome')
                  .sc-p-l-md.sc-p-b-md
                    input.sc-input-default(style="width: 10em", ng-model='subCompVar.valor', sc-currency-input='sc-currency-input', type='text')
                  .sc-p-l-md.sc-p-b-md
                    .pull-right
                      .icon-hover.icon-red(ng-click='removeLancamentoSub(numC.subComposicao, subComp)')
                        i.sc-icon.sc-icon-lixeira-1
              hr
            .clear
          .ng-animation-slider.campos-form.sc-m-t-xxl(ng-show='form._inputs.length == 0')
            p.sc-text-gray 
              i.sc-icon.sc-icon-exclamacao-3
              span  Não há lançamento
        .sc-fieldset
          .sc-cursor-pointer.sc-text-lg(ng-click='form._openProgramacao = !form._openProgramacao')
            i.sc-m-r-lg.sc-text-sm.sc-icon.sc-icon-seta-11-direita.sc-transition(ng-class="{ 'sc-rotate-90':form._openProgramacao }")
            b  Programação da Cobrança
          .ng-animation-slider.campos-form.sc-m-t-xxl(ng-show='form._openProgramacao')
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label 1º Vencimento
                input.sc-input-default.sc-input-date(type='date', style='line-height: 1;', ng-model='form.bomPara')
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Repetir
                select.sc-input-default(ng-model='repetir', ng-options='item for item in config.repeticao')
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Modo de repetição
                select.sc-input-default(ng-model='modRepetir')
                  option(ng-class="{'foraMVP':item.fMvp}" value="{{item.id}}", ng-repeat='item in config.modRepeticao') {{item.name}}
            .sc-p-l-md.sc-p-b-md.sc-align-bottom(ng-show="modRepetir == 0 || modRepetir == 3")
              label
                .sc-label Quantidade
                input.sc-input-default(type='number', style="width: 5em;",  ng-click="modRepetir == 3 && addFormParc(form)", ng-keyup="modRepetir == 3 && addFormParc(form)", ng-model="form.qtd")
            .sc-p-l-md.sc-p-b-md.sc-align-bottom(ng-show="modRepetir == 1")
              label
                .sc-label Fim
                input.sc-input-default.sc-input-date(type='date', style='line-height: 1;', ng-model='form.bomPara2')
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Lançar dias antes
                input.sc-input-default(type='number', style="width: 5em;")
            .clear
            .ng-animation-slider.listaParcelado.sc-m-t-lg(ng-show="form.qtd > 0 && modRepetir == 3")
              .listing-title.sc-align-middle
                .sc-p-l-md.sc-p-b-md(style="width: 4.2em")
                  .sc-label.align-center Parcela
                .sc-p-l-md.sc-p-b-md(style="width: 11.8em")
                  .sc-label Vencimento
                .sc-p-l-md.sc-p-b-md
                  .sc-label Valor
              .clear
              .listing-body(ng-repeat="parcela in form.parcelados")
                .sc-align-middle(ng-class="{'sc-text-gray':parcela.disable}")
                  .sc-p-l-md.sc-p-b-md(style="width: 4.2em")
                    .align-center {{$index+1}}/{{form.parcelados.length}}
                  .sc-p-l-md.sc-p-b-md
                    input.sc-input-default.sc-input-date(type="date", ng-disabled="parcela.disable", ng-model="hoje")
                  .sc-p-l-md.sc-p-b-md
                    span R$ 
                    input.sc-input-default(style="width: 10em", ng-disabled="parcela.disable", sc-currency-input='sc-currency-input', ng-model="form.valor")
                  .sc-p-l-md.sc-p-b-md
                    .icon-hover(ng-class="{'icon-red':!parcela.disable, 'icon-green':parcela.disable}", ng-click="parcela.disable = !parcela.disable")
                      i.sc-icon(ng-class="{'sc-icon-banir':!parcela.disable, 'sc-icon-visto-1':parcela.disable}")
                .clear
      .sc-align-middle.sc-p-b-md.sc-p-r-md.right
        .sc-m-l-md.sc-align-bottom(ng-click='form._new = false')
          div
            button.sc-btn.sc-btn-red Cancelar
        .sc-m-l-md.sc-align-bottom
          div
            button.sc-btn.sc-btn-green Salvar

    script(src="../source/prototype.js")
    script(src="../source/modernizr.min.js")
    script(src="index.js" type='text/javascript')
    script(src="http://codepen.io/dev6-seucondominio/pen/avpxNZ.js" type='text/javascript')