@font-face {
  font-family: 'sc-icons';
  font-weight: normal;
  src: font-url('https://dl.dropboxusercontent.com/u/3330376/uikit/sc-icons.woff') format('woff');
}

header {
  background: #2590d9;
  background: -ms-linear-gradient(top, #2590d9 0%, #135ca6 30%);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(30%, #2590d9), color-stop(100%, #135ca6));
  background: -webkit-linear-gradient(top, #2590d9 30%, #135ca6);
  border-bottom: 1px solid #000000;
}

header .logo img {
  width: 9em;
}

.btn-exemplo {
  transition: all 100ms ease-in-out;
  box-shadow: 2px -2px 1px rgba(0,0,0,.4);
  margin-top: .3em;
  border-bottom: 2px solid #59f;
}

.btn-exemplo:hover {
  background: #2590d9;
  background: -ms-linear-gradient(top, #2590d9 0%, #135ca6 30%);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(30%, #2590d9), color-stop(100%, #135ca6));
  background: -webkit-linear-gradient(top, #2590d9 30%, #135ca6);
}

.btn-exemplo:active {
  box-shadow: none;
  position: relative;
  top: 2px;
  border: none;
}

.cardHover {
  background-color: rgba(0,0,0,.2);
}

#card {
  position: relative;
  .min-card {
    width: 5em;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    transition: width 500ms;
    position: absolute;
  }
}

#card:hover .min-card {
  width: 17em;
  #percent {
    background: none;
  }
}

#card3 {
  position: relative;
  .min-card3 {
    border-radius: .3em;
    width: 5.2em;
    height: 106%;
    background: rgba(0, 0, 0, 0.1);
    transition: width 500ms;
    position: absolute;
    top: -3%;
    left: -1%;
  }
}

#card3:hover .min-card3 {
  width: 17em;
  #percent {
    background: none;
  }
}


#card2 {
  color: #FFFFFF;
  position: relative;
  .min-card2 {
    overflow: hidden;
    width: 5em;
    height: 100%;
    background: #c74848;
    transition: width 500ms;
    position: absolute;
  }
}

#card2:hover .min-card2 {
  width: 16.8em;
  #percent {
    background: none;
  }
}
