<body style="width: 100%; height: 100%; background-color: #a9b7c4;" ng-app="scApp" ng-controller="controll">
  <div style="position: fixed; width: 100%; top: 0; z-index: 2; box-shadow: 0px 2px 6px gray;">
    <header class="sc-bg-blue sc-p-lg">
      <div class="logo">
        <img src="https://www.seucondominio.com.br/assets/responsivo/logo_seucondominio_branca_80px-d049dcfd41a00dbb8df2309619527295.png">
      </div>
    </header>

    <!-- Principal INICIO -->
      <nav style="background-color: #dddddd;" class="sc-text-blue sc-p-lg">
        <div class="sc-m-l-md" style="display: inline-table;">
          <div style="display: inline;" class="sc-input-group">
            <select style="width: 20em;" class="sc-input-default">
              <option>Banco do brasil - cc:111111 / ag:1111</option>
            </select>
          </div>
          <div style="display: inline-table;" >
            <div class="sc-input-group">
              <input type="text" style="width: 20em;" class="sc-input-default " />
              <i class="sc-icon sc-icon-lupa-2 sc-btn sc-btn-blue"></i>
            </div>
          </div>
          <button ng-click="retornoModal.open()" class="sc-m-l-lg sc-btn sc-btn-blue"><span>Retorno</span></button>
          <button ng-click="aviso.open()" class="sc-m-l-lg sc-btn sc-btn-red"><span>Retorno</span></button>
        </div>
        <div class="pull-right" sc-year-month-picker ng-model="data"></div>
      </nav>
      <nav style="background-color: #dddddd; border-top: 1px solid gray;" class="sc-text-blue sc-p-sm">
        <div class="sc-m-l-md">
          <span class="sc-text-gray">Início / Financeiro / </span><span style="font-size: 16px;" class="sc-text-bold">Conciliação</span>
          <span ng-click="exemploClick()" class="btn-exemplo pull-right sc-text-sm sc-p-h-sm sc-border-radius sc-cursor-pointer sc-bg-blue sc-text-white sc-m-l-lg">Exemplo</span>
        </div>
      </nav>
    <!-- Principal FIM -->

    <!-- Exemplo -->
      <div ng-show="clikc_s.exemplo" class="sc-p-lg sc-bg-white sc-text-gray ng-animation-slider">
        <div class="sc-m-v-lg">
            <i style="display: inline-table;" class="sc-icon sc-text-lg sc-icon-seta-6-direita-esquerda"></i><h2 style="margin: 0; display: inline-table;">Conciliação</h2>
          </div>
      </div>
    <!-- Exemplo -->
  </div>

  <!-- Modais INICIO -->
    <!-- Aviso INICIO -->
      <div style="width: 35em; overflow: auto;" class="sc-p-md sc-modal active" sc-modal="justifica">
        <div style="padding: 0;" class="sc-text-blue sc-modal-body">
          <div class="sc-modal-header align-center">
            <span>Justificativa de rejeição</span>
          </div>
          <div class="align-center sc-m-xxl">
            <textarea style="width: 100%;" class="sc-text-sm sc-input-default"></textarea>
          </div>
        </div>
        <div class="align-center sc-modal-footer">
          <button ng-click="justifica.close()" class="sc-btn sc-btn-blue">
            <span>Concluir</span>
          </button>
        </div>
      </div>
    <!-- Aviso FIM -->
    <!-- Aviso INICIO -->
      <div style="width: 35em; overflow: auto;" class="sc-p-md sc-modal active" sc-modal="aviso">
        <div style="padding: 0;" class="sc-text-red sc-modal-body">
          <div class="sc-modal-header align-center">
            <span>Erro</span>
          </div>
          <div class="align-center sc-m-xxl">
            Não foi possivel importar o arquivo <span class="sc-text-bold">"retorno.txt"</span>, o arquivo está fora do padrão ou corrompido.
          </div>
        </div>
        <div class="align-center sc-modal-footer">
          <button ng-click="aviso.close()" class="sc-btn sc-btn-blue">
            <span>Sair</span>
          </button>
        </div>
      </div>
    <!-- Aviso FIM -->
    <!-- Retorno INICIO -->
      <div style="width: 35em; overflow: auto;" class="sc-text-blue sc-p-md sc-modal active" sc-modal="retornoModal">
        <div style="padding: 0;" class="sc-text-blue">
          <div class="sc-modal-header align-center">
            <span>Retorno</span>
            <i ng-click="retornoModal.close()" class="pull-right sc-icon sc-icon-fechar-1 sc-text-red"></i>
          </div>
          <div style="max-height: 25em;" class="sc-m-xxl sc-modal-body">
            <div style="overflow: auto; background-color: #F7F7F9;" class="sc-p-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
              <div >
                <div>Anexar aquivos: </div>
                <input style="width: 6.5em;" type="file" />
              </div>
              <div class="sc-m-t-lg">
                <span class="sc-tag sc-tag-blue-lighter">
                  <span>arquivo1.txt</span>
                  <i class="sc-icon sc-icon-fechar-1 sc-tag-remove"></i>
                </span>
                <span class="sc-tag sc-tag-blue-lighter">
                  <span>arquivo2.txt</span>
                  <i class="sc-icon sc-icon-fechar-1 sc-tag-remove"></i>
                </span>
                <span class="sc-tag sc-tag-blue-lighter">
                  <span>arquivo3.txt</span>
                  <i class="sc-icon sc-icon-fechar-1 sc-tag-remove"></i>
                </span>
                <span class="sc-tag sc-tag-yellow">
                  <span>Ver mais</span>
                  <i class="sc-icon sc-icon-mais-1 sc-tag-remove"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="sc-modal-footer">
          <button ng-click="retornoModal.close(); retornoModalAviso.open()" class="sc-btn sc-btn-green">
            <i class="sc-icon sc-icon-seta-9-baixo sc-text-sm"></i>
            <span>Inportar</span>
          </button>
        </div>
      </div>
    <!-- Retorno FIM -->
    <!-- Retorno Aviso INICIO -->
      <div style="width: 35em; overflow: auto;" class="sc-text-blue sc-p-md sc-modal active" sc-modal="retornoModalAviso">
        <div style="padding: 0;" class="sc-text-blue sc-modal-body">
          <div class="sc-modal-header align-center">
            <span>Retorno</span>
            <i ng-click="retornoModalAviso.close()" class="pull-right sc-icon sc-icon-fechar-1 sc-text-red"></i>
          </div>
          <div class="align-center sc-m-xxl">
            Todos os registros foram importados com sucesso!
          </div>
        </div>
        <div class="align-center sc-modal-footer">
          <button ng-click="retornoModalAviso.close()" class="sc-btn sc-btn-blue">
            <span>OK</span>
          </button>
        </div>
      </div>
    <!-- Retorno Aviso FIM -->
  <!-- Modais FIM -->

  <div ng-init="clikc_s.exemploSize = 'margin-top: 11em;'" style="{{clikc_s.exemploSize}}">
    <!-- listagem de previsões INICIO -->
      <section class="sc-text-blue">
        <div>
          <div style="display: flex;" class="pull-left">
            <div style="height: 100%; width: 17em; {{hover.todos}}" ng-click="filtroAvancado = ''" class="sc-bg-gray-lighter sc-m-lg sc-text-blue-dark sc-border-blue-dark-solid-lg sc-cursor-pointer sc-border-radius" ng-mouseleave="hover.todos = ''" ng-mouseover="hover.todos = 'opacity: .7;'">
              <div class="pull-right">
                <i style="margin-right: .3em; font-size: 1.4em; padding: .2em 0 0 .7em;" class="sc-icon sc-icon-arquivo-2"></i>
              </div>
              <div style="display: flex;">
                <div class="sc-text-white sc-bg-blue-dark" style="width: 5em;">
                  <div style="text-align: center; margin: .5em; padding: 1em 0; border-radius: 10em; border: 3px solid white;">100%</div>
                </div>
                <div style="line-height: 1.8em; padding: 0;" class="sc-m-l-lg align-left sc-p-t-xl">
                  <div style="font-size: 3em; margin-top: .3em;" class="sc-text-blue-dark">08</div>
                  <div class="sc-text-black"><span style="font-size: .8em;">Todos os registros</span></div>
                </div>
              </div>
            </div>
            <div id="card3" style="height: 100%; width: 17em; {{hover.sucesso}}" ng-click="filtroAvancado = 'sucesso'" class="sc-text-green sc-bg-gray-lighter sc-m-lg sc-border-green-solid-lg sc-cursor-pointer sc-border-radius">
              <div class="min-card3"></div>
              <div class="pull-right">
                <i style="margin-right: .3em; font-size: 1.4em; padding: .2em 0 0 .7em;" class="sc-icon sc-icon-visto-1"></i>
              </div>
              <div style="display: flex;">
                <div class="sc-bg-green sc-text-white" style="width: 5em;">
                  <div style="text-align: center; margin: .5em; padding: 1em 0; border-radius: 10em; border: 3px solid white; border-color: white white white #CCC">75%</div>
                </div>
                <div style="line-height: 1.8em; padding: 0;" class="sc-m-l-lg align-left sc-p-t-xl">
                  <div style="font-size: 3em; margin-top: .3em;" class="sc-text-bold sc-text-green">06</div>
                  <div style="position: absolute;" class="sc-text-black"><span style="font-size: .8em;">Importados com sucesso</span></div>
                </div>
              </div>
            </div>

            <div id="card2" style="width: 17em;" ng-click="filtroAvancado = 'erro'" class="sc-bg-gray-lighter sc-m-lg sc-border-red-solid-lg sc-cursor-pointer sc-border-radius">
              <div class="min-card2">
                <div style="margin-left: 5.8em; color: #FFF; z-index: 1; line-height: 1.8em; padding: 0;" class="sc-m-l-lg align-left sc-p-t-xl">
                  <div style="font-size: 3em; margin-top: .3em; color: #FFF;" class="sc-text-bold sc-text-red">02</div>
                  <div class="sc-text-black" style="color: #FFF;"><span style="font-size: .8em;">Importados com  erro</span></div>
                </div>
                <i style="z-index: 1; top: -3.23em; left: 10.7em; margin-right: .3em; font-size: 1.4em; padding: .2em 0 0 .7em; color: #FFF;" class="sc-p-md sc-text-red sc-text-xxxl sc-icon sc-icon-exclamacao-1"></i>
              </div>
              <div class="pull-right">
                <i style="margin-right: .3em; font-size: 1.4em; padding: .2em 0 0 .7em;" class="sc-p-md sc-text-red sc-text-xxxl sc-icon sc-icon-exclamacao-1"></i>
              </div>
              <div style="display: flex;">
                <div class="sc-text-white" style="z-index: 1; width: 5em;">
                  <div style="text-align: center; margin: .5em; padding: 1em 0; border-radius: 10em; border: 3px solid white; border-color: #CCC white #CCC #CCC">25%</div>
                </div>
                <div style="line-height: 1.8em; padding: 0;" class="sc-m-l-lg align-left sc-p-t-xl">
                  <div style="font-size: 3em; margin-top: .3em;" class="sc-text-bold sc-text-red">02</div>
                  <div class="sc-text-black" style="{{hover.erro3}}"><span style="font-size: .8em;">Importados com  erro</span></div>
                </div>
              </div>
            </div>

            <div id="card" ng-mouseleave="hover.erro2 = ''" ng-mouseover="hover.erro2 = ''" style="width: 17em; {{hover.erro2}}" ng-click="filtroAvancado = 'erro'" class="sc-bg-red sc-m-lg sc-cursor-pointer">
              <div class="min-card"></div>
              <div class="pull-right">
                <i style="margin-right: .3em; font-size: 1.4em; padding: .2em 0 0 .7em;" class="sc-p-md sc-text-white sc-text-xxxl sc-icon sc-icon-exclamacao-1"></i>
              </div>
              <div style="display: flex;">
                <div id="percent" class="sc-text-white" style="width: 5em;">
                  <div style="text-align: center; margin: .5em; padding: 1.14em 0; border-radius: 10em; border: 3px solid white; border-color: #CCC white #CCC #CCC">25%</div>
                </div>
                <div style="line-height: 1.8em; padding: 0;" class="sc-text-white sc-m-l-lg align-left sc-p-t-xl">
                  <div style="font-size: 3em; margin-top: .3em;">02</div>
                  <div><span style="font-size: .8em;">Importados com  erro</span></div>
                </div>
              </div>
            </div>
          </div>
          <div style="display: flex;" class="pull-right">
            <div ng-init="filtroAvancado = ''" style="height: 3.5em; width: 15em; padding: 0.4em 0em 0.4em 0em;" ng-show="filtroAvancado == ''" class="sc-m-lg sc-border-white-solid-lg sc-border-radius sc-p-h-lg sc-p-v-sm sc-bg-blue-dark">
              <div>
                <div class="pull-right">
                  <i style="margin-right: .3em; font-size: 1.4em; padding: 0 0 0 0.7em;" class="sc-p-md sc-text-white sc-text-xxxl sc-icon sc-icon-dinheiro-2"></i>
                </div>
                <div style="line-height: 1.3em; padding: 0;" class="align-center sc-p-t-xl">
                  <div class="sc-text-bold sc-text-white"><span style="font-size: .9em;">Total:</span><div class="sc-text-white">R$ 1.608,60</div></div>
                </div>
              </div>
            </div>
            <div style="height: 3.5em; width: 15em; padding: 0.4em 0em 0.4em 0em;" ng-show="filtroAvancado == 'sucesso'" class="sc-m-lg sc-border-radius sc-p-h-lg sc-p-v-sm sc-border-white-solid-lg sc-bg-green">
              <div>
                <div class="pull-left">
                  <i style="font-size: 1.4em; padding: 0.4em 0 0 0.7em;" class="sc-p-md sc-text-white sc-text-xxxl sc-icon sc-icon-dinheiro-2"></i>
                </div>
                <div style="line-height: 1.3em; padding: 0;" class="align-center sc-p-t-xl">
                  <div class="sc-text-bold sc-text-white"><span style="font-size: .9em;">Total:</span><div class="sc-text-white">R$ 1.200,00</div></div>
                </div>
              </div>
            </div>
            <div style="height: 3.5em; width: 15em; padding: 0.4em 0em 0.4em 0em;" ng-show="filtroAvancado == 'erro'" class="sc-m-lg sc-border-white-solid-lg sc-border-radius sc-p-h-lg sc-bg-red sc-p-v-sm">
              <div>
                <div class="pull-left">
                  <i style="font-size: 1.4em; padding: 0.4em 0 0 0.7em;" class="sc-p-md sc-text-white sc-text-xxxl sc-icon sc-icon-dinheiro-2"></i>
                </div>
                <div style="line-height: 1.3em; padding: 0;" class="align-center sc-p-t-xl">
                  <div class="sc-text-bold sc-text-white"><span style="font-size: .9em;">Total:</span><div class="sc-text-white">R$ 358,60</div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ul class="sc-accordion">
          <li ng-init="initErro(lista)" ng-repeat="lista in consiliacoesErro | filter:{ status:filtroAvancado }">
            <div ng-click="openAcc(lista)" style="{{lista.bgColorAcc}}" class="sc-accordion-head">
              <div style="{{lista.txtColor}} {{lista.bColor}}" class="sc-text-red sc-accordion-icon-col sc-divider align-xs-center">
                <i class="sc-icon sc-icon-seta-11-direita sc-transition" ng-class="{ 'sc-icon-seta-11-baixo':lista.opened }"></i>
              </div>
              <div class="clear"></div>
              <div style="{{lista.txtColor}}" class="sc-text-red sc-accordion-elastic-col title">
                <span ng-hide="lista.tipo == 'Cobrança não encontrada'">{{lista.local1}} - {{lista.local2}}</span>
                <span ng-show="lista.tipo == 'Cobrança não encontrada'">Boleto Nº 123456789</span>
                <span class="description">{{lista.name}}</span>
              </div>
              <div style="{{lista.txtColor}}" class="sc-text-red sc-accordion-elastic-col title">
                <span>{{lista.data}}</span>
              </div>
              <div style="{{lista.txtColor}}" class="sc-text-red sc-accordion-elastic-col title">
                <span>{{lista.v1}}</span>
                <span ng-show="lista.v2" class="description">({{lista.v2}})</span>
              </div>
            </div>
            <div ng-show="lista.opened" style="overflow: auto; padding:0;" class="sc-accordion-body ng-animation-slider">
              <div style="overflow: auto; background-color: #F7F7F9;" class="sc-border-gray-solid-sm sc-border-radius sc-p-xxl">
                <div style="display: initial;" class="sc-text-red sc-bg-red-lighter sc-border-red-dark-solid-md sc-border-radius sc-p-md">
                  <i class="sc-icon sc-icon-exclamacao-2"></i>
                  <span>Divergência: <span class="sc-text-bold">{{lista.tipo}}</span></span>
                </div>
                <div class="clear"></div>
                <div class="sc-m-t-xxl sc-p-l-md">
                  <span>Número do Boleto: <span class="sc-text-bold sc-text-black">12345678</span></span>
                </div>
                <div ng-hide="lista.tipo == 'Cobrança não encontrada'" class="sc-p-l-md">
                  <span>Título: <span class="sc-text-bold sc-text-black">Exemplo - {{lista.local2}}</span></span>
                </div>
                <div ng-show="lista.tipo == 'Cobrança não encontrada'" class="sc-p-l-md">
                  <span>Pagador: <span class="sc-text-bold sc-text-black">{{lista.name}}</span></span>
                </div>
                <div class="sc-p-l-md">
                  <span>Vencimento: <span class="sc-text-bold sc-text-black">13/04/1990</span></span>
                </div>
                <div ng-hide="lista.tipo == 'Cobrança não encontrada' || lista.tipo == 'Duplicidade'" style="display: flex" class="sc-m-t-xl">
                  <div class="sc-m-l-lg">
                    <div>Valor pago:</div>
                    <div class="sc-text-black">R$ {{lista.v2}}</div>
                  </div>
                  <div class="sc-m-l-lg">
                    <div class="sc-m-xl">-</div>
                  </div>
                  <div class="sc-m-l-lg">
                    <div>Valor Original:</div>
                    <div class="sc-text-black">R$ {{lista.v1}}</div>
                  </div>
                  <div class="sc-m-l-lg">
                    <div class="sc-m-xl">=</div>
                  </div>
                  <div class="sc-m-l-lg">
                    <div>Diferença: </div>
                    <div ng-class="{ 'sc-text-green':!(lista.teste == 'débito'), 'sc-text-red':(lista.teste == 'débito') }"><span ng-show="lista.teste == 'débito'"> - </span><span ng-show="lista.teste == 'crédito'"> + </span>R$ {{lista.diferenca}}</div>
                  </div>
                </div>
                <div ng-show="lista.tipo == 'Duplicidade'" class="sc-m-t-xl">
                  <div style="display: flex;">
                    <div style="width: 7em;" class="align-center">
                      <div>Pago em:</div>
                    </div>
                    <div style="width: 10em;" class="align-center">
                      <div>Valor pago:</div>
                    </div>
                  </div>
                  <div ng-repeat="subLista in lista.historico">
                    <div style="display: flex;">
                      <div style="width: 7em;" class="align-center">
                        <div class="sc-text-black">{{subLista.data}}</div>
                      </div>
                      <div style="width: 10em;" class="align-center">
                        <div class="sc-text-black">R$ {{subLista.valor}}</div>
                      </div>
                    </div>
                  </div>
                  <hr style="width: 17em; margin-top: .5em; margin-bottom: .5em;" />
                  <div style="display: flex;">
                    <div style="width: 7em;" class="align-center">Valor Total</div>
                    <div style="width: 10em;" class="align-center sc-text-black">R$ 300,00</div>
                  </div>
                </div>
                <div class="clear"></div>
                <hr />
                <div ng-show="lista.teste == 'débito'" style="display: initial;" class="sc-text-red sc-bg-red-lighter sc-p-md sc-border-red-solid-md sc-border-radius">
                  <span>O <span class="sc-text-bold">débito</span> de <span class="sc-text-bold">{{lista.diferenca}}</span> será gerado automáticamente em um lançamento para a unidade <span class="sc-text-bold">{{lista.local1}} - {{lista.local2}}</span>, com data:</span>
                </div>
                <div ng-hide="lista.teste == 'débito' || lista.tipo == 'Cobrança não encontrada'" style="display: initial;" class="sc-text-red sc-bg-red-lighter sc-p-md sc-border-red-solid-md sc-border-radius">
                  <span>O <span class="sc-text-bold">crédito</span> de <span class="sc-text-bold">{{lista.diferenca}}</span> será gerado automáticamente em um lançamento para a unidade <span class="sc-text-bold">{{lista.local1}} - {{lista.local2}}</span>, com data:</span>
                </div>
                <div ng-show="lista.tipo == 'Cobrança não encontrada'" style="display: initial;" class="sc-text-red sc-bg-red-lighter sc-p-md sc-border-red-solid-md sc-border-radius sc-p-md">
                  <span>O boleto de número <span class="sc-text-bold">12345678</span> não corresponde a nenhuma cobrança no sistema.</span>
                </div>
                <div class="clear"></div>
                <div ng-show="lista.teste" class="sc-m-t-xl">
                  <div style="display: inline-table;" class="">
                    <div>Bom para:</div>
                    <input sc-date-input ng-model="data" style="width: 12em; line-height: 1;" class="sc-input-default sc-text-sm" />
                  </div>
                </div>
              </div>
              <div class="sc-m-lg pull-right">
                <button ng-click="justifica.open(); openAcc(lista)" class="sc-btn sc-btn-red">
                  <span>Rejeitar</span>
                </button>
                <button ng-show="lista.tipo == 'Pagamento a menor'" ng-click="openAcc(lista)" class="sc-btn sc-btn-blue">
                  <span>Gerar Débito</span>
                </button>
                <button ng-show="lista.tipo == 'Pagamento a maior'" ng-click="openAcc(lista)" class="sc-btn sc-btn-blue">
                  <span>Gerar Crédito</span>
                </button>
                <button ng-show="lista.tipo == 'Duplicidade'" ng-click="alert1(); openAcc(lista)" class="sc-btn sc-btn-blue">
                  <span>Gerar Crédito</span>
                </button>
                <button ng-show="lista.tipo == 'Cobrança não encontrada'" ng-click="openAcc(lista)" class="sc-btn sc-btn-blue">
                  <span>Novo Lançamento</span>
                </button>
              </div>
            </div>
          </li>
          <li ng-init="initSucesso(lista)" ng-repeat="lista in consiliacoesSucesso | filter:{ status:filtroAvancado }">
            <div ng-click="openAcc(lista)" style="{{lista.bgColorAcc}}" class="sc-accordion-head">
              <div style="{{lista.txtColor}} {{lista.bColor}}" class="sc-accordion-icon-col sc-divider align-xs-center">
                <i class="sc-icon sc-icon-seta-11-direita sc-transition" ng-class="{ 'sc-icon-seta-11-baixo':lista.opened }"></i>
              </div>
              <div style="{{lista.txtColor}}" class="sc-accordion-elastic-col title">
                <span>{{lista.local1}} - {{lista.local2}}</span>
                <span class="description">{{lista.name}}</span>
              </div>
              <div style="{{lista.txtColor}}" class="sc-accordion-elastic-col title">
                <span>{{lista.data}}</span>
              </div>
              <div style="{{lista.txtColor}}" class="sc-accordion-elastic-col title">
                <span>{{lista.valor}}</span>
              </div>
            </div>
            <div ng-show="lista.opened" style="overflow: auto; padding:0;" class="sc-accordion-body ng-animation-slider sc-p-lg">
              <div style="overflow: auto; background-color: #F7F7F9;" class="sc-border-gray-solid-sm sc-border-radius sc-p-xxl sc-m-lg">
                <div class="sc-p-l-md">
                  <span>Número do Boleto: <span class="sc-text-bold sc-text-black">12345678</span></span>
                </div>
                <div class="sc-p-l-md">
                  <span>Título: <span class="sc-text-bold sc-text-black">Exemplo - {{lista.local2}}</span></span>
                </div>
                <div class="sc-p-l-md">
                  <span>Pagador: <span class="sc-text-bold sc-text-black">{{lista.name}}</span></span>
                </div>
                <div class="sc-p-l-md">
                  <span>Vencimento: <span class="sc-text-bold sc-text-black">13/04/1990</span></span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </section>
    <!-- listagem de previsões FIM -->
  </div>

</body>
