dctype
html(ng-app="myApp", ng-controller="AppCtrl")
  head
    title Dashboard
    base(href="/")
    link(href='source/font.css' rel='stylesheet' type='text/css')
    link(href="source/prototype.css" rel='stylesheet' type='text/css')
    link(href="http://codepen.io/dev6-seucondominio/pen/avpxNZ.css" rel='stylesheet' type='text/css')
    link(href="http://codepen.io/dev6-seucondominio/pen/gaXWjX.css" rel='stylesheet' type='text/css')
    link(href="https://dl.dropboxusercontent.com/u/2946154/sc/c3.css" rel='stylesheet' type='text/css')
    link(href="sistema/Dashboard/index.css" rel="stylesheet" type="text/css")
  body.sc-system
    
    section#top-menu.sc-p-v-sm.sc-p-h-xl.sc-bg-blue
      img.pull-left(src="https://www.seucondominio.com.br/assets/institucional/logo-mobile-c07a4de0cd57b02cf5eaffefcda8d48e.png")

    section#dashboard.sc-bg-gray-lighter.col-xs-12
        section#dash-header.col-xs-12.sc-p-lg.sc-m-t-md
          .sc-text-xxl.align-center
            .sc-p-xs.sc-text-thin.sc-text-gray Resumo Mensal
          .sc-p-h-sm.align-center
            div(ng-model="mes" sc-month-picker="")
        .clear

        section#dash-row-two.row
          .col-xs-12.col-md-6.col-lg-3.sc-p-v-xl
            .card.sc-bg-blue.sc-border-radius.sc-text-white.sc-p-h-lg.sc-p-v-sm
              .icon-card
                i.sc-icon.sc-icon-globo
              a(href="#").content-card
                span SITE DO CONDOMÍNIO
                span.descricao Clique aqui para acessar
          .col-xs-12.col-md-6.col-lg-3.sc-p-v-xl
            .card.sc-bg-cian.sc-border-radius.sc-text-white.sc-p-h-lg.sc-p-v-sm
              .icon-card
                i.sc-icon.sc-icon-comentarios
              a(href="#").content-card
                span MURAL DO CONDOMÍNIO
                span.descricao Clique aqui para acessar
          .col-xs-12.col-md-6.col-lg-3.sc-p-v-xl
            .card.sc-bg-green.sc-border-radius.sc-text-white.sc-p-h-lg.sc-p-v-sm
              .donut-card
                span {{usuariosAcessaram.data.columns[0][1]}}%
                chart(data="usuariosAcessaram.data" config="configDonutCards").donut
              a(href="#").content-card
                span.destaque 58
                  span /70
                span.descricao Usuários acessaram o sistema
          .col-xs-12.col-md-6.col-lg-3.sc-p-v-xl
            .card.sc-bg-yellow.sc-border-radius.sc-text-white.sc-p-h-lg.sc-p-v-sm
              .donut-card
                span {{encomendasEntregues.data.columns[0][1]}}%
                chart(data="encomendasEntregues.data" config="configDonutCards").donut
              a(href="#").content-card
                span.destaque 30
                  span /60
                span.descricao Encomendas entregues

        section#dash-row-one.row
          .col-md-8.sc-p-v-xl
            .sc-cursor-default.menu.sc-accordion-icon-col.align-xs-center.pull-right(sc-dismiss-click="openMenu = false")(ng-init="init()")
              span(ng-click="openMenu = !openMenu" ng-class="{ 'clickscale':openMenu }").icon-hover.icon-gray
                i.sc-icon.sc-icon-seta-11-baixo(style="font-size: 1.2em;")
              ul(ng-show="openMenu")
                li(ng-repeat="conta in contas" ng-click="contaSelected.id = conta.id") CC: {{conta.cc}}
            .box-dash.sc-border-radius.sc-p-lg
              h3.sc-text-thin.sc-text-md.align-center.sc-text-gray.sc-p-md SALDO DA CONTA CC: {{contas[contaSelected.id].cc}}
              chart(data="saldoConta.data" config="saldoConta.config" style="width:100%; height:15em").col-xs-12.sc-p-none.sc-m-t-md
              .clear
              div(style="height: 2em; line-height: 2em;").align-right.sc-p-r-lg
                span.sc-text-sm.sc-text-gray Total atual:
                span.sc-text-blue  R$ 3.074,91

          .col-md-4.sc-p-v-xl
            .box-dash.sc-border-radius.sc-p-lg
              h3.sc-text-thin.sc-text-md.align-center.sc-text-gray.sc-p-md OCORRÊNCIAS
              chart(data="ocorrencias.data" config="ocorrencias.config" style="width:100%; height:17em").col-xs-12.sc-p-none
              .clear

        section#dash-row-three.row
          .col-xs-12.col-md-6.col-lg-4
            .sc-p-v-xl
              .box-dash.sc-border-radius.sc-p-lg
                h3.sc-text-thin.sc-text-md.align-center.sc-text-gray.sc-p-md CONTAS DO CONDOMÍNIO
                chart(data="contasCondominio.data" config="contasCondominio.config" style="width:100%; height:17em").col-xs-12.sc-p-none
                .clear
            .sc-p-v-xl
              .box-dash.sc-border-radius.sc-p-lg
                h3.sc-text-thin.sc-text-md.align-center.sc-text-gray.sc-p-md DOCUMENTOS
                ul.listagem
                  li(ng-class-odd="'blueBack'")(ng-repeat="item in documentos")
                    a(href="#")
                      .thumb.documento.sc-border-h-gray-light-solid-xl.sc-bg-gray-lighter.sc-text-gray.align-center.sc-border-radius
                        span {{item.formato}}
                      .conteudo.sc-text-gray.sc-text-xxl.sc-text-thinnest {{item.nome}}
                .sc-m-t-xl.sc-m-b-md.align-center
                  a(href="#").sc-text-gray.sc-text-thin Veja todos os documentos
            .sc-p-v-xl
              .box-dash.sc-border-radius.sc-p-lg
                h3.sc-text-thin.sc-text-md.align-center.sc-text-gray.sc-p-md RESUMO DA PORTARIA
                chart(data="resumoPortaria.data" config="resumoPortaria.config" style="width:100%; height:17em").col-xs-12.sc-p-none
                .clear
            .sc-p-v-xl
              .box-dash.sc-border-radius.sc-p-lg
                h3.sc-text-thin.sc-text-md.align-center.sc-text-gray.sc-p-md CLASSIFICADOS
                ul.listagem.mural
                  li(ng-class-odd="'blueBack'")(ng-repeat="item in mural")
                    a(href="#")
                      .thumb.sc-bg-gray-lighter.sc-text-gray.align-center.sc-border-radius.sc-m-t-xs
                        img(src="{{item.foto}}")(style="width: 3em;")
                      .conteudo.sc-text-gray
                        div Vendo {{item.nome}}
                        div.sc-text-thin Contato: {{item.contato}}
                        div.sc-text-thin Telefone: {{item.telefone}}
                .sc-m-t-xl.sc-m-b-md.align-center
                  a(href="#").sc-text-gray.sc-text-thin Veja todos os classificados
            .sc-p-v-xl
              .box-dash.sc-border-radius.sc-p-lg
                h3.sc-text-thin.sc-text-md.align-center.sc-text-gray.sc-p-md VOTAÇÃO
                .align-center.sc-text-gray.sc-text-thin.sc-m-b-md
                  span A VOTAÇÃO ENCERRARÁ EM (4 dias e 3 horas)
                p(style="margin: 0")
                  span.sc-text-gray.sc-text-thin Qual deve ser a cor da nova faixada do condominio?
                chart(data="votacao.data" config="votacao.config" style="width:100%; height:17em").col-xs-12.sc-p-none
                .sc-m-t-xl.sc-m-b-md.align-center
                  a(href="#").sc-text-gray.sc-text-thin Veja todas as votações
                .clear
            .sc-p-v-xl
              .box-dash.sc-border-radius.sc-p-lg
                h3.sc-text-thin.sc-text-md.align-center.sc-text-gray.sc-p-md COBRANÇA
                chart(data="cobrancas.data" config="cobrancas.config" style="width:100%; height:17em").col-xs-12.sc-p-none
                .clear
                ul.listagem.mural
                  li.blueBack
                    a(href="#")(style="width:100%")
                      .conteudo.sc-text-green
                        p.sc-text-bold.sc-text-lg Recebimentos
                        .sc-text-thin
                          span.pull-right Acumulado (12 meses)
                          p Set/15
                          span.pull-right R$ 20.453,00
                          p R$ 6.343,00
                  li
                    a(href="#")(style="width:100%")
                      .conteudo.sc-text-red
                        p.sc-text-bold.sc-text-lg Inadimplência
                        .sc-text-thin
                          span.pull-right Acumulado (12 meses)
                          p Set/15
                          span.pull-right R$ 20.453,00
                          p R$ 6.343,00
                .sc-m-t-xl.sc-m-b-md.align-center
                  a(href="#").sc-text-gray.sc-text-thin Veja todas as cobranças do mês
            .sc-p-v-xl
              .box-dash.sc-border-radius.sc-p-lg
                h3.sc-text-thin.sc-text-md.align-center.sc-text-gray.sc-p-md SERVIÇOS PERIÓDICOS
                ul.listagem
                  li(ng-class-odd="'blueBack'")(ng-repeat="item in periodicos")
                    a(href="#")
                      .thumb.data.sc-bg-gray-lighter.sc-text-gray.align-center.sc-border-radius
                        div.sc-bg-gray-light.sc-text-white.sc-text-sm {{item.data | date:'MMM'}}
                        div.sc-p-t-sm.sc-text-lg {{item.data | date:'dd'}}
                      .conteudo.sc-text-gray.sc-text-xxl.sc-text-thinnest {{item.nome}}
                .sc-m-t-xl.sc-m-b-md.align-center
                  a(href="#").sc-text-gray.sc-text-thin Veja todos os eventos
          
          .col-xs-12.col-md-6.col-lg-4
            .sc-p-v-xl
              .box-dash.sc-border-radius.sc-p-lg
                h3.sc-text-thin.sc-text-md.align-center.sc-text-gray.sc-p-md CONTAS DO CONDOMÍNIO
                chart(data="contasCondominio2.data" config="contasCondominio2.config" style="width:100%; height:17em").col-xs-12.sc-p-none
                .clear
            .sc-p-v-xl
              .box-dash.sc-border-radius.sc-p-lg
                h3.sc-text-thin.sc-text-md.align-center.sc-text-gray.sc-p-md CIRCULARES
                ul.listagem
                  li(ng-class-odd="'blueBack'")(ng-repeat="item in circulares")
                    a(href="#")
                      .thumb.data.sc-bg-gray-lighter.sc-text-gray.align-center.sc-border-radius
                        div.sc-bg-gray-light.sc-text-white.sc-text-sm {{item.data | date:'MMM'}}
                        div.sc-p-t-sm.sc-text-lg {{item.data | date:'dd'}}
                      .conteudo.sc-text-gray.sc-text-xxl.sc-text-thinnest {{item.nome}}
                .sc-m-t-xl.sc-m-b-md.align-center
                  a(href="#").sc-text-gray.sc-text-thin Veja todas as circulares  
            .sc-p-v-xl
              .box-dash.sc-border-radius.sc-p-lg
                h3.sc-text-thin.sc-text-md.align-center.sc-text-gray.sc-p-md ESTOQUE
                ul.listagem.mural
                  li(ng-class-odd="'blueBack'")(ng-repeat="estoque in estoques")(style="display: block")
                    a(href="#")
                      .conteudo.sc-text-gray {{estoque.nome}}
                      span.pull-right.sc-p-t-xl(style="position:relative")(ng-show="estoque.valor >= 0") + {{estoque.valor}}
                        i.sc-icon.sc-icon-seta-9-cima
                      span.pull-right.sc-p-t-xl.sc-text-red-light(style="position:relative")(ng-show="estoque.valor < 0") {{estoque.valor}}
                        i.sc-icon.sc-icon-seta-9-baixo
                .sc-m-t-xl.sc-m-b-md.align-center
                  a(href="#").sc-text-gray.sc-text-thin Veja mais
            .sc-p-v-xl
              .box-dash.sc-border-radius.sc-p-lg
                h3.sc-text-thin.sc-text-md.align-center.sc-text-gray.sc-p-md RESERVAS DA SEMANA
                ul.listagem.mural
                  li(ng-class-odd="'blueBack'")(ng-repeat="reserva in reservas")(style="display: block")
                    a(href="#")
                      span.pull-left
                        i.sc-icon.sc-icon-calendario-1
                      .conteudo.sc-text-gray
                        div {{reserva.nome}}
                        div.sc-text-thin.sc-m-l-md {{reserva.conteudo}}
                        div.sc-text-thin.sc-m-l-md {{reserva.semana}} das {{reserva.h1}} às {{reserva.h2}}
                      span.pull-right.sc-p-t-xl.sc-text-green-light(ng-show="reserva.status == 'disponivel'")
                        i.sc-icon.sc-icon-polegar-cima
                      span.pull-right.sc-p-t-xl.sc-text-red-light(ng-show="reserva.status == 'indisponivel'")
                        i.sc-icon.sc-icon-polegar-baixo
                .sc-m-t-xl.sc-m-b-md.align-center
                  a(href="#").sc-text-gray.sc-text-thin Veja todas as reservas

          .col-xs-12.col-md-6.col-lg-4
            .sc-p-v-xl
              .box-dash.sc-border-radius.sc-p-lg
                h3.sc-text-thin.sc-text-md.align-center.sc-text-gray.sc-p-md CONTAS DO CONDOMÍNIO
                chart(data="contasCondominio3.data" config="contasCondominio3.config" style="width:100%; height:17em").col-xs-12.sc-p-none
                .clear
            .sc-p-v-xl
              .box-dash.sc-border-radius.sc-p-lg
                h3.sc-text-thin.sc-text-md.align-center.sc-text-gray.sc-p-md MURAL DE RECADOS
                ul.listagem.mural
                  li(ng-class-odd="'blueBack'")(ng-repeat="item in mural")
                    a(href="#")
                      .thumb.sc-bg-gray-lighter.sc-text-gray.align-center.sc-border-radius.sc-m-t-xs
                        img(src="{{item.foto}}")
                      .conteudo.sc-text-gray
                        div {{item.nome}}
                        div.sc-text-thin {{item.conteudo}}
                .sc-m-t-xl.sc-m-b-md.align-center
                  a(href="#").sc-text-gray.sc-text-thin Deixe sua mensagem
                  
           .col-xs-12.col-md-6.col-lg-4
            .sc-p-v-xl
              .box-dash.sc-border-radius.sc-p-lg
                h3.sc-text-thin.sc-text-md.align-center.sc-text-gray.sc-p-md PREVISÃO ORÇAMENTÁRIA
                chart(data="previsao.data" config="previsao.config" style="width:100%; height:17em").col-xs-12.sc-p-none
                .clear
            .sc-p-v-xl
              .box-dash.sc-border-radius.sc-p-lg
                h3.sc-text-thin.sc-text-md.align-center.sc-text-gray.sc-p-md ACHADOS E PERDIDOS
                ul.listagem.mural
                  li(ng-class-odd="'blueBack'")(ng-repeat="aP in achadoPerdido")(style="display: block")
                    a(href="#")
                      .conteudo.sc-text-gray
                        div {{aP.nome}}
                        div.sc-text-thin.sc-m-l-md {{aP.conteudo}}
                        div.sc-text-thin.sc-m-l-md {{aP.semana}} às {{aP.horario}}
                      span.pull-right.sc-p-t-xl.sc-text-green-light(ng-show="aP.status == 'achado'") Achado
                      span.pull-right.sc-p-t-xl.sc-text-red-light(ng-show="aP.status == 'perdido'") Perdido
                .sc-m-t-xl.sc-m-b-md.align-center
                  a(href="#").sc-text-gray.sc-text-thin Veja todos os achados e perdidos
          
          .col-md-12.col-lg-8
            .sc-p-v-xl
              .box-dash.sc-border-radius.sc-p-lg
                h3.sc-text-thin.sc-text-md.align-center.sc-text-gray.sc-p-md CONSUMO
                chart(data="consumo.data" config="consumo.config" style="width:100%; height:17em").col-xs-12.sc-p-none
                .clear
          .col-xs-12.col-md-6.col-lg-4
            .sc-p-v-xl
              .box-dash.sc-border-radius.sc-p-lg
                h3.sc-text-thin.sc-text-md.align-center.sc-text-gray.sc-p-md PAGAMENTOS
                chart(data="pagamentos.data" config="pagamentos.config" style="width:100%; height:17em").col-xs-12.sc-p-none
                .clear
                ul.listagem.mural
                  li.blueBack
                    a(href="#")(style="width:100%")
                      .conteudo.sc-text-blue
                        p.sc-text-bold.sc-text-lg Pagamentos
                        .sc-text-thin
                          span.pull-right Acumulado (12 meses)
                          p Set/15
                          span.pull-right R$ 20.453,00
                          p R$ 6.343,00
                  li
                    a(href="#")(style="width:100%")
                      .conteudo.sc-text-red
                        p.sc-text-bold.sc-text-lg Contas a Pagar
                        .sc-text-thin
                          span.pull-right Acumulado (12 meses)
                          p Set/15
                          span.pull-right R$ 20.453,00
                          p R$ 6.343,00
                .sc-m-t-xl.sc-m-b-md.align-center
                  a(href="#").sc-text-gray.sc-text-thin Veja todas as cobranças do mês
            .sc-p-v-xl
              .box-dash.sc-border-radius.sc-p-lg
                h3.sc-text-thin.sc-text-md.align-center.sc-text-gray.sc-p-md EMPRESTIMOS
                ul.listagem.mural
                  li(ng-class-odd="'blueBack'")(ng-repeat="emprestimo in emprestimos")(style="display: block")
                    a(href="#")
                      .conteudo.sc-text-gray
                        div {{emprestimo.nome}}
                        div.sc-text-thin.sc-m-l-md {{emprestimo.conteudo}}
                        div.sc-text-thin.sc-m-l-md {{emprestimo.semana}} das {{emprestimo.h1}} às {{emprestimo.h2}}
                      span.pull-right.sc-p-t-xl.sc-text-green-light(ng-show="emprestimo.status == 'disponivel'")
                        i.sc-icon.sc-icon-polegar-cima
                      span.pull-right.sc-p-t-xl.sc-text-red-light(ng-show="emprestimo.status == 'indisponivel'")
                        i.sc-icon.sc-icon-polegar-baixo
                .sc-m-t-xl.sc-m-b-md.align-center
                  a(href="#").sc-text-gray.sc-text-thin Veja todos os emprestimos

    script(src="https://dl.dropboxusercontent.com/u/2946154/sc/d3.v3.min.js" type='text/javascript')
    script(src="https://dl.dropboxusercontent.com/u/2946154/sc/c3.min.js" type='text/javascript')
    script(src="source/prototype.js")
    script(src="source/modernizr.min.js")
    script(src="http://codepen.io/dev6-seucondominio/pen/avpxNZ.js" type='text/javascript')
    script(src="/angular/angular-resource.js" type='text/javascript')
    script(src="/angular/angular-route.js" type='text/javascript')
    script(src="sistema/Dashboard/index.js" type='text/javascript')