html {width: 100%}
body {width: 100%}

* {
  margin: 0;
  padding: 0;
}

.foraMPV {
  color: #FF69B4 !important;
}

//Saldo de contas style custom
chart {
  .c3-line { stroke-width: 3; }
  .c3-chart-lines .c3-circles .c3-circle {
    stroke: white;
    stroke-width: 3px;
  }
}

.blueBack {
  background-color: #eef4f8;
}

#dashboard {
  min-height: 100%;
  #dash-header {
    margin-bottom: -1em;
    > div {
      float: left;
      .sc-month-picker {margin: 0 auto;}
    }
  }
  .box-dash {
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
  }
  .card {
    min-height: 6em;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    .donut-card {
      width: 4.375em;
      height: 4.375em;
      position: relative;
      .donut {
        position: absolute !important;
        left: -.3125em;
        top: -.13em;
        .c3-chart-arc path {
          stroke: none;
        }
      }
      > span {
        width: 3.315em;
        display: block;
        height: 3.315em;
        text-align: center;
        line-height: 3.315em;
        font-size: 1.32em;
      }
    }
    .icon-card {
      width: 4.375em;
      text-align: center;
      .sc-icon {
        font-size: 3.6em;
      }
    }
    .content-card {
      color: #fff;
      padding: 0 .5em;
      > span {
        display: block;
        &.destaque {
          font-size: 2.5em;
          height: 1em;
          font-weight: 300;
          > span {
            font-size: .6em;
          }
        }
        &.descricao {
          font-size: .8em;
        }
      }
    }
  }
  .listagem {
    li {
      display: -webkit-flex;
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0.6em;
      > a {
        display: flex;
        display: -webkit-flex;
        align-items: center;
      }
      .thumb {
        width: 3.1em;
        height: 3.1em;
        flex-shrink: 0;
        overflow: hidden;
        &.data {
          line-height: .6em;
          &:first-line {
            font-size: 1.6em;
            line-height: 1em;
            font-weight: 300;
          }
        }
        &.documento {
          > span {
            line-height: .6em;
            margin-top: 1.5em;
            font-size: 1.2em;
            font-weight: 300;
            display: block;
            text-transform: uppercase;
          }
        }
      }
      .conteudo {
        display: -webkit-flex;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        padding-left: 1em;
      }
    }
    &.mural li > a { align-items: flex-start; }
  }
}

@media (max-width: 480px) {
  #dashboard {
    #dash-header {
      > div {
        float: none;
      }
    }
  }
}

.sc-text-thinnest {font-weight: 100}