<body style="width: 100%; height: 100%; background-color: #a9b7c4;" ng-app="scApp" ng-controller="controll">

  <!-- Principal INICIO -->
    <div style="background-color: #dddddd;" class="sc-p-md">
      <div style="background-color: #dddddd;" class="sc-p-md" style="overflow: hidden;">
        <div class="sc-m-l-md" style="display: inline-table;">
          <button ng-click="testeNovo = !testeNovo" class="sc-btn sc-btn-awesomeness sc-btn-blue">
            <div class="sc-btn-icon"><i class="sc-icon sc-icon-mais-1"></i></div>
            <div class="sc-btn-text">Nova Sugestão</div>
          </button>
          <div style="display: inline;" class="sc-input-group">
            <input type="text" style="width: 25em;" class="sc-input-default " />
          </div>
          <button ng-click='openFiltro = !openFiltro' class="sc-btn"><i class="sc-icon sc-icon-filtro-2 sc-text-blue"></i></button>
        </div>
      </div>
    </div>
  <!-- Principal FIM -->

  <div class="sc-m-t-lg"></div>

  <!-- filtro INICIO -->
    <div ng-show="openFiltro" style="background-color: #e8e9eb;" class="sc-m-b-sm sc-t-lg sc-animation-slider">
      <div style="overflow: auto;" class="sc-text-blue sc-accordion-body">
        <div style="overflow: auto; background-color: #F7F7F9;" class="sc-m-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
          <div style="display: inline-table;">
            <div>Título:</div>
            <input style="width: 30em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
          </div>
          <div ng-show="false" style="display: inline-table;" class="sc-m-l-lg sc-m-t-lg">
            <div>Sugestão para:</div>
            <select class="sc-text-sm sc-input-default">
              <option>Todos</option>
              <option>Sistema</option>
              <option>Condomínio</option>
            </select>
          </div>
          <div style="display: inline-table;" class="sc-m-l-lg sc-m-t-lg">
            <div>Ordernar por:</div>
            <select class="sc-text-sm sc-input-default">
              <option>Data</option>
              <option>Popularidade</option>
            </select>
          </div>
          <div style="display: inline-table;">
            <div>Data:</div>
            <input sc-date-input ng-model="data" style="line-height: 1;" class="sc-text-sm sc-input-default"/>
          </div>
        </div>
        <div style="overflow: auto;" class="pull-right sc-border-b-gray-light-solid-md sc-p-sm">
          <button class="sc-text-sm sc-m-r-md sc-btn sc-btn-awesomeness sc-btn-red">
            <div class="sc-btn-icon"><i class="sc-icon sc-icon-fechar-1"></i></div>
            <div class="sc-btn-text">Limpar Busca</div>
          </button>
          <button ng-click="registrarEvento()" class="sc-text-sm sc-btn sc-m-r-md sc-btn-awesomeness sc-btn-green">
            <div class="sc-btn-icon"><i class="sc-icon sc-icon-visto-1"></i></div>
            <div class="sc-btn-text">Aplicar</div>
          </button>
        </div>
      </div>
    </div>
  <!-- filtro FIM -->


  <!-- Nova Sugestão INICIO -->
    <div ng-show="testeNovo" style="background-color: #e8e9eb;" class="sc-m-b-sm sc-t-lg sc-animation-slider">
      <div style="overflow: auto;" class="sc-text-blue sc-accordion-body">
        <div style="overflow: auto; background-color: #F7F7F9;" class="sc-m-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
          <div class="sc-m-r-lg" style="display: inline-table;">
            <div>Nome:</div>
            <input style="width: 20em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
          </div>
          <div class="sc-m-r-lg" style="display: inline-table;">
            <div>Residência:</div>
            <input style="width: 20em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
          </div>
          <div class="sc-m-r-lg" style="display: inline-table;">
            <div>E-mail:</div>
            <input style="width: 20em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
          </div>
          <div ng-show="false" class="sc-m-t-lg">
            <div>Sugestão para:</div>
            <div style="display: inline-block;" class="sc-m-l-lg" ng-click="select3()">
              <i class="sc-icon sc-icon-circulo-1" ng-class="{ 'sc-icon-circulo-1-marcado':selectOP.sugestaoPara11 }"></i>
              <span>Sistema</span>
            </div>
            <div class="clear"></div>
            <div style="display: inline-block;" class="sc-m-l-lg" ng-click="select4()">
              <i class="sc-icon sc-icon-circulo-1" ng-class="{ 'sc-icon-circulo-1-marcado':selectOP.sugestaoPara22 }"></i>
              <span>Condomínio</span>
            </div>
          </div>
          <div class="sc-m-t-lg"></div>
          <div>
            <div>Título:</div>
            <input style="width: 30em; font-size: 0.8em; text-transform: uppercase;" type="text" class="sc-text-sm sc-input-default"/>
          </div>
          <div class="sc-m-t-lg">
            <div>Sugestão:</div>
            <textarea class="sc-input-default" style="width:100%;" rows="3"></textarea>
          </div>
        </div>
        <div style="overflow: auto;" class="pull-right sc-border-b-gray-light-solid-md sc-p-sm">
          <button ng-click="registrarEvento()" class="sc-text-sm sc-btn sc-m-r-md sc-btn-awesomeness sc-btn-green">
            <div class="sc-btn-icon"><i class="sc-icon sc-icon-visto-1"></i></div>
            <div class="sc-btn-text">Salvar</div>
          </button>
          <button class="sc-text-sm sc-btn sc-m-r-md sc-btn-awesomeness sc-btn-blue">
            <div class="sc-btn-icon"><i class="sc-icon sc-icon-clipe"></i></div>
            <div class="sc-btn-text">Anexar</div>
          </button>
          <button class="sc-text-sm sc-m-r-md sc-btn sc-btn-awesomeness sc-btn-red">
            <div class="sc-btn-icon"><i class="sc-icon sc-icon-fechar-1"></i></div>
            <div class="sc-btn-text">Excluir</div>
          </button>
        </div>
      </div>
    </div>
  <!-- Novo Sugestão FIM -->

  <!-- lista de sugestoes INICIO -->
    <div ng-controller="listaClass">
      <ul class="sc-accordion">
        <li ng-init="init(lista)" ng-repeat="lista in sugestoes">
          <div style="{{lista.bgColorAcc}}" class="sc-accordion-head">
            <div style="{{lista.txtColor}} {{lista.bColor}}" ng-click="openAcc(lista)" class="sc-accordion-icon-col sc-divider align-xs-center">
              <i class="sc-icon sc-icon-seta-11-direita sc-transition" ng-class="{ 'sc-icon-seta-11-baixo':lista.opened }"></i>
            </div>
            <div style="{{lista.txtColor}}" ng-click="openAcc(lista)" class="sc-accordion-elastic-col title">
              <span>{{lista.titulo}}</span>
              <span class="description">
                <span>{{lista.nome}}</span>
              </span>
              <span class="description">
                <span>Para o {{lista.descricao}}</span>
              </span>
            </div>
            <div ng-click="lista.curtidas = lista.curtidas + 1" style="width: 4em; {{lista.txtColor}}" class="sc-accordion-icon-col align-xs-center">
              <span ng-show="lista.curtidas > 0" class="pull-right">{{lista.curtidas}}</span>
              <i class="sc-text-xxl sc-icon sc-icon-polegar-cima sc-transition"></i>
            </div>
            <div style="width: 4em; {{lista.txtColor}}" class="sc-accordion-icon-col align-xs-center">
              <span class="pull-right">3</span>
              <i class="sc-text-xxl sc-icon sc-icon-comentario sc-transition"></i>
            </div>
            <div style="{{lista.txtColor}}" ng-click="openMenu = !openMenu" class="sc-accordion-icon-col align-xs-center">
              <i class="sc-text-xxl sc-icon sc-icon-reticiencias-v sc-transition"></i>
            </div>
            <div ng-show="openMenu" style="position: absolute; z-index: 1; margin-left: -8em; margin-top: 2.5em;">
              <ul class="sc-animation-slider sc-border-radius sc-box-shadow-z1 sc-border-gray-light-solid-md sc-bg-white" style="text-transform: uppercase;">
                <li ng-click="editLista(lista)" ng-mouseenter="lisata.statusFiltro1  = true" ng-mouseleave="lisata.statusFiltro1 = false" class="sc-border-t-gray-light-solid-md sc-cursor-pointer sc-transition sc-border-radius sc-p-sm sc-transition sc-border-radius" ng-class="{'sc-bg-blue-lighter sc-text-white': lisata.statusFiltro1 }">
                  <i class="sc-icon sc-icon-lapis sc-text-yellow"></i>
                  <span class="sc-border-l-gray-light-solid-md sc-p-l-md">Editar</span>
                </li>
                <li ng-click="excluirRegistro(lista)" ng-mouseenter="lisata.statusFiltro2 = true" ng-mouseleave="lisata.statusFiltro2 = false"class="sc-border-t-gray-light-solid-md sc-cursor-pointer sc-transition sc-border-radius sc-p-sm sc-transition sc-border-radius" ng-class="{'sc-bg-blue-lighter sc-text-white': lisata.statusFiltro2 }">
                  <i class="sc-icon sc-icon-lixeira-2 sc-text-red"></i>
                  <span class="sc-border-l-gray-light-solid-md sc-p-l-md">Exluir</span>
                </li>
              </ul>
            </div>
          </div>
          <div ng-show="lista.opened" style="overflow: auto; padding: 0;" class="sc-text-blue sc-accordion-body ng-animation-slider">
            <div style="background-color: #F7F7F9; overflow: auto;" class="sc-m-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
              <div ng-show="lista.edit" class="sc-m-t-xxl sc-m-h-lg" style="display: inline-table;">
                <div>Tíutulo:</div>
                <input ng-model="editClassificadoTemp.titulo" style="width: 30em;" class="sc-text-sm sc-input-default" />
              </div>
              <div class="sc-m-t-xxl sc-m-h-lg">
                <div>Sugestão:</div>
                <textarea ng-show="lista.edit" ng-model="lista.sugestoes" class="sc-input-default" style="width:100%;" rows="5"></textarea>
                <div ng-show="!lista.edit" class="sc-text-black" style="width: 100%; height: 6em;">{{lista.sugestoes}}</div>
              </div>
              <div class="clear"></div>
              <hr class="sc-m-v-lg" />
              <div>
                <div class="sc-m-r-xxl" style="display: inline-table;">
                  <div>Nome:</div>
                  <input ng-show="lista.edit" ng-model="editClassificadoTemp.nome" style="width: 15em;" class="sc-text-sm sc-input-default" />
                  <div ng-show="!lista.edit" class="sc-text-black">{{lista.nome}}</div>
                </div>
                <div class="sc-m-r-xxl" style="display: inline-table;">
                  <div>Rediência:</div>
                  <input ng-show="lista.edit" ng-model="editClassificadoTemp.residencia" style="width: 15em;" class="sc-text-sm sc-input-default" />
                  <div ng-show="!lista.edit" class="sc-text-black">{{lista.residencia}}</div>
                </div>
                <div class="sc-m-r-xxl" style="display: inline-table;">
                  <div>E-mail:</div>
                  <input ng-show="lista.edit" ng-model="editClassificadoTemp.email" style="width: 15em;" class="sc-text-sm sc-input-default" />
                  <div ng-show="!lista.edit" class="sc-text-black">{{lista.email}}</div>
                </div>
                <div ng-show="false" class="sc-m-r-xxl" style="display: inline-table;">
                  <div>Sugestão para:</div>
                  <div style="display: inline-block;" class="sc-m-l-lg" ng-click="select3()">
                    <i class="sc-icon sc-icon-circulo-1" ng-class="{ 'sc-icon-circulo-1-marcado':selectOP.sugestaoPara11 }"></i>
                    <span>Sistema</span>
                  </div>
                  <div class="clear"></div>
                  <div style="display: inline-block;" class="sc-m-l-lg" ng-click="select4()">
                    <i class="sc-icon sc-icon-circulo-1" ng-class="{ 'sc-icon-circulo-1-marcado':selectOP.sugestaoPara22 }"></i>
                    <span>Condomínio</span>
                  </div>
                </div>
                <div class="clear"></div>
                <button ng-show="lista.edit" ng-click="lista.edit = false" class="sc-text-sm pull-right sc-btn sc-m-r-md sc-btn-awesomeness sc-btn-green">
                  <div class="sc-btn-icon"><i class="sc-icon sc-icon-visto-1"></i></div>
                  <div class="sc-btn-text">Salvar</div>
                </button>
                <button ng-show="lista.edit" ng-click="lista.edit = false" class="sc-text-sm pull-right sc-btn sc-m-r-md sc-btn-awesomeness sc-btn-red">
                  <div class="sc-btn-icon"><i class="sc-icon sc-icon-fechar-1"></i></div>
                  <div class="sc-btn-text">Cancelar</div>
                </button>
              </div>
            </div>
            <div style="background-color: #337ab7; border-radius: .5em .5em 0em 0em;" class="pull-left sc-m-l-lg sc-p-h-xxl sc-text-white">Comentários</div>
            <div class="clear"></div>
            <div style="background-color: #F7F7F9; overflow: auto;" class="sc-m-h-lg sc-m-b-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
              <div ng-repeat="listaComent in lista.comentario">
                <i class="pull-left sc-icon sc-icon-comentario sc-text-blue sc-p-md sc-text-md"></i>
                <span >{{listaComent.name}}: </span>
                <span class="sc-text-black">{{listaComent.texto}}</span>
                <div class="clear"></div>
              </div>
              <i class="pull-left sc-icon sc-icon-comentario sc-text-blue sc-p-md sc-text-lg" style="width: 4%;" ></i>
              <textarea sc-dismiss-click="sizeText = 1" ng-click="sizeText = 3"  class="sc-input-default" style="width: 96%;" rows="{{sizeText}}"></textarea>
              <div class="sc-m-t-lg"></div>
              <button ng-show="sizeText == 3" class="sc-text-sm pull-right sc-btn sc-m-r-md sc-btn-awesomeness sc-btn-green">
                <div class="sc-btn-icon"><i class="sc-icon sc-icon-visto-1"></i></div>
                <div class="sc-btn-text">Salvar</div>
              </button>
              <button ng-show="sizeText == 3" class="sc-text-sm pull-right sc-btn sc-m-r-md sc-btn-awesomeness sc-btn-red">
                <div class="sc-btn-icon"><i class="sc-icon sc-icon-fechar-1"></i></div>
                <div class="sc-btn-text">Cancelar</div>
              </button>
            </div>
            <ul>
              <li></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  <!-- lista de sugestoes FIM -->

</body>
