<html>
  <head>
    <title>CRM</title>
    <link rel="stylesheet" type="text/css" href="//staging.seucondominio.com.br/assets/prototype-b8672555b5fba00a6c848ccf5bcd466c.css">
    <link rel="stylesheet" type="text/css" href="//dl.dropboxusercontent.com/u/2946154/assets/css/ng-sortable.css">
    <link rel="stylesheet" type="text/css" href="//staging.seucondominio.com.br/assets/sistema_responsivo-529025b48cd859fc621449055981e08c.css">
    <link rel="stylesheet" type="text/css" href="index.css" >
  </head>
  <body class="sc-system" ng-app="myapp" ng-controller="CRM::Ctrl">
    <header id="header-bar" class="flex align-items-center">
      <div class="logo"><img src="//staging.seucondominio.com.br/assets/responsivo/logo-seucondominio-c892bef58ddf489deb02431eca8205f2.svg"></div>
    </header>

    <section id="main-page">
      <section id="main-content">
        <section id="top-bar" class="sc-bg-gray-lighter">
          <section id="top-bar-content" class="fix">
            <div style="display: flex; align-items: center">
              <div class="sc-p-l-lg">
                <button ng-click="novoCliente()" class="sc-btn sc-btn-awesomeness sc-btn-blue">
                  <div class="sc-btn-icon"><i class="sc-icon sc-icon-mais-1"></i></div>
                  <div class="sc-btn-text hidden-xs">Cadastrar</div>
                </button>
              </div>
              <div class="sc-p-l-lg">
                <label>
                  <div class="sc-input-group">
                    <input type="text" class="sc-input-default" ng-model="pesquisa">
                    <i class="sc-icon sc-icon-lupa-1 sc-btn sc-btn-blue"></i>
                    <i ng-click="filtro = !filtro" class="sc-icon sc-icon-filtro-2 sc-btn" ng-class="filtro ? 'sc-btn-gray':''"></i>
                  </div>
                </label>
              </div>
              <div class="sc-p-l-lg">
                <button class="sc-btn sc-btn-green sc-m-r-sm">
                  <i class="sc-icon sc-icon-fw sc-icon-grafico-3"></i> <span class="hidden-xs hidden-sm">Relatórios</span>
                </button>
              </div>
              <div class="sc-p-l-lg">
                <button class="sc-btn sc-btn-yellow sc-m-r-sm">
                  <i class="sc-icon sc-icon-fw sc-icon-carta-4"></i> <span class="hidden-xs hidden-sm">Exportar E-mails</span>
                </button>
              </div>
              <div class="sc-p-l-lg" ng-controller="CRM::DemonstracaoClientes">
                <span sc-dropdown-menu class="sc-dropdown" style="width: 18em; display: block">
                  <div>
                    <div class="sc-label">
                      <span>Demonstração para Clientes</span>
                      <i ng-click="ModalDemonstracao.open()" class="sc-badge-hover-blue sc-icon sc-icon-engrenagem"></i>
                    </div>
                    <div class="sc-input-group">
                      <input ng-click="menu.open(); verSelecionados = false" type="text" class="sc-input-default" placeholder="Pesquisar" ng-model="searchDemo" style="width: 100%;">
                      <i ng-click="menu.open(); verSelecionados = false" class="sc-btn sc-btn-blue sc-icon sc-icon-seta-5-baixo"></i>
                      <button ng-click="verSelecionados = !verSelecionados; menu.close()" class="sc-btn" ng-class="demostracaoMarcadas.length > 0 ? 'sc-btn-blue':'sc-cursor-default'">
                        <i class="sc-icon" ng-class="(verSelecionados && demostracaoMarcadas.length > 0) ? 'sc-icon-menos-1':'sc-icon-visto-1'"></i>
                        <span ng-show="demostracaoMarcadas.length > 0" class="sc-badge sc-badge-fixed sc-bg-red">{{demostracaoMarcadas.length}}</span>
                      </button>
                    </div>
                  </div>
                  <ul class="sc-dropdown-menu ng-animation-slider" ng-show="verSelecionados && demostracaoMarcadas.length > 0" style="width: 100%">
                    <li ng-repeat="item in demostracaoMarcadas = (demonstracaoClientes | filter:{active:'true'})">
                      <div class="vertical-align">
                        <span>{{item.nome}}</span>
                        <div class="pull-right" style="position: relative; top: 0.5em;">
                          <i ng-click="item.active = false" class="sc-icon sc-icon-fechar-1 sc-badge-hover-red"></i>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <ul class="sc-dropdown-menu ng-animation-slider" ng-show="menu.isOn" style="width: 100%">
                    <li ng-click="item.active = !item.active" ng-repeat="item in demonstracaoClientes | scFilter:searchDemo">
                      <div class="vertical-align">
                        <i ng-class="item.active ? 'sc-icon-visto-4' : 'sc-icon-quadrado-1'" class="sc-icon sc-icon-fw"></i>
                        <a href="{{item.link}}"><span>{{item.nome}}</span></a>
                      </div>
                    </li>
                  </ul>
                </span>

                <!-- MODAL DEMONSTRACAO -->
                <div sc-modal="ModalDemonstracao" class="sc-modal-md">
                  <div class="sc-modal-header">
                    <i ng-click="ModalDemonstracao.close()" class="sc-modal-close sc-icon sc-icon-fechar-2 sc-text-gray sc-text-hover-red"></i>
                    Demonstração para Clientes
                    <button ng-click="novaDemo.cadastrando = true" class="sc-btn sc-btn-xs sc-btn-green sc-m-l-lg" ng-hide="estaEditando()"><i class="sc-icon sc-icon-mais-1"></i> <span class="sc-text-lg">Cadastrar Nova</span></button>
                  </div>

                  <div class="sc-modal-body">
                    <div class="cadastrar" ng-show="estaEditando()">
                      <div class="sc-m-md">
                        <div class="sc-label">Nome</div>
                        <input ng-model="novaDemo.nome" type="text" class="sc-input-default" style="width:80%">
                      </div>
                      <div class="sc-m-md">
                        <div class="sc-label">Link</div>
                        <input ng-model="novaDemo.link" type="text" class="sc-input-default" style="width:80%">
                      </div>
                    </div> <!-- .cadastrar -->
                    <div class="listagem" ng-hide="estaEditando()">
                      <ul as-sortable ng-model="demonstracaoClientes">
                        <li as-sortable-item ng-repeat="item in demonstracaoClientes" class="sc-text-md sc-p-md sc-bg-hover-gray-lighter" ng-class="{'sc-border-b-gray-light-dotted-md': !$last}">
                          <span as-sortable-item-handle class="sc-m-r-lg sc-bagde-icon sc-bg-hover-gray sc-text-hover-white sc-border-radius-full sc-text-gray"><i class="sc-icon sc-icon-reticiencias-v"></i></span>
                          {{item.nome}}
                          <span ng-click="editarDemo(item)" class="sc-cursor-pointer sc-m-l-xl sc-bagde-icon sc-bg-hover-yellow sc-text-hover-white sc-border-radius-full sc-text-yellow"><i class="sc-icon sc-icon-lapis"></i></span>
                          <div style="float: right">
                            <span ng-click="excluirDemo(item)" class="sc-cursor-pointer sc-bagde-icon sc-bg-hover-red sc-text-hover-white sc-border-radius-full sc-text-red"><i class="sc-icon sc-icon-lixeira-1"></i></span>
                          </div>
                        </li>
                      </ul>
                    </div> <!-- .listagem -->
                  </div>

                  <div class="sc-modal-footer">
                    <button ng-hide="estaEditando()" ng-click="ModalDemonstracao.close()" class="sc-btn">Fechar</button>
                    <button ng-show="estaEditando()" ng-click="criarSalvarDemo()" class="sc-btn sc-btn-blue">Salvar</button>
                    <button ng-show="estaEditando()" ng-click="cancelarEdicao()" class="sc-btn">Cancelar</button>
                  </div>
                </div>
                <!-- MODAL DEMONSTRACAO -->
              </div>
            </div>
            <div class="clear"></div>
            <div id="top-bar-filter">
              <form class="ng-animation-slider sc-p-lg" ng-show="filtro">
                <div class="sc-p-h-md sc-p-b-md sc-align-bottom">
                  <label>
                    <div class="sc-label">Bairro</div>
                    <input type="text" class="sc-input-default">
                  </label>
                </div>
                <div class="sc-p-h-md sc-p-b-md sc-align-bottom">
                  <label>
                    <div class="sc-label">Cidade</div>
                    <input type="text" class="sc-input-default">
                  </label>
                </div>
                <div class="sc-p-h-md sc-p-b-md sc-align-bottom">
                  <label>
                    <div class="sc-label">Vendedor</div>
                    <input type="text" class="sc-input-default">
                  </label>
                </div>
                <div class="sc-align-bottom sc-m-md" ng-controller="CRM::StatusNegociacao" ng-init="init(status)" style="max-width:20em">
                  <span sc-dropdown-menu class="sc-dropdown pull-left">
                    <div>
                      <div class="sc-label">Situação</div>
                      <div class="sc-input-group">
                        <input ng-click="menu.open(); verSelecionadosRamo = false" type="text" class="sc-input-default" placeholder="Pesquisar" ng-model="searchText" style="width: 100%;">
                        <i ng-click="menu.open(); verSelecionadosRamo = false" class="sc-btn sc-btn-blue sc-icon sc-icon-seta-5-baixo"></i>
                        <button ng-click="verSelecionadosRamo = !verSelecionadosRamo; menu.close()" class="sc-btn" ng-class="itensSelecionados(status).length > 0 ? 'sc-btn-blue':'sc-cursor-default'">
                          <i class="sc-icon" ng-class="(verSelecionadosRamo && itensSelecionados(status).length > 0) ? 'sc-icon-menos-1':'sc-icon-visto-1'"></i>
                          <span ng-show="itensSelecionados(status).length > 0" class="sc-badge sc-badge-fixed sc-bg-red">{{itensSelecionados(status).length}}</span>
                        </button>
                      </div>
                    </div>
                    <ul class="sc-dropdown-menu ng-animation-slider" ng-show="verSelecionadosRamo && itensSelecionados(status).length > 0" style="width: 100%">
                      <li ng-repeat="item in itensSelecionados(status)">
                        <div class="vertical-align">
                          <span>{{item.nome}}</span>
                          <div class="pull-right" style="position: relative; top: 0.5em;">
                            <i ng-click="item.active = false" class="sc-icon sc-icon-fechar-1 sc-badge-hover-red"></i>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <ul class="sc-dropdown-menu ng-animation-slider" ng-show="menu.isOn" style="width: 100%">
                      <li ng-repeat="item in status | scFilter:searchText" ng-click="item.active = !item.active">
                        <div class="vertical-align">
                          <i ng-class="item.active ? 'sc-icon-visto-4' : 'sc-icon-quadrado-1'" class="sc-icon sc-icon-fw"></i>
                          <span>{{item.nome}}</span>
                        </div>
                      </li>
                    </ul>
                  </span>
                </div>
                <div class="sc-align-bottom sc-m-md" ng-controller="CRM::RamosAtividade" ng-init="init(ramosAtividade)" style="max-width:20em">
                  <span sc-dropdown-menu class="sc-dropdown pull-left">
                    <div>
                      <div class="sc-label">Ramos de Atividade</div>
                      <div class="sc-input-group">
                        <input ng-click="menu.open(); verSelecionadosRamo = false" type="text" class="sc-input-default" placeholder="Pesquisar" ng-model="searchText" style="width: 100%;">
                        <i ng-click="menu.open(); verSelecionadosRamo = false" class="sc-btn sc-btn-blue sc-icon sc-icon-seta-5-baixo"></i>
                        <button ng-click="verSelecionadosRamo = !verSelecionadosRamo; menu.close()" class="sc-btn" ng-class="itensSelecionados(ramosAtividade).length > 0 ? 'sc-btn-blue':'sc-cursor-default'">
                          <i class="sc-icon" ng-class="(verSelecionadosRamo && itensSelecionados(ramosAtividade).length > 0) ? 'sc-icon-menos-1':'sc-icon-visto-1'"></i>
                          <span ng-show="itensSelecionados(ramosAtividade).length > 0" class="sc-badge sc-badge-fixed sc-bg-red">{{itensSelecionados(ramosAtividade).length}}</span>
                        </button>
                      </div>
                    </div>
                    <ul class="sc-dropdown-menu ng-animation-slider" ng-show="verSelecionadosRamo && itensSelecionados(ramosAtividade).length > 0" style="width: 100%">
                      <li ng-repeat="item in itensSelecionados(ramosAtividade)">
                        <div class="vertical-align">
                          <span>{{item.nome}}</span>
                          <div class="pull-right" style="position: relative; top: 0.5em;">
                            <i ng-click="item.active = false" class="sc-icon sc-icon-fechar-1 sc-badge-hover-red"></i>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <ul class="sc-dropdown-menu ng-animation-slider" ng-show="menu.isOn" style="width: 100%">
                      <li ng-repeat="item in ramosAtividade | scFilter:searchText | orderBy:'nome'" ng-click="item.active = !item.active">
                        <div class="vertical-align">
                          <i ng-class="item.active ? 'sc-icon-visto-4' : 'sc-icon-quadrado-1'" class="sc-icon sc-icon-fw"></i>
                          <span>{{item.nome}}</span>
                        </div>
                      </li>
                    </ul>
                  </span>
                </div>
                <div class="sc-align-bottom sc-m-sm">
                  <label class="sc-p-r-md">
                    <div class="sc-label">Contato partiu</div>
                    <span class="sc-toggle sc-p-xs" >
                      <input ng-model="registro.contatoPartiu" type="checkbox" ng-true-value="true" ng-false-value="false" />
                      <span label-true="De Mim" label-false="Do Cliente"></span>
                    </span>
                  </label>
                </div>
                <div class="sc-p-h-md sc-p-b-md sc-align-bottom">
                  <div>
                    <div class="sc-label">Qualificados</div>
                    <div class="sc-btn-group">
                      <button class="sc-btn" ng-click="qualificadosSim = !qualificadosSim" ng-class="{'sc-btn-blue': qualificadosSim}">Sim</button>
                      <button class="sc-btn" ng-click="qualificadosNao = !qualificadosNao" ng-class="{'sc-btn-blue': qualificadosNao}">Não</button>
                    </div>
                  </div>
                </div>
                <div class="sc-p-h-md sc-p-b-md sc-align-bottom">
                  <div>
                    <div class="sc-label">Concorrentes</div>
                    <div class="sc-btn-group">
                      <button class="sc-btn" ng-click="concorrentesSim = !concorrentesSim" ng-class="{'sc-btn-blue': concorrentesSim}">Sim</button>
                      <button class="sc-btn" ng-click="concorrentesNao = !concorrentesNao" ng-class="{'sc-btn-blue': concorrentesNao}">Não</button>
                    </div>
                  </div>
                </div>
                <div class="sc-p-h-md sc-p-b-md sc-align-bottom">
                  <div>
                    <div class="sc-label">Referências</div>
                    <div class="sc-btn-group">
                      <button class="sc-btn" ng-click="referenciasSim = !referenciasSim" ng-class="{'sc-btn-blue': referenciasSim}">Sim</button>
                      <button class="sc-btn" ng-click="referenciasNao = !referenciasNao" ng-class="{'sc-btn-blue': referenciasNao}">Não</button>
                    </div>
                  </div>
                </div>
                <div class="sc-p-h-md sc-p-b-md sc-align-bottom">
                  <div>
                    <div class="sc-label">+ de 80 Un</div>
                    <div class="sc-btn-group">
                      <button class="sc-btn" ng-click="maisDe80Sim = !maisDe80Sim" ng-class="{'sc-btn-blue': maisDe80Sim}">Sim</button>
                      <button class="sc-btn" ng-click="maisDe80Nao = !maisDe80Nao" ng-class="{'sc-btn-blue': maisDe80Nao}">Não</button>
                    </div>
                  </div>
                </div>
                <div class="sc-p-h-md sc-p-b-md sc-align-bottom">
                  <label>
                    <div class="sc-label">Relevância</div>
                    <select class="sc-input-default" ng-model="registro.relevancia" ng-options="item for item in ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']"></select>
                  </label>
                </div>
              </form>
            </div>
          </section>
        </section>
        <section id="breadcrumb">
          <a>Início</a> / CRM
        </section>

        <div id="crm" class="sc-m-t-xxl">
          <ul class="sc-accordion">
            <li class="sc-acc-blue">
              <div class="sc-accordion-head sc-text-lg sc-cursor-default">
                <div class="sc-accordion-icon-col sc-divider align-xs-center hidden-xs hidden-sm"></div>
                <div class="sc-accordion-elastic-col info title">Cliente</div>
                <div class="sc-accordion-elastic-col">Bairro / Cidade</div>
                <div class="sc-accordion-elastic-col">Contato</div>
                <div class="sc-accordion-elastic-col">Próximo Contato</div>
                <div class="sc-accordion-elastic-col">Último Contato</div>
                <div class="sc-accordion-elastic-col">Vendedor</div>
                <div class="sc-accordion-icon-col align-xs-center"></div>
              </div>
            </li>
            <li ng-repeat="registro in registros | scFilter:pesquisa" class="ng-animation-slider" ng-class="registro.acc.opened ? 'sc-acc-gray-light':'sc-acc-gray-lighter'">
              <div ng-click="registro.acc.opened = !registro.acc.opened"  class="sc-accordion-head sc-text-lg">
                <div class="sc-accordion-icon-col sc-divider align-xs-center hidden-xs hidden-sm">
                  <i class="sc-icon sc-icon-seta-11-direita sc-transition" ng-class="{'sc-rotate-90': registro.acc.opened}"></i>
                </div>
                <div class="sc-accordion-elastic-col info title">{{registro.cliente}}</div>
                <div class="sc-accordion-elastic-col">{{registro.bairro}} / {{registro.cidade}}</div>
                <div class="sc-accordion-elastic-col">{{exibirNomes(registro.contatos)}}</div>
                <div class="sc-accordion-elastic-col">{{registro.proximoContato}}</div>
                <div class="sc-accordion-elastic-col">{{registro.ultimoContato}}</div>
                <div class="sc-accordion-elastic-col">{{exibirNomes(registro.vendedores)}}</div>
                <div class="sc-accordion-icon-col align-xs-center">
                  <i ng-click="apagarCliente($index)" class="sc-icon sc-icon-lixeira-1 sc-badge-hover-red"></i>
                </div>
              </div>
              <div ng-show="registro.acc.opened" class="sc-accordion-body ng-animation-slider ng-hide">
                <div class="clear sc-p-t-xs"></div>

                <!-- CADASTRO -->
                <div class="registro">
                  <div class="sc-m-lg">
                    <form class="grid-container">
                      <div class="dados-cliente sc-fieldset">
                        <div class="sc-align-bottom sc-m-sm">
                          <label class="sc-p-r-md">
                            <div class="sc-label">Cliente</div>
                            <input ng-model="registro.cliente" type="text" class="sc-input-default">
                          </label>
                        </div>
                        <div class="sc-align-bottom sc-m-sm">
                          <label class="sc-p-r-md">
                            <div class="sc-label">Contato partiu</div>
                            <span class="sc-toggle sc-p-xs" >
                              <input ng-model="registro.contatoPartiu" type="checkbox" ng-true-value="true" ng-false-value="false" />
                              <span label-true="De Mim" label-false="Do Cliente"></span>
                            </span>
                          </label>
                        </div>
                        <div class="sc-align-bottom sc-m-md" ng-controller="CRM::RamosAtividade" ng-init="init(ramosAtividade)" style="max-width:20em">
                          <span sc-dropdown-menu class="sc-dropdown pull-left">
                            <div>
                              <div class="sc-label">
                                Ramos de Atividade
                                <i ng-click="ModalRamosAtividade.open()" class="sc-badge-hover-blue sc-icon sc-icon-engrenagem"></i>
                              </div>
                              <div class="sc-input-group">
                                <input ng-click="menu.open(); verSelecionadosRamo = false" type="text" class="sc-input-default" placeholder="Pesquisar" ng-model="searchText" style="width: 100%;">
                                <i ng-click="menu.open(); verSelecionadosRamo = false" class="sc-btn sc-btn-blue sc-icon sc-icon-seta-5-baixo"></i>
                                <button ng-click="verSelecionadosRamo = !verSelecionadosRamo; menu.close()" class="sc-btn" ng-class="itensSelecionados(ramosAtividade).length > 0 ? 'sc-btn-blue':'sc-cursor-default'">
                                  <i class="sc-icon" ng-class="(verSelecionadosRamo && itensSelecionados(ramosAtividade).length > 0) ? 'sc-icon-menos-1':'sc-icon-visto-1'"></i>
                                  <span ng-show="itensSelecionados(ramosAtividade).length > 0" class="sc-badge sc-badge-fixed sc-bg-red">{{itensSelecionados(ramosAtividade).length}}</span>
                                </button>
                              </div>
                            </div>
                            <ul class="sc-dropdown-menu ng-animation-slider" ng-show="verSelecionadosRamo && itensSelecionados(ramosAtividade).length > 0" style="width: 100%">
                              <li ng-repeat="item in itensSelecionados(ramosAtividade)">
                                <div class="vertical-align">
                                  <span>{{item.nome}}</span>
                                  <div class="pull-right" style="position: relative; top: 0.5em;">
                                    <i ng-click="item.active = false; cadastrarRamo(item, registro, item.id)" class="sc-icon sc-icon-fechar-1 sc-badge-hover-red"></i>
                                  </div>
                                </div>
                              </li>
                            </ul>
                            <ul class="sc-dropdown-menu ng-animation-slider" ng-show="menu.isOn" style="width: 100%">
                              <li ng-repeat="item in ramosAtividadeFilter = (ramosAtividade | scFilter:searchText | orderBy:'nome')" ng-click="item.active = !item.active; cadastrarRamo(item, registro, item.id)">
                                <div class="vertical-align">
                                  <i ng-class="item.active ? 'sc-icon-visto-4' : 'sc-icon-quadrado-1'" class="sc-icon sc-icon-fw"></i>
                                  <span>{{item.nome}}</span>
                                </div>
                              </li>
                            </ul>
                          </span>
                          <div class="clear"></div>

                          <!-- MODAL RAMOS DE ATIVIDADE -->
                          <div sc-modal="ModalRamosAtividade" class="sc-modal-md">
                            <div class="sc-modal-header">
                              <i ng-click="ModalRamosAtividade.close()" class="sc-modal-close sc-icon sc-icon-fechar-2 sc-text-gray sc-text-hover-red"></i>
                              Ramos de Atividades
                              <button ng-click="novoRamo.cadastrando = true" class="sc-btn sc-btn-xs sc-btn-green sc-m-l-lg" ng-hide="estaEditando()"><i class="sc-icon sc-icon-mais-1"></i> <span class="sc-text-lg">Cadastrar Novo</span></button>
                            </div>

                            <div class="sc-modal-body">
                              <div class="cadastrar" ng-show="estaEditando()">
                                <div class="sc-m-md">
                                  <div class="sc-label">Nome</div>
                                  <input ng-model="novoRamo.nome" type="text" class="sc-input-default" style="width:80%">
                                </div>
                                <div class="sc-m-md">
                                  <div class="sc-label">Sugerir Contato</div>
                                  <input ng-model="novoRamo.sugerirContato" type="text" class="sc-input-default" style="width:80%">
                                </div>
                                <div class="sc-m-md">
                                  <div class="sc-label">Observações</div>
                                  <textarea ng-model="novoRamo.observacoes" class="sc-input-default" rows="8" style="width:100%"></textarea>
                                </div>
                              </div> <!-- .cadastrar -->
                              <div class="listagem" ng-hide="estaEditando()">
                                <ul>
                                  <li ng-repeat="item in ramosAtividade | orderBy:'nome'" class="sc-text-md sc-p-md sc-bg-hover-gray-lighter" ng-class="{'sc-border-b-gray-light-dotted-md': !$last}">
                                    {{item.nome}}
                                    <span ng-click="editarRamo(item)" class="sc-cursor-pointer sc-m-l-xl sc-bagde-icon sc-bg-hover-yellow sc-text-hover-white sc-border-radius-full sc-text-yellow"><i class="sc-icon sc-icon-lapis"></i></span>
                                    <div style="float: right">
                                      <span ng-click="excluirRamo(item)" class="sc-cursor-pointer sc-bagde-icon sc-bg-hover-red sc-text-hover-white sc-border-radius-full sc-text-red"><i class="sc-icon sc-icon-lixeira-1"></i></span>
                                    </div>
                                  </li>
                                </ul>
                              </div> <!-- .listagem -->
                            </div>

                            <div class="sc-modal-footer">
                              <button ng-hide="estaEditando()" ng-click="ModalRamosAtividade.close()" class="sc-btn">Fechar</button>
                              <button ng-show="estaEditando()" ng-click="criarSalvarRamo()" class="sc-btn sc-btn-blue">Salvar</button>
                              <button ng-show="estaEditando()" ng-click="cancelarEdicao()" class="sc-btn">Cancelar</button>
                            </div>
                          </div>
                          <!-- MODAL RAMOS DE ATIVIDADE -->
                        </div>
                        <div class="sc-align-bottom sc-m-md" ng-controller="CRM::StatusNegociacao" ng-init="init(status)" style="max-width:20em">
                          <span sc-dropdown-menu class="sc-dropdown pull-left">
                            <div>
                              <div class="sc-label">
                                Situação
                                <i ng-click="ModalStatus.open()" class="sc-badge-hover-blue sc-icon sc-icon-engrenagem"></i>
                              </div>
                              <div class="sc-input-group">
                                <input ng-click="menu.open(); verSelecionadosRamo = false" type="text" class="sc-input-default" placeholder="Pesquisar" ng-model="searchText" style="width: 100%;">
                                <i ng-click="menu.open(); verSelecionadosRamo = false" class="sc-btn sc-btn-blue sc-icon sc-icon-seta-5-baixo"></i>
                                <button ng-click="verSelecionadosRamo = !verSelecionadosRamo; menu.close()" class="sc-btn" ng-class="itensSelecionados(status).length > 0 ? 'sc-btn-blue':'sc-cursor-default'">
                                  <i class="sc-icon" ng-class="(verSelecionadosRamo && itensSelecionados(status).length > 0) ? 'sc-icon-menos-1':'sc-icon-visto-1'"></i>
                                  <span ng-show="itensSelecionados(status).length > 0" class="sc-badge sc-badge-fixed sc-bg-red">{{itensSelecionados(status).length}}</span>
                                </button>
                              </div>
                            </div>
                            <ul class="sc-dropdown-menu ng-animation-slider" ng-show="verSelecionadosRamo && itensSelecionados(status).length > 0" style="width: 100%">
                              <li ng-repeat="item in itensSelecionados(status)">
                                <div class="vertical-align">
                                  <span>{{item.nome}}</span>
                                  <div class="pull-right" style="position: relative; top: 0.5em;">
                                    <i ng-click="item.active = false" class="sc-icon sc-icon-fechar-1 sc-badge-hover-red"></i>
                                  </div>
                                </div>
                              </li>
                            </ul>
                            <ul class="sc-dropdown-menu ng-animation-slider" ng-show="menu.isOn" style="width: 100%">
                              <li ng-repeat="item in ramosAtividadeFilter = (status | scFilter:searchText)" ng-click="item.active = !item.active">
                                <div class="vertical-align">
                                  <i ng-class="item.active ? 'sc-icon-visto-4' : 'sc-icon-quadrado-1'" class="sc-icon sc-icon-fw"></i>
                                  <span>{{item.nome}}</span>
                                </div>
                              </li>
                            </ul>
                          </span>
                          <div class="clear"></div>

                          <!-- MODAL STATUS -->
                          <div sc-modal="ModalStatus" class="sc-modal-md">
                            <div class="sc-modal-header">
                              <i ng-click="ModalStatus.close()" class="sc-modal-close sc-icon sc-icon-fechar-2 sc-text-gray sc-text-hover-red"></i>
                              Status
                              <button ng-click="novoStatus.cadastrando = true" class="sc-btn sc-btn-xs sc-btn-green sc-m-l-lg" ng-hide="estaEditando()"><i class="sc-icon sc-icon-mais-1"></i> <span class="sc-text-lg">Cadastrar Novo</span></button>
                            </div>

                            <div class="sc-modal-body">
                              <div class="cadastrar" ng-show="estaEditando()">
                                <div class="sc-m-md">
                                  <div class="sc-label">Nome</div>
                                  <input ng-model="novoStatus.nome" type="text" class="sc-input-default" style="width:80%">
                                </div>
                              </div> <!-- .cadastrar -->
                              <div class="listagem" ng-hide="estaEditando()">
                                <ul as-sortable ng-model="status">
                                  <li as-sortable-item ng-repeat="item in status" class="sc-text-md sc-p-md sc-bg-hover-gray-lighter" ng-class="{'sc-border-b-gray-light-dotted-md': !$last}">
                                    <span as-sortable-item-handle class="sc-m-r-lg sc-bagde-icon sc-bg-hover-gray sc-text-hover-white sc-border-radius-full sc-text-gray"><i class="sc-icon sc-icon-reticiencias-v"></i></span>
                                    {{item.nome}}
                                    <span ng-click="editarStatus(item)" class="sc-cursor-pointer sc-m-l-xl sc-bagde-icon sc-bg-hover-yellow sc-text-hover-white sc-border-radius-full sc-text-yellow"><i class="sc-icon sc-icon-lapis"></i></span>
                                    <div style="float: right">
                                      <span ng-click="excluirStatus(item)" class="sc-cursor-pointer sc-bagde-icon sc-bg-hover-red sc-text-hover-white sc-border-radius-full sc-text-red"><i class="sc-icon sc-icon-lixeira-1"></i></span>
                                    </div>
                                  </li>
                                </ul>
                              </div> <!-- .listagem -->
                            </div>

                            <div class="sc-modal-footer">
                              <button ng-hide="estaEditando()" ng-click="ModalStatus.close()" class="sc-btn">Fechar</button>
                              <button ng-show="estaEditando()" ng-click="criarSalvarStatus()" class="sc-btn sc-btn-blue">Salvar</button>
                              <button ng-show="estaEditando()" ng-click="cancelarEdicao()" class="sc-btn">Cancelar</button>
                            </div>
                          </div>
                          <!-- MODAL STATUS -->
                        </div>
                        <div class="sc-align-bottom sc-m-sm" ng-controller="CRM::Qualificacao">
                          <label>
                            <div class="sc-label">
                              Lead / Qualificação
                              <i ng-click="ModalQualificacao.open()" class="sc-badge-hover-blue sc-icon sc-icon-engrenagem"></i>
                            </div>
                            <select class="sc-input-default" ng-model="registro.qualificacao" ng-options="item for item in qualificacao"></select>
                          </label>

                          <!-- MODAL QUALIFICACAO-->
                          <div sc-modal="ModalQualificacao" class="sc-modal-md">
                            <div class="sc-modal-header">
                              <i ng-click="ModalQualificacao.close()" class="sc-modal-close sc-icon sc-icon-fechar-2 sc-text-gray sc-text-hover-red"></i>
                              Lead / Qualificacao
                              <button ng-click="novaQualificacao.cadastrando = true" class="sc-btn sc-btn-xs sc-btn-green sc-m-l-lg" ng-hide="estaEditando()"><i class="sc-icon sc-icon-mais-1"></i> <span class="sc-text-lg">Cadastrar Novo</span></button>
                            </div>

                            <div class="sc-modal-body">
                              <div class="cadastrar" ng-show="estaEditando()">
                                <div class="sc-m-md">
                                  <div class="sc-label">Tipo</div>
                                  <input ng-model="novaQualificacao.tipo" type="text" class="sc-input-default" style="width:80%">
                                </div>
                              </div> <!-- .cadastrar -->
                              <div class="listagem" ng-hide="estaEditando()">
                                <ul as-sortable ng-model="qualificacao">
                                  <li as-sortable-item ng-repeat="item in qualificacao" class="sc-text-md sc-p-md sc-bg-hover-gray-lighter" ng-class="{'sc-border-b-gray-light-dotted-md': !$last}">
                                    <span as-sortable-item-handle class="sc-m-r-lg sc-bagde-icon sc-bg-hover-gray sc-text-hover-white sc-border-radius-full sc-text-gray"><i class="sc-icon sc-icon-reticiencias-v"></i></span>
                                    {{item}}
                                    <span ng-click="editarQualificacao(item)" class="sc-cursor-pointer sc-m-l-xl sc-bagde-icon sc-bg-hover-yellow sc-text-hover-white sc-border-radius-full sc-text-yellow"><i class="sc-icon sc-icon-lapis"></i></span>
                                    <div style="float: right">
                                      <span ng-click="excluirQualificacao(item)" class="sc-cursor-pointer sc-bagde-icon sc-bg-hover-red sc-text-hover-white sc-border-radius-full sc-text-red"><i class="sc-icon sc-icon-lixeira-1"></i></span>
                                    </div>
                                  </li>
                                </ul>
                              </div> <!-- .listagem -->
                            </div>

                            <div class="sc-modal-footer">
                              <button ng-hide="estaEditando()" ng-click="ModalQualificacao.close()" class="sc-btn">Fechar</button>
                              <button ng-show="estaEditando()" ng-click="criarSalvarQualificacao()" class="sc-btn sc-btn-blue">Salvar</button>
                              <button ng-show="estaEditando()" ng-click="cancelarEdicao()" class="sc-btn">Cancelar</button>
                            </div>
                          </div>
                          <!-- MODAL QUALIFICACAO -->
                        </div>

                        <div class="sc-align-bottom sc-m-sm">
                          <label class="sc-p-r-md">
                            <div class="sc-label">Concorrente?</div>
                            <span class="sc-toggle sc-p-xs" >
                              <input ng-model="registro.concorrente" type="checkbox" ng-true-value="true" ng-false-value="false" />
                              <span label-true="Sim" label-false="Não"></span>
                            </span>
                          </label>
                        </div>
                        <div class="sc-align-bottom sc-m-sm">
                          <label class="sc-p-r-md">
                            <div class="sc-label">Referências?</div>
                            <span class="sc-toggle sc-p-xs" >
                              <input ng-model="registro.referencias" type="checkbox" ng-true-value="true" ng-false-value="false" />
                              <span label-true="Sim" label-false="Não"></span>
                            </span>
                          </label>
                        </div>
                        <div class="sc-align-bottom sc-m-sm">
                          <label class="sc-p-r-md">
                            <div class="sc-label">+ de 80 Un?</div>
                            <span class="sc-toggle sc-p-xs" >
                              <input ng-model="registro.maisDe80Und" type="checkbox" ng-true-value="true" ng-false-value="false" />
                              <span label-true="Sim" label-false="Não"></span>
                            </span>
                          </label>
                        </div>
                        <div class="sc-align-bottom sc-m-sm">
                          <label>
                            <div class="sc-label">Relevância</div>
                            <select class="sc-input-default" ng-model="registro.relevancia" ng-options="item for item in ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']"></select>
                          </label>
                        </div>
                        <div class="sc-align-bottom sc-m-sm">
                          <label class="sc-p-r-md">
                            <div class="sc-label">CNPJ/CPF</div>
                            <input ng-model="registro.cobranca" type="text" class="sc-input-default">
                          </label>
                        </div>
                      </div> <!-- .dados-cliente -->

                      <div class="observacoes sc-fieldset">
                        <div class="sc-m-md">
                          <label style="display: block">
                            <div class="sc-label">Observações</div>
                            <textarea ng-model="registro.observacoes" class="sc-input-default" rows="12" style="width:100%"></textarea>
                          </label>
                        </div>
                      </div> <!-- .observacoes -->

                      <div class="contatos sc-fieldset">
                        <div class="sc-text-lg sc-m-t-md sc-m-b-md">
                          <i class="sc-icon sc-icon-grupo-2 sc-text-blue"></i>
                          <b>Contatos</b>
                          <button class="sc-btn sc-btn-xs sc-btn-green sc-m-l-lg" ng-click="novoContato(registro)"><i class="sc-icon sc-icon-mais-1"></i> <span class="sc-text-xl">Novo Contato</span></button>
                        </div>
                        <ul>
                          <li ng-repeat="contato in registro.contatos">
                            <div class="sc-align-bottom sc-m-sm">
                              <label class="sc-p-r-md">
                                <div class="sc-label">Nome</div>
                                <input ng-model="contato.nome" type="text" class="sc-input-default">
                              </label>
                            </div>
                            <div class="sc-align-bottom sc-m-sm">
                              <label>
                                <div class="sc-label">E-mail</div>
                                <input ng-model="contato.email" type="email" class="sc-input-default">
                              </label>
                              <div><span class="sc-m-sm sc-bagde-icon sc-bg-hover-blue sc-text-gray sc-text-hover-white sc-border-radius-full"><i class="sc-text-md sc-icon sc-icon-carta-4"></i></span></div>
                            </div>
                            <div class="sc-align-bottom sc-m-sm">
                              <label class="sc-p-r-md">
                                <div class="sc-label">Função</div>
                                <input ng-model="contato.funcao" type="text" class="sc-input-default">
                              </label>
                            </div>
                            <div class="sc-align-bottom sc-m-sm">
                              <label class="sc-p-r-md">
                                <div class="sc-label">Telefone</div>
                                <input ng-model="contato.telefone" type="tel" class="sc-input-default">
                              </label>
                            </div>
                            <div class="sc-align-bottom sc-m-sm">
                              <label class="sc-p-r-md">
                                <div class="sc-label">Telefone</div>
                                <input ng-model="contato.telefone2" type="tel" class="sc-input-default">
                              </label>
                            </div>
                            <div class="sc-align-bottom sc-m-sm">
                              <label class="sc-p-r-md">
                                <div class="sc-label">Aniversário</div>
                                <input ng-model="contato.aniversario" type="date" class="sc-input-default">
                              </label>
                            </div>
                            <div class="sc-align-bottom sc-m-sm">
                              <div ng-click="enviarEmail(contato)" class="sc-btn">
                                <i class="sc-icon sc-icon-carta-4"></i>
                              </div>
                              <div ng-click="enviarEmail2(contato)" class="sc-btn">
                                <i class="sc-icon sc-icon-pasta-2-aberta"></i>
                              </div>
                            </div>
                            <div class="sc-align-bottom sc-m-sm">
                              <label class="sc-p-r-md">
                                <div class="sc-label">Cobrança?</div>
                                <div ng-click="contato.cobranca.email = !contato.cobranca.email" class="sc-btn {{contato.cobranca.email ? 'sc-btn-blue' : ''}}">
                                  <i class="sc-icon sc-icon-carta-4"></i>
                                </div>
                                <div ng-click="contato.cobranca.telefone = !contato.cobranca.telefone" class="sc-btn {{contato.cobranca.telefone ? 'sc-btn-blue' : ''}}">
                                  <i class="sc-icon sc-icon-telefone-1"></i>
                                </div>
                              </label>
                            </div>
                            <div class="sc-align-bottom sc-m-sm">
                              <label class="sc-p-r-md">
                                <div><span ng-click="apagarContato(registro.contatos, $index)" class="sc-m-sm sc-bagde-icon sc-bg-hover-red sc-text-red sc-text-hover-white sc-border-radius-full"><i class="sc-text-lg sc-icon sc-icon-lixeira-1"></i></span></div>
                              </label>
                            </div>

                            <div sc-modal="contato.modalEnvioTermo" class="sc-modal-md">
                              <div class="sc-modal-header">
                                <i ng-click="contato.modalEnvioTermo.close()" class="sc-modal-close sc-icon sc-icon-fechar-2 sc-text-gray sc-text-hover-red"></i>
                                Envio do termo de uso
                              </div>
                              <div class="sc-modal-body">
                                <div class="sc-fieldset">
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Nome do Condomínio</div>
                                      <input class="sc-input-default"/>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Data do vencimento</div>
                                      <input type="date" ng-model="data" class="sc-input-default sc-input-data"/>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Valor do sistema</div>
                                      <input sc-input-currency="sc-input-currency" ng-model="currencyInput" class="sc-input-default"/>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Nome do responsável</div>
                                      <input class="sc-input-default"/>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Cpf do responsável</div>
                                      <input class="sc-input-default"/>
                                    </label>
                                  </div>
                                </div>
                              </div>

                              <div class="sc-modal-footer">
                                <button ng-click="contato.modalEnvioTermo.close()" class="sc-btn sc-btn-green">Elaborar Termo de Uso</button>
                              </div>
                            </div>

                            <div sc-modal="contato.modalImplantacao" class="sc-modal-md">
                              <div class="sc-modal-header">
                                <i ng-click="contato.modalImplantacao.close()" class="sc-modal-close sc-icon sc-icon-fechar-2 sc-text-gray sc-text-hover-red"></i>
                                Dados para implantação
                              </div>
                              <div class="sc-modal-body">
                                <p class="sc-text-gray sc-text-lg align-center">DADOS DO CONTRATANTE</p>
                                <div class="sc-fieldset">
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Nome do Condomínio</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">CNPJ</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Inscrição Municipal</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Endereço (completo, inclusive CEP)</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                </div>
                                <p class="sc-text-gray sc-text-lg align-center">E-MAILS</p>
                                <div class="sc-fieldset">
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">E-mail da adm. do condominio</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">E-mail do contratante</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">E-mail do sindico</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                </div>
                                <p class="sc-text-gray sc-text-lg align-center">TELEFONES</p>
                                <div class="sc-fieldset">
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Telefone da adm. do condominio</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Telefone do síndico</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Telefone da portatia</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                </div>
                                <p class="sc-text-gray sc-text-lg align-center">DADOS DO RESPONSÁVEL</p>
                                <div class="sc-fieldset">
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Nome</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Nacionalidade</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Estado Civil</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">RG</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">CPF</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Endereço (completo, inclusive CEP)</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                </div>
                                <div class="sc-m-t-lg">
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Imagem com logotipo do condomínio</div>
                                      <button class="sc-btn sc-btn-blue">Anexar</button>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Cartão CNPJ</div>
                                      <button class="sc-btn sc-btn-blue">Anexar</button>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Dia do Vencimento do Boleto</div>
                                      <input ng-show="contato._edit || contato._add" type="number" style="width: 7em" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Nome que deseja para o site do condomínio</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default" placeholder="Nome do condomínio separado por hífen"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                </div>
                              </div>
                              <div class="sc-modal-footer">
                                <button ng-show="contato._edit" ng-click="abrirTermo()" class="sc-btn sc-btn-green">contratar</button>
                                <button ng-hide="contato._edit" ng-click="enviarEmailConfirm()" class="sc-btn sc-btn-green">Confirmar</button>
                              </div>
                            </div>

                            <div sc-modal="contato.modalImplantacao2" class="sc-modal-md">
                              <div class="sc-modal-header">
                                <i ng-click="contato.modalImplantacao.close()" class="sc-modal-close sc-icon sc-icon-fechar-2 sc-text-gray sc-text-hover-red"></i>
                                Dados para implantação
                              </div>
                              <div class="sc-modal-body">
                                <p class="sc-texsc-icon-t-gray sc-text-lg align-center">DADOS DO CONTRATANTE</p>
                                <div class="sc-fieldset">
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Nome do Condomínio</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">CNPJ</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Inscrição Municipal</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Endereço (completo, inclusive CEP)</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                </div>
                                <p class="sc-text-gray sc-text-lg align-center">E-MAILS</p>
                                <div class="sc-fieldset">
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">E-mail da adm. do condominio</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">E-mail do contratante</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">E-mail do sindico</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                </div>
                                <p class="sc-text-gray sc-text-lg align-center">TELEFONES</p>
                                <div class="sc-fieldset">
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Telefone da adm. do condominio</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Telefone do síndico</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Telefone da portatia</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                </div>
                                <p class="sc-text-gray sc-text-lg align-center">DADOS DO RESPONSÁVEL</p>
                                <div class="sc-fieldset">
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Nome</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Nacionalidade</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Estado Civil</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">RG</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">CPF</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Endereço (completo, inclusive CEP)</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                </div>
                                <div class="sc-m-t-lg">
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Imagem com logotipo do condomínio</div>
                                      <button class="sc-btn sc-btn-blue">Anexar</button>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Cartão CNPJ</div>
                                      <button class="sc-btn sc-btn-blue">Anexar</button>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Dia do Vencimento do Boleto</div>
                                      <input ng-show="contato._edit || contato._add" type="number" style="width: 7em" class="sc-input-default"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                  <div class="sc-p-l-md sc-p-b-md sc-align-bottom">
                                    <label>
                                      <div class="sc-label">Nome que deseja para o site do condomínio</div>
                                      <input ng-show="contato._edit || contato._add" class="sc-input-default" placeholder="Nome do condomínio separado por hífen"/>
                                      <div ng-hide="contato._edit || contato._add" class="sc-p-md">Info</div>
                                    </label>
                                  </div>
                                </div>
                              </div>
                              <div class="sc-modal-footer">
                                <button ng-click="enviarEmailCont()" class="sc-btn sc-btn-green">Confirmar</button>
                              </div>
                            </div>

                            <hr ng-hide="$last" style="border-top-color: #ddd" />
                          </li>
                        </ul>
                      </div> <!-- .contatos -->

                      <div class="endereco sc-fieldset">
                        <div class="sc-text-lg sc-m-t-md sc-m-b-md">
                          <i class="sc-icon sc-icon-local sc-text-blue"></i>
                          <b>Endereço</b>
                        </div>
                        <div class="sc-align-bottom sc-m-sm">
                          <label class="sc-p-r-md">
                            <div class="sc-label">CEP</div>
                            <input ng-model="registro.cep" type="text" class="sc-input-default">
                          </label>
                        </div>
                        <div class="sc-align-bottom sc-m-sm">
                          <label class="sc-p-r-md">
                            <div class="sc-label">Estado</div>
                            <select class="sc-input-default" ng-model="registro.estado" ng-options="item for item in estados" ng-hide="registro.exterior"></select>
                            <input class="sc-input-default" ng-model="registro.estadoExterior" ng-hide="!registro.exterior">
                          </label>
                        </div>
                        <div class="sc-align-bottom sc-m-sm">
                          <label class="sc-p-r-md">
                            <div class="sc-label">Cidade</div>
                            <select class="sc-input-default" ng-model="registro.cidade" ng-options="item for item in cidades" ng-hide="registro.exterior"></select>
                            <input class="sc-input-default" ng-model="registro.cidadeExterior" ng-hide="!registro.exterior">
                          </label>
                        </div>
                        <div class="sc-align-bottom sc-m-sm">
                          <label class="sc-p-r-md">
                            <div class="sc-label">Logradouro</div>
                            <input ng-model="registro.logradouro" type="text" class="sc-input-default">
                          </label>
                        </div>
                        <div class="sc-align-bottom sc-m-sm">
                          <label class="sc-p-r-md">
                            <div class="sc-label">Bairro</div>
                            <input ng-model="registro.bairro" type="text" class="sc-input-default">
                          </label>
                        </div>
                        <div class="sc-align-bottom sc-m-sm">
                          <label class="sc-p-r-md">
                            <div class="sc-label">Complemento</div>
                            <input ng-model="registro.complemento" type="text" class="sc-input-default">
                          </label>
                        </div>
                        <div class="sc-align-bottom sc-m-sm">
                          <label class="sc-p-r-md">
                            <div class="sc-label">Exterior?</div>
                            <span class="sc-toggle sc-p-xs" >
                              <input ng-model="registro.exterior" type="checkbox" ng-true-value="true" ng-false-value="false" />
                              <span label-true="Sim" label-false="Não"></span>
                            </span>
                          </label>
                        </div>
                      </div> <!-- .endereco -->

                      <div class="vendedoresOLD sc-fieldset" style="display: none" ng-controller="CRM::Vendedores" ng-init="init(vendedores)">
                        <span sc-dropdown-menu class="sc-dropdown pull-left">
                          <div style="width: 21em;">
                            <div class="sc-label">Vendedores</div>
                            <div class="tags">
                              <span ng-repeat="item in itensSelecionadosVisiveis(vendedores, registro)" class="sc-tag sc-tag-blue">
                                <span>{{item.nome}}</span>
                                <i class="sc-icon sc-icon-fechar-1 sc-tag-remove" ng-click="item.active = false; cadastrarVend(item, registro, item.id)"></i>
                              </span>
                              <span ng-if="itensSelecionados(vendedores).length > limiteItensVisiveis" ng-click="changeVerTodos()" class="sc-tag sc-tag-yellow sc-cursor-pointer">
                                <span>{{!verTodos ? 'Ver mais (' + qtdItensEscondidos(vendedores) + ')' : 'Ver menos'}} </span>
                              </span>
                              <div class="clear"></div>
                            </div>
                            <input type="text" class="sc-input-default" placeholder="pesquisar" ng-model="searchText" ng-click="menu.open()" style="width: 100%;">
                          </div>
                          <ul class="sc-dropdown-menu sc-dropdown-menu-right ng-animation-slider" ng-show="menu.isOn">
                            <li ng-repeat="item in vendedores | scFilter:searchText" ng-click="item.active = !item.active; cadastrarVend(item, registro, item.id)">
                              <div class="vertical-align">
                                <i ng-class="item.active ? 'sc-icon-visto-4' : 'sc-icon-quadrado-1'" class="sc-icon sc-icon-fw"></i>
                                <span>{{item.nome}}</span>
                              </div>
                            </li>
                          </ul>
                        </span>
                        <div class="clear"></div>
                      </div> <!-- .vendedores -->

                      <div class="vendedores sc-fieldset">
                        <div class="sc-text-lg sc-m-t-md sc-m-b-md">
                          <i class="sc-icon sc-icon-grupo-1 sc-text-blue"></i>
                          <b>Vendedores</b>
                          <button class="sc-btn sc-btn-xs sc-btn-blue sc-m-l-lg"><i class="sc-icon sc-icon-mais-1"></i> <span class="sc-text-xl">Adicionar</span></button>
                        </div>
                        <ul>
                          <li ng-repeat="vendedor in registro.vendedores">
                            <div class="sc-align-bottom sc-m-sm">
                              <label class="sc-p-r-md">
                                <div class="sc-label">Nome</div>
                                <input ng-model="vendedor.nome" type="text" class="sc-input-default">
                              </label>
                            </div>
                            <div class="sc-align-bottom sc-m-sm">
                              <label class="sc-p-r-md">
                                <div class="sc-label">Próximo Contato</div>
                                <input type="datetime-local" class="sc-input-default">
                              </label>
                            </div>
                            <hr ng-hide="$last" style="border-top-color: #ddd" />
                          </li>
                        </ul>
                      </div> <!-- .vendedores -->

                      <div class="negociacao sc-fieldset">
                        <div class="sc-text-lg sc-m-t-md sc-m-b-md">
                          <i class="sc-icon sc-icon-maleta sc-text-blue"></i>
                          <b>Negociação</b>
                        </div>
                        <ul>
                          <li ng-repeat="negociacao in registro.negociacoes">
                            <div style="float: left; width:3em" class="sc-m-r-lg">
                              <img src="{{negociacao.avatar}}" class="sc-border-radius sc-box-shadow-z1" style="border:2px solid #fff">
                            </div>
                            <div style="margin-left: 4.5em">
                              <div class="sc-m-md">
                                <span class="sc-label">{{negociacao.vendedor}}</span>
                              </div>
                              <div class="sc-m-md">
                                <span>{{negociacao.mensagem}}</span>
                              </div>
                              <div class="sc-m-md sc-text-sm">
                                <div ng-show="negociacao.satisfacao.length > 0" class="sc-label">Pesquisa de satisfação</div>
                                <i ng-show="negociacao.satisfacao.length > 0" ng-click="abrirPesquisa(negociacao)" class="sc-cursor-pointer sc-p-md sc-icon sc-icon-arquivo-4 sc-bagde sc-bg-green sc-border-radius-full sc-text-white"></i>
                                <i ng-hide="negociacao.satisfacao.length > 0" class="sc-p-md sc-icon {{negociacao.formaDeContato}} sc-bagde sc-bg-blue sc-border-radius-full sc-text-white"></i>
                                <i ng-hide="negociacao.satisfacao.length > 0" class="sc-p-md sc-icon {{negociacao.iconeTipoDeContato}} sc-bagde sc-bg-{{negociacao.tipoDeContato == 'Ativo' ? 'green' : 'yellow'}} sc-border-radius-full sc-text-white"></i>
                                <div>{{negociacao.data}}</div>
                              </div>
                            </div>
                            <hr ng-hide="$last" style="border-top-color: #ddd" />
                          </li>
                        </ul>
                        <hr style="border-top-color: #ddd" />
                        <div class="nova-negociacao">
                          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
                            <label style="display: block">
                              <div class="sc-label">Nova Negociacão</div>
                              <textarea ng-model="registro.msgNegociacao" ng-class="{'error':errors.mensagem}" class="sc-input-default" rows="6" style="width:100%"></textarea>
                              <p ng-show="errors.mensagem" class="sc-text-red sc-m-b-lg sc-border-red-light-solid-md sc-border-radius sc-p-lg sc-bg-red-lighter">Campo não pode ser vazio.</p>
                            </label>
                          </div>
                          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                            <div class="sc-m-md">
                              <div class="sc-p-r-md">
                                <div class="sc-label">Forma de Contato</div>
                                <div class="sc-btn-group">
                                  <button ng-repeat="item in iconesFormaDeContato" class="sc-btn" ng-class="{'sc-active': item.active}" ng-click="iconeAtivo(item.tipo)"><i class="sc-icon {{item.icone}}"></i></button>
                                  <button ng-click="preencherPesquisa(registro)" class="sc-btn"><img style="width: 1.1em; position: relative; top: 0.3em;" src="//www.seucondominio.com.br/assets/icones/m/82-3c4221b40fd7596ffff19056148c0f30.png"></i></button>
                                </div>
                              </div>
                            </div>
                            <div class="clear"></div>
                            <div class="sc-align-bottom sc-m-sm">
                              <div class="sc-p-r-md">
                                <div class="sc-label">Tipo de Contato</div>
                                <div class="sc-btn-group">
                                  <button ng-repeat="contato in tipoDeContato" class="sc-btn {{contato.tipo == 'Ativo' && contato.active ? 'sc-btn-green' : ''}} {{contato.tipo == 'Receptivo' && contato.active ? 'sc-btn-yellow' : ''}}" ng-click="tipoDeContatoAtivo(contato.tipo)"><i class="sc-icon {{contato.icone}}"></i> {{contato.tipo}}</button>
                                </div>
                              </div>
                            </div>
                            <div class="sc-align-bottom sc-m-sm">
                              <div class="sc-p-r-md">
                                <button class="sc-btn sc-btn-green sc-text-xl" ng-click="novaNegociacao(registro)"><i class="sc-icon sc-icon-visto-1"></i> Enviar</button>
                              </div>
                            </div>
                          </div>
                          <div class="clear"></div>
                        </div> <!-- .nova-negociacao -->
                      </div> <!-- .negociacao -->
                    </form>
                  </div>
                </div> <!-- .registro -->
              </div> <!-- .sc-accordion -->
            </li>
          </ul>
        </div>

        <div sc-modal="pesquisaInsa" class="sc-modal-md">
          <div class="sc-modal-header">
            <i ng-click="pesquisaInsa.close()" class="sc-modal-close sc-icon sc-icon-fechar-2 sc-text-gray sc-text-hover-red"></i>
            Pesquisa de Satisfação
          </div>
          <div class="sc-modal-body">
            <p class="sc-text-blue">Responda a esta pesquisa de satisfação sendo 1 muito insatisfeito e 5 muito satisfeito.</p>

            <div class="clear"></div>
            <p class="sc-text-blue">
              <div class="sc-label">Qual o nome do representante?</div>
              <input ng-hide="to_presquisa._show" ng-model="to_presquisa.representante" class="sc-input-default sc-text-sm" placeholder="Digite aqui.." />
              <div ng-show="to_presquisa._show" class="sc-p-md sc-text-gray">{{to_presquisa.representante}}</div>
            </p>
            <div ng-repeat="item in to_presquisa.listagem" class="sc-m-v-lg">
              <div class="sc-label">{{$index}}º {{item.pergunta}}?</div>
              <span class="sc-btn-group sc-m-h-lg">
                <button ng-click="activeItem(itemBtn, item.btnActive)" ng-disabled="to_presquisa._show && !itemBtn.active" ng-repeat="itemBtn in item.btnActive" class="sc-btn" ng-class="{'sc-btn-blue':itemBtn.active}">{{$index+1}}</button>
              </span>
            </div>
          </div>
          <div ng-hide="to_presquisa._show" class="sc-modal-footer">
            <button ng-click="pesquisaInsa.close()" class="sc-btn sc-btn-green">Salvar</button>
          </div>
        </div>

        <div sc-modal="imgImplant" class="sc-modal-md">
          <div class="sc-modal-body">
            <img src="https://dl.dropbox.com/s/mhtcpfhz67itsp0/Captura%20de%20tela%20de%202015-11-20%2009%3A31%3A41.png">
          </div>
          <div class="sc-modal-footer">
            <button ng-click="contratarOpen()" class="sc-btn sc-btn-green">Preencher os dados</button>
          </div>
        </div>

        <div sc-modal="termoUso" class="sc-modal-md">
          <div class="sc-modal-header">
            <i ng-click="termoUso.close()" class="sc-modal-close sc-icon sc-icon-fechar-2 sc-text-gray sc-text-hover-red"></i>
            Confirmação
          </div>
          <div class="sc-modal-body">
            <p>Esse é o termo para ultilização completa do sistema.</p>
            <p>Leia com atenção:</p>
            <p></p>
            <p>Ao iniciar o uso da ferramenta Seu Condomínio você concorda e está ssujeito a todos os termos, políticas e condições gerais</p>
            <p>descritas abaixo.</p>

            <div style="max-height: 8em; overflow: auto;" id="termo_uso" class="sc-bg-blue-lighter sc-border-blue-light-solid-md sc-text-gray sc-p-md">
              <p class="sc-text-black sc-text-bold">Termo de Uso</p>
              <p></p>
              <p>Most text editors like MS Word or Lotus Notes generate random lorem text when needed, either as pre-installed module or plug-in to be added. Word selection or sequence don't necessarily match the original, which is intended to add variety. Presentation software like Keynote or Pages use it as a samples for screenplay layout. Content management software as Joomla!, Drupal, Mambo, PHP-Nuke, WordPress, or Movable Type offer Lorem Ipsum plug-ins with the same functionality.lorem ipsum info From 2007 onwards typing =lorem(i) or =lorem(i, j) in MS Word creates greeking text--don't forget to hit the enter key; i and j need to be integers, where i stands for the amount of desired paragraphs and j numbers the sentences per paragraph. j has a default value of 3 and a maximum set to 6665. >> screenshots For notepad++, a Windows text editor, the InsertLoremIpsumNppPlugin can be downloaded at twenfour.com. It generates and inserts Lorem Ipsum, either as words, sentences, or paragraphs. The installation requires to copy the file InsertLoremIpsumNppPlugin.dll and the Config directory (both are contained in the zip file) to the "plugins" subdirectory of the Notepad++ installation directory. Afterwards, a new option "InsertLoremIpsum" will show in the "plugin" menu entry. A restart may be required. >> screenshots For Open Office an extension named Magenta Lorem ipsum generator is available at services.openoffice.org. Once installed, an icon will be shown in a toolbar below the menu bar, with the option to insert a number of paragraphs, the maximum is set to 25. >> screenshots GeanyLipsum is a plugin for Windows and Linux. It inserts Lorem Ipsum copy with a length of 1 to 5,000 chars and provides a keyboard shortcut. Adobe Dreamweaver, a web development environment, has a plugin in form of a Dreamweaver object named Dreamweaver Text. It can be accessed both from the Objects menu via Common > Lorem Ipsum palette or using the Lorem Ipsum entry in the Insert > Technocurve Menu.An alternative, possibly more versatile, is Lorem and More. It inserts dummy copy as paragraphs, lists, and regular text. Optionally available are extracts from a speech by Cicero, corporate nonsense, and a randomised sonnet by Shakespeare. Text may be inserted in code view and design view. The tool can be accessed via the Lorem and More icon on the Common tab of the Insert bar (MX) or the Common objects panel (DW4). Else, it's accessible using the menu: Insert > Lorem and More.It's easy to insert dummy copy with the Scribus text editor. Select a text frame, then chose "Sample Text" from the context menu after right-clicking. Predefined dummy copy in any languages can be set by configuring an XML file and storing it in a subdirectory "/loremipsum" of your Scribus installation. >> screenshots</p>
            </div>

            <p><i class="sc-icon sc-icon-quadrado-1"></i> Li e concordo com os termos de uso.</p>
          </div>
          <div class="sc-modal-footer">
            <button ng-click="contratarConfirm()" class="sc-btn sc-btn-green">Contratar</button>
          </div>
        </div>

        <div sc-modal="termoUsoView" class="sc-modal-md">
          <div class="sc-modal-header">
            <i ng-click="termoUsoView.close()" class="sc-modal-close sc-icon sc-icon-fechar-2 sc-text-gray sc-text-hover-red"></i>
            Confirmação
          </div>
          <div class="sc-modal-body">
            <p>Esse é o termo para ultilização completa do sistema.</p>
            <p>Leia com atenção:</p>
            <p></p>
            <p>Ao iniciar o uso da ferramenta Seu Condomínio você concorda e está ssujeito a todos os termos, políticas e condições gerais</p>
            <p>descritas abaixo.</p>

            <div style="max-height: 8em; overflow: auto;" id="termo_uso" class="sc-bg-blue-lighter sc-border-blue-light-solid-md sc-text-gray sc-p-md">
              <p class="sc-text-black sc-text-bold">Termo de Uso</p>
              <p></p>
              <p>Most text editors like MS Word or Lotus Notes generate random lorem text when needed, either as pre-installed module or plug-in to be added. Word selection or sequence don't necessarily match the original, which is intended to add variety. Presentation software like Keynote or Pages use it as a samples for screenplay layout. Content management software as Joomla!, Drupal, Mambo, PHP-Nuke, WordPress, or Movable Type offer Lorem Ipsum plug-ins with the same functionality.lorem ipsum info From 2007 onwards typing =lorem(i) or =lorem(i, j) in MS Word creates greeking text--don't forget to hit the enter key; i and j need to be integers, where i stands for the amount of desired paragraphs and j numbers the sentences per paragraph. j has a default value of 3 and a maximum set to 6665. >> screenshots For notepad++, a Windows text editor, the InsertLoremIpsumNppPlugin can be downloaded at twenfour.com. It generates and inserts Lorem Ipsum, either as words, sentences, or paragraphs. The installation requires to copy the file InsertLoremIpsumNppPlugin.dll and the Config directory (both are contained in the zip file) to the "plugins" subdirectory of the Notepad++ installation directory. Afterwards, a new option "InsertLoremIpsum" will show in the "plugin" menu entry. A restart may be required. >> screenshots For Open Office an extension named Magenta Lorem ipsum generator is available at services.openoffice.org. Once installed, an icon will be shown in a toolbar below the menu bar, with the option to insert a number of paragraphs, the maximum is set to 25. >> screenshots GeanyLipsum is a plugin for Windows and Linux. It inserts Lorem Ipsum copy with a length of 1 to 5,000 chars and provides a keyboard shortcut. Adobe Dreamweaver, a web development environment, has a plugin in form of a Dreamweaver object named Dreamweaver Text. It can be accessed both from the Objects menu via Common > Lorem Ipsum palette or using the Lorem Ipsum entry in the Insert > Technocurve Menu.An alternative, possibly more versatile, is Lorem and More. It inserts dummy copy as paragraphs, lists, and regular text. Optionally available are extracts from a speech by Cicero, corporate nonsense, and a randomised sonnet by Shakespeare. Text may be inserted in code view and design view. The tool can be accessed via the Lorem and More icon on the Common tab of the Insert bar (MX) or the Common objects panel (DW4). Else, it's accessible using the menu: Insert > Lorem and More.It's easy to insert dummy copy with the Scribus text editor. Select a text frame, then chose "Sample Text" from the context menu after right-clicking. Predefined dummy copy in any languages can be set by configuring an XML file and storing it in a subdirectory "/loremipsum" of your Scribus installation. >> screenshots</p>
            </div>

            <p><i class="sc-icon sc-icon-quadrado-1"></i> Li e concordo com os termos de uso.</p>
          </div>
          <div class="sc-modal-footer">
            <button ng-click="okTermo()" class="sc-btn sc-btn-green">Salvar</button>
          </div>
        </div>

        <!-- scTopMessages -->
        <div ng-click="scTopMessages.close()" ng-cloak class="sc-top-messages ng-cloak ng-animation-slider" ng-show="scTopMessages.toggler.opened">
          <div class="sc-text-white align-center sc-text-shadow-dark flex align-items-center {{scTopMessages.theme}}">
            <div class="sc-top-messages-msgs sc-cursor-default">
              <p ng-repeat="msg in scTopMessages.messages track by $index">{{msg}}</p>
            </div>
            <div class="sc-top-messages-close-button">
              <i class='sc-icon sc-icon-fechar-1 sc-cursor-pointer'></i>
            </div>
          </div>
        </div>

        <!-- scAlert -->
        <div ng-cloak class="sc-alert ng-cloak" ng-show="scAlert.toggler.opened" ng-class="{'active': scAlert.toggler.opened}">
          <div class="sc-alert-box">
            <h2 class="sc-alert-title">{{scAlert.title}}</h2>
            <div class="sc-alert-messages" ng-show="scAlert.messages.length">
              <p ng-repeat="msg in scAlert.messages track by $index">{{msg}}</p>
            </div>
            <div class="sc-alert-buttons">
              <button ng-repeat="btn in scAlert.buttons" class="sc-btn sc-btn-{{btn.color}} sc-btn-block-only-xs" ng-click="scAlert.btnAction(btn)" type="button">{{btn.label}}</button>
            </div>
          </div>
        </div>
      </section>
    </section>

    <script type="text/javascript" src="http://staging.seucondominio.com.br/assets/prototype-df624966e363f8d5ceeb4c6f3a6a3be6.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </body>
</html>
