html(ng-app="app" ng-controller="Controll")
  head
    title Cadastro de Funcionários
    link(href='../../source/font.css' rel='stylesheet' type='text/css')
    link(href="../../source/prototype.css" rel='stylesheet' type='text/css')
    link(href="http://codepen.io/dev6-seucondominio/pen/avpxNZ.css" rel='stylesheet' type='text/css')
    link(href="http://codepen.io/dev6-seucondominio/pen/gaXWjX.css" rel='stylesheet' type='text/css')
    link(href="index.css" rel='stylesheet' type='text/css')
  body.sc-system
    
    section#top-menu.sc-p-v-sm.sc-p-h-xl.sc-bg-blue
      img(src="https://www.seucondominio.com.br/assets/institucional/logo-mobile-c07a4de0cd57b02cf5eaffefcda8d48e.png")

    section#top-bar.sc-bg-gray-lighter
      #top-bar-content.sc-p-t-lg.sc-p-r-md.sc-bg-gray-lighter
        .sc-p-l-md.sc-p-b-md.pull-left
          button.sc-btn.sc-btn-awesomeness(ng-class="novoFuncionario._new ? 'sc-btn-gray':'sc-btn-blue'", ng-click="!filtro._open? newFunc():false")
            .sc-btn-icon
              i.sc-icon.sc-icon-mais-1
            .sc-btn-text Cadastrar Novo
        .sc-p-l-md.sc-p-b-md.col-xs-9.col-sm-7.col-md-5.col-lg-3
          .sc-input-group
            input.sc-input-default
            i.sc-icon.sc-icon-lupa-1.sc-btn.sc-btn-blue
            i.sc-icon.sc-icon-filtro-2.sc-btn.sc-btn-blue(ng-class="{'sc-btn-gray':filtro._open}", ng-click="!novoFuncionario._new ? filtro._open = !filtro._open:false")

        .clear
        
        section#filter-bar.sc-border-b-gray-light-solid-md.ng-animation-slider.sc-p-t-lg.ng-cloak(ng-cloak, ng-show='filtro._open')
          .filter-bar-campos
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Funcionário
                input.sc-input-default(type='text')
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Função
                input.sc-input-default(type='text')
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Empresa
                input.sc-input-default(type='text')
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Turno
                span.sc-dropdown(sc-dropdown-menu)
                  button.sc-btn.sc-btn-blue(type='button', ng-click='menu.toggle()')
                    | Selecione
                    i.sc-icon.sc-icon-fw.sc-icon-seta-5-baixo
                  ul.sc-dropdown-menu.ng-animation-slider(ng-show='menu.isOn')
                    li(ng-repeat='item in dadosGerais.turnos', ng-click='item.active = !item.active')
                      .vertical-align
                        i.sc-icon.sc-icon-fw(ng-class="item.active ? 'sc-icon-visto-4' : 'sc-icon-quadrado-1'")
                        span {{item.turno}}
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Data de Admissão
                input.sc-input-default.sc-input-date(style='line-height: 1;', type='date')
          .filter-bar-acoes.sc-m-t-lg
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              button.sc-btn.sc-btn-blue.sc-btn-awesomeness(ng-click='filtro._open = false')
                .sc-btn-icon
                  i.sc-icon.sc-icon-lupa-2
                .sc-btn-text.hidden-xs.hidden-sm Pesquisar
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              button.sc-btn.sc-btn-red.sc-btn-awesomeness(ng-click='filtro._open = false')
                .sc-btn-icon
                  i.sc-icon.sc-icon-fechar-1
                .sc-btn-text.hidden-xs.hidden-sm Limpar Busca

    section#breadcrumb
      .sc-p-h-xl.sc-p-b-md.sc-bg-gray-lighter.sc-text-gray.sc-text-sm
        span.sc-text-blue Início  
        span / Cadastro de Funcionários

    section#corpo.sc-m-t-lg(ng-controller="Funcionarios")
      section#novo-funcionario(ng-show="novoFuncionario._new")
        ul.sc-accordion
          li.sc-acc-blue(ng-controller="Funcionario", ng-init="initForm(novoFuncionario.dados)", ng-include="'form.html'")

      section#funcionarios(ng-hide="novoFuncionario._new")
        ul.sc-accordion
          li.sc-text-blue(ng-class="{ 'sc-acc-blue':form.opened }", ng-controller="Funcionario", ng-repeat="func in funcionarios track by $index", ng-init="initForm(func)", ng-include="'form.html'")
      
    section#modais
      section#campos-visiveis(ng-controller="camposVisiveisCtrl")
        .sc-modal.sc-modal.ng-isolate-scope.active.col-md-7.col-sm-10.col-xs-12(sc-modal='camposVisiveis.modal')
          .sc-modal-header.align-center
            span.sc-label Campos Visíveis
            .pull-right(ng-click='camposVisiveis.modal.close()')
              .icon-hover.icon-red
                i.sc-icon.sc-icon-fechar-1
          .sc-modal-body
            .sc-p-l-md.sc-p-b-md.sc-align-bottom.col-lg-3.col-md-4.col-sm-6.col-xs-12(ng-repeat="item in camposVisiveis.campos")
              .sc-border-gray-light-solid-md.sc-label.sc-p-sm(style="width: 83%; ") {{item.campo}}
              div
                .icon-hover(ng-class="item.visible ? 'icon-blue':'icon-gray'")
                  i.sc-icon.sc-icon-olho

      section#dispensar-funcionario
        .sc-modal.sc-modal.ng-isolate-scope.active(style="width: 20em", sc-modal='dispensarFuncionario.modal')
          .sc-modal-header.align-center
            span.sc-label Dispensar funcionário
            .pull-right(ng-click='dispensarFuncionario.modal.close()')
              .icon-hover.icon-red
                i.sc-icon.sc-icon-fechar-1
          .sc-modal-body.align-center.sc-text-blue
            p.sc-text-bold Atenção  
            p Ao confirmar este módulo o funcionário  
             b  {{dispensarFuncionario.dispensar.name}}
             |  será dispensado e seu login de acesso será desabilitado.
            p Deseja realmente dispensar este funcionário
          .sc-modal-footer
            button.sc-btn.sc-btn-green(ng-click="dispensarFuncionario.modal.close()") Sim
            button.pull-left.sc-btn.sc-btn-red(ng-click="dispensarFuncionario.modal.close()") Não

      section#enviar-email
        .sc-modal.sc-modal.ng-isolate-scope.active.col-md-7.col-sm-10.col-xs-12(sc-modal='enviarEmail.modal')
          .sc-modal-header.align-center
            span.sc-label Enviar E-mail
            .pull-right(ng-click='enviarEmail.modal.close()')
              .icon-hover.icon-red
                i.sc-icon.sc-icon-fechar-1
          .sc-modal-body.sc-text-blue
            .sc-p-md.sc-bg-gray-lighter.sc-border-radius
              .sc-p-l-md.sc-p-b-md
                label
                  .sc-label Assunto
                  input.sc-input-default(style="width: 100%")
              .sc-p-l-md.sc-p-b-md
                label
                  .sc-label Descrição
                  textarea.sc-input-default(style="width: 100%")
          .sc-modal-footer
            button.sc-btn.sc-btn-blue(ng-click="enviarEmail.modal.close()") Enviar

    script(id="form.html", type="text/ng-template")
      .sc-accordion-head(ng-hide="novoFuncionario._new", ng-click="toggleAcc(form)")
        .sc-accordion-icon-col.sc-divider.align-xs-center
          i.sc-icon.sc-icon-seta-11-direita.sc-transition(ng-class="{'sc-rotate-90':form.opened}")
        .sc-accordion-elastic-col.title 
          span Funcionário: {{form.infoPess.name}}
          span.description Sexo: {{form.infoPess.sexo}}
          span.description Função: {{form.infoCadas.funcao}}
        .sc-accordion-elastic-col.title.align-center
          span Dias Trabalhados
          span.description
            span.sc-p-h-sm(ng-class="item.semana == undefined ? 'sc-text-red':sc-text-blue", ng-repeat="item in form.infoCadas.semanas") {{dadosGerais.semanas[$index].semana | limitTo: 3}}
        .sc-accordion-col-3.hidden-xs
          .pull-right(sc-stop-click)
            .menu(sc-dropdown-menu)
              .icon-hover.icon-gray(ng-class="{'active-menu':menu.isOn}" ng-click="menu.toggle()")
                i.sc-icon.sc-icon-reticiencias-v
              ul(style="width: 9.2em", ng-show="menu.isOn")
                li(ng-click="actionMenu(form, item)", ng-repeat="item in dadosGerais.menu")
                  i.pull-left.sc-p-h-md(class="{{item.icon}} {{item.iconColor}}")
                  span {{item.name}}
      .sc-accordion-head.sc-cursor-default(ng-show="novoFuncionario._new")
        .sc-accordion-elastic-col.title Novo Funcionário
      .sc-accordion-body.ng-animation-slider.sc-m-lg.sc-border-radius.sc-p-none(ng-show="form.opened || novoFuncionario._new", style="overflow: auto")
        .accordion-campos.sc-bg-white
          
          #informacoesPessoais.sc-border-radius.sc-bg-gray-lighter.sc-p-h-md
            h3.sc-text-gray Informações Pessoais
            hr
            .pull-left
              .photo.sc-p-l-md.sc-p-b-md
                .sc-border-gray-solid-md.sc-bg-gray-lighter.sc-border-radius.align-center
                  i.sc-icon.sc-icon-homem-1(ng-hide="form.infoPess.sexo == 'Feminino'", style="font-size: 6em")
                  i.sc-icon.sc-icon-mulher-1(ng-show="form.infoPess.sexo == 'Feminino'", style="font-size: 6em")
                button.sc-btn.sc-btn-blue(ng-show="form._edit || novoFuncionario._new") Alterar foto
              .sexo.sc-p-l-md.sc-p-b-md
                .sc-label Sexo
                p(ng-show="form.infoPess.sexo == 'Masculino' || form._edit || novoFuncionario._new")
                  input.sc-radio.sc-radio-blue(ng-show="form._edit || novoFuncionario._new", type="radio", name="sexo", ng-model="form.infoPess.sexo", value="Masculino")
                  span.sc-m-l-md.sc-label Masculino
                p(ng-show="form.infoPess.sexo == 'Feminino' || form._edit || novoFuncionario._new")
                  input.sc-radio.sc-radio-red(ng-show="form._edit || novoFuncionario._new", type="radio", name="sexo", ng-model="form.infoPess.sexo", value="Feminino")
                  span.sc-m-l-md.sc-label Feminino
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Nome
                input(ng-show="form._edit || novoFuncionario._new").sc-input-default(ng-model="form.infoPess.name")
                div.sc-p-sm(ng-hide="form._edit || novoFuncionario._new") {{form.infoPess.name || '----'}}
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Identidade
                input(ng-show="form._edit || novoFuncionario._new").sc-input-default(ng-model="form.infoPess.rg")
                div.sc-p-sm(ng-hide="form._edit || novoFuncionario._new") {{form.infoPess.rg || '----'}}
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Data de Nascimento
                input(ng-show="form._edit || novoFuncionario._new").sc-input-data.sc-input-default(type="date", ng-model="form.infoPess.nascimento")
                div.sc-p-sm(ng-hide="form._edit || novoFuncionario._new") {{(form.infoPess.nascimento | date) || '----'}}
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label CPF
                input(ng-show="form._edit || novoFuncionario._new").sc-input-default(ng-model="form.infoPess.cpf")
                div.sc-p-sm(ng-hide="form._edit || novoFuncionario._new") {{form.infoPess.cpf || '----'}}
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label E-mail
                input(ng-show="form._edit || novoFuncionario._new").sc-input-default(ng-model="form.infoPess.eMail")
                div.sc-p-sm(ng-hide="form._edit || novoFuncionario._new") {{form.infoPess.eMail || '----'}}
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Telefone
                input(ng-show="form._edit || novoFuncionario._new").sc-input-default(ng-model="form.infoPess.telefone")
                div.sc-p-sm(ng-hide="form._edit || novoFuncionario._new") {{form.infoPess.telefone || '----'}}
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Celular
                input(ng-show="form._edit || novoFuncionario._new").sc-input-default(ng-model="form.infoPess.celular")
                div.sc-p-sm(ng-hide="form._edit || novoFuncionario._new") {{form.infoPess.celular || '----'}}
            .clear
            .sc-p-md
              p.sc-text-gray.sc-text-lg Endereço
              hr
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Rua
                  input(ng-show="form._edit || novoFuncionario._new").sc-input-default(ng-model="form.infoPess.endereco.rua")
                  div.sc-p-sm(ng-hide="form._edit || novoFuncionario._new") {{form.infoPess.endereco.rua || '----'}}
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Bairro
                  input(ng-show="form._edit || novoFuncionario._new").sc-input-default(ng-model="form.infoPess.endereco.bairro")
                  div.sc-p-sm(ng-hide="form._edit || novoFuncionario._new") {{form.infoPess.endereco.bairro || '----'}}
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Número
                  input(ng-show="form._edit || novoFuncionario._new").sc-input-default(ng-model="form.infoPess.endereco.numero")
                  div.sc-p-sm(ng-hide="form._edit || novoFuncionario._new") {{form.infoPess.endereco.numero || '----'}}
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label UF
                  input(ng-show="form._edit || novoFuncionario._new").sc-input-default(ng-model="form.infoPess.endereco.uf")
                  div.sc-p-sm(ng-hide="form._edit || novoFuncionario._new") {{form.infoPess.endereco.uf || '----'}}
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Complemento
                  input(ng-show="form._edit || novoFuncionario._new").sc-input-default(ng-model="form.infoPess.endereco.complemento")
                  div.sc-p-sm(ng-hide="form._edit || novoFuncionario._new") {{form.infoPess.endereco.complemento || '----'}}
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label CEP
                  input(ng-show="form._edit || novoFuncionario._new").sc-input-default(ng-model="form.infoPess.endereco.cep")
                  div.sc-p-sm(ng-hide="form._edit || novoFuncionario._new") {{form.infoPess.endereco.cep || '----'}}
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Município
                  input(ng-show="form._edit || novoFuncionario._new").sc-input-default(ng-model="form.infoPess.endereco.municipio")
                  div.sc-p-sm(ng-hide="form._edit || novoFuncionario._new") {{form.infoPess.endereco.municipio || '----'}}

          .clear
          #informacoesDaEmpresa.sc-border-radius.sc-bg-gray-lighter.sc-p-h-md
            h3.sc-text-gray Informações da Empresa
            hr
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Empresa
                input(ng-show="form._edit || novoFuncionario._new").sc-input-default(ng-model="form.infoCadas.empresa")
                div.sc-p-sm(ng-hide="form._edit || novoFuncionario._new") {{form.infoCadas.empresa || '----'}}
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Data de Admissão
                input(ng-show="form._edit || novoFuncionario._new").sc-input-default.sc-input-data(ng-model="form.infoCadas.dataDeEmissao", type="date")
                div.sc-p-sm(ng-hide="form._edit || novoFuncionario._new") {{(form.infoCadas.dataDeEmissao | date) || '----'}}
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Função
                input(ng-show="form._edit || novoFuncionario._new").sc-input-default(ng-model="form.infoCadas.funcao")
                div.sc-p-sm(ng-hide="form._edit || novoFuncionario._new") {{form.infoCadas.funcao || '----'}}
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Salário
                input(ng-show="form._edit || novoFuncionario._new").sc-input-default(ng-model="form.infoCadas.salario")
                div.sc-p-sm(ng-hide="form._edit || novoFuncionario._new") {{form.infoCadas.salario || '----'}}
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Turno
                div.sc-p-sm(ng-hide="form._edit || novoFuncionario._new") 
                  span(ng-repeat="i in form.infoCadas.turnos") {{dadosGerais.turnos[i].turno}}
                .sc-dropdown(ng-show="form._edit || novoFuncionario._new", sc-dropdown-menu)
                  button.sc-btn.sc-btn-blue(type="button", ng-click="menu.toggle()")
                    span.sc-m-r-md Selecione
                    i.sc-icon.sc-icon-seta-5-baixo
                  ul.sc-dropdown-menu.ng-animation-slider(style="max-height: 10em; overflow: auto;", ng-show="menu.isOn")
                    li(ng-repeat="item in dadosGerais.turnos", ng-click="item.active = !item.active")
                      a(href="")
                        i.sc-icon(ng-class="item.active ? 'sc-icon-visto-4':'sc-icon-quadrado-1'")
                        span.sc-p-l-md {{item.turno}}
            .sc-p-l-md.sc-p-b-md
              label
                .sc-label Observações
                textarea(ng-show="form._edit || novoFuncionario._new").sc-input-default(ng-model="form.infoCadas.observacao", style="width: 100%")
                div.sc-p-sm(ng-hide="form._edit || novoFuncionario._new") {{form.infoPess.infoCadas.observacao || '----'}}
          
          .clear
          #jornadaDaEmpresa.sc-p-t-lg
            h3.sc-text-gray Jornada de trabalho
            hr
            .sc-p-t-md.sc-border-h-gray-light-dashed-md(ng-show="novoFuncionario._new || form._edit", style="display: flex; align-items: center; flex-wrap: wrap")
              .sc-p-b-md.sc-align-bottom
                .sc-p-l-md.sc-align-bottom(ng-repeat="item in dadosGerais.semanas")
                  label.align-center
                    .sc-label {{item.semana | limitTo: 3}}
                    input.sc-checkbox(type="checkbox" ng-model="item.checked")
              .sc-p-b-md.align-center(style="display: inline-flex; margin: 0 auto; flex-wrap: wrap")
                .sc-align-bottom(style="margin: 0 auto;")
                  div
                    .sc-p-l-md.sc-p-b-md
                      span.sc-label Entrada: 
                      input.sc-text-sm.sc-input-default.sc-input-data(ng-model="jornadaTmp.entrada", style="width: 11em;", type="time")
                    .sc-p-l-md
                      span.sc-label(style="padding: 0 0.4em;") Saída: 
                      input.sc-text-sm.sc-input-default.sc-input-data(ng-model="jornadaTmp.saida", style="width: 11em;", type="time")
                .sc-p-l-md.sc-align-bottom(style="margin: 0 auto;")
                  div
                    .sc-label Horário de almoço
                    label
                      input.sc-text-sm.sc-input-default(style="width: 7em;", ng-model="jornadaTmp.entradaAlmoco", type="time")
                    span  Até  
                    label
                      input.sc-text-sm.sc-input-default(style="width: 7em;", ng-model="jornadaTmp.saidaAlmoco", type="time")
              .sc-p-b-md.sc-p-l-md(style="margin-left: auto;")
                button.sc-btn.sc-btn-blue(type="button", ng-click="novaJornada()") Adicionar

            .sc-p-t-md.sc-p-t-lg.sc-border-b-gray-light-dashed-md(ng-repeat="item in form.infoCadas.jornadas", style="display: flex; align-items: center; flex-wrap: wrap")
              .sc-p-l-md.sc-align-bottom(ng-show="item.edit", ng-repeat="dadosSemana in dadosGerais.semanas")
                label.align-center
                  .sc-label {{dadosSemana.semana | limitTo: 3}}
                  input.sc-checkbox(type="checkbox" ng-model="dadosSemana.checked")
              .sc-p-b-md.sc-p-l-md.sc-align-bottom(ng-hide="item.edit || (itemSemana.semana == undefined)", ng-repeat="itemSemana in item.semanas")
                .align-center
                  .sc-label {{dadosGerais.semanas[itemSemana.semana].semana | limitTo: 3}}
                  i.sc-icon.sc-icon-visto-1.sc-text-green
              .sc-p-b-md.align-center(ng-show="item.edit", style="display: inline-flex; margin: 0 auto; flex-wrap: wrap")
                .sc-align-bottom(style="margin: 0 auto;")
                  div
                    .sc-p-l-md.sc-p-b-md
                      span.sc-label Entrada: 
                      input.sc-text-sm.sc-input-default(ng-model="item.entrada", style="width: 11em;", type="time")
                    .sc-p-l-md
                      span.sc-label(style="padding: 0 0.4em;") Saída: 
                      input.sc-text-sm.sc-input-default(ng-model="item.saida", style="width: 11em;", type="time")
                .sc-p-l-md.sc-align-bottom(style="margin: 0 auto;")
                  div
                    .sc-label Horário de almoço
                    label
                      input.sc-text-sm.sc-input-default(style="width: 7em;", ng-model="item.entradaAlmoco", type="time")
                    span  Até  
                    label
                      input.sc-text-sm.sc-input-default(style="width: 7em;", ng-model="item.saidaAlmoco", type="time")
              .sc-p-b-md.sc-p-l-md.align-center(ng-hide="item.edit", style="display: inline-flex; align-items: center; margin: 0 auto; flex-wrap: wrap")
                .sc-p-l-md.sc-align-bottom
                  div
                    .sc-p-l-md.sc-p-b-md
                      span.sc-label Entrada: 
                      div {{item.entrada | date:'HH:mm'}}
                    .sc-p-l-md
                      span.sc-label(style="padding: 0 0.4em;") Saída: 
                      div {{item.saida | date:'HH:mm'}}
                .sc-p-l-md.sc-p-b-md.sc-align-bottom
                  div
                    .sc-label Horário de almoço
                    label
                      span {{item.entradaAlmoco | date:'HH:mm'}}
                    span.sc-label  Até  
                    label
                      span {{item.saidaAlmoco | date:'HH:mm'}}
              .sc-p-b-md.sc-p-l-md(ng-hide="item.edit", style="margin-left: auto;")
                .icon-hover.icon-yellow(ng-click="item.edit = !item.edit")
                  i.sc-icon.sc-icon-lapis
                .icon-hover.icon-red
                  i.sc-icon.sc-icon-lixeira-1
              .sc-p-b-md.sc-p-l-md(ng-show="item.edit", style="margin-left: auto;")
                .icon-hover.icon-green(ng-click="item.edit = !item.edit")
                  i.sc-icon.sc-icon-visto-1
                .icon-hover.icon-red(ng-click="item.edit = !item.edit")
                  i.sc-icon.sc-icon-fechar-1
          
        .accordion-acoes.sc-p-md.pull-right(ng-show="form._edit || novoFuncionario._new")
          button.sc-btn.sc-btn-red.sc-m-r-md(ng-click="cancelar(form)") Cancelar
          button.sc-btn.sc-btn-green(ng-click="salvar(form)") Salvar
        .clear

    script(src="../../source/prototype.js")
    script(src="../../source/modernizr.min.js")
    script(src="index.js" type='text/javascript')
    script(src="http://codepen.io/dev6-seucondominio/pen/avpxNZ.js" type='text/javascript')