<body style="width: 100%; height: 100%; background-color: #a9b7c4;" ng-app="scApp" ng-controller="controll">
  <!-- Principal INICIO -->
  <div style="background-color: #dddddd;" class="sc-p-md">
    <div style="background-color: #dddddd;" class="sc-p-md" style="overflow: hidden;">
      <div class="sc-m-l-md" style="display: inline-table;">
        <button ng-click="show.newObj = !show.newObj" class="sc-btn sc-btn-awesomeness sc-btn-blue">
          <div class="sc-btn-icon"><i class="sc-icon sc-icon-mais-1"></i></div>
          <div class="sc-btn-text">Novo objeto</div>
        </button>
        <div style="display: inline;" class="sc-input-group">
          <input type="text" style="width: 25em;" class="sc-input-default " />
        </div>
      </div>
      <button ng-click="openFiltro = !openFiltro" class="sc-btn"><i class="sc-icon sc-icon-filtro-2 sc-text-blue"></i></button>
    </div>
  </div>
  <div class="sc-m-t-lg"></div>
  <!-- Principal FIM -->

  <!-- modal INICIO -->

  <!-- relatório de devolução INICIO -->
  <div style="width: 50em; overflow: auto;" class="sc-text-blue sc-p-md sc-modal active" sc-modal="devolucaoModal">
    <div ng-controller="devObj">
      <div style="padding: 0;" class="sc-text-blue sc-modal-body">
        <div class="align-center sc-modal-header">
          Relatório de Devolução
        </div>
        <div style="background-color: #F7F7F9; overflow: hidden;" class="sc-border-radius sc-m-lg sc-p-lg">
          <div class="pull-left sc-m-r-lg sc-text-sm" style="display: inline-table;">
            <button style="line-height: 2em;" class="sc-btn sc-p-lg sc-text-blue sc-input-default"><i style="font-size: 4em;" class="sc-p-sm sc-icon sc-icon-camera-2"></i></button>
          </div>
          <div class="sc-m-r-lg sc-m-b-lg" style="display: inline-table;">
            <div class="align-left">Devolvido à:</div>
            <div class="sc-text-sm sc-input-group">
              <input ng-model="relatorioDevolucaoTemp.responsavel" style="width: 20em; text-transform: uppercase;" class="sc-input-default addMVisitaInput" />
            </div>
          </div>
          <div class="sc-m-r-lg sc-m-b-lg" style="display: inline-table;">
            <div class="align-left">Residência:</div>
            <div class="sc-text-sm sc-input-group">
              <input ng-model="relatorioDevolucaoTemp.destino" style="width: 20em; text-transform: uppercase;" class="sc-input-default addMVisitaInput" />
            </div>
          </div>
          <div class="sc-m-r-lg sc-m-b-lg" style="display: inline-table;">
            <div class="align-left">RG/CPF:</div>
            <div class="sc-text-sm sc-input-group">
              <input ng-model="relatorioDevolucaoTemp.rgCpf" style="width: 20em; text-transform: uppercase;" class="sc-input-default addMVisitaInput" />
            </div>
          </div>
          <div style="display: inline-table;">
            <div class="align-left">Data de devolução:</div>
            <div class="sc-text-sm">
              <input sc-date-input style="width: 11em; line-height: inherit;" ng-model="relatorioDevolucaoTemp.data" class="sc-input-default" />
            </div>
          </div>
        </div>
      </div>
      <div class="sc-modal-footer">
        <i class="pull-left sc-p-md sc-icon sc-icon-impressora"></i>
        <i class="pull-left sc-p-md sc-icon sc-icon-camera-2"></i>
        <button ng-click="cancellDevolucao()" class="sc-btn sc-btn-red">
          <i class="sc-icon sc-icon-fechar-1 sc-text-sm"></i>
          <span>Cancelar</span>
        </button>
        <button ng-click="salvarDevolucao()" class="sc-btn sc-btn-green">
          <i class="sc-icon sc-icon-visto-1 sc-text-sm"></i>
          <span>Salvar</span>
        </button>
      </div>
    </div>
  </div>
  <!-- relatório de devolução FIM -->

  <!-- relatório de encontro INICIO -->
  <div style="width: 50em; overflow: auto;" class="sc-text-blue sc-p-md sc-modal active" sc-modal="encontroModal">
    <div ng-controller="devObj">
      <div style="padding: 0;" class="sc-text-blue sc-modal-body">
        <div class="align-center sc-modal-header">
          Relatório de Encontro
        </div>
        <div style="background-color: #F7F7F9; overflow: hidden;" class="sc-border-radius sc-m-lg sc-p-lg">
          <div class="pull-left sc-m-r-lg sc-text-sm" style="display: inline-table;">
            <button style="line-height: 2em;" class="sc-btn sc-p-lg sc-text-blue sc-input-default"><i style="font-size: 4em;" class="sc-p-sm sc-icon sc-icon-camera-2"></i></button>
          </div>
          <div class="sc-m-r-lg sc-m-b-lg" style="display: inline-table;">
            <div class="align-left">Encontrado por:</div>
            <div class="sc-text-sm sc-input-group">
              <input style="width: 20em; text-transform: uppercase;" class="sc-input-default addMVisitaInput" />
            </div>
          </div>
          <div class="sc-m-r-lg sc-m-b-lg" style="display: inline-table;">
            <div class="align-left">Residência:</div>
            <div class="sc-text-sm sc-input-group">
              <input style="width: 20em; text-transform: uppercase;" class="sc-input-default addMVisitaInput" />
            </div>
          </div>
          <div class="sc-m-r-lg sc-m-b-lg" style="display: inline-table;">
            <div class="align-left">RG/CPF:</div>
            <div class="sc-text-sm sc-input-group">
              <input style="width: 20em; text-transform: uppercase;" class="sc-input-default addMVisitaInput" />
            </div>
          </div>
          <div style="display: inline-table;">
            <div class="align-left">Data de encontro:</div>
            <div class="sc-text-sm">
              <input sc-date-input style="width: 11em; line-height: inherit;" ng-model="dataTempEncontro" class="sc-input-default" />
            </div>
          </div>
        </div>
      </div>
      <div class="sc-modal-footer">
        <i class="pull-left sc-p-md sc-icon sc-icon-impressora"></i>
        <i class="pull-left sc-p-md sc-icon sc-icon-camera-2"></i>
        <button ng-click="encontroModal.close()" class="sc-btn sc-btn-red">
          <i class="sc-icon sc-icon-fechar-1 sc-text-sm"></i>
          <span>Cancelar</span>
        </button>
        <button class="sc-btn sc-btn-green">
          <i class="sc-icon sc-icon-visto-1 sc-text-sm"></i>
          <span>Salvar</span>
        </button>
      </div>
    </div>
  </div>
  <!-- relatório de encontro FIM -->
  <!-- modal FIM -->

  <!-- filtro INICIO -->
  <div ng-show="openFiltro" style="background-color: #e8e9eb; padding: 0.1em;" class="sc-m-b-lg sc-text-blue sc-animation-slider">
    <div style="background-color: #F7F7F9; display: inherit;" class="sc-m-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
      <div class="row col-xs-12 sc-m-b-md">
        <div class="sc-m-r-md" style="display: inline-table;">
          <div class="align-left">Objeto:</div>
          <input type="text" style="width: 25em; text-transform: uppercase;" ng-model="searchPeopleAdvance" class="sc-text-sm sc-input-default" />
        </div>
        <div class="sc-m-r-md" style="display: inline-table;">
          <div class="align-left">Status</div>
          <div ng-click="selectStatus = !selectStatus" style="width: 15em;" class="sc-text-sm sc-input-default">Selecione da lista<i class="pull-right sc-icon sc-icon-seta-5-baixo"></i></div>
          <div style="position: absolute; z-index: 1;">
            <ul ng-show="selectStatus" class="sc-animation-slider sc-border-radius sc-box-shadow-z1 sc-border-gray-light-solid-md sc-bg-white" style="min-width: 8em; text-transform: uppercase;">
              <li ng-mouseenter="hover.statusFiltro1  = true" ng-mouseleave="hover.statusFiltro1  = false"class="sc-border-t-gray-light-solid-md sc-cursor-pointer sc-p-sm sc-transition sc-border-radius sc-p-sm sc-transition sc-border-radius" ng-class="{'sc-bg-blue-lighter sc-text-white': hover.statusFiltro1 }">
                <span>Devolvido</span>
              </li>
              <li ng-mouseenter="hover.statusFiltro2 = true" ng-mouseleave="hover.statusFiltro2 = false"class="sc-border-t-gray-light-solid-md sc-cursor-pointer sc-p-sm sc-transition sc-border-radius sc-p-sm sc-transition sc-border-radius" ng-class="{'sc-bg-blue-lighter sc-text-white': hover.statusFiltro2 }">
                <span>Devolver</span>
              </li>
            </ul>
          </div>
        </div>
        <div style="display: inline-table;" class="sc-m-r-md">
          <div class="align-left">Data Inicial:</div>
          <div class="sc-text-sm">
            <input sc-date-input style="width: 11em; line-height: inherit;" ng-model="dataTemp" class="sc-input-default" />
          </div>
        </div>
        <div style="display: inline-table;">
          <div class="align-left">Data Final:</div>
          <div class="sc-text-sm">
            <input sc-date-input style="width: 11em; line-height: inherit;" ng-model="dataTemp" class="sc-input-default" />
          </div>
        </div>
      </div>
      <div class="clear"></div>
      <hr />
      <div>
        <button class="sc-btn sc-btn-awesomeness sc-btn-blue">
          <div class="sc-btn-icon"><i class="sc-icon sc-icon-filtro-2"></i></div>
          <div class="sc-btn-text">Buscar</div>
        </button>
        <button class="sc-btn sc-btn-awesomeness sc-btn-red">
          <div class="sc-btn-icon"><i class="sc-icon sc-icon-fechar-1"></i></div>
          <div class="sc-btn-text">Limpar Busca</div>
        </button>
      </div>
    </div>
  </div>
  <!-- filtro FIM -->

  <!-- Novo obejto INICIO -->
  <div ng-controller="NewObj" ng-show="show.newObj" style="background-color: #e8e9eb;" class="sc-m-b-sm sc-t-lg sc-animation-slider">
    <div style="overflow: auto;" class="sc-text-blue sc-accordion-body">
      <div style="overflow: auto; background-color: #F7F7F9; display: inherit;" class="sc-m-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
        <div class="pull-left sc-m-r-lg sc-text-sm" style="display: inline-table;">
          <button style="line-height: 2em;" class="sc-btn sc-p-lg sc-text-blue sc-input-default"><i style="font-size: 4em;" class="sc-p-sm sc-icon sc-icon-camera-2"></i></button>
        </div>
        <div style="background-color: #F7F7F9; display: inline-table;" class="sc-border-gray-solid-sm sc-border-radius">
          <div style="display: inline-table;" >
            <div class="align-left">Objeto:</div>
            <input ng-model="addPedidoTemp.name" type="text" style="width: 25em; text-transform: uppercase;" class="sc-text-sm sc-input-default" />
          </div>
        </div>
        <div style="display: inline-table;" class="sc-m-l-md">
          <div>Status</div>
          <label style="min-width: 7em;">
             <span class="sc-toggle">
              <input type="checkbox" ng-model="addPedidoTemp.BoolStatus" class="addMVisitaInput" />
              <span label-true="Achado" label-false="Perdido"></span>
             </span>
          </label>
        </div>
        <div style="display: inline-table;" class="sc-m-r-lg">
          <div class="align-left">Data de encontro:</div>
          <div class="sc-text-sm">
            <input ng-model="addPedidoTemp.data" sc-date-input style="width: 12em; line-height: inherit;" class="sc-input-default" />
          </div>
        </div>
        <div style="background-color: #F7F7F9; display: inline-table;" class="sc-m-r-lg sc-border-gray-solid-sm sc-border-radius">
          <div style="display: inline-table;" >
            <div class="align-left">Responsável:</div>
            <input ng-model="addPedidoTemp.responsavel" type="text" style="width: 25em; text-transform: uppercase;" class="sc-text-sm sc-input-default" />
          </div>
        </div>
        <div style="background-color: #F7F7F9; display: inline-table;" class="sc-border-gray-solid-sm sc-border-radius">
          <div style="display: inline-table;" >
            <div class="align-left">Contato:</div>
            <input ng-model="addPedidoTemp.contato" type="text" style="width: 25em; text-transform: uppercase;" class="sc-text-sm sc-input-default" />
          </div>
        </div>
        <div class="clear"></div>
        <div style="background-color: #F7F7F9;" class="sc-m-t-lg sc-border-gray-solid-sm sc-border-radius">
          <div class="align-left">Descrição do evento:</div>
          <textarea ng-model="addPedidoTemp.descricao" class="sc-input-default" style="width:100%;" rows="4"></textarea>
        </div>
        <div class="clear"></div>
        <hr />
        <button ng-click="registrarEvento()" class="sc-text-sm pull-right sc-btn sc-m-r-md sc-btn-awesomeness sc-btn-green">
          <div class="sc-btn-icon"><i class="sc-icon sc-icon-visto-1"></i></div>
          <div class="sc-btn-text">Salvar</div>
        </button>
        <button class="sc-text-sm pull-right sc-btn sc-m-r-md sc-btn-awesomeness sc-btn-blue">
          <div class="sc-btn-icon"><i class="sc-icon sc-icon-clipe"></i></div>
          <div class="sc-btn-text">Anexar</div>
        </button>
        <button ng-click="excluirRegistro()" class="sc-text-sm sc-m-r-md pull-right sc-btn sc-btn-awesomeness sc-btn-red">
          <div class="sc-btn-icon"><i class="sc-icon sc-icon-fechar-1"></i></div>
          <div class="sc-btn-text">Excluir</div>
        </button>
      </div>
    </div>
  </div>
  <!-- Novo obejto FIM -->

  <!-- listar objetos INICIO -->
  <div ng-controller="listaObj">
    <ul class="sc-accordion">
      <li ng-init="init(lista)" ng-repeat="lista in objetosPerdidos">
        <div style="{{lista.bgColorAcc}}" class="sc-accordion-head">
          <div style="{{lista.txtColor}} {{lista.bColor}}" ng-click="openModal(lista)" class="sc-accordion-icon-col sc-divider align-xs-center">
            <i class="sc-icon sc-icon-seta-11-direita sc-transition" ng-class="{ 'sc-icon-seta-11-baixo':lista.opened }"></i>
          </div>
          <div style="{{lista.txtColor}}" ng-click="openModal(lista)" class="sc-accordion-elastic-col title">
            <span>{{lista.name}}</span>
            <span ng-show="lista.acao" style="{{lista.txtColor}}" class="sc-p-md pull-right sc-text-green-dark"><i class="sc-icon sc-icon-visto-1"></i></span>
            <span class="description">
              <span ng-show="lista.status == 'Devolvido'" style="{{lista.txtColor}}" class="sc-text-green">{{lista.status}}</span>
              <span ng-show="lista.status == 'Perdido'" style="{{lista.txtColor}}" class="sc-text-red">{{lista.status}}</span>
              <span ng-show="lista.status == 'Achado'" style="{{lista.txtColor}}" class="sc-text-yellow">{{lista.status}}</span>
            </span>
          </div>
          <button ng-show="lista.status == 'Achado'" ng-click="devolverobj($index)" style="width: auto; line-height: 2em;" class="sc-accordion-icon-col sc-btn sc-btn-red pull-right sc-text-white sc-border-radius">Devolver</button>
          <button ng-show="lista.status == 'Perdido'" style="width: auto; line-height: 2em;" ng-click="encontroModal.open()" class="sc-accordion-icon-col sc-btn sc-btn-red pull-right sc-text-white sc-border-radius">achou?</button>
          <div style="{{lista.txtColor}}" ng-click="openMenu = !openMenu" class="sc-accordion-icon-col align-xs-center">
            <i class="sc-icon sc-icon-reticiencias-v sc-transition "></i>
          </div>
          <div ng-show="openMenu" style="position: absolute; z-index: 1; margin-left: -8em; margin-top: 2.5em;">
            <ul class="sc-animation-slider sc-border-radius sc-box-shadow-z1 sc-border-gray-light-solid-md sc-bg-white" style="text-transform: uppercase;">
              <li ng-click="editarRegistro(lista)" ng-mouseenter="lisata.statusFiltro1  = true" ng-mouseleave="lisata.statusFiltro1 = false" class="sc-border-t-gray-light-solid-md sc-cursor-pointer sc-transition sc-border-radius sc-p-sm sc-transition sc-border-radius" ng-class="{'sc-bg-blue-lighter sc-text-white': lisata.statusFiltro1 }">
                <i class="sc-icon sc-icon-lapis sc-text-yellow"></i>
                <span class="sc-border-l-gray-light-solid-md sc-p-l-md">Editar</span>
              </li>
              <li ng-click="excluirRegistro(lista)" ng-mouseenter="lisata.statusFiltro2 = true" ng-mouseleave="lisata.statusFiltro2 = false"class="sc-border-t-gray-light-solid-md sc-cursor-pointer sc-transition sc-border-radius sc-p-sm sc-transition sc-border-radius" ng-class="{'sc-bg-blue-lighter sc-text-white': lisata.statusFiltro2 }">
                <i class="sc-icon sc-icon-lixeira-2 sc-text-red"></i>
                <span class="sc-border-l-gray-light-solid-md sc-p-l-md">Exluir</span>
              </li>
            </ul>
          </div>
        </div>
        <div ng-show="lista.opened" style="overflow: auto; padding:0;" class="sc-accordion-body ng-animation-slider">
          <div style="background-color: #F7F7F9;" class="sc-m-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
            <div ng-show="lista.perdido">
              <h4 class="sc-text-red">Perdido</h4>
              <p ng-show="lista.perdido.data" class="sc-text-blue">Data: <span class="sc-text-black">{{lista.perdido.data | date: 'dd/MM/yyyy'}}</span></p>
              <p ng-show="lista.perdido.responsavel" class="sc-text-blue">Responsável: <span class="sc-text-black">{{lista.perdido.responsavel}}</span></p>
              <p ng-show="lista.perdido.contato" class="sc-text-blue">Contato: <span class="sc-text-black">{{lista.perdido.contato}}</span></p>
              <p ng-show="lista.perdido.descricao" class="sc-text-blue">Descrição: <span class="sc-text-black">{{lista.perdido.descricao}}</span></p>
            </div>
            <div ng-show="lista.achado">
              <hr ng-show="lista.perdido" />
              <h4 class="sc-text-yellow">Achado</h4>
              <p ng-show="lista.achado.data" class="sc-text-blue">Data: <span class="sc-text-black">{{lista.achado.data | date: 'dd/MM/yyyy'}}</span></p>
              <p ng-show="lista.achado.responsavel" class="sc-text-blue">Responsável: <span class="sc-text-black">{{lista.achado.responsavel}}</span></p>
              <p ng-show="lista.achado.contato" class="sc-text-blue">Contato: <span class="sc-text-black">{{lista.achado.contato}}</span></p>
              <p ng-show="lista.achado.descricao" class="sc-text-blue">Descrição: <span class="sc-text-black">{{lista.achado.descricao}}</span></p>
            </div>
            <div ng-show="lista.devolvido">
              <hr ng-show="lista.achado" />
              <h4 class="sc-text-green">Devolvido</h4>
              <p ng-show="lista.devolvido.data" class="sc-text-blue">Data: <span class="sc-text-black">{{lista.devolvido.data | date: 'dd/MM/yyyy'}}</span></p>
              <p ng-show="lista.devolvido.responsavel" class="sc-text-blue">Devolvido à: <span class="sc-text-black">{{lista.devolvido.responsavel}}</span></p>
              <p ng-show="lista.devolvido.rgCpf" class="sc-text-blue">RG/CPF: <span class="sc-text-black">{{lista.devolvido.rgCpf}}</span></p>
              <p ng-show="lista.devolvido.destino" class="sc-text-blue">Residência: <span class="sc-text-black">{{lista.devolvido.destino}}</span></p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!-- listar objetos FIM -->

</body>
