html {width: 100%}
body {width: 100%}

* {
  margin: 0;
  padding: 0;
}

.foraMPV {
  color: #FF69B4 !important;
}

.shadowOpen {
  box-shadow: 0 0 .3em rgba(0, 0, 0, .3);
}

.box {
  display: flex;
  color: #7d858c;
  padding: 0 1.2em;
  position: relative;
  .box-circle {
    cursor: default;
    position: absolute;
    display: table;
    height: 1.6em;
    width: 1.6em;
    margin-top: 18px;
    margin-left: -12px;
    text-align: center;
    background-color: #FFF;
    border-radius: 50%;
    box-shadow: -0.1px 1.4px 4px rgba(0,0,0,0.1);
    border: 1px solid #c1c4c8;
    span {
      font-size: 1.2em;
      display: table-cell;
      vertical-align: middle;
    }
  }
 .box-leitura {
    background-color: #FFF;
    border-style: solid;
    border-color: #c1c4c8;
    border-width: 1px;
    border-left: 0;
    border-bottom: 0;
    padding: .5em .9em;
    text-align: center;
    max-width: 12em;
    width: 100%;
    &:first-child{
      border-left-style: solid;
      border-left-color: #c1c4c8;
      border-left-width: 1px;
    }
  }
  &:first-child {
    padding-top: 1em;
    .box-leitura:first-child { border-radius: .5em 0 0 0; }
    .box-leitura:last-child { border-radius: 0 .5em 0 0; }
  }
  &:last-child {
    .box-leitura:first-child { border-radius: 0 0 0 .5em; }
    .box-leitura:last-child { border-radius: 0 0 .5em 0; }
    .box-leitura {
      border-bottom-style: solid;
      border-bottom-color: #c1c4c8;
      border-bottom-width: 1px;
    }
    margin-bottom: .8em;
  }
}
.box-last-child {
  .box-leitura:first-child { border-radius: 0 0 0 .5em; }
  .box-leitura:last-child { border-radius: 0 0 .5em 0; }
  .box-leitura {
    border-bottom-style: solid;
    border-bottom-color: #c1c4c8;
    border-bottom-width: 1px;
  }
  margin-bottom: .8em;
}