html(ng-app='app', ng-controller='AppCtrl')
  head
    title Módulo de Leitura
    link(href='../../source/font.css' rel='stylesheet' type='text/css')
    link(href="../../source/prototype.css" rel='stylesheet' type='text/css')
    link(href="http://codepen.io/dev6-seucondominio/pen/avpxNZ.css" rel='stylesheet' type='text/css')
    link(href="http://codepen.io/dev6-seucondominio/pen/gaXWjX.css" rel='stylesheet' type='text/css')
    link(href="index.css" rel='stylesheet' type='text/css')
  body.sc-system
   
    section#top-menu.sc-p-v-sm.sc-p-h-xl.sc-bg-blue
      img(style="width: 9em")(src="https://www.seucondominio.com.br/assets/institucional/logo-mobile-c07a4de0cd57b02cf5eaffefcda8d48e.png")

    section#top-bar.sc-bg-gray-lighter
      #top-bar-content.sc-p-t-lg.sc-p-r-md.sc-bg-gray-lighter(ng-class="{'shadowOpen':actionAlt.novaLeituraOpen || openFilter}")
        .sc-p-l-lg.sc-p-b-md.pull-left
          button.sc-btn.sc-btn-awesomeness(ng-click="actionAlt.novaLeituraOpen = !openFilter ? !actionAlt.novaLeituraOpen:false")(ng-class="{'sc-btn-blue':!actionAlt.novaLeituraOpen}")
            .sc-btn-icon
              i.sc-icon.sc-icon-mais-1
            .sc-btn-text.hidden-sm.hidden-xs
              span Novo Medidor
        .sc-p-l-lg.sc-p-b-md.col-xs-10.col-sm-8.col-md-6.col-lg-4
          .sc-input-group
            input.sc-input-default
            i.sc-icon.sc-icon-lupa-2.sc-btn.sc-btn-blue.hidden-xs
            i.sc-icon.sc-icon-filtro-2.sc-btn.sc-btn-blue(ng-class="{'sc-btn-gray':openFilter}" ng-click="openFilter = !actionAlt.novaLeituraOpen ? !openFilter:false")
            i.sc-icon.sc-icon-.sc-icon-impressora.sc-btn.sc-btn-blue.hidden-xs
        .sc-p-l-lg.sc-p-b-md.pull-right.hidden-xs
          .icon-hover-yellow(ng-click="configConsumo.open()")
            i.sc-icon.sc-icon-engrenagem
        .sc-p-l-lg.sc-p-b-md.pull-right.hidden-sm.hidden-xs
          div(sc-month-picker ng-model="monthPickerDate")
        .clear
        
        section#filter.sc-border-t-gray-light-solid-md.sc-p-md.ng-animation-slider.ng-cloak(ng-cloak ng-show='openFilter')
          .sc-p-md
            p.sc-label.sc-m-b-lg Filtro Avançado
            .sc-align-bottom.sc-p-h-sm
              label.sc-p-r-md
                .sc-label Título
                input.sc-input-default.sc-text-sm
            .sc-p-h-sm.sc-align-bottom
              label
                .sc-label Data Inicial
                input.sc-input-default.sc-input-date.sc-text-sm(style='line-height: 1', type='date')
            .sc-p-h-sm.sc-align-bottom
              label
                .sc-label Data Final
                input.sc-input-default.sc-input-date.sc-text-sm(style='line-height: 1', type='date')
            .sc-p-h-sm.sc-align-bottom
              span.sc-dropdown.pull-left(sc-dropdown-menu='')
                div(style='width: 16em;')
                  .sc-label Situação
                  input.sc-input-default.sc-text-sm(type='text', placeholder='Ex: Lido', ng-model='searchText', ng-click='menu.open()', style='width: 100%;')
                ul.sc-dropdown-menu.ng-animation-slider(style='max-height: 13em; overflow-x: hidden; left: 1em; position: absolute;', ng-show='menu.isOn')
                  li(ng-click='item.ativo1 = ! item.ativo1')
                    i.sc-icon.sc-icon-fw.pull-left(ng-class="item.ativo1 ? 'sc-icon-visto-4' : 'sc-icon-quadrado-1'")
                    span Lido
                  li(ng-click='item.ativo2 = ! item.ativo2')
                    i.sc-icon.sc-icon-fw.pull-left(ng-class="item.ativo2 ? 'sc-icon-visto-4' : 'sc-icon-quadrado-1'")
                    span Não Lido
                  li(ng-click='item.ativo3 = ! item.ativo3')
                    i.sc-icon.sc-icon-fw.pull-left(ng-class="item.ativo3 ? 'sc-icon-visto-4' : 'sc-icon-quadrado-1'")
                    span Desativado
            .sc-p-h-sm.sc-align-bottom
              label
                .sc-label Tipo:
                .sc-btn-group.sc-text-sm(ng-init='btn1 = true; btn2 = true; btn3 = true')
                  button.sc-btn(ng-init='bloco = true', ng-class="{ 'sc-btn-blue':bloco }", ng-click='comum = false; bloco = true') Unidades
                  button.sc-btn(ng-class="{ 'sc-btn-blue':comum }", ng-click='comum = true; bloco = false') Área Comum
            .sc-p-h-sm.sc-align-bottom
              span.sc-dropdown.pull-left(sc-dropdown-menu='')
                div(style='width: 16em;')
                  .sc-label Medidor
                  input.sc-input-default.sc-text-sm(type='text', placeholder='Ex: Água', ng-model='searchText', ng-click='menu.open()', style='width: 100%;')
                ul.sc-dropdown-menu.ng-animation-slider(style='max-height: 13em; overflow-x: hidden; left: 1em; position: absolute;', ng-show='menu.isOn')
                  li(ng-click='item.ativo1 = ! item.ativo1')
                    i.sc-icon.sc-icon-fw.pull-left(ng-class="item.ativo1 ? 'sc-icon-visto-4' : 'sc-icon-quadrado-1'")
                    span Água
                  li(ng-click='item.ativo2 = ! item.ativo2')
                    i.sc-icon.sc-icon-fw.pull-left(ng-class="item.ativo2 ? 'sc-icon-visto-4' : 'sc-icon-quadrado-1'")
                    span Gás
                  li(ng-click='item.ativo3 = ! item.ativo3')
                    i.sc-icon.sc-icon-fw.pull-left(ng-class="item.ativo3 ? 'sc-icon-visto-4' : 'sc-icon-quadrado-1'")
                    span Energia
            .sc-p-h-sm.sc-align-bottom
              span.sc-dropdown.pull-left(sc-dropdown-menu='')
                div(style='width: 16em;')
                  .sc-label Unidades
                  input.sc-input-default.sc-text-sm(type='text', placeholder='Ex: 101', ng-model='searchText', ng-click='menu.open()', style='width: 100%;')
                ul.sc-dropdown-menu.ng-animation-slider(style='max-height: 13em; overflow-x: hidden; left: 1em; position: absolute;', ng-show='menu.isOn')
                  li(ng-click='item.ativo1 = ! item.ativo1')
                    i.sc-icon.sc-icon-fw.pull-left(ng-class="item.ativo1 ? 'sc-icon-visto-4' : 'sc-icon-quadrado-1'")
                    span Torre 1 - 101
                  li(ng-click='item.ativo2 = ! item.ativo2')
                    i.sc-icon.sc-icon-fw.pull-left(ng-class="item.ativo2 ? 'sc-icon-visto-4' : 'sc-icon-quadrado-1'")
                    span Torre 1 - 102
                  li(ng-click='item.ativo3 = ! item.ativo3')
                    i.sc-icon.sc-icon-fw.pull-left(ng-class="item.ativo3 ? 'sc-icon-visto-4' : 'sc-icon-quadrado-1'")
                    span Torre 1 - 103
            .sc-m-t-lg.sc-p-t-lg.sc-border-t-gray-light-solid-md.sc-text-sm
              button.sc-btn.sc-btn-blue(ng-click="openFilter = !openFilter") Pesquisar
              button.sc-btn.sc-btn-red(ng-click="openFilter = !openFilter") Cancelar
        
        section#nova-leitura.sc-border-t-gray-light-solid-md.sc-p-md.ng-animation-slider.ng-cloak(ng-cloak ng-controller="LeituraCtrl", ng-show='actionAlt.novaLeituraOpen')
          .sc-bg-gray-lighter.sc-p-md
            p.sc-label.sc-m-b-lg Novo Medidor
            .sc-p-h-sm.sc-align-bottom
              label.sc-p-r-md
                .sc-label Tipo
                .sc-btn-group.sc-text-sm(ng-init="cadastro.unidade = true")
                  button.sc-btn(ng-class="{ 'sc-btn-blue':cadastro.unidade }", ng-click='cadastro.comum = false; cadastro.unidade = true') Unidades
                  button.sc-btn(ng-class="{ 'sc-btn-blue':cadastro.comum }", ng-click='cadastro.comum = true; cadastro.unidade = false') Área Comum
            .sc-p-h-sm.sc-align-bottom
              label.sc-p-r-md
                .sc-label Medidor
                .sc-dropdown(sc-dropdown-menu)(ng-click="menu.toggle()")
                  .sc-btn-group.sc-text-sm(style="width: 9em;")
                    button.sc-btn {{medidores[cadastro.id].name || 'Selecione'}}
                    i.sc-icon.sc-icon-seta-5-baixo.sc-btn.sc-btn-blue(ng-click="menu.toggle()")
                  ul.sc-dropdown-menu.ng-animation-slider(style="width: 100%; max-height: 10em;", ng-show="menu.isOn")
                    li(ng-repeat="medidor in medidores" ng-click="selectionOption(medidor)")
                      a(href="")
                        i.sc-icon.sc-icon-circulo-1(ng-class="{'sc-icon-circulo-1-marcado':medidor.select}")
                        span.sc-p-l-md {{medidor.name}}
            .sc-p-h-sm.sc-align-bottom
              label.sc-p-r-md
                .sc-label Selecione a leitura anterior base
                .sc-dropdown(sc-dropdown-menu)(ng-click="menu.toggle()")
                  .sc-input-group.sc-text-sm(style="width: 15em;")
                    input.sc-input-default(ng-model="cadastro.base")
                    i.sc-icon.sc-icon-seta-5-baixo.sc-btn.sc-btn-blue(ng-click="menu.toggle()")
                  ul.sc-dropdown-menu.ng-animation-slider(style="width: 100%; max-height: 10em; overflow: auto;", ng-show="menu.isOn")
                    li
                      a(href="")
                        i.sc-icon.sc-icon-circulo-1
                        span.sc-p-l-md Leitura Inicial
                    li(ng-repeat="leitura in leituras | filter:{title: cadastro.base, title:medidores[cadastro.id].name}" ng-click="selectionLeitura(leitura)")
                      a(href="")
                        i.sc-icon.sc-icon-circulo-1(ng-class="{'sc-icon-circulo-1-marcado':leitura.select}")
                        span.sc-p-l-md {{leitura.title}} - {{leitura.date | date:'dd/MM/yyyy'}}

            .sc-m-t-lg.sc-p-t-lg.sc-border-t-gray-light-solid-md
              button.sc-btn.sc-btn-green.sc-text-sm(ng-click='iniciarCadastro()') Iniciar
              button.sc-btn.sc-btn-red.sc-text-sm(ng-click='actionAlt.novaLeituraOpen = false') Cancelar
      
    section#breadcrumb
      .sc-p-h-xl.sc-p-b-md.sc-bg-gray-lighter.sc-text-gray.sc-text-sm
        span.sc-text-blue Início / 
        span Módulo de Leitura
    
    section#nova-leitura.sc-m-t-md.sc-border-radius.ng-animation-slider(ng-controller="LeituraCtrl" ng-show="actionAlt.addNovaLeitura")
      ul.sc-accordion
        li.sc-acc-blue
          .sc-accordion-head.sc-text-blue.sc-cursor-default
            .sc-accordion-elastic-col.title(ng-class="{'sc-text-red':leitura.null}") Leitura: {{cadastro.title}} - {{cadastro.date | date:'dd/MM/yyyy'}}
            .sc-accordion-col-20.pull-right.hidden-sm.hidden-xs(ng-show="cadastro.base") Leitura Anterior Base: {{leituras[cadastro.idBase].title}} - {{leituras[cadastro.idBase].date | date:'dd/MM/yyyy'}}
          .sc-accordion-doby.ng-animation-slider.sc-m-lg.sc-bg-gray-lighter.sc-border-radius(style="overflow: auto")
            .box(ng-class="{'box-last-child':$index==cadastro.unidades.length-1}" ng-repeat="unidade in cadastro.unidades")
              .box-leitura
                .sc-label Torre 1 - Apt. 101
                span {{unidade.date | date:'dd/MM/yyyy'}}
              .box-leitura
                .sc-label(ng-class="{'sc-text-red':!unidade.atual}") Leitura Atual:
                input.sc-input-default.sc-text-sm(ng-model="unidade.atual", style="width: 70%;")
                | {{medidores[cadastro.id].unidade}}
              .box-circle.hidden-sm.hidden-xs(ng-show="unidade.anterior")
                span -
              .box-leitura.hidden-sm.hidden-xs(ng-show="unidade.anterior")
                .sc-label(ng-class="{'sc-text-yellow':unidade.alterado}") Leitura Anterior:
                span {{unidade.anterior}}
                | {{medidores[cadastro.id].unidade}}
              .box-circle.hidden-sm.hidden-xs(ng-show="unidade.anterior")
                span =
              .box-leitura.hidden-sm.hidden-xs(ng-show="unidade.anterior")
                .sc-label Consumo:
                span {{(unidade.atual - unidade.anterior) | number: 2}} {{medidores[cadastro.id].unidade}}
              .box-circle.hidden-md.hidden-sm.hidden-xs(ng-show="unidade.anterior")
                span(style="font-size: 1em;") x
              .box-leitura.hidden-md.hidden-sm.hidden-xs(ng-show="unidade.anterior")
                .sc-label Valor Unitário:
                span {{medidores[cadastro.id].valor | currency}}
              .box-circle.hidden-md.hidden-sm.hidden-xs(ng-show="unidade.anterior")
                span =
              .box-leitura.hidden-xs(ng-show="unidade.anterior")
                .sc-label Total a pagar:
                span {{((unidade.atual - unidade.anterior) * medidores[cadastro.id].valor) | currency}}
            button.sc-btn.sc-btn-green.pull-right.sc-m-v-lg(ng-click="salveCadastro()") Salvar
            button.sc-btn.sc-btn-red.pull-right.sc-m-v-lg.sc-m-r-lg(ng-click="cancelarCadastro()") Canelar
        
    section#barraTotal.sc-border-t-gray-light-solid-md.sc-p-t-lg.sc-p-r-lg(style="width: 100%;" ng-hide="actionAlt.addNovaLeitura")
      .pull-right
        .sc-p-b-lg.sc-p-l-md.pull-left
          .sc-p-h-md.sc-border-blue-light-solid-md.sc-border-radius
            .sc-label Total a pagar
            span {{totalAPagar() | currency}}
        .sc-p-b-lg.sc-p-l-md.pull-left
          .sc-p-h-md.sc-border-blue-light-solid-md.sc-border-radius
            .sc-label Consumo Total:
            span {{totalConsumo() | number: 2}} {{medidores[selected.id].unidade}}
        
    section#lista-leitura.ng-animation-slider(ng-hide="actionAlt.addNovaLeitura")
      ul.sc-accordion
        li(ng-class="{'sc-acc-blue':acc.opened}" ng-repeat="leitura in leituras | orderBy:'-date' | filter:{date:mesReferencia()}")
          .sc-accordion-head.sc-text-blue(ng-click="toggleAcc(leitura)")
            .sc-accordion-icon-col.sc-divider.align-xs-center(sc-stop-click, ng-click="selectLeitura(leitura)")
              input.sc-checkbox.sc-checkbox-blue(type="checkbox", ng-click="selectLeitura(leitura)", ng-model="leitura.select")
            .sc-accordion-elastic-col.title(ng-class="{'sc-text-red':leitura.null}") Leitura: {{leitura.title}} - {{leitura.date | date:'dd/MM/yyyy'}}
            .sc-accordion-col-21.pull-right.hidden-sm.hidden-xs(ng-show="leitura.idBase") Leitura Anterior Base: {{leituras[leitura.idBase].title}} - {{leituras[leitura.idBase].date | date:'dd/MM/yyyy'}}
            .sc-accordion-col-3
              .pull-right(sc-stop-click)
                .menu(sc-dropdown-menu)
                  .icon-hover-gray(ng-class="{'active-menu':menu.isOn}" ng-click="menu.toggle()")
                    i.sc-icon.sc-icon-reticiencias-v
                  ul(ng-show="menu.isOn")
                    li(ng-click="leitura.edit = !leitura.edit") Editar
                    li.foraMPV Totalizar
                    li.foraMPV Lançar
          .sc-accordion-doby.ng-animation-slider.sc-m-lg.sc-bg-gray-lighter.sc-border-radius(style="overflow: auto")(ng-show="leitura.opened")
            .box(ng-class="{'box-last-child':$index==leitura.unidades.length-1}" ng-repeat="unidade in leitura.unidades")
              .box-leitura
                .sc-label Torre 1 - Apt. 101
                span(ng-hide="leitura.edit") {{unidade.data | date:'dd/MM/yyyy'}}
                input.sc-input-default.sc-text-sm(sc-date-input, ng-show="leitura.edit", ng-model="unidade.data", style="width: 95%;")
              .box-leitura
                .sc-label(ng-class="{'sc-text-red':!unidade.atual}") Leitura Atual:
                span(ng-hide="leitura.edit") {{unidade.atual | number}}
                input.sc-input-default.sc-text-sm(ng-show="leitura.edit", ng-model="unidade.atual", style="width: 70%;")
                | {{medidores[leitura.id].unidade}}
              .box-circle.hidden-sm.hidden-xs(ng-show="unidade.anterior")
                span -
              .box-leitura.hidden-sm.hidden-xs(ng-show="unidade.anterior")
                .sc-label(ng-class="{'sc-text-yellow':unidade.alterado}") Leitura Anterior:
                span(ng-hide="leitura.edit") {{unidade.anterior}}
                input.sc-input-default.sc-text-sm(ng-show="leitura.edit", ng-model="unidade.anterior", style="width: 70%;")
                | {{medidores[leitura.id].unidade}}
              .box-circle.hidden-sm.hidden-xs(ng-show="unidade.anterior")
                span =
              .box-leitura.hidden-sm.hidden-xs(ng-show="unidade.anterior")
                .sc-label Consumo:
                span {{(unidade.atual - unidade.anterior) | number: 2}} {{medidores[leitura.id].unidade}}
              .box-circle.hidden-md.hidden-sm.hidden-xs(ng-show="unidade.anterior")
                span(style="font-size: 1em;") x
              .box-leitura.hidden-md.hidden-sm.hidden-xs(ng-show="unidade.anterior")
                .sc-label Valor Unitário:
                span {{medidores[leitura.id].valor | currency}}
              .box-circle.hidden-md.hidden-sm.hidden-xs(ng-show="unidade.anterior")
                span =
              .box-leitura.hidden-xs(ng-show="unidade.anterior")
                .sc-label Total a pagar:
                span {{((unidade.atual - unidade.anterior) * medidores[leitura.id].valor) | currency}}
              
            .pull-right.sc-m-t-lg(ng-show="leitura.edit")
              button.sc-btn.sc-btn-red(ng-click='leitura.edit = false') Cancelar
              button.sc-btn.sc-btn-green(ng-click='leitura.edit = false') Salvar
    
    section#modais
      div(ng-controller="configConsumoCtrl")
        .sc-modal.col-lg-6.col-md-9.col-sm-11.col-xs-12(sc-modal="configConsumo")
          .sc-modal-header(ng-class="{ 'align-center':actions.add||actions.edit }")
            .pull-right.sc-modal-close(ng-click="configConsumo.close()")
              .icon-hover-red
                i.sc-icon.sc-icon-fechar-1
            span(ng-show='!actions.add && !actions.edit') Configurações de consumo
            span(ng-show='actions.add && !actions.edit') Novo medidor
            span(ng-show='actions.edit') Editar medidor
            button.sc-text-sm.sc-m-h-lg.sc-btn.sc-btn-green(ng-show='!actions.add && !actions.edit', ng-click='actions.add = !actions.add')
              i.sc-icon.sc-icon-mais-1
              span.sc-p-l-md Novo medidor
          .sc-modal-body
            div(ng-show='!actions.add && !actions.edit')
              table.sc-table(style="width: 100%;")
                tbody
                  tr(ng-repeat="medidor in medidores")
                    td.sc-align-middle(style="width: 100%;")
                      span.sc-label(ng-class="{'sc-text-gray':medidor.visible}") {{medidor.name}}
                      .pull-right
                        .icon-hover-yellow(ng-click="editMedidor(medidor)")
                          i.sc-icon.sc-icon-lapis
                        .icon-hover-blue(ng-click="medidor.visible = !medidor.visible" ng-class="{'icon-gray':medidor.visible}")
                          i.sc-icon(ng-class="{'sc-icon-olho':!medidor.visible , 'sc-icon-olho-bloqueado':medidor.visible}")
                        .icon-hover-red(ng-click="removeMedidor(medidor)")
                          i.sc-icon.sc-icon-lixeira-1
            
            .sc-text-blue(ng-show='actions.add')
              .sc-border-radius(style='background-color: #F7F7F9;')
                .sc-m-lg(style='display: inline-table;')
                  .sc-label Nome: 
                  input.sc-text-sm.sc-input-default(ng-model="addMedidor.name")(style='width: 15em;')
                .sc-m-lg(style='display: inline-table;')
                  .sc-label Unidade: 
                  input.sc-text-sm.sc-input-default(ng-model="addMedidor.unidade")(style='width: 5em;')
                .sc-m-lg(style='display: inline-table;')
                  .sc-label Valor: 
                  input.sc-text-sm.sc-input-default(ng-model="addMedidor.valor")(style='width: 10em;')
                .sc-m-lg(style='display: inline-table;')
                  .sc-label Plano de contas: 
                  select.sc-text-sm.sc-input-default(style='width: 10em;')
                    option Plano de contas
                .sc-m-lg(style='display: inline-table;')
                  .sc-label Medidor: 
                  .sc-btn-group
                    button.sc-btn(ng-init='bloco = true', ng-class="{ 'sc-btn-blue':bloco }", ng-click='comum = false; bloco = true') Unidades
                    button.sc-btn(ng-class="{ 'sc-btn-blue':comum }", ng-click='comum = true; bloco = false') Área Comum
            
            .sc-text-blue(ng-show='actions.edit')
              .sc-border-radius(style='background-color: #F7F7F9;')
                .sc-m-lg(style='display: inline-table;')
                  .sc-label Nome 
                  input.sc-text-sm.sc-input-default(ng-model="editMedidorObj.name")(style='width: 15em;')
                .sc-m-lg(style='display: inline-table;')
                  .sc-label Unidade 
                  input.sc-text-sm.sc-input-default(ng-model="editMedidorObj.unidade")(style='width: 5em;')
                .sc-m-lg(style='display: inline-table;')
                  .sc-label Valor
                  input.sc-text-sm.sc-input-default(sc-currency-input ng-model="editMedidorObj.valor")(style='width: 10em;')
                .sc-m-lg(style='display: inline-table;')
                  .sc-label Plano de contas 
                  select.sc-text-sm.sc-input-default(style='width: 10em;')
                    option Plano de contas
                .sc-m-lg(style='display: inline-table;')
                  span.sc-dropdown.pull-left(sc-dropdown-menu)
                    div(style='width: 16em;')
                      .sc-label Unidades desativadas
                      input.sc-input-default.sc-text-sm(type='text', placeholder='Ex: 101', ng-model='editMedidorObj.unidadesDesativadas', ng-click='menu.open()', style='width: 100%;')
                    ul.sc-dropdown-menu.ng-animation-slider(style='max-height: 13em; overflow-x: hidden; left: 1em; position: static;', ng-show='menu.isOn')
                      li(ng-click='item.ativo1 = ! item.ativo1')
                        i.sc-icon.sc-icon-fw.pull-left(ng-class="item.ativo1 ? 'sc-icon-visto-4' : 'sc-icon-quadrado-1'")
                        span 101
                      li(ng-click='item.ativo2 = ! item.ativo2')
                        i.sc-icon.sc-icon-fw.pull-left(ng-class="item.ativo2 ? 'sc-icon-visto-4' : 'sc-icon-quadrado-1'")
                        span 102
          
          .sc-modal-footer.sc-text-sm
            button.sc-btn.sc-btn-green(ng-show='actions.add' ng-click='addMedidor(addMedidor)')
              i.sc-icon.sc-icon-visto-1
              span Salvar
            button.sc-btn.sc-btn-green(ng-show='actions.edit' ng-click="saveEditMedidor(editMedidorObj)")
              i.sc-icon.sc-icon-visto-1
              span Salvar
            button.sc-btn.sc-btn-red(ng-show='actions.edit' ng-click="actions.edit = false")
              i.sc-icon.sc-icon-fechar-1
              span Cancelar
            button.sc-btn.sc-btn-green(ng-show='!actions.add && !actions.edit')(ng-click='configConsumo.close()')
              i.sc-icon.sc-icon-visto-1
              span Salvar

    script(src="../../source/prototype.js")
    script(src="../../source/modernizr.min.js")
    script(src="index.js" type='text/javascript')
    script(src="http://codepen.io/dev6-seucondominio/pen/avpxNZ.js" type='text/javascript')