<body style="width: 100%; height: 100%; background-color: #a9b7c4;" ng-app="scApp" ng-controller="controll">

  <!-- Modais INICIO -->
    <!-- Termos de Uso INICIO -->
      <div style="width: 55em; overflow: auto;" class="sc-text-gray sc-p-md sc-modal active" sc-modal="termosDeUso">
        <div style="padding: 0;">
          <div class="sc-modal-header align-center">
            <i ng-click="termosDeUso.close()" class="pull-right sc-icon sc-icon-fechar-1 sc-text-red"></i>
            <h4 style="margin: 0;" class="sc-text-bold pull-center">Termos de Uso</h4>
          </div>
          <div style="max-height: 16.6em;" class="sc-modal-body">
            <div style="overflow: auto; background-color: #F7F7F9;" class="sc-p-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
              <p>The word history comes from the Greek word historía which means "to learn or know by inquiry." In the pieces that follow, we encourage you to probe, dispute, dig deeper — inquire. History is not static. It's fluid. It changes and grows and becomes richer and more complex when any individual interacts with it. Knowledge of history is empowering. An event is but the furthest ripple of an ever-expanding wave that may have started eddying outward hundreds of years ago. One who "sees" history is able to harness the power of that wave's entire journey. Finally, the best history has at its foundation a story. A printer challenges a King and so is laid the foundation of the first amendment; a New Jersey miner finds gold in California and sets off a torrent of movement westward; a woman going home from work does not relinquish her seat and a Civil Rights movement explodes. These stories all help to ask the question, "What is an American?" You'll help to answer that question.</p>
            </div>
          </div>
        </div>
        <div class="sc-modal-footer">
          <div class="pull-left sc-p-md" style="display: inline-table;" ng-click="contrateVar.caixaMarcar2 = !contrateVar.caixaMarcar2">
            <i class="sc-icon sc-icon-quadrado-1 sc-m-r-md" ng-class="{ 'sc-icon-visto-4':contrateVar.caixaMarcar2 }"></i>
            <span>Declaro que li e concordo com os termos de uso do sistema.</span>
          </div>
          <button ng-click="teste2()" class="sc-btn sc-btn-green">
            <span>FINALIZAR SOLICITAÇÃO</span>
          </button>
        </div>
      </div>
    <!-- Termos de Uso FIM -->

    <!-- Contrato INICIO -->
      <div style="width: 50em; overflow: auto; font-family: 'Roboto', sans-serif;" class="sc-p-md sc-modal active" sc-modal="contrato">
        <div style="padding: 0;" class="sc-text-gray">
          <div style="overflow: auto;" class="sc-modal-header align-center">
            <i ng-click="contrato.close()" class="pull-right sc-icon sc-icon-fechar-1 sc-text-red"></i>
            <h4 style="margin: 0;" class="pull-center sc-text-bold">Formulário de cadastro</h4>
          </div>
          <div class="clear"></div>
          <div style="max-height: 30em;" class="sc-modal-body">
            <div style="background-color: #F7F7F9;" class="sc-p-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
              <div class="sc-p-b-lg sc-border-b-gray-light-dotted-md">
                <div class="align-center sc-text-bold sc-text-lg">DADOS DO CONTRATANTE</div>
                <div style="width: 100%; display: inline-flex;">
                  <div style="width: 50%;" class="sc-m-t-lg sc-m-h-lg">
                    <div>CONDOMÍNIO/EMPRESA </div>
                    <input style="width: 100%; background: #E5E5E5; border: none; height: 2.5em; padding: 0 1em; font-size: 1em;" class="sc-border-radius" />
                  </div>
                  <div style="width: 50%;" class="sc-m-t-lg sc-m-h-lg">
                    <div>CNPJ </div>
                    <input style="width: 100%; background: #E5E5E5; border: none; height: 2.5em; padding: 0 1em; font-size: 1em;" class="sc-border-radius" />
                  </div>
                  <div style="width: 50%;" class="sc-m-t-lg sc-m-h-lg">
                    <div>CEP </div>
                    <input style="width: 100%; background: #E5E5E5; border: none; height: 2.5em; padding: 0 1em; font-size: 1em;" class="sc-border-radius" />
                  </div>
                </div>
              </div>
              <div class="clear"></div>
              <div class="sc-m-t-lg">
                <div class="align-center sc-text-bold sc-text-lg">RESPONSÁVEL</div>
                <div style="display: flex;">
                  <div style="width: 50%;" class="sc-m-t-lg sc-m-h-lg">
                    <div>NOME </div>
                    <input style="width: 100%; background: #E5E5E5; border: none; height: 2.5em; padding: 0 1em; font-size: 1em;" class="sc-border-radius" />
                  </div>
                  <div style="width: 50%;" class="sc-m-t-lg sc-m-h-lg">
                    <div>E-MAIL </div>
                    <input style="width: 100%; background: #E5E5E5; border: none; height: 2.5em; padding: 0 1em; font-size: 1em;" class="sc-border-radius" />
                  </div>
                  <div style="width: 50%;" class="sc-m-t-lg sc-m-h-lg">
                    <div>TELEFONE </div>
                    <input style="width: 100%; background: #E5E5E5; border: none; height: 2.5em; padding: 0 1em; font-size: 1em;" class="sc-border-radius" />
                  </div>
                </div>
                <div class="clear"></div>
                <div>
                  <div class="sc-m-t-lg sc-m-h-lg">
                    <div>MENSAGEM </div>
                    <textarea style="width: 100%; background: #E5E5E5; border: none; padding: 0.5em 1em; font-size: 1em;" rows="5" class="sc-border-radius"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sc-modal-footer">
          <button ng-click="contrato.close(); termosDeUso.open()" class="sc-btn sc-btn-green">
            <span>CONTRATAR</span>
          </button>
          <button ng-click="contrato.close(); avisoContato.open()" class="sc-btn sc-btn-blue">
            <span>SOLICITAR CONTATO</span>
          </button>
        </div>
      </div>
    <!-- Contrato FIM -->

    <!-- Aviso INICIO -->
      <div style="width: 35em; overflow: auto;" class="sc-p-md sc-modal active" sc-modal="aviso">
        <div style="padding: 0;" class="sc-text-gray sc-modal-body">
          <div class="sc-modal-header align-center">
            <i ng-click="aviso.close()" class="pull-right sc-icon sc-icon-fechar-1 sc-text-red"></i>
            <h4 style="margin: 0;" class="sc-text-bold pull-center">AVISO</h4>
          </div>
          <div class="align-center sc-m-xxl">
            <span>Você precisa aceitar os termos de contrato para continuar!</span>
          </div>
        </div>
        <div class="align-center sc-modal-footer">
          <button ng-click="aviso.close()" class="sc-btn sc-btn-blue">
            <span>OK</span>
          </button>
        </div>
      </div>
    <!-- Aviso FIM -->

    <!-- Aviso Contato INICIO -->
      <div style="width: 35em; overflow: auto;" class="sc-p-md sc-modal active" sc-modal="avisoContato">
        <div style="padding: 0;" class="sc-text-gray sc-modal-body">
          <div style="overflow: auto;" class="sc-modal-header align-center">
            <i ng-click="avisoContato.close()" class="pull-right sc-icon sc-icon-fechar-1 sc-text-red"></i>
            <h4 style="margin: 0;" class="pull-center sc-text-bold">AGUARDE</h4>
          </div>
          <div class="align-center sc-m-xxl">
            <span>Nosso representante comercial entrará em contato!</span>
          </div>
        </div>
        <div class="align-center sc-modal-footer">
          <button ng-click="avisoContato.close()" class="sc-btn sc-btn-blue">
            <span>OK</span>
          </button>
        </div>
      </div>
    <!-- Aviso Contato FIM -->

    <!-- Aviso Contrato INICIO -->
      <div style="width: 35em; overflow: auto;" class="sc-p-md sc-modal active" sc-modal="avisoContrato">
        <div style="padding: 0;" class="sc-text-gray sc-modal-body">
          <div class="sc-modal-header align-center">
            <i ng-click="avisoContrato.close()" class="pull-right sc-icon sc-icon-fechar-1 sc-text-red"></i>
            <h4 style="margin: 0;" class="pull-center sc-text-bold">Contrato efetuado com sucesso!</h4>
          </div>
          <div class="align-center sc-m-xxl">
            <span>Nosso representante comercial entrará em contato o mais breve possível!</span>
          </div>
        </div>
        <div class="align-center sc-modal-footer">
          <button ng-click="avisoContrato.close()" class="sc-btn sc-btn-blue">
            <span>OK</span>
          </button>
        </div>
      </div>
    <!-- Aviso Contrato FIM -->
  <!-- Modais FIM -->

  <!-- Page INICIO  -->
    <div style="overflow: auto; margin-bottom: 0;" class="sc-bg-blue sc-text-white sc-p-xxl sc-m-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
      <p>Texto</p>
      <div ng-click="termosDeUso.open()" ng-mouseenter="contrateVar.contrate  = true" ng-mouseleave="contrateVar.contrate = false" class="pull-right" ng-class="{ 'sc-cursor-pointer':contrateVar.contrate }">
        <span>Ver termos de uso</span>
      </div>
    </div>
    <div style="background-color: #F7F7F9; margin-top: 0;" class="sc-text-cian sc-p-xxl sc-m-lg sc-border-gray-solid-sm sc-border-radius sc-p-md">
      <div style="display: inline-table;" ng-click="contrateVar.caixaMarcar = !contrateVar.caixaMarcar">
        <i class="sc-icon sc-icon-quadrado-1 sc-m-r-md" ng-class="{ 'sc-icon-visto-4':contrateVar.caixaMarcar }"></i>
        <span>Declaro que li e concordo com os termos de uso do sistema.</span>
      </div>
      <button ng-click="teste()" style="display: inline-table;" class="sc-text-sm sc-m-l-lg sc-btn sc-btn-blue">
        <span>CONTRATE AGORA ESTE SISTEMA</span>
      </button>
    </div>
  <!-- Page FIM  -->

</body>
