html {width: 100%}
body {width: 100%}

* {
  margin: 0;
  padding: 0;
}

.foraMVP {
  color: #FF69B4 !important;
}

//animation alt page =

.view-animate.ng-enter, .view-animate.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;

  display:block;
  width:100%;
  height: 100%;

  position: absolute;
  top:0;
  left:0;
  right:0;
}

.view-animate.ng-enter {
  left: 100%;
}

.view-animate.ng-enter.ng-enter-active {
  left: 0;
}

.view-animate.ng-leave.ng-leave-active {
  left: -100%;
}

//animation alt page ;

.box {
  display: flex;
  align-items: center;
  color: #7d858c;
  padding: 0 1.2em;
  position: relative;
  .box-circle {
    cursor: default;
    position: absolute;
    display: table;
    height: 1.6em;
    width: 1.6em;
    margin-top: 18px;
    margin-left: -12px;
    text-align: center;
    background-color: #FFF;
    border-radius: 50%;
    box-shadow: -0.1px 1.4px 4px rgba(0,0,0,0.1);
    border: 1px solid #c1c4c8;
    span {
      font-size: 1.2em;
      display: table-cell;
      vertical-align: middle;
    }
  }
 .box-campo {
    background-color: #FFF;
    border-style: solid;
    border-color: #c1c4c8;
    border-width: 1px;
    border-left: 0;
    border-bottom: 0;
    padding: .5em 1.5em;
    text-align: center;
    max-width: 12em;
    width: auto;
    &:first-child{
      border-left-style: solid;
      border-left-color: #c1c4c8;
      border-left-width: 1px;
      border-radius: .5em 0 0 .5em;
    }
  }
  .last-child { border-radius: 0 .5em .5em 0; }
}
.box-last-child {
  .box-campo {
    border-bottom-style: solid;
    border-bottom-color: #c1c4c8;
    border-bottom-width: 1px;
  }
  margin-bottom: .8em;
}

//card (Add ao Uikit)
.card {
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  display: inline-table;
  width: 17em;
  position: relative;
  cursor: pointer;
  margin: .8em;
  .iconCard {
    float: right;
    i {
      z-index: 0;
      margin-right: .3em;
      margin-top: .6em;
      font-size: 2.4em;
      color: rgba(0,0,0,.09);
      padding: .2em 0 0 .7em;
    }
  }
  .clickCard {
    width: 17em !important;
  }
  .min-card {
    width: 5em;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    transition: width 500ms;
    position: absolute;
  }
}

.cardMobile {
  margin: 1em auto !important;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 8em;
  border: 3px solid white;
  border-color: #FFF;

  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  cursor: pointer;

  .text {
    color: #FFF;
    font-size: 1em;
    padding-bottom: .4em;
  }
  .num {
    line-height: 1;
    font-size: 3em;
    color: #FFF;
  }
  #percent {
    color: #FFF;
    padding-top: .2em;
    font-size: 1.5em;
  }
  .text.clickCard1 {
    height: 2.35em;
  }
  .min-card {
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, .1);
    transition: width 500ms;
    position: absolute;
  }
  .min-cardMobile {
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, .1);
    transition: width 500ms;
    position: absolute;
  }
  &::before, &::after {
    content: '';
    -webkit-transition: all 550ms ease;
    transition: all 550ms ease;
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    left: 0;
  }
  &::before {
    height: 2.4em;
    top: 0;
  }
  &::after {
    height: 2em;
    bottom: 0;
  }
}

.cardMobile {
  margin: 0 auto !important;
  margin-top: .5em !important;
}

.cardMobile-green, .card-green {
  background-color: #42B342;
}

.cardMobile-yellow, .card-yellow {
  background-color: #e58c00;
}

.cardMobile-red, .card-red {
  background-color: #c74848;
}

.cardMobile-red-dark, .card-red-dark {
  background-color: #952e2e;
}

.cardMobile-blue, .card-blue {
  background-color: #337ab7;
}

.card:hover .min-card {
  width: 17em;
  #percent {
    background: none;
  }
}

.minCard-left, .minCard-left-Active {
  width: 50%;
  border-right: 2px solid rgba(0,0,0,0.1);
}

.minCard-right {
  width: 50%;
}

.minCard-right-Active::before, .minCard-left-Active::before {
  content: '';
  transition-duration: .75s;
  background-color: rgba(0,0,0,0.1);
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 20000;
}

.minCard-right::before, .minCard-left::before {
  content: '';
  transition-duration: .75s;
  background-color: rgba(0,0,0,0.1);
  transform: scale(0);
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 20000;
}

.minCard-left::before, .minCard-left-Active::before {
  left: 0;
}

.minCard-right::before, .minCard-right-Active::before {
  left: 8.5em;
}

.minCard-right:hover:before, .minCard-left:hover:before {
  background-color: rgba(0,0,0,.1);
  transform: scale(1);
}


.cardFlip {
  -webkit-transition: -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: none;
}

.cardFlip .front {
  text-align: center;
  width: 100%;
}

.cardFlip .back {
  text-align: center;
  transform: rotateY( 180deg );
  width: 100%;
  position: absolute;
  top: 0;
}

.cardFlip-hover {
  transform: rotateY( 180deg );
}
//end card

//efeitos

//search
.buttonSearch {
  top: .7em;
  right: 4.4em;
  overflow: hidden;
  position: absolute !important;
}

.buttonSearch.ng-hide-remove {
  animation: buttonAnimation .75s;
}

.buttonSearch.ng-hide-add {
  animation: buttonAnimation .75s reverse;
}
//end Search
//menu mobile down

//end menu mobile down

//end efeitos

header {
  left: 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  #head1, #head2 {
    padding: .8em;
    background: #2590d9;
    background: -ms-linear-gradient(top, #2590d9 0%, #135ca6 30%);
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(30%, #2590d9), color-stop(100%, #135ca6));
    background: -webkit-linear-gradient(top, #2590d9 30%, #135ca6);
    border-bottom: 1px solid black;
  }
  .logo {
    cursor: pointer;
    display: inline-table;
  }
  section.barraMenu2 {
    width: 100%;
    .buscaMobile {
      padding-right: 3.7em;
      padding-left: .5em;
      right: 3em;
      width: 100%;
      right: 0;
      position: fixed;
      z-index: 100;
      input {
        float: right;
        right: .3em;
        width: 98%;
        border-radius: 2em;
        border-color: #999999;
        background-color: #CCC;
        &.ng-hide-add {
          animation: inputAnimate .75s reverse;
        }
        &.ng-hide-remove {
          animation: inputAnimate .75s;
        }
      }
    }
    ul.menu-mobile-conf {
      position: absolute;
      width: 2em;
      height: 13em;
      border-radius: 1em;
      right: .4em;
      top: 1em;
      z-index: 10;
      border: 1px solid rgba(0,0,0,.1);
      li.icon1 {
        position: absolute;
        right: -6px;
        top: 2em;
      }
      li.icon2 {
        position: absolute;
        right: -6px;
        top: 5em;
      }
      li.icon3 {
        position: absolute;
        right: -6px;
        top: 8em;
      }
      li.icon4 {
        position: absolute;
        right: -6px;
        top: 11em;
      }
    }
    ul.menu-mobile-conf.ng-hide-add {
      webkit-animation: menuAnimatehide .75s reverse;
      animation: menuAnimatehide .75s reverse;
      .menuIconsAnimate {
        webkit-animation: menuIconsAnimate 1s reverse;
        animation: menuIconsAnimate 1s reverse;
      }
    }
    ul.menu-mobile-conf.ng-hide-remove {
      webkit-animation: menuAnimate .75s;
      animation: menuAnimate .75s;
      .menuIconsAnimate {
        webkit-animation: menuIconsAnimate .75s;
        animation: menuIconsAnimate .75s;
      }
    }
    .openBusca {
      z-index: 20;
      width: 100%;
      right: 0;
      input {
        width: 100%;
      }
      button {
        position: absolute;
        top: 0;
      }
    }
  }
  section.barraMenu1 {
    ul.menuStyle {
      border-radius: .5em;
      padding: 1em 0;
      li {
        color: #4C4C4C;
        border: none;
        border-left-width: .3em;
        border-left-style: solid;
        border-left-color: transparent;
        &:hover {
          border-left-color: #2590d9;
        }
      }
    }
    .clickscale {
      i {
        color: #FFF !important;
      }
      .circleHover {
        transform: scale(1) !important;
      }
    }
    .notClickscale {
      .circleHover {
        transform: scale(0) !important;
      }
    }
  }
}
div.buttonBackTop {
  position: fixed;
  bottom: 3em;
  right: 4em;
  z-index: 100;
  transform: scale(1);
  .testeclick {
    background: #2590d9 !important;
    a i {
      color: #FFF !important;
    }
  }
  a {
    border: none;
    background: none;
    border: 2px solid #2590d9;
    i {
      color: #2590d9;
    }
  }
  &.ng-hide-add { animation: backTopAnimate .75s reverse; }
  &.ng-hide-remove { animation: backTopAnimate .75s; }
}

.colorPink {
  color: #FF00FF !important;
}

.top-bar {
  border-top: 1.5px solid gray;
  position: fixed;
  top: 4.2em;
  width: 100%;
  z-index: 1;
  top: 11em !important;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.formEdit {
  input {
    transition: all 500ms ease;
  }
}

.topMobile {
  top: 7.9em !important;
}

// .menuasd {
//   .clickscale {
//     i {
//       color: #000;
//     }
//     .circleHover {
//       transform: scale(1);
//     }
//   }

//   position: relative;
//   text-align: center;
//   width: 15em;
//   margin: 1em auto;
//   .openCss:target {
//     display:none;
//   }
//   a {
//     color: #000000;
//     text-decoration: none;
//     cursor: pointer;
//     padding: 8px 17px;
//     position: relative;
//     i {
//       color: #adadad;
//     }
//     .circleHover {
//       width: 30px;
//       height: 30px;
//       position: absolute;
//       top: -2px;
//       left: 3px;
//       border-radius: 50%;
//       background-color: rgba(0,0,0,.1);
//       transition-duration: 350ms;
//       transform: scale(0);
//     }
//   }
//   a:hover {
//     i {
//       color: #000;
//     }
//     .circleHover {
//       transform: scale(1);
//     }
//   }
//   ul {

//     border-radius: .5em;
//     transform-origin: top right;
//     transition-duration: 170ms;
//     z-index: 1;
//     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
//     background-color: #FFFFFF;
//     border: .1em solid #CCCCCC;
//     position: absolute;
//     text-align: center;
//     background-clip: padding-box;
//     right: .2em;

//     transform: scale(1);
//     opacity: 1;

//     li {
//       color: #4C4C4C;
//       border: none;
//       border-left-width: .3em;
//       border-left-style: solid;
//       border-left-color: transparent;
//       cursor: pointer;
//       padding: 8px 17px;
//       transition-duration: 250ms;
//       width: 10em;
//       text-align: right;
//       color: #4C4C4C;
//       font-family: roboto;
//     }
//     li:first-child {
//       margin-top: .5em;
//     }
//     li:last-child {
//       margin-bottom: .5em;
//     }
//     li:hover {
//       color: #000000;
//       background-color: rgba(0,0,0,.1);
//       border-left-color: #2590d9;
//     }
//   }
//   ul.ng-hide-add {
//     transform: scale(0);
//     opacity: 0;
//   }
//   ul.ng-hide-remove {
//     transform: scale(0);
//     opacity: 0;
//   }
// }

#cobrancas {
  position: relative;
  &.ng-hide-add {
    animation: cobrancaAnimate .75s;
  }
  &.ng-hide-remove {
    animation: cobrancaAnimate .75s reverse;
  }
  &.ng-hide {
    left: -100em;
  }
}

#acordos {
  position: relative;
  &.ng-hide-add {
    animation: acordoAnimate .75s reverse;
  }
  &.ng-hide-remove {
    animation: acordoAnimate .75s;
  }
  &.ng-animate {
    position: absolute;
  }
  &.ng-hide {
    left: 100em;
  }
}

@keyframes cobrancaAnimate {
  0% {
    left: 0em;
  }
  100% {
    left: -100em;
  }
}

@keyframes acordoAnimate {
  0% {
    left: 100em;
  }
  100% {
    left: 0em;
  }
}

.menu-responsivo {
  position: fixed;
  overflow: auto;
  height: 100%;
  top: 4.3em;
  width: 85%;
  color: #FFF;
  background-color: #222222;
  text-shadow: 1px 1px 1px #111;
  z-index: 10;
}

.menu-responsivo.ng-hide-add {
  animation: 1s showMenu reverse;
}

.menu-responsivo.ng-hide-remove {
  animation: 1s showMenu;
}

.hiddenBody {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
}

@media (min-width: 1076px) {
  .card2, .card3 {
    overflow: hidden;
    display: none;
  }
}

@media (max-width: 1075px) {
  .card1, .card2 {
    display: none;
  }
  .card3 {
    display: inherit;
  }
  .clickCard {
    &::after {
      height: 3.4em !important;
    }
    &::before {
      height: 3.9em !important;
    }
  }
}

@media (max-width: 1078px) {
  .foraMVP {
    display: none !important;
  }
}

@media (max-width: 600px) {
  #iconesExemple {
    display: none;
  }
  .card1, .card2 {
    display: none;
  }
  .card3 {
    overflow: hidden;
    display: block;
  }
}

@media (min-width: 701px) {
  #sliderCardCss, #circulosSlider, .buttonBackTop {
    display: none;
  }
  .OkMobile {
    display: none !important;
  }

  header {
    button.setaEsquerdaFlut, div#head2, section.barraMenu2 {
      display: none !important;
    }
    div.head2 {
      width: 100%;
    }
  }
}

@media (max-width: 620px) {
  #iconesExemple {
    display: none;
  }
  .card1, .card2 {
    display: none;
  }
  .card3 {
    overflow: hidden;
    display: block;
  }
}

@media (max-width: 500px) {
  body.sc-system {
    overflow: auto;
    width: 100%;
    height: 100%;
  }

  #iconesExemple, .card1, .card3 {
    display: none;
  }

  .notMobile {
    display: none !important;
  }
  
  .okMobile {
    display: block !important;
  }

  .card2 {
    overflow: hidden;
    display: block;
  }

  #circulosSlider {
    position: absolute;
    left: 45%; bottom: 0;
    display: block;
  }

  .somaMarcadosClass {
    width: 60%;
    border-color: #c1c4c8;
    border-style: solid;
    border-width: 1px;
    margin-right: 0.8em;
    padding: 0.4em;
  }

  body ul.sc-accordion > li > .sc-accordion-head > *.sc-accordion-icon-col {
    width: 3.6em !important;
  }

  .slidEsq1, .slidEsq2 { position: relative; }

  .slidEsq1.ng-hide-remove { position:absolute; animation: showSliderEsq .75s; }
  .slidEsq1.ng-hide-add  { position:absolute; animation: hideSliderEsq .75s; }

  .slidEsq2.ng-hide-remove { position:absolute; animation: showSliderEsq .75s; }
  .slidEsq2.ng-hide-add  { position:absolute; animation: hideSliderEsq .75s; }

  .slidDir1.ng-hide-remove { position:absolute; animation: showSliderDir .75s; }
  .slidDir1.ng-hide-add  { position:absolute; animation: hideSliderDir .75s; }

  .slidDir2.ng-hide-remove { position:absolute; animation: showSliderDir .75s; }
  .slidDir2.ng-hide-add  { position:absolute; animation: hideSliderDir .75s; }
}

@media (min-width: 501px) {
  .somaMarcadosClass {
    overflow: hidden;
    white-space: nowrap;
    border-color: #c1c4c8;
    margin-right: 0.8em;
    padding: 0.4em;
    border-style: solid;
    border-width: 1px;
    width: 13em;
    opacity: 1;
  }
}

@media (max-width: 700px) {
  header {
    div.head2 {
      width: 100%;
    }
    div#head1, div#caminhosTela, section.barraMenu1 {
      display: none !important;
    }
  }
  .okMobile {
    display: none !important;
  }
}

@keyframes showSliderEsq {
  0% {
    opacity: 0;
    left: 0;
    transform: scale(.6);
  }
  50% {
    opacity: .5;
    left: 7em;
  }
  100% {
    opacity: 1;
    left: 0;
    transform: scale(1);
  }
}

@keyframes hideSliderEsq {
  0% {
    opacity: 1;
    left: 0;
    transform: scale(1);
  }
  50% {
    opacity: .5;
    left: -7em;
  }
  100% {
    opacity: 0;
    left: 0;
    transform: scale(.6);
  }
}

@keyframes showSliderDir {
  0% {
    opacity: 0;
    left: 0;
    transform: scale(.6);
  }
  50% {
    opacity: .5;
    left: -7em;
  }
  100% {
    opacity: 1;
    left: 0;
    transform: scale(1);
  }
}

@keyframes hideSliderDir {
  0% {
    opacity: 1;
    left: 0;
    transform: scale(1);
  }
  50% {
    opacity: .5;
    left: 7em;
  }
  100% {
    opacity: 0;
    left: 0;
    transform: scale(.6);
  }
}


@keyframes sliderShowMenu {
  0% {
    position: relative;
    top: 0;
  }
  100% {
    position: relative;
    top: -5em;
  }
}

@keyframes backTopAnimate {
  0% {
    bottom: -4em;
  }
  100% {
    bottom: 3em;
  }
}

@keyframes buttonAnimation {
  0% {
    opacity: 0;
    transform: rotate(0deg) scale(1);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg) scale(1.2);
  }
}

@keyframes scaleAnimate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(.5);
  }
  100% {
    transform: rotate(360deg) scale(1.2);
  }
}

@keyframes menuIconsAnimate {
  0% {
    top: -15px;
    opacity: 0;
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes menuAnimate {
  0% {
    opacity: 0;
    height: 0;
  }
  50% {
    height: 15em;
  }
  100% {
    opacity: 1;
    height: 13em;
  }
}

@keyframes menuAnimatehide {
  0% {
    height: 0;
  }
  100% {
    height: 13em;
  }
}

@keyframes inputAnimate {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 98%;
    opacity: 1;
  }
}

@keyframes showMenu {
  0% {
    opacity: 0;
    width: 0;
  }
  50% {
    opacity: .5;
    width: 90%;
  }
  100% {
    opacity: 1;
    width: 85%;
  }
}

@keyframes hideMenu {
  0% {
    opacity: 1;
    width: 85%;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}

