html(ng-app='app', ng-controller='controll')
  head
    title Cobranças
    link(href='../../source/font.css' rel='stylesheet' type='text/css')
    link(href="../../source/prototype.css" rel='stylesheet' type='text/css')
    link(href="http://codepen.io/dev6-seucondominio/pen/avpxNZ.css" rel='stylesheet' type='text/css')
    link(href="http://codepen.io/dev6-seucondominio/pen/gaXWjX.css" rel='stylesheet' type='text/css')
    link(href="index.css" rel='stylesheet' type='text/css')
  body.sc-system
     
    section#top-menu.sc-p-v-sm.sc-p-h-xl.sc-bg-blue
      img(src="https://www.seucondominio.com.br/assets/institucional/logo-mobile-c07a4de0cd57b02cf5eaffefcda8d48e.png")

    section#top-bar.sc-bg-gray-lighter
      #top-bar-content.sc-p-t-lg.sc-p-r-md.sc-bg-gray-lighter
        .sc-align-middle
          .sc-p-l-md.sc-p-b-md
            .sc-input-group
              input.sc-input-default
              i.sc-icon.sc-icon-lupa-2.sc-btn.sc-btn-blue
              i.sc-icon.sc-icon-filtro-2.sc-btn.sc-btn-blue(ng-click='openFilter = !openFilter; nadaConsta = false;  openFilterAZ = false', ng-class="{'sc-btn-gray': openFilter}")
              i.sc-icon.sc-icon-impressora.sc-btn.sc-btn-blue
          .sc-p-l-md.sc-p-b-md
            button.sc-btn.sc-btn-blue(ng-click='openFilterAZ = !openFilterAZ; nadaConsta = false; openFilter = false', ng-class="{'sc-btn-gray': openFilterAZ}")
              i.sc-icon.sc-icon-ordem-a-z
          .sc-p-l-md.sc-p-b-md
            div(sc-month-picker, ng-model="scMonthPicker")
        .pull-right(sc-stop-click)
          .menu(sc-dropdown-menu)
            .icon-hover-yellow(ng-class="{'active-menu':menu.isOn}" ng-click="menu.toggle()")
              i.sc-icon.sc-icon-engrenagem
            ul(ng-show="menu.isOn")
              li(ng-click="actionMenu(item)", ng-repeat="item in config.menu") {{item.nome}}

        section#filter-bar.sc-border-b-gray-light-solid-md.ng-animation-slider.sc-m-t-lg.ng-cloak(ng-cloak, ng-show='openFilter')
          .sc-align-bottom.sc-p-l-md.sc-p-b-md
            label
              .sc-dropdown(sc-dropdown-menu='')
                div(style='width: 16em;')
                  .sc-label Devedores
                  .tags
                    span.sc-tag.sc-tag-blue(ng-repeat='item in itensSelecionadosVisiveis(listagemDevedoresFiltro)')
                      span {{item.nome}}
                      i.sc-icon.sc-icon-fechar-1.sc-tag-remove(ng-click='item.ativo = false')
                    span.sc-tag.sc-tag-yellow.sc-cursor-pointer(ng-if='itensSelecionados(listagemDevedoresFiltro).length > limiteItensVisiveis', ng-click='alteraVerTodos()')
                      span
                        | {{!verTodos ? 'Ver mais (' + qtdItensEscondidos(listagemDevedoresFiltro) + ')' : 'Ver menos'}}
                    .clear
                  input.sc-input-default(type='text', placeholder='Ex: 101', ng-model='searchText', ng-click='menu.open()', style='width: 100%;')
                ul.sc-dropdown-menu.ng-animation-slider(ng-show='menu.isOn')
                  li
                    .vertical-align.marcar-todos(ng-show='ocultarSePesquisando', ng-click='marcarTodos(listagemDevedoresFiltro)')
                      span {{!todosMarcados ? 'Marcar Todos' : 'Desmarcar Todos'}}
                  li(ng-repeat='item in listagemDevedoresFiltro')
                    .vertical-align(ng-show='ocultarSePesquisando', ng-click='marcarTodosFilhos(item)')
                      span {{item.nome}}
                    ul
                      li(ng-repeat='subitem in subitens(item, searchText)', ng-click='todosMarcados = false')
                        .vertical-align(ng-click='marcarItem(subitem)')
                          i.sc-icon.sc-icon-fw(ng-class="subitem.ativo ? 'sc-icon-visto-4' : 'sc-icon-quadrado-1'")
                          span {{subitem.nome}}
          .sc-align-bottom.sc-p-l-md.sc-p-b-md
            label
              .sc-label Status
              select.sc-input-default
                option(ng-repeat="item in config.status") {{item.nome}}
          .sc-align-bottom.sc-p-l-md.sc-p-b-md
            label
              .sc-label Tipo da data
              select.sc-input-default
                option Vencimento
                option Pagamento
                option Extrato
                option Cencelamento
                option Criação
          .sc-align-bottom.sc-p-l-md.sc-p-b-md
            label
              .sc-label Início
              input.sc-input-default.sc-input-date(style='line-height: 1', type='date')
          .sc-align-bottom.sc-p-l-md.sc-p-b-md
            label
              .sc-label Final
              input.sc-input-default.sc-input-date(style='line-height: 1', type='date')
          .sc-align-bottom.sc-p-l-md.sc-p-b-md
            label
              .sc-label Destinatário
              select.sc-input-default
                option Todos
                option Proprietário
                option Morador
          .sc-align-bottom.sc-p-l-md.sc-p-b-md
            label
              .sc-label Recebimentos
              select.sc-input-default
                option Pagamentos a menor
                option Com Ajuste
          .sc-align-bottom.sc-p-l-md.sc-p-b-md
            label
              .sc-label Título
              input.sc-input-default
          .sc-align-bottom.sc-p-l-md.sc-p-b-md
            label.sc-p-r-md
              .sc-label Nosso Número
              input.sc-input-default(type='text')
          
          .sc-p-t-lg.sc-p-l-md.sc-p-b-md
            button.sc-btn.sc-btn-awesomeness.sc-btn-blue(ng-click='novaBusca()')
              .sc-btn-icon
                i.sc-icon.sc-icon-fw.sc-icon-lupa-2
              .sc-btn-text Pesquisar
            button.sc-btn.sc-btn-awesomeness.sc-btn-red(ng-click='filtro.avancado.toggle()')
              .sc-btn-icon
                i.sc-icon.sc-icon-fw.sc-icon-fechar-1
              .sc-btn-text Cancelar
        
        section#filter-bar.sc-border-b-gray-light-solid-md.ng-animation-slider.sc-m-t-lg.ng-cloak(ng-cloak, ng-show='openFilterAZ')
          .sc-p-l-md
            .sc-label Ordernar Por
            .sc-align-bottom.sc-p-l-md.sc-p-b-md
              .sc-p-h-md.sc-cursor-pointer.sc-tag.sc-tag-blue(ng-click="ordernarPor('valor', orderBool1)", ng-class="{ 'sc-tag-blue-dark':orderBool1 }")
                span.sc-p-l-none Valor
                i.sc-icon.sc-icon-seta-11-cima(ng-show="orderby == 'valor' || orderby == '-valor'", ng-class="{ 'sc-icon-seta-11-baixo':orderby == '-valor' }")
            .sc-align-bottom.sc-p-l-md.sc-p-b-md
              .sc-p-h-md.sc-cursor-pointer.sc-tag.sc-tag-blue(ng-init="orderby = 'cadastro.vencimento'; orderBool2 = true", ng-click="ordernarPor('cadastro.vencimento', orderBool2)", ng-class="{ 'sc-tag-blue-dark':orderBool2 }")
                span.sc-p-l-none Data de Vencimento
                i.sc-icon.sc-icon-seta-11-cima(ng-show="orderby == 'cadastro.vencimento' || orderby == '-cadastro.vencimento'", ng-class="{ 'sc-icon-seta-11-baixo':orderby == '-cadastro.vencimento' }")
            .sc-align-bottom.sc-p-l-md.sc-p-b-md
              .sc-p-h-md.sc-cursor-pointer.sc-tag.sc-tag-blue(ng-click="ordernarPor('cadastro.nome', orderBool3)", ng-class="{ 'sc-tag-blue-dark':orderBool3 }")
                span.sc-p-l-none Nome
                i.sc-icon.sc-icon-seta-11-cima(ng-show="orderby == 'cadastro.nome' || orderby == '-cadastro.nome'", ng-class="{ 'sc-icon-seta-11-baixo':orderby == '-cadastro.nome' }")
            .sc-align-bottom.sc-p-l-md.sc-p-b-md
              .sc-p-h-md.sc-cursor-pointer.sc-tag.sc-tag-blue(ng-click="ordernarPor('status', orderBool4)", ng-class="{ 'sc-tag-blue-dark':orderBool4 }")
                span.sc-p-l-none Status
                i.sc-icon.sc-icon-seta-11-cima(ng-show="orderby == 'status' || orderby == '-status'", ng-class="{ 'sc-icon-seta-11-baixo':orderby == '-status' }")

    section#breadcrumb
      .sc-p-h-xl.sc-p-b-md.sc-bg-gray-lighter.sc-text-gray.sc-text-sm
        span.sc-text-blue Início  
        span / Financeiro / Cobranças

    section.view-animate#cobrancas(ng-if='!alterarTela', ng-controller='CobrancasCtrl')
      .sc-p-h-lg.sc-p-t-lg.sc-bg-gray-lighter.sc-border-t-gray-light-solid-md.sc-border-b-gray-light-solid-md.ng-animation-slider(ng-show='nadaConsta')
        .sc-p-b-lg
          .sc-form-group.sc-align-bottom
            span.sc-dropdown.tags.pull-left(sc-dropdown-menu='')
              div(style='width: 16em;')
                .sc-label Devedores
                input.sc-input-default(type='text', placeholder='pesquisar', ng-model='searchText', ng-click='menu.open()', style='width: 100%;')
              ul.sc-dropdown-menu.sc-dropdown-menu-right.ng-animation-slider(ng-show='menu.isOn')
                li(ng-repeat='link in listagemDevedoresFiltro | filter:{ nome:searchText}', ng-click='link.active = !link.active')
                  .vertical-align
                    i.sc-icon.sc-icon-fw(ng-class="link.active ? 'sc-icon-visto-4' : 'sc-icon-quadrado-1'")
                    span {{link.nome}}
          .sc-m-l-md.sc-align-bottom
            label
              .sc-label Até a Data
              input.sc-input-default.sc-input-date(style='line-height: 1;', type='date')
          .sc-m-l-md.sc-align-bottom
            div
              button.sc-btn.sc-btn-yellow
                i.sc-icon.sc-icon-impressora
          .sc-m-l-md.sc-align-bottom
            div
              button.sc-btn.sc-btn-cian(ng-click='modalNadaConsta.open()')
                i.sc-icon.sc-icon-carta-2
          .sc-m-l-md.sc-align-bottom
            div
              .sc-label Constam Débitos em aberto
              .sc-bg-red-light.sc-text-red-dark.sc-border-red-solid-md.sc-border-radius.sc-p-md
                | Este devedor possui débitos: 
                b R$12.000,00
          .sc-m-l-md.sc-align-bottom
            div
              .sc-label Certidão negativa com efeito positivo de Débitos
              .sc-bg-red-light.sc-text-red-dark.sc-border-red-solid-md.sc-border-radius.sc-p-md
                | Este devedor possui acordos em abertos: 
                b R$12.000,00
          .sc-m-l-md.sc-align-bottom
            div
              .sc-label Certidão negativa com efeito positivo de Débitos
              .sc-bg-red-light.sc-text-red-dark.sc-border-red-solid-md.sc-border-radius.sc-p-md
                | Este devedor possui cobranças canceladas: 
                b R$12.000,00
      
      section#cards(ng-init='sliderCardEsq = true', style='width: 100%; overflow: hidden')
        // card
        div(style='overflow: hidden;')
          .card1
            .card.card-green(ng-click='clickcard21 = !clickcard21')
              .min-card(ng-class="{ 'clickCard':clickcard21 }")
              .iconCard
                i.sc-icon.sc-icon-visto-1(style='z-index: 0; margin-right: .3em; margin-top: .6em; font-size: 2.4em; color: rgba(0,0,0,.09); padding: .2em 0 0 .7em;')
              div(style='display: flex;')
                #percent.sc-text-white(style='z-index: 1; width: 5em;')
                  div(style='width: 4em; text-align: center; margin: .5em; padding: 1.14em 0; border-radius: 10em; border: 3px solid white; border-color: #FFF') 100%
                .sc-text-white.sc-m-l-lg.align-left.sc-p-t-xl(style='line-height: 1.8em; padding: 0;')
                  div
                    span(style='font-size: 1em; margin-top: .3em;') Pago
                  div(style='font-size: 2.5em; margin-top: .3em;') {{somas('Pago')}}
            .card.card-yellow(ng-click='clickcard22 = !clickcard22')
              .min-card(ng-class="{ 'clickCard':clickcard22 }")
              .iconCard
                i.sc-icon.sc-icon-relogio-1(style='z-index: 0; margin-right: .3em; margin-top: .6em; font-size: 2.4em; color: rgba(0,0,0,.09); padding: .2em 0 0 .7em;')
              div(style='display: flex;')
                #percent.sc-text-white(style='z-index: 1; width: 5em;')
                  div(style='width: 4em; text-align: center; margin: .5em; padding: 1.14em 0; border-radius: 10em; border: 3px solid white; border-color: #FFF') 100%
                .sc-text-white.sc-m-l-lg.align-left.sc-p-t-xl(style='line-height: 1.8em; padding: 0;')
                  div
                    span(style='font-size: 1em; margin-top: .3em;') À vencer
                  div(style='font-size: 2.5em; margin-top: .3em;') {{somas('À vencer')}}
            .card.card-red(ng-click='clickcard23 = !clickcard23')
              .min-card(ng-class="{ 'clickCard':clickcard23 }")
              .iconCard
                i.sc-icon.sc-icon-exclamacao-1
              div(style='display: flex;')
                #percent.sc-text-white(style='z-index: 1; width: 5em;')
                  div(style='text-align: center; margin: .5em; padding: 1.14em 0; border-radius: 10em; border: 3px solid white; border-color: #FFF') 100%
                .sc-text-white.sc-m-l-lg.align-left.sc-p-t-xl(style='line-height: 1.8em; padding: 0;')
                  div
                    span(style='font-size: 1em; margin-top: .3em;') Vencido
                  div(style='font-size: 2.5em; margin-top: .3em;') {{somas('Vencido')}}
            .card.card-red-dark(ng-click='clickcard24 = !clickcard24')
              .min-card(ng-class="{ 'clickCard':clickcard24 }")
              .iconCard(style='position: absolute; right: 0')
                i.sc-icon.sc-icon-exclamacao-1
              div(style='display: flex;')
                #percent.sc-text-white(style='z-index: 1; width: 5em;')
                  div(style='text-align: center; margin: .5em; padding: 1.14em 0; border-radius: 10em; border: 3px solid white; border-color: #FFF') 100%
                .sc-text-white.sc-m-l-lg.align-left.sc-p-t-xl(style='width: 9em; line-height: 1.8em; padding: 0;')
                  div
                    span(style='font-size: 1em; margin-top: .3em;') Cobrança Jurídica
                  div(style='font-size: 2.5em; margin-top: .3em;') {{somas('Jurídica')}}
          .card2(style='padding-bottom: 2em; position: relative; height: 11em;')
            slick(lazy-load='ondemand', init-onload='true', data='dataLoaded', slides-to-show='2', slides-to-scroll='2', dots='true', autoplay='true', autoplayspeed='2', fade='false')
              div
                .cardMobile.cardMobile-green(ng-class="{ 'clickCard':card4click }", style='background-color: #42b342; border-color: gray white gray gray;', ng-click='card4click= !card4click')
                  #percent 75%
                  .num 8
                  .text Pago
              div
                .cardMobile.cardMobile-yellow(ng-class="{ 'clickCard':card3click }", style='background-color: #e58c00;', ng-click='card3click = !card3click')
                  #percent 100%
                  .num 4
                  .text À vencer
              div
                .cardMobile.cardMobile-red(ng-class="{ 'clickCard':card2click }", style='background-color: #c74848;', ng-click='card2click = !card2click')
                  #percent 100%
                  .num 4
                  .text Vencido
              div
                .cardMobile.cardMobile-red-dark(ng-class="{ 'clickCard':card1click }", style='background-color: #952e2e;', ng-click='card1click = !card1click')
                  #percent 100%
                  .num(style='left: .6em;') 10
                  .text Jurídica
          .card3
            .col-sm-3.sc-p-lg.align-center
              .cardMobile.cardMobile-green(ng-class="{ 'clickCard':clickcard31 }", style='border-color: gray white gray gray;', ng-click='clickcard31 = !clickcard31')
                #percent 75%
                .num {{somas('Pago')}}
                .text Pago
            .col-sm-3.sc-p-lg.align-center
              .cardMobile.cardMobile-yellow(ng-class="{ 'clickCard':clickcard32 }", ng-click='clickcard32 = !clickcard32')
                #percent 100%
                .num {{somas('À vencer')}}
                .text À vencer
            .col-sm-3.sc-p-lg.align-center
              .cardMobile.cardMobile-red(ng-class="{ 'clickCard':clickcard33 }", ng-click='clickcard33 = !clickcard33')
                #percent 100%
                .num {{somas('Vencido')}}
                .text Vencido
            .col-sm-3.sc-p-lg.align-center
              .cardMobile.cardMobile-red-dark(ng-class="{ 'clickCard': clickcard34 }", ng-click='clickcard34 = !clickcard34')
                #percent 100%
                .num(style='left: .6em;') {{somas('Jurídica')}}
                .text Jurídica
        // card
        
      section#barraTotal.sc-p-t-lg.sc-p-r-md(style="width: 100%;")
        .pull-left.sc-p-t-lg
          .sc-p-b-lg.sc-p-l-md.pull-left(ng-hide='viewMarcarTodos(sizeFilterScope)', style="display: table-cell; vertical-align: middle;")
            input.sc-checkbox.sc-checkbox-blue(ng-click='selecionarTodos(sizeFilterScope)', type='checkbox', ng-model='todasMarcadas')
            span.sc-m-l-md Marcar Todos
          .sc-p-b-lg.sc-p-l-md.pull-left(ng-show='viewMarcarTodos(sizeFilterScope)', style="display: table-cell; vertical-align: middle;")
            input.sc-checkbox.sc-checkbox-blue(ng-click='desmarcarTodos(sizeFilterScope)', type='checkbox', ng-model='todasMarcadas')
            span.sc-m-l-md Desmarcar Todos
        .pull-right
          .sc-p-b-lg.sc-p-l-md.pull-left
            .align-center.sc-p-h-md.sc-border-blue-light-solid-md.sc-border-radius
              .sc-label Total: (26)
              span {{somaTotal() | currency}}
          .sc-p-b-lg.sc-p-l-md.pull-left
            .align-center.sc-p-h-md.sc-border-blue-light-solid-md.sc-border-radius
              .sc-label Total selecionados: ({{qtdSelecionados(sizeFilterScope)}})
              span {{qtdSelecionadosValue(sizeFilterScope) | currency}}

      section#listing
        ul.sc-accordion
          li(ng-repeat='cobranca in sizeFilterScope = ( myFilter() | orderBy:orderby )', ng-init='initForm(cobranca)', ng-controller='CobrancaCtrl', ng-include="'form.html'", ng-class="{'sc-acc-gray-light':form.acc}")
    
    section.view-animate#acordos(ng-if='alterarTela', ng-controller='AcordosCtrl')
      .corpo
        section#acordo
          .sc-m-lg.sc-fieldset
            form.sc-p-lg.sc-text-sm.ng-pristine
              .sc-align-middle
                .sc-p-md(style='width: 10em; padding: 1em 0;')
                  label
                    .sc-label Valor Original
                    .sc-text-green R$ 70,00
                .align-center(style='padding: 1em 0; width: 3em;')
                  i.sc-icon.sc-icon-mais-1(style='margin-top: 1.5em;')
                div(style='padding: 1em 0; width: 8em;')
                  label
                    .sc-label Multa
                    input.sc-text-sm.sc-input-default(sc-currency-input='', ng-model='valorIN1', style='width: 100%; text-transform: uppercase;')
                .align-center(style='padding: 1em 0; width: 3em;')
                  i.sc-icon.sc-icon-mais-1(style='margin-top: 1.5em;')
                div(style='padding: 1em 0; width: 8em;')
                  label
                    .sc-label Juros
                    input.sc-text-sm.sc-input-default(sc-currency-input='', ng-model='valorIN2', style='width: 100%; text-transform: uppercase;')
                .align-center(style='padding: 1em 0; width: 3em;')
                  i.sc-icon.sc-icon-mais-1(style='margin-top: 1.5em;')
                div(style='padding: 1em 0; width: 8em;')
                  label
                    .sc-label Acréscimo
                    input.sc-text-sm.sc-input-default(sc-currency-input='', ng-model='valorIN3', style='width: 100%; text-transform: uppercase;')
                .align-center(style='padding: 1em 0; width: 3em;')
                  i.sc-icon.sc-icon-mais-1(style='margin-top: 1.5em;')
                div(style='padding: 1em 0; width: 8em;')
                  label
                    .sc-label Custos Adv.
                    input.sc-text-sm.sc-input-default(ng-click='modalAcrescimo.open()', sc-currency-input='', ng-model='valorIN4', style='width: 100%; text-transform: uppercase;')
                .align-center(style='padding: 1em 0; width: 3em;')
                  i.sc-icon.sc-icon-menos-1(style='margin-top: 1.5em;')
                div(style='padding: 1em 0; width: 8em;')
                  label
                    .sc-label Descontos
                    input.sc-text-sm.sc-input-default(sc-currency-input='', ng-model='valorIN5', style='width: 100%; text-transform: uppercase;')
                .align-center(style='padding: 1em 0; width: 3em;')
                  i(style='font-size: 2.5em;') =
                .align-center(style='padding: 1em 0; width: 8em;')
                  label
                    .sc-label Valor Devido
                    .sc-text-green R$ 20,00
              div
                .sc-align-bottom.sc-p-b-xxl
                  label.sc-p-r-md
                    .sc-label Novo Vencimento
                    input.sc-input-default.sc-input-date(type='date', style='line-height: 1; width:100%;', ng-model='parcelamento.vencimento')
                .sc-align-bottom.sc-p-b-xxl
                  label.sc-p-r-md
                    .sc-label Destinatário
                    select.sc-input-default(style='width:100%', ng-model='parcelamento.grupoParaParcelamento', ng-options='ax for ax in ["Morador","Propietário","Imobiliária"]')
                .sc-align-bottom.sc-p-b-xxl
                  label.sc-p-r-md
                    .sc-label Parcelas
                    input.sc-input-default.sc-campo-md(style='width:100%;', type='number', ng-model='parcelamento.qtdParcelas', ng-change='simularParcelas()', maxlength='2')
              .sc-align-bottom.sc-p-b-xxl
                .sc-p-r-md
                  button.sc-btn.sc-btn-blue.sc-btn-awesomeness.ng-animation-show(ng-disabled='parcelamento.qtdParcelas <= 0', ng-click='criarParcelamento()', ng-show='podeParcelar() && !cancParc')
                    .sc-btn-icon
                      i.sc-icon.sc-icon-lapis
                    .sc-btn-text Parcelar
                  button.sc-btn.sc-btn-red.sc-btn-awesomeness.ng-animation-show(ng-show='podeParcelar() && cancParc')
                    .sc-btn-icon
                      i.sc-icon.sc-icon-lapis
                    .sc-btn-text Cancelar Parcelamento
            .clear
            #simular-parcelas.sc-text-sm.sc-m-xl.sc-p-l-xxl
              ul
                li.sc-border-b-gray-solid-md(style='overflow: hidden', ng-repeat='parc in parcelas')
                  .col-sm-6.col-md-3.sc-align-bottom.sc-p-b-xxl
                    label.sc-p-r-md
                      .sc-label Parcela
                      .sc-p-sm.sc-m-t-xs.sc-text-md.sc-text-blue-dark.sc-text-bold {{parc.parcela}}/{{parcelamento.qtdParcelas}}
                  .col-sm-6.col-md-3.sc-align-bottom.sc-p-b-xxl
                    label.sc-p-r-md
                      .sc-label Vencimento
                      input.sc-input-default.sc-input-date(type='date', style='line-height: 1; width:100%', ng-model='parc.vencimento')
                  .col-xs-12.col-sm-6.col-md-3.sc-align-bottom.sc-p-b-xxl
                    label.sc-p-r-md
                      .sc-label Valor
                      input.sc-input-default(style='width: 100%;', type='text', ng-keyup='recalcularParcelas()', sc-currency-input='', ng-model='parc.valor')
                  .col-xs-12.col-sm-6.col-md-3.sc-align-bottom.sc-p-b-xxl
                    label.sc-p-r-md
                      .sc-label Pgador
                      select.sc-input-default(style='width: 100%;', ng-model='parc.pagador', ng-options='ax for ax in ["Morador","Propietário","Imobiliária"]')
            .pull-right.sc-p-r-md
              button.sc-btn.sc-btn-yellow.sc-btn-awesomeness(ng-click='altTelaClick()')
                .sc-btn-icon
                  i.sc-icon.sc-icon-aperto-mao
                .sc-btn-text Gerar Acordo
            .clear
        section#acordosLista
          ul.sc-accordion
            li(ng-repeat='acordo in acordos', ng-init='initForm(acordo)', ng-controller='AcordoCtrl', ng-include="'form2.html'", class='{{corStatus(acordo)}}')
    
    script(id='form2.html', type='text/ng-template')
      .sc-accordion-head
        label.sc-accordion-icon-col.sc-divider
          input.sc-checkbox.sc-checkbox-blue(type='checkbox', ng-model='form2.checked')
        .sc-accordion-elastic-col.title(ng-click='toggleAcccobrancas(form2)', class='{{corText(form2)}}')
          .sc-p-xs(style='display: inline-table;')
            span {{form2.cadastro.nome}} 
            span  
            span  Rateio {{form2.cadastro.rateio}}
            span.description.notMobile
              span Vencimento: {{form2.cadastro.vencimento}}
              span(ng-show='form2.atraso') (Atraso: {{form2.atraso}})
            span.description.notMobile
              span(ng-show='form2.proprietario') Proprietário: {{form2.proprietario}}
              span(ng-show='form2.morador') Morador: {{form2.morador}}
              span(ng-show='form2.imobiliaria') imobiliaria  : {{form2.imobiliaria}}
            span.description.okMobile 
              .sc-p-r-lg {{form2.valor |currency}}
        #iconesExemple.sc-accordion-col-8.align-right(ng-click='toggleAcccobrancas(form2)', class='{{corText(form2)}}')
          i.colorPink.sc-icon.sc-icon-codigo-barras-1(ng-show='form2.codigo')
            i.colorPink.sc-icon.sc-icon-aperto-mao(ng-show='form2.maleta')
              img(ng-show='form2.tesoura', style='width: 1.8em; border: 1px solid #FF00FF;', src='http://i.imgur.com/OTjDXNZ.png')
              img(ng-show='form2.codigo1', style='width: 3em; border: 1px solid #FF00FF;', src='http://i.imgur.com/eqlvn71.png')
        .sc-accordion-col-7.notMobile.align-right(ng-click='toggleAcccobrancas(form2)', style='width: 12em;', class='{{corText(form2)}}')
          .sc-p-r-lg.sc-text-bold {{form2.valor |currency}}
        .sc-cursor-default.menu.sc-accordion-icon-col.align-xs-center
          a(ng-click='openMenu = !openMenu', ng-class="{ 'clickscale':openMenu }")
            .circleHover
            i.sc-icon.sc-icon-reticiencias-v(style='font-size: 1.2em;')
          ul(sc-dismiss-click='openMenu = false', ng-show='openMenu')
            li(ng-click='actionMenu(lista, form2)', ng-repeat='lista in dadosGerais.menu', style='margin-right: 0;', ng-class="{ 'colorPink':lista.nome == 'Desfazer Acordo' || lista.nome == 'Gerar Recibo' }") {{lista.nome}}
      .sc-accordion-body.ng-animation-slider(ng-show='form2.acc')
        .sc-p-lg
          .sc-fieldset(style='overflow: hidden;')
            .sc-cursor-pointer.sc-text-lg(ng-click='form2._openCadastro = !form2._openCadastro')
              i.sc-m-r-lg.sc-text-sm.sc-icon.sc-icon-seta-11-direita.sc-transition(ng-class="{ 'sc-rotate-90':form2._openCadastro }")
              b  Cadastro
              i.sc-m-l-lg.sc-icon.sc-icon-arquivo-2.sc-text-blue
              a#lapis(style='top: 0; z-index: 2', ng-hide='editPerfil', ng-click='editPerfil = !editPerfil; form2._openCadastro = !form2._openCadastro')
                .circleHover
                i.sc-icon.sc-icon-lapis
              b
            .ng-animation-slider.sc-align-middle.campos-form2.sc-m-t-xxl(ng-show='form2._openCadastro')
              .sc-m-b-lg.col-xxs-12.col-sm-6.col-md-4.sc-align-bottom
                label
                  .sc-label Devedor
                  div {{form2.cadastro.nome}}
              .sc-m-b-lg.col-xxs-12.col-sm-6.col-md-4.sc-align-bottom
                label
                  .sc-label Título
                  div Rateio {{form2.cadastro.rateio}}
              .sc-m-b-lg.col-xxs-12.col-sm-6.col-md-4.sc-align-bottom
                label
                  .sc-label Vencimento
                  div {{form2.cadastro.vencimento}}
              .sc-m-b-lg.col-xxs-12.col-sm-6.col-md-4.sc-align-bottom
                label
                  .sc-label Nosso Número
                  div.foraMVP
                    span.sc-cursor-pointer {{form2.cadastro.numero1}}
                    span /
                    span.sc-cursor-pointer {{form2.cadastro.numero2}}
                    span /
                    span.sc-cursor-pointer {{form2.cadastro.numero3}}
                    span /
                    span.sc-cursor-pointer {{form2.cadastro.numero4}}
              .sc-m-b-lg.col-xxs-12.col-sm-6.col-md-4.sc-align-bottom
                label
                  .sc-label Destinatário
                  .sc-align-middle
                    span(ng-hide='editPerfil') Propietário 1
                    select.sc-align-bottom.sc-text-sm.sc-input-default(ng-show='editPerfil')
                      option Proprietário 1
                      option Proprietário 2
                      option Imobiliária
                      option Morador
              .sc-m-b-lg.col-xxs-12.col-sm-6.col-md-4.sc-align-bottom
                label
                  .sc-label Mês de Referência
                  div Fevereiro / 2015
              .sc-m-b-lg.col-xxs-12.col-sm-6.col-md-4.sc-align-bottom
                label
                  .sc-label Perfil de cobrança
                  .sc-align-middle
                    span Taxa de condomínio
            .clear
            .campos-form2.sc-m-t-xxl(ng-show='form2._openCadastro', style='display: flex;')
              .col-xxs-12.col-sm-6.col-md-3.sc-align-bottom
                label
                  .sc-label conta
                  .sc-align-middle
                    div(ng-hide='editPerfil') {{form2.cadastro.conta}}
                    select.sc-align-bottom.sc-text-sm.sc-input-default(ng-show='editPerfil')
                      option Banco do Brasil
                      option Caixa
              .col-xxs-12.col-sm-6.col-md-3.sc-p-v-lg.sc-align-bottom
                label
                  .sc-label Operação
                  .sc-align-middle
                    div(ng-hide='editPerfil') Rateio {{form2.cadastro.operacao}}
                    select.sc-align-bottom.sc-text-sm.sc-input-default(ng-show='editPerfil')
                      option Rateio debito automático
                      option Boleto
            .clear
            .pull-right.col-xs-4(ng-show='form2._openCadastro')
              a#visto(ng-show='editPerfil', ng-click='editPerfil = !editPerfil')
                .circleHover
                i.sc-icon.sc-icon-visto-1
              a#fechar(ng-show='editPerfil', ng-click='editPerfil = !editPerfil')
                .circleHover
                i.sc-icon.sc-icon-fechar-1
          .sc-fieldset
            .sc-cursor-pointer.sc-text-lg(ng-click='form2._openComposicaoC = !form2._openComposicaoC')
              i.sc-m-r-lg.sc-text-sm.sc-icon.sc-icon-seta-11-direita.sc-transition(ng-class="{ 'sc-rotate-90':form2._openComposicaoC }")
              b  Composição da Cobrança
              i.sc-m-l-lg.sc-icon.sc-icon-arquivo-2.sc-text-red
            .ng-animation-slider.campos-form2(ng-show='form2._openComposicaoC', style='display: flex;', ng-class="{ 'sc-m-t-xxl':($index==0) }")
              .col-xs-6
                label
                  .sc-label Título
                  div {{form2.composicaoCobranca.titulo}}
              .col-xs-3
                label
                  .sc-label valor
                  div R$ {{form2.composicaoCobranca.valor}}
              .col-xs-3
                label
                  .sc-label Plano de Contas
                  div Multas
            .clear
          .sc-fieldset(ng-show='form2.recebimentos')
            .sc-cursor-pointer.sc-text-lg(ng-click='form2._openRecebimentos = !form2._openRecebimentos')
              i.sc-m-r-lg.sc-text-sm.sc-icon.sc-icon-seta-11-direita.sc-transition(ng-class="{ 'sc-rotate-90':form2._openRecebimentos }")
              b  Recebimentos
              i.sc-m-l-lg.sc-icon.sc-icon-dinheiro-1.sc-text-blue
            .ng-animation-slider.campos-form2.sc-m-t-xxl(ng-show='form2._openRecebimentos')
              .sc-p-lg(style='box-shadow: 0px 1px 2px gray;', ng-repeat='recebimento in form2.recebimentos')
                .form2Edit
                  .sc-align-bottom
                    label
                      .sc-label Data Pagamento
                      div {{recebimento.data}}
                      input.sc-input-data.sc-input-default.sc-text-sm(ng-model='recebimento.data', type='date', style='width: 100%; line-height: 1', ng-show='false')
                  .clear
                  .col-xs-4.sc-align-bottom
                    label
                      .sc-label Valor Devido
                      div(ng-class="{ 'sc-m-t-lg':false }") {{recebimento.devido | currency}}
                  .col-xs-4.sc-align-bottom
                    label
                      .sc-label Descontos
                      div(ng-class="{ 'sc-m-t-lg':false }") {{recebimento.descontos | currency}}
                      input.sc-input-default.sc-text-sm(style='width: 100%;', ng-model='recebimento.descontos', ng-show='false')
                  .col-xs-4.sc-align-bottom
                    label
                      .sc-label Multa
                      div {{recebimento.multa | currency}}
                      input.sc-input-default.sc-text-sm(style='width: 100%;', ng-model='recebimento.multa', ng-show='false')
                  .col-xs-4.sc-align-bottom(ng-class="{ '':false }")
                    label
                      .sc-label Juros
                      div {{recebimento.juros | currency}}
                      input.sc-input-default.sc-text-sm(style='width: 100%;', ng-model='recebimento.juros', ng-show='false')
                  .col-xs-4.sc-align-bottom
                    label
                      .sc-label Acréscimo
                      div {{recebimento.acrescimo | currency}}
                      input.sc-input-default.sc-text-sm(style='width: 100%;', ng-model='recebimento.acrescimo', ng-show='false')
                  .col-xs-4.sc-align-bottom
                    label
                      .sc-label Custos Adv.
                      div {{recebimento.custoAdv | currency}}
                      input.sc-input-default.sc-text-sm(style='width: 100%;', ng-model='recebimento.custoAdv', ng-show='false')
                  .col-xs-4.sc-align-bottom
                    label
                      .sc-label Valor Recebido
                      div(ng-class="{ 'sc-m-t-lg':false }") {{recebimento.recebido | currency}}
                  .col-xs-4.sc-align-bottom
                    label
                      .sc-label Extrato
                      div {{recebimento.extrato}}
                      input.sc-input-data.sc-input-default.sc-text-sm(ng-model='recebimento.extrato', type='date', style='width: 100%; line-height: 1', ng-show='false')
                  .col-xs-4.sc-align-bottom
                    label
                      .sc-label Conta
                      .sc-align-middle
                        div {{recebimento.conta}}
                        select.sc-align-bottom.sc-text-sm.sc-input-default(ng-show='false')
                          option Banco do Brasil
                          option Caixa
                  .col-xs-4.sc-align-bottom
                    label
                      .sc-label Operação
                      .sc-align-middle
                        div {{recebimento.operacao}}
                        select.sc-align-bottom.sc-text-sm.sc-input-default(ng-show='false')
                          option Rateio debito automático
                          option Boleto
                  .col-xs-4.sc-align-bottom
                    a#lapis(ng-hide='false', ng-click='false = !false')
                      .circleHover
                      i.sc-icon.sc-icon-lapis
                    a#visto(ng-show='false', ng-click='false = !false')
                      .circleHover
                      i.sc-icon.sc-icon-visto-1
                    a#fechar(ng-show='false', ng-click='false = !false')
                      .circleHover
                      i.sc-icon.sc-icon-fechar-1
                  .clear
    
    script(id='form.html', type='text/ng-template')
      .sc-accordion-head(ng-click='toggleAcccobrancas(form)')
        .sc-accordion-icon-col.sc-divider(sc-stop-click)
          input.sc-checkbox.sc-checkbox-blue(type='checkbox', ng-model='form.checked')
        .sc-accordion-elastic-col.title(class='{{corText(form)}}')
          span {{form.cadastro.nome}} - referente a {{form.cadastro.ref}}
          span.description Pagador: {{form.cadastro.pagador}}
        .sc-accordion-col-3.hidden-xs
          i.sc-icon.sc-icon-arquivo-4(data-toggle="tooltip" data-placement="top" title="Nosso número: 0000")
        .sc-accordion-col-12.align-right.hidden-xs.hidden-sm(class='{{corText(form)}}')
          .sc-text-bold {{form.valor |currency}}
          span.description(ng-show="form.ajuste != null") Ajuste {{form.ajuste |currency}} 
          span.description(ng-show="form.atualizado != null") Atualizado {{form.atualizado |currency}} 
        .sc-accordion-col-3.hidden-xs
          .pull-right(sc-stop-click)
            .menu(sc-dropdown-menu)
              .icon-hover-gray(ng-class="{'active-menu':menu.isOn}" ng-click="menu.toggle()")
                i.sc-icon.sc-icon-reticiencias-v
              ul(ng-show="menu.isOn")
                li(ng-click="actionMenu(item, form)", ng-repeat="item in dadosGerais.menu", ng-class="{ 'foraMVP':item.nome == 'Desfazer Acordo' || item.nome == 'Gerar Recibo' }") {{item.nome}}
      .sc-accordion-body.ng-animation-slider(ng-show='form.acc')
        .sc-p-lg(ng-hide="form._edit")
          .sc-fieldset
            div
              p
                span.sc-text-gray Destinatário: 
                span.sc-text-blue {{form.destinatatio}}
              p
                span.sc-text-gray-dark Configuração de cobrança: 
                span.sc-text-blue {{form.cadastro.confCobranca}}
              p
                span.sc-text-gray-dark Vencimento: 
                span.sc-text-blue {{form.cadastro.vencimento | date}}
              p
                span.sc-text-gray-dark Mês de referência: 
                span.sc-text-blue {{form.cadastro.ref}}
              p
                span.sc-text-gray Criado em: 
                span.sc-text-blue {{form.cadastro.criadoEm | date}}
            .sc-m-t-lg
              table.sc-table(style="width:100%")
                thead
                  tr
                    td Composição da Cobrança
                    td.align-center Valor
                tbody
                  tr(ng-repeat="item in form.composicaoCobranca")
                    td {{item.titulo}}
                    td.align-center {{item.valor | currency}}
                thead
                  tr
                    td 
                    td.align-center Total: {{(form.composicaoTotal || 0) | currency}}
            .sc-m-t-lg
              table.sc-table(style="width:100%")
                thead
                  tr
                    td Recebimento
                    td.align-center  Valor  
                    td  
                tbody
                  tr(ng-repeat="item in form.recebimentos")
                    td Data do pagamento: 
                      span.sc-text-blue {{item.data | date}}
                    td.align-center {{item.valor | currency}}
                    td
                      .menu(sc-dropdown-menu)
                        div(ng-click="($index > 0) && menu.toggle() || ($index == 0) && verRecebimento(item)", ng-class="$index > 0 ? 'icon-hover-gray':'icon-hover-blue'")
                          i.sc-icon(ng-class="$index > 0 ? 'sc-icon-reticiencias-v':'sc-icon-olho'")
                          ul(ng-show="menu.isOn")
                            li(ng-click="actionMenuReceb(item2, item)", ng-repeat="item2 in recebimento.menu") {{item2.nome}}
                  tr(ng-show="form.recebimentos.length == 0")
                    td Não há recebimentos para esta cobrança
                    td.align-center 
                thead
                  tr
                    td 
                    td.align-center Total: {{(form.recebimentoTotal || 0) | currency}}
                    td 
        
        .sc-p-lg(ng-show="form._edit")
          .sc-fieldset
            .sc-text-lg.sc-text-gray
              b Cadastro
            .campos-form.sc-m-t-xxl
              .sc-p-l-lg.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Destinatário
                  select.sc-align-bottom.sc-input-default
                    option Proprietário
                    option Imobiliária
                    option Morador
              .sc-p-l-lg.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Configuração de cobrança
                  select.sc-align-bottom.sc-input-default
                    option Cobrança Mensal
                    option Cobrança Mensal
                    option Cobrança Mensal
              .sc-p-l-lg.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Vencimento
                  input.sc-input-default.sc-input-data(type="date")
          .sc-fieldset
            .sc-text-lg.sc-text-gray
              b Composição da Cobrança
              button.sc-m-l-md.sc-btn-xs.sc-btn.sc-btn-blue Débito
              button.sc-m-l-md.sc-btn-xs.sc-btn.sc-btn-red Crédito
            .campos-form.sc-m-t-xxl
              .sc-border-b-gray-light-dashed-md(ng-repeat="composicao in form.composicaoCobranca")
                .sc-p-l-md.sc-p-b-md.sc-align-bottom
                  label
                    .sc-label Título
                    input.sc-input-default(ng-model="composicao.titulo")
                .sc-p-l-md.sc-p-b-md.sc-align-bottom
                  label
                    .sc-label Valor
                    input.sc-input-default(sc-currency-input, ng-model="composicao.valor")
                .sc-p-l-md.sc-p-b-md.sc-align-bottom
                  label
                    .sc-label Plano de contas
                    label
                      select.sc-input-default
                        option
                        option Custas
                        option Emolumento
                        option Taxas de Cartório
                        option Honorários Advocatícios
                .sc-p-l-md.sc-p-b-md.sc-align-bottom.sc-p-md
                  div
                    .icon-hover-red(ng-click="removeComposicao(composicao)")
                      i.sc-icon.sc-icon-lixeira-1
            .clear
          .pull-right
            button.sc-btn.sc-btn-red(ng-click="changeSave(composicao)") Cancelar
            button.sc-m-l-md.sc-btn.sc-btn-green(ng-click="changeSave(composicao)") Salvar
          .clear
    
    section#modais
      section#configuracao_de_boletos(ng-controller='BoletosModalCtrl')
        div(sc-modal='config.modalBoleto')
          .sc-modal-header
            span Configuração de Boletos
            .pull-right(ng-click='fecharModal()')
              .icon-hover-red
                i.sc-icon.sc-icon-fechar-1
          .sc-modal-body
            .sc-m-lg(ng-show='!criandoEditandoModelo')
              li.sc-text-md.sc-p-md.sc-bg-hover-gray-lighter(ng-repeat='item in modelos', ng-class="{'sc-border-b-gray-light-dotted-md': !$last}")
                .pull-left.sc-text-blue.sc-m-t-sm.sc-p-r-md {{item.nome}}
                .pull-right
                  .icon-hover-red(ng-click='excluirModelo(item)')
                    i.sc-icon.sc-icon-lixeira-1
                .icon-hover-yellow(ng-click='editarModelo(item)')
                  i.sc-icon.sc-icon-lapis
            .sc-fieldset(ng-show='criandoEditandoModelo')
              .sc-p-b-md.sc-p-l-md.col-xs-12.col-sm-12
                label(style='width:100%;')
                  .sc-label Título
                  input.sc-input-default(type='text', style='width:100%;', ng-model='modeloDefault.nome')
              .sc-p-b-md.sc-p-l-md.col-xs-12.col-sm-12.sc-align-middle
                span.sc-label(style='max-width: 3.5em') Utilizar recibo do sacado?
                label.sc-m-l-lg
                  span.sc-toggle
                    input(type='checkbox', ng-model='modeloDefault.reciboSacado', checked='')
                    span(label-true='sim', label-false='não')
              .sc-form-group.sc-p-b-md.sc-p-l-md.col-xs-12.col-sm-12(ng-show='modeloDefault.reciboSacado')
                span.sc-dropdown.pull-left(sc-dropdown-menu='', style='width: 100%;')
                  div
                    .sc-label Instrução do boleto
                    .tags
                      span.sc-tag.sc-tag-blue(ng-repeat='item in itensSelecionadosVisiveis(tiposRecibo)')
                        span {{item.nome}}
                        i.sc-icon.sc-icon-fechar-1.sc-tag-remove(ng-click='marcarItem(item, modeloDefault)')
                      span.sc-tag.sc-tag-yellow.sc-cursor-pointer(ng-if='itensSelecionados(tiposRecibo).length > limiteItensVisiveis', ng-click='alteraVerTodos()')
                        span
                          | {{!verTodos ? 'Ver mais (' + qtdItensEscondidos(tiposRecibo) + ')' : 'Ver menos'}}
                      .clear
                    input.sc-input-default(type='text', placeholder='pesquisar', ng-model='searchText', ng-click='menu.open()', style='width: 100%;')
                  ul.sc-dropdown-menu.ng-animation-slider(ng-show='menu.isOn')
                    li(ng-repeat='item in tiposRecibo | filter:searchText')
                      .vertical-align(ng-click='marcarItem(item, modeloDefault)')
                        i.sc-icon.sc-icon-fw(ng-class="item.ativo ? 'sc-icon-visto-4' : 'sc-icon-quadrado-1'")
                        span {{item.nome}}
              .sc-p-b-md.sc-p-l-md.col-xs-12.col-sm-12(ng-show='modeloDefault.reciboSacado')
                label(style='width:100%;')
                  .sc-label Mensagem Adiconal
                  textarea.sc-input-default(style='width:100%;', rows='3', ng-model='modeloDefault.mensagemAdiconal')
              .clear
          .sc-modal-footer
            button.sc-btn.sc-btn-green(ng-click='criarModelo()', ng-show='!criandoEditandoModelo') Adicionar
            button.sc-btn.sc-btn-green(ng-click='salvarModelo()', ng-show='criandoEditandoModelo') Salvar

      section#configuracao_de_cobrancas(ng-controller='ConfigCobrancasCtrl')
        div(sc-modal='config.modalCobranca')
          .sc-modal-header
            | Configuração de Cobrança
            .pull-right(ng-click='fecharModal()')
              .icon-hover-red
                i.sc-icon.sc-icon-fechar-1
          .sc-modal-body
            .sc-m-lg
              div(ng-show='!criandoEditandoModelo')
                li.sc-text-md.sc-p-md.sc-bg-hover-gray-lighter(ng-repeat='item in modelos', ng-class="{'sc-border-b-gray-light-dotted-md': !$last}")
                  .pull-left.sc-text-blue.sc-m-t-sm.sc-p-r-md {{item.nome}}
                  .pull-right
                    .icon-hover-red(ng-click='excluirModelo(item)')
                      i.sc-icon.sc-icon-lixeira-1
                  .icon-hover-yellow(ng-click='editarModelo(item)')
                    i.sc-icon.sc-icon-lapis
              .sc-fieldset(ng-show='criandoEditandoModelo')
                .sc-p-l-md.sc-p-b-md.sc-align-bottom(style='width: 100%')
                  label
                    .sc-label Título
                    input.sc-input-default(style='width: 100%', ng-model='modeloDefault.nome')
                .sc-p-l-md.sc-p-b-md.sc-align-bottom
                  label
                    .sc-label Multa
                    input.sc-input-default(style='width: 10em', ng-model='modeloDefault.multa')
                    span.sc-label.sc-m-l-md(ng-click="modeloDefault.multaType = !modeloDefault.multaType") {{modeloDefault.multaType ? '%':'$'}}
                .sc-p-l-md.sc-p-b-md.sc-align-bottom
                  label
                    .sc-label Juros
                    input.sc-input-default(style='width: 10em', ng-model='modeloDefault.juros')
                    span.sc-label.sc-m-l-md(ng-click="modeloDefault.jurosType = !modeloDefault.jurosType") {{modeloDefault.jurosType ? '%':'$'}}
                .sc-p-b-md.sc-p-l-md.sc-align-middle
                  span.sc-label(style='max-width: 3.5em')
                  label.sc-m-l-lg
                    span.sc-toggle
                      input(type='checkbox', ng-model='modeloDefault.reciboSacado', checked='')
                      span(label-true='A.D.', label-false='A.M.')
                br
                .sc-p-l-md.sc-p-b-md.sc-align-bottom
                  label
                    .sc-label Prazo pra cobrança jurídica
                    input.sc-input-default(type='number', style='width: 7em', ng-model='modeloDefault.cobrancaJuridica')
                br
                .sc-p-l-md.sc-p-b-md.sc-align-bottom
                  label
                    .sc-label Multa
                    input.sc-input-default(style='width: 10em', ng-model='modeloDefault.multa')
                    span.sc-label.sc-m-l-md(ng-click="modeloDefault.multa2Type = !modeloDefault.multa2Type") {{modeloDefault.multa2Type ? '%':'$'}}
                .sc-p-l-md.sc-p-b-md.sc-align-bottom
                  label
                    .sc-label Juros
                    input.sc-input-default(style='width: 10em', ng-model='modeloDefault.juros')
                    span.sc-label.sc-m-l-md(ng-click="modeloDefault.juros2Type = !modeloDefault.juros2Type") {{modeloDefault.juros2Type ? '%':'$'}}
                .sc-p-b-md.sc-p-l-md.sc-align-middle
                  span.sc-label(style='max-width: 3.5em')
                  label.sc-m-l-lg
                    span.sc-toggle
                      input(type='checkbox', ng-model='modeloDefault.reciboSacado2', checked='')
                      span(label-true='A.D.', label-false='A.M.')
                
          .sc-modal-footer
            button.sc-btn.sc-btn-green(ng-click='criarModelo()', ng-show='!criandoEditandoModelo') Adicionar
            button.sc-btn.sc-btn-green(ng-click='salvarModelo()', ng-show='criandoEditandoModelo') Salvar
      
      section#gerar_recibo(ng-controller='BoletosModalCtrl')
        div(sc-modal='config.modalBoleto')
          .sc-modal-header
            | Gerar Recibo
            .icon-hover-red.pull-right(ng-click='config.modalCobranca.close()')
              i.sc-icon.sc-icon-fechar-1
          .sc-modal-body
            form(action='')
              .sc-fieldset(style='overflow: auto; margin: 0')
                .sc-m-lg
                  .sc-label Enviar boleto por E-mail para:
                  .sc-m-lg
                    .sc-m-b-md(ng-repeat='grupo in grupos()')
                      label
                        input.sc-checkbox.sc-checkbox-green(type='checkbox')
                        |  {{grupo}}
                    .sc-m-b-md
                      label
                        input.sc-input-default(type='email', placeholder='Outro e-mail')
                    div
                      button.sc-btn.sc-btn-cian
                        i.sc-icon.sc-icon-carta-2
                        span Enviar E-mails
                hr.sc-hr-gray
                .sc-m-t-lg.sc-m-b-lg.col-xs-12.col-sm-12.sc-align-middle
                  span.sc-label(style='max-width: 3.5em') Utilizar recibo do sacado?
                  label.sc-m-l-lg
                    span.sc-toggle
                      input(type='checkbox', ng-model='testeRecibo')
                      span(label-true='sim', label-false='não')
                .sc-form-group.sc-m-t-lg.sc-m-b-lg.col-xs-12.col-sm-12(ng-show='testeRecibo')
                  // Tagbox
                  span.sc-dropdown.pull-left(sc-dropdown-menu='', style='width: 100%;')
                    div
                      .sc-label Selecione os tipos de recibo do sacado
                      .tags
                        span.sc-tag.sc-tag-blue(ng-repeat='item in itensSelecionadosVisiveis(tiposRecibo)')
                          span {{item.nome}}
                          i.sc-icon.sc-icon-fechar-1.sc-tag-remove(ng-click='marcarItem(item, modeloDefault)')
                        span.sc-tag.sc-tag-yellow.sc-cursor-pointer(ng-if='itensSelecionados(tiposRecibo).length > limiteItensVisiveis', ng-click='alteraVerTodos()')
                          span
                            | {{!verTodos ? 'Ver mais (' + qtdItensEscondidos(tiposRecibo) + ')' : 'Ver menos'}}
                        .clear
                      input.sc-input-default(type='text', placeholder='pesquisar', ng-model='searchText', ng-click='menu.open()', style='width: 100%;')
                    ul.sc-dropdown-menu.ng-animation-slider(ng-show='menu.isOn')
                      li(ng-repeat='item in tiposRecibo | filter:searchText')
                        .vertical-align(ng-click='marcarItem(item, modeloDefault)')
                          i.sc-icon.sc-icon-fw(ng-class="item.ativo ? 'sc-icon-visto-4' : 'sc-icon-quadrado-1'")
                          span {{item.nome}}
                  // Tagbox
                .sc-m-t-lg.sc-m-b-lg.col-xs-12.col-sm-12(ng-show='testeRecibo')
                  label(style='width:100%;')
                    .sc-label Mensagem Adiconal
                    textarea.sc-input-default(style='width:100%;', rows='3')
          .sc-modal-footer
            button.sc-btn.sc-btn-green(ng-click='config.modalCobranca.close()') Gerar
      
      section#plano_de_contas_padrao
        div(sc-modal='config.modalPadrao')
          .sc-modal-header.align-center
            span.sc-label Plano de contas padrão
            .icon-hover-red.pull-right(ng-click='config.modalPadrao.close()')
              i.sc-icon.sc-icon-fechar-1
          .sc-modal-body
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Multa
                select.sc-input-default
                  option
                  option 1 receitas
                  option 1.1 taxa de condomínio
                  option 1.1.1 água e esgoto
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Juros
                select.sc-input-default
                  option
                  option 1 receitas
                  option 1.1 taxa de condomínio
                  option 1.1.1 água e esgoto
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Acréscimos
                select.sc-input-default
                  option
                  option 1 receitas
                  option 1.1 taxa de condomínio
                  option 1.1.1 água e esgoto
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Descontos
                select.sc-input-default
                  option
                  option 1 receitas
                  option 1.1 taxa de condomínio
                  option 1.1.1 água e esgoto
          .sc-modal-footer
            button.sc-btn.sc-btn-green(ng-click='config.modalPadrao.close()') Salvar
      
      section#gerar_boleto(ng-controller='GerarBoletoCtrl')
        div(sc-modal='gerarBoleto.modal')
          .sc-modal-header.align-center
            span.sc-label Gerar Boleto
            .pull-right(ng-click='gerarBoleto.modal.close()')
              .icon-hover-red
                i.sc-icon.sc-icon-fechar-1
          .sc-modal-body
            p
              span.sc-text-blue {{gBoleto.cadastro.nome}} 
              span.sc-text-gray  Pagador:  
              span.sc-text-blue  {{gBoleto.cadastro.pagador}}
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Vencimento
                input.sc-input-default.sc-input-date(type='date')
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Destinatário
                .sc-align-middle
                  select.sc-align-bottom.sc-input-default
                    option Proprietário
                    option Imobiliária
                    option Morador
            hr.sc-hr-gray-light
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              div
                .sc-label Conta
                select.sc-input-default
                  option Banco do Brasil - Agência 4057-6 Conta 36358-x
                  option Banco do Brasil - Agência 4057-6 Conta 36358-x
                  option Banco do Brasil - Agência 4057-6 Conta 36358-x
                  option Banco do Brasil - Agência 4057-6 Conta 36358-x
            hr.sc-hr-gray-light
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Pagamento até o dia
                input.sc-input-default.sc-input-data(type="date")
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Desconto
                input.sc-input-default
                span.sc-text-xl(ng-click="altUni = !altUni") {{altUni ? ' $ ':' % '}}
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Tipo de boleto
                select.sc-input-default
                  option Boleto avulso
                  option Boleto avulso
                  option Boleto avulso
            .sc-p-l-md.sc-p-b-md.sc-align-bottom(style="width: 100%")
              label
                .sc-label Emails para envio
                input.sc-input-default(style="width: 100%")
          .sc-modal-footer
            button.sc-btn.sc-btn-green(ng-click='gerarBoleto.modal.close()') Gerar
      
      section#gerar_recibo
        div(sc-modal='recebimento.modalRecibo()')
          .sc-modal-header.align-center
            span Gerar Recibo
            .pull-right(ng-click='recebimento.modalRecibo.close()')
              .icon-hover-red
                i.sc-icon.sc-icon-fechar-1
          .sc-modal-body.align-center(style='padding-top: 2em;')
            span.sc-text-blue.sc-text-bold.aling-center Deseja emitir o recibo agora ?
          .sc-modal-footer
            button.sc-btn.sc-btn-red(ng-click='recebimento.modalRecibo.close()') Não
            button.sc-btn.sc-btn-green.sc-m-l-lg(ng-click='recebimento.modalRecibo.close()') sim

      section#receber(ng-controller='ReceberCtrl')
        div(sc-modal='recebimento.modal')
          .sc-modal-header.align-center
            span Receber
            .pull-right(ng-click='fecharModal()')
              .icon-hover-red
                i.sc-icon.sc-icon-fechar-1
          .sc-modal-body
            .sc-p-lg.sc-bg-gray-lighter.sc-border-gray-solid-sm.sc-border-radius.sc-p-md
              .sc-p-b-md.sc-align-bottom(ng-class="(recebimento._edit || recebimento._receber) ? 'sc-p-l-lg':'sc-p-l-md'")
                label
                  .sc-label Multa (%)
                  .sc-m-t-lg(ng-hide="recebimento._edit || recebimento._receber") {{0 | currency}}
                  input.sc-input-default(ng-model="recebimento.params.multa", ng-show="recebimento._edit || recebimento._receber", style="width: 10em", type='text')
              .sc-p-b-md.sc-align-bottom(ng-class="(recebimento._edit || recebimento._receber) ? 'sc-p-l-lg':'sc-p-l-md'")
                label
                  .sc-label Juros (%)
                  .sc-m-t-lg(ng-hide="recebimento._edit || recebimento._receber") {{0 | currency}}
                  input.sc-input-default(ng-model="recebimento.params.juros", ng-show="recebimento._edit || recebimento._receber", style="width: 10em", type='text')
              .sc-p-b-md.sc-align-bottom(ng-class="(recebimento._edit || recebimento._receber) ? 'sc-p-l-lg':'sc-p-l-md'")
                label
                  .sc-label Acréscimo
                  .sc-m-t-lg(ng-hide="recebimento._edit || recebimento._receber") {{0 | currency}}
                  input.sc-input-default(sc-currency-input, ng-model="recebimento.params.acrescimo", ng-show="recebimento._edit || recebimento._receber", style="width: 10em", type='text')
              .sc-p-b-md.sc-align-bottom(ng-class="(recebimento._edit || recebimento._receber) ? 'sc-p-l-lg':'sc-p-l-md'")
                label
                  .sc-label Desconto
                  .sc-m-t-lg(ng-hide="recebimento._edit || recebimento._receber") {{0 | currency}}
                  input.sc-input-default(sc-currency-input, ng-model="recebimento.params.desconto", ng-show="recebimento._edit || recebimento._receber", style="width: 10em", type='text')
              .sc-p-b-md.sc-align-bottom(ng-class="(recebimento._edit || recebimento._receber) ? 'sc-p-l-lg':'sc-p-l-md'")
                .align-center(style="width: 10em")
                  .sc-label Valor devido
                  .sc-m-t-lg {{recebimento.params.valorDevido | currency}}
              .sc-p-b-md.sc-align-bottom(ng-class="(recebimento._edit || recebimento._receber) ? 'sc-p-l-lg':'sc-p-l-md'")
                label
                  .sc-label Valor Recebido
                  .sc-m-t-lg(ng-hide="recebimento._edit || recebimento._receber") {{0 | currency}}
                  input.sc-input-default(sc-currency-input, ng-model="recebimento.params.valor", ng-show="recebimento._edit || recebimento._receber", style="width: 10em", type='text')
              .sc-p-b-md.sc-align-bottom(ng-class="(recebimento._edit || recebimento._receber) ? 'sc-p-l-lg':'sc-p-l-md'")
                label
                  .sc-label Data Pagamento
                  .sc-m-t-lg(ng-hide="recebimento._edit || recebimento._receber") {{hoje | date}}
                  input.sc-input-default.sc-input-data(ng-model="recebimento.params.data", ng-show="recebimento._edit || recebimento._receber", style='width: 10em; line-height: 1;', type='date')
              .sc-p-b-md.sc-align-bottom(ng-class="(recebimento._edit || recebimento._receber) ? 'sc-p-l-lg':'sc-p-l-md'")
                label
                  .sc-label Data Extrato
                  .sc-m-t-lg(ng-hide="recebimento._edit || recebimento._receber") {{hoje | date}}
                  input.sc-input-data.sc-input-default(ng-show="recebimento._edit || recebimento._receber", type='date', style='width: 10em; line-height: 1;', ng-model='dataASD')
              .sc-p-b-md.sc-align-bottom(ng-class="(recebimento._edit || recebimento._receber) ? 'sc-p-l-lg':'sc-p-l-md'")
                label
                  .sc-label Operação
                  .sc-m-t-lg(ng-hide="recebimento._edit || recebimento._receber") Débito Automático
                  .sc-align-middle(ng-show="recebimento._edit || recebimento._receber")
                    select.sc-align-bottom.sc-input-default(ng-model="debAutTmp", style="width: 10em")
                      option(value="1") Débito Automático
                      option(value="2") Boleto
              .sc-p-b-md.sc-align-bottom(ng-class="(recebimento._edit || recebimento._receber) ? 'sc-p-l-lg':'sc-p-l-md'")
                label
                  .sc-label Nosso Número
                  .sc-m-t-lg(ng-hide="debAutTmp == 2") 0000
                  input.sc-input-default(ng-show="debAutTmp == 2", style="width: 10em", type='text', placeholder='Apenas Boleto')
              .sc-p-b-md.sc-align-bottom(ng-class="(recebimento._edit || recebimento._receber) ? 'sc-p-l-lg':'sc-p-l-md'")
                label
                  .sc-label Conta
                  .sc-m-t-lg(ng-hide="recebimento._edit || recebimento._receber") Banco do Brasil
                  .sc-align-middle(ng-show="recebimento._edit || recebimento._receber")
                    select.sc-align-bottom.sc-input-default
                      option Banco do Brasil
                      option Caixa
              .sc-p-b-md.sc-align-bottom(ng-class="(recebimento._edit || recebimento._receber) ? 'sc-p-l-lg':'sc-p-l-md'")
                label(style="width: 10em")
                  .sc-label Ajuste
                  .sc-m-t-lg {{0 | currency}}

          .sc-modal-footer(ng-show="recebimento._receber")
            button.sc-btn.sc-btn-green(ng-click='receber()') Receber
      
      section#nada_consta
        div(sc-modal='modalNadaConsta')
          .sc-modal-header
            | Nada Consta
            .pull-right(ng-click='modalNadaConsta.close()')
              .icon-hover-red
                i.sc-icon.sc-icon-fechar-1
          .sc-modal-body
            .sc-text-sm
              form(action='')
                .sc-m-lg
                  .sc-label Enviar Nada Consta por E-mail para:
                  .sc-m-lg
                    .sc-m-b-md
                      label
                        input.sc-checkbox.sc-checkbox-green(type='checkbox')
                        |  proprietario
                    .sc-m-b-md
                      label
                        input.sc-checkbox.sc-checkbox-green(type='checkbox')
                        |  morador
                    .sc-m-b-md
                      label
                        input.sc-checkbox.sc-checkbox-green(type='checkbox')
                        |  imobiliaria
                    .sc-m-b-md
                      label
                        input.sc-input-default(type='email', placeholder='Outro e-mail')
                    div
                      button.sc-btn.sc-btn-cian
                        i.sc-icon.sc-icon-carta-2
                        span Enviar E-mails
          .sc-modal-footer
            button.sc-btn(ng-click='modalNadaConsta.close()') Cancelar

    script(src="../../source/prototype.js")
    script(src="../../source/modernizr.min.js")
    script(src="index.js" type='text/javascript')
    script(src="http://codepen.io/dev6-seucondominio/pen/avpxNZ.js" type='text/javascript')