html
  head
    title Solicitar Acesso
    link(href="http://staging.seucondominio.com.br/assets/prototype-b8672555b5fba00a6c848ccf5bcd466c.css" rel='stylesheet' type='text/css')
    link(href="https://cdn.seucondominio.com.br/assets/institucional/manifest-989867e52a7093458db1cddc1d6c3867.css" rel='stylesheet' type='text/css')
    link(href="index.css" rel='stylesheet' type='text/css')
  body.sc-system(ng-app="app" ng-controller="Controll")
    
    section#corpo
      .link-3d.link-3d-cian-to-white(ng-click="solicitarAcesso.open()" alt="SOLICITAR ACESSO") SOLICITAR ACESSO
    
    section#modais
      section#solicitar-acesso
        .sc-modal-md(sc-modal="solicitarAcesso")
          .sc-modal-header
            i.sc-modal-close.sc-badge-hover-red.sc-icon.sc-icon-fechar-1(ng-click="solicitarAcesso.close()")
            | Solicitação de convite
          .sc-modal-body
            .sc-fieldset
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Nome do proprietário/morador
                  input.sc-input-default
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label E-mail
                  input.sc-input-default
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Nomde do Condominio
                  input.sc-input-default
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Nome da unidade
                  input.sc-input-default
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                label
                  .sc-label Comprovante de endereço
                  button.sc-btn.sc-btn-blue Anexar
          .sc-modal-footer
            button.sc-btn.sc-btn-green(ng-click="solicitarAcesso") Enviar Solicitação

    script(src="http://staging.seucondominio.com.br/assets/prototype-df624966e363f8d5ceeb4c6f3a6a3be6.js")
    script(src="../../source/modernizr.min.js")
    script(src="index.js" type='text/javascript')