html {width: 100%}
body {width: 100%}

* {
  margin: 0;
  padding: 0;
}

.foraMPV {
  color: #FF69B4 !important;
}

#corpo {
  position: relative;
  margin-top: -2em;
  background: #008ACF;
  color: #fff;
  padding: 3.125em 0;
}