html(ng-class="{'overflowAuto':pageMod.list || filtro.opened || winScroll}", ng-app="app" ng-controller="AppCtrl")
  head
    title Serviços Periódicos (#2219)
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css')
    link(href="https://dl.dropboxusercontent.com/u/2946154/sc/prototype.css" rel='stylesheet' type='text/css')
    link(href="http://codepen.io/dev6-seucondominio/pen/avpxNZ.css" rel='stylesheet' type='text/css')
    link(href="http://codepen.io/dev6-seucondominio/pen/gaXWjX.css" rel='stylesheet' type='text/css')
    link(href="index.css" rel='stylesheet' type='text/css')
  body.sc-system(ng-class="{'overflowAuto':pageMod.list || winScroll}")
    
    section#top-menu.sc-p-v-sm.sc-p-h-xl.sc-bg-blue
      img(src="https://www.seucondominio.com.br/assets/institucional/logo-mobile-c07a4de0cd57b02cf5eaffefcda8d48e.png")

    section#top-bar
      #top-bar-content.sc-p-v-lg.sc-bg-gray-lighter
        .sc-p-l-lg.pull-left
          button.sc-btn.sc-btn-awesomeness(ng-class="acaoEventModal.active ? 'sc-btn-gray':'sc-btn-blue'", ng-click="!openFilter ? newRegisterFull():null")
            .sc-btn-icon
              i.sc-icon.sc-icon-mais-1(style="font-size: 0.8em")
            .sc-btn-text.hidden-xs
              span Novo Agendamento
          #alt.sc-btn-group.sc-m-l-md
            button.sc-btn.sc-btn-gray-light(ng-click="modClick(1)", ng-class="{'sc-btn-blue':pageMod.agenda}")
              i.sc-icon2.sc-icon2-agenda
            button.sc-btn.sc-btn-gray-light(ng-click="modClick(2)", ng-class="{'sc-btn-blue':pageMod.list}")
              i.sc-icon2.sc-icon2-lista
        .sc-p-l-lg.col-xs-9.col-sm-7.col-md-5.col-lg-3
          .sc-input-group
            input.sc-input-default
            i.sc-icon.sc-icon-lupa-2.sc-btn.sc-btn-blue.hidden-xs
            i.sc-icon.sc-icon-filtro-2.sc-btn.sc-btn-blue.foraMVP(ng-class="{'sc-btn-gray':openFilter || filtro.opened}" ng-click="openFilter = !novoRegistro._new ? !openFilter:false")
            i.sc-icon.sc-icon-.sc-icon-impressora.sc-btn.sc-btn-blue.hidden-xs
        .sc-p-l-lg.pull-right.hidden-xs
          .icon-hover.icon-foraMVP(ng-click="conf.open()")
            i.sc-icon.sc-icon-engrenagem
          .icon-hover.icon-foraMVP(ng-click="eMailModal.open()")
            i.sc-icon.sc-icon-carta-4
        .sc-p-r-lg.pull-right
          div(sc-month-picker ng-model="monthPickerDate")
        
        .clear

        section#filter-bar.sc-border-b-gray-light-solid-md.ng-animation-slider.sc-p-t-lg.ng-cloak(ng-cloak, ng-show='openFilter')
          .filter-bar-campos
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Título
                input.sc-input-default(type='text', ng-model='filtro.titulo')
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Tipo
                span.sc-dropdown(sc-dropdown-menu)
                  button.sc-btn.sc-btn-blue(type='button', ng-click='menu.toggle()')
                    | Selecione
                    i.sc-icon.sc-icon-fw.sc-icon-seta-5-baixo
                  ul.sc-dropdown-menu.ng-animation-slider(ng-show='menu.isOn')
                    li(ng-repeat='tipo in tipos', ng-click='tipo.active = !tipo.active')
                      .vertical-align
                        i.sc-icon.sc-icon-fw(ng-class="tipo.active ? 'sc-icon-visto-4' : 'sc-icon-quadrado-1'")
                        span {{tipo.name}}
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Data inicial
                input.sc-input-default.sc-input-date(style='line-height: 1;', type='date', ng-model="filtro.dataIn")
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              label
                .sc-label Data Final
                input.sc-input-default.sc-input-date(style='line-height: 1;', type='date', ng-model="filtro.dataOut")
          .filter-bar-acoes.sc-m-t-lg
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              button.sc-btn.sc-btn-blue.sc-btn-awesomeness(ng-click='filterOpen()')
                .sc-btn-icon
                  i.sc-icon.sc-icon-lupa-2
                .sc-btn-text.hidden-xs.hidden-sm Pesquisar
            .sc-p-l-md.sc-p-b-md.sc-align-bottom
              button.sc-btn.sc-btn-red.sc-btn-awesomeness(ng-click='openFilter = false')
                .sc-btn-icon
                  i.sc-icon.sc-icon-fechar-1
                .sc-btn-text.hidden-xs.hidden-sm Limpar Busca

    section#agenda.sc-p-lg(ng-hide="filtro.opened", ng-controller="EventosCtrl")
      .calender-header(ng-show="pageMod.agenda")
        .box-weekday.sc-bg-gray-light(ng-repeat="week in meses" ng-class="{'top-right-radius sc-border-r-gray-solid-md':$index == 6, 'top-left-radius':$index==0}")
          span(style="margin: 0 auto;") {{week | limitTo: limitView.week | uppercase}}

      .clear
      
      .calender(ng-class="{'agenda-body':pageMod.agenda, 'list-body':pageMod.list}")
        .box-day.sc-text-gray(ng-show="pageMod.agenda", ng-repeat="i in prevDays" ng-class="{'sc-border-r-gray-light-solid-md':i.id%7==0}")
          span.pull-right {{i.day}}
          .box-list.sc-p-l-lg
            .box-text.sc-opac-70.hidden-xs.hidden-sm(ng-hide="$index > limitView.event", class="{{tipos[event.tipo].bgColor}} {{tipos[event.tipo].borderColor}}", ng-repeat="event in i.events", ng-class="{'more-events':$index ==limitView.event}")
              span(ng-show="$index <limitView.event") {{event.assunto}}
              span(ng-show="$index ==limitView.event && pageMod.list")
                i.sc-icon.sc-icon-mais-1(style="font-size: 0.8em; top: -0.31em;")
              span.sc-text-blue.sc-p-sm(ng-show="$index ==limitView.event && pageMod.agenda") + {{i.events.length - $index}}
            .box-circle.sc-opac-70.visible-xs.visible-sm(ng-hide="$index > limitView.event", class="{{tipos[event.tipo].bgColor}} {{tipos[event.tipo].borderColor}}", ng-repeat="event in i.events")
              span(ng-show="$index <limitView.event") 
              span(ng-show="$index ==limitView.event")
                i.sc-icon.sc-icon-mais-1(style="font-size: 0.8em; top: -0.31em;")

        .box-day.sc-text-gray-darker(ng-controller="EventoCtrl", ng-click="fastRegister(i, $event)" ng-repeat="i in days" ng-class="{'select':i.hoje, 'sc-border-r-gray-light-solid-md':i.id%7==0, 'sc-border-b-gray-light-solid-md':i.id>=36}")
          .date.sc-bg-gray-lighter.sc-border-radius.pull-left(style="width: 2.8em", ng-show="pageMod.list")
            .sc-text-white.sc-bg-gray-light.sc-p-h-md.sc-p-v-xs.sc-text-sm {{i.mes | limitTo: 3 | uppercase}}
            span.sc-text-gray.sc-p-md.sc-text-lg {{i.day}}
          .align-center.pull-right(ng-hide="pageMod.list", style="display: block")
            span {{i.day}}
          .box-list.sc-p-l-lg
            .box-text.hidden-xs.hidden-sm(ng-hide="$index > limitView.event", class="{{tipos[event.tipo].bgColor}} {{tipos[event.tipo].borderColor}}", ng-repeat="event in i.events", ng-class="{'more-events':$index ==limitView.event}") 
              span(ng-show="$index <limitView.event") {{event.assunto}}
              span(ng-show="$index ==limitView.event && pageMod.list")
                i.sc-icon.sc-icon-mais-1(style="font-size: 0.8em; top: -0.31em;")
              span.sc-text-blue.sc-p-sm.sc-cursor-pointer(sc-stop-click, ng-click="verMais(i)", ng-show="$index ==limitView.event && pageMod.agenda") + {{i.events.length - $index}}
            .box-circle.visible-xs.visible-sm(ng-hide="$index > limitView.event", class="{{tipos[event.tipo].bgColor}} {{tipos[event.tipo].borderColor}}", ng-repeat="event in i.events")
              span(ng-show="$index <limitView.event") 
              span(ng-click="ver_mais.open()", ng-show="$index ==limitView.event")
                i.sc-icon.sc-icon-mais-1(style="font-size: 0.8em; top: -0.31em;")

        .box-day.sc-text-gray(ng-show="pageMod.agenda", ng-repeat="i in nextDays" ng-class="{'sc-border-r-gray-light-solid-md':i.id%7==0, 'sc-border-b-gray-light-solid-md':i.id>=36, 'bottom-left-radius':i.id==36, 'bottom-right-radius':i.id==42}")
          span.pull-right {{i.day}}
          .box-list.sc-p-l-lg
            .box-text.sc-opac-70.hidden-xs.hidden-sm(ng-hide="$index > limitView.event", class="{{tipos[event.tipo].bgColor}} {{tipos[event.tipo].borderColor}}", ng-repeat="event in i.events", ng-class="{'more-events':$index ==limitView.event}") 
              span(ng-show="$index <limitView.event") {{event.assunto}}
              span(ng-show="$index ==limitView.event && pageMod.list")
                i.sc-icon.sc-icon-mais-1(style="font-size: 0.8em; top: -0.31em;")
              span.sc-text-blue.sc-p-sm(ng-show="$index ==limitView.event && pageMod.agenda") + {{i.events.length - $index}}
            .box-circle.sc-opac-70.visible-xs.visible-sm(ng-hide="$index > limitView.event", class="{{tipos[event.tipo].bgColor}} {{tipos[event.tipo].borderColor}}", ng-repeat="event in i.events")
              span(ng-show="$index <limitView.event") 
              span(ng-show="$index ==limitView.event")
                i.sc-icon.sc-icon-mais-1(style="font-size: 0.8em; top: -0.31em;")

      form.mini-modal.sc-border-radius(ng-style="{'left': boxConf.left+'px', 'top': boxConf.top+'px', 'block':boxConf.display}", ng-focus="", ng-show="boxConf.modal.opened", ng-submit="addRegister()")
        .head.align-center
          span.sc-label Cadastro Rápido
          .pull-right(style="position: relative; top: -0.5em; right: -0.5em;")
            .icon-hover.icon-red(ng-click="cancellRegister()")
              i.sc-icon.sc-icon-fechar-1
        .body
          .sc-label Nome do Evento
          input.sc-input-default(type="text" ng-model="addNewRegister.assunto")
        .footer
          .pull-right
            button.sc-btn.sc-btn-green(type="submit") Salvar
    
    section#filter.sc-p-lg(ng-show="filtro.opened")
      .calender.filter-body
        .box-day.sc-text-gray-darker(ng-click="fastRegister(i, $event)", ng-repeat="i in filtro.dados")
          .date.sc-bg-gray-lighter.sc-border-radius.pull-left
            .sc-text-white.sc-bg-gray-light.sc-p-h-md.sc-p-v-xs.sc-text-sm {{i.mes}} / {{i.ano}}
            span.sc-text-gray.sc-p-md.sc-text-lg {{i.day}}
          .box-list
            .box-text(class="{{tipos[event.tipo].bgColor}} {{tipos[event.tipo].borderColor}}", ng-repeat="event in i.events", ng-class="{'more-events':$index ==limitView.event}") 
              span {{event.assunto}}

      form.mini-modal.sc-border-radius(ng-style="{'left': boxConf.left+'px', 'top': boxConf.top+'px'}", ng-focus="", ng-show="boxConf.modal.opened", ng-submit="addRegister()")
        .head.align-center
          span.sc-label Cadastro Rápido
          .pull-right(style="position: relative; top: -0.5em; right: -0.5em;")
            .icon-hover.icon-red(ng-click="cancellRegister()")
              i.sc-icon.sc-icon-fechar-1
        .body
          .sc-label Nome do Evento
          input.sc-input-default(type="text" ng-model="addNewRegister.assunto")
        .footer
          .pull-right
            button.sc-btn.sc-btn-green(type="submit") Salvar

    section#modais
      section#conf
        .sc-modal.col-xs-12.col-sm-8.col-md-4(sc-modal="conf")
          .sc-modal-header.align-center
            span.sc-label Configurações
            .pull-right
              .icon-hover.icon-red(ng-click="conf.close()")
                i.sc-icon.sc-icon-fechar-1

          .sc-modal-body
            .sc-border-radius.sc-bg-gray-lighter.sc-p-lg
              h1.sc-label.sc-text-lg Notificações unitária
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                input.sc-input-default(style="width: 3em")
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                select.sc-input-default
                  option(ng-repeat="item in config.opNotif") {{item}}

            .sc-border-radius.sc-bg-gray-lighter.sc-m-t-md.sc-p-lg.sc-p-t-none
              h1.sc-label.sc-text-lg Notificações gerais
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                input.sc-input-default(style="width: 3em")
              .sc-p-l-md.sc-p-b-md.sc-align-bottom
                select.sc-input-default
                  option(ng-repeat="item in config.opNotif") {{item}}

          .sc-modal-footer
            button.sc-btn.sc-btn-green(ng-click="conf.close()") Aplicar

      section#e-mail
        .sc-modal.col-xs-12.col-sm-8.col-md-6.ng-isolate-scope(sc-modal="eMailModal")
          .sc-modal-header
            | E-mail
            .pull-right
              .icon-hover.icon-red(ng-click="eMailModal.close()")
                i.sc-icon.sc-icon-fechar-1

          .sc-modal-body
            img(style="width: 100%; height: 100%", src="https://dl.dropbox.com/s/2aajrtjso02cb57/Email-Servi%C3%A7os%20periodicos-page-001.jpg?dl=0")

          .sc-modal-footer
            button.sc-btn.sc-btn-green(ng-click="eMailModal.close()") Enviar

      section#acao-evento
        .sc-modal.col-xs-12.col-sm-8.col-md-8(sc-modal="acaoEventModal")
          .sc-modal-header
            | {{acaoEvento.title}}
            .pull-right
              .icon-hover.icon-red(ng-click="acaoEventClose()")
                i.sc-icon.sc-icon-fechar-1

          .sc-modal-body.sc-p-lg
            .sc-bg-gray-lighter.sc-border-radius.sc-p-t-md(style="overflow: auto")
              .sc-p-l-md.sc-p-b-md.sc-align-bottom.col-lg-6.col-md-12
                label.sc-p-r-md
                  .sc-label Título
                  div
                    input.sc-input-default(ng-model="acaoEvento.assunto", style="width: 100%")
              .sc-p-l-md.sc-p-b-md.sc-align-bottom.col-lg-3.col-md-6.col-sm-6
                label.sc-p-r-md
                  .sc-label Tipo
                  .sc-dropdown(sc-dropdown-menu)(ng-click="menu.toggle()")
                    .sc-btn-group(style="width: 9em;")
                      button.sc-btn Selecione
                      i.sc-icon.sc-icon-seta-5-baixo.sc-btn.sc-btn-blue(ng-click="menu.toggle()")
                    ul.sc-dropdown-menu.ng-animation-slider(style="width: 100%; max-height: 10em; overflow: auto;", ng-show="menu.isOn")
                      li(ng-repeat="tipo in tipos")
                        a(href="")
                          i.sc-icon.sc-icon-circulo-1
                          span.sc-p-l-md {{tipo.name}}
              .sc-p-l-md.sc-p-b-md.sc-align-bottom.col-lg-3.col-md-6.col-sm-6
                label.sc-p-r-md
                  .sc-label Participantes
                  .sc-dropdown(sc-dropdown-menu)(ng-click="menu.toggle()")
                    .sc-btn-group(style="width: 9em;")
                      button.sc-btn Selecione
                      i.sc-icon.sc-icon-seta-5-baixo.sc-btn.sc-btn-blue(ng-click="menu.toggle()")
                    ul.sc-dropdown-menu.ng-animation-slider(style="max-height: 10em; overflow: auto;", ng-show="menu.isOn")
                      li
                        a(href="")
                          i.sc-icon.sc-icon-quadrado-1
                          span.sc-p-l-md Usuários dos permissões O.o
              .sc-p-l-md.sc-p-b-md.sc-align-bottom.col-lg-3.col-md-6.col-sm-6
                label.sc-p-r-md
                  .sc-label.sc-m-b-xl Notificar ?
                  label
                    span.sc-toggle
                      input(type="checkbox" checked)
                      span(label-true="Sim", label-false="Não")
              .sc-p-l-md.sc-p-b-md.sc-align-bottom.col-lg-3.col-md-6.col-sm-6
                label.sc-p-r-md
                  .sc-label.foraMVP Local
                  .sc-dropdown(sc-dropdown-menu)(ng-click="menu.toggle()")
                    .sc-btn-group(style="width: 9em;")
                      button.sc-btn Selecione
                      i.sc-icon.sc-icon-seta-5-baixo.sc-btn.sc-btn-blue(ng-click="menu.toggle()")
                    ul.sc-dropdown-menu.ng-animation-slider(style="max-height: 10em; overflow: auto;", ng-show="menu.isOn")
                      li
                        a(href="")
                          i.sc-icon.sc-icon-quadrado-1
                          span.sc-p-l-md Unidades do Condominio e o Condominio
              .sc-p-l-md.sc-p-b-md.sc-align-bottom.col-lg-3.col-md-6.col-sm-6
                label.sc-p-r-md
                  .sc-label Repetir
                  .sc-dropdown(sc-dropdown-menu)(ng-click="menu.toggle()")
                    .sc-btn-group(style="width: 9em;")
                      button.sc-btn Selecione
                      i.sc-icon.sc-icon-seta-5-baixo.sc-btn.sc-btn-blue(ng-click="menu.toggle()")
                    ul.sc-dropdown-menu.ng-animation-slider(style="max-height: 10em; overflow: auto;", ng-show="menu.isOn")
                      li(ng-repeat="repete in repetir")
                        a(href="")
                          i.sc-icon.sc-icon-circulo-1
                          span.sc-p-l-md {{repete.tipo}}
              .sc-p-l-md.sc-p-b-md.sc-align-bottom.col-lg-3.col-md-6.col-sm-6
                label.sc-p-r-md
                  .sc-label Data
                  div
                    input.sc-input-default.sc-input-date(type='date')
              .sc-p-l-md.sc-p-b-md.sc-align-bottom.col-lg-3.col-md-6.col-sm-6
                label.sc-p-r-md
                  .sc-label.sc-m-b-xxxl Color Peek
                  div
                    span Aguardando
              .sc-p-l-md.sc-p-b-md.col-sm-12
                label.sc-p-r-md
                  .sc-label Observações
                  div
                    textarea.sc-input-default(style="width: 100%")

          .sc-modal-footer
            button.sc-btn.sc-btn-green(ng-click="acaoEventClose()") Criar
    
      section#ver-mais
        .sc-modal.col-xs-12.col-sm-8.col-md-6.ng-isolate-scope(sc-modal="ver_mais")
          .sc-modal-header.align-center
            span.sc-label Agendamentos 
            span ({{visualizando.day}}/{{monthPickerDate | date: 'MM/yyyy'}} - {{visualizando.mes}})
            .pull-right.sc-text-sm
              .icon-hover.icon-red(ng-click="ver_mais.close()")
                i.sc-icon.sc-icon-fechar-1

          .sc-modal-body.sc-p-none
            table.sc-table(style="width: 100%")
              thead
                tr.align-center
                  td Status
                  td Evento
                  td.align-right(style="padding-right: 2.3em") Ação
              tbody
                tr(ng-repeat="i in visualizando.events")
                  td.align-center.hidden-xs(style="border-width: 0 0 0 .3em;", class="{{tipos[i.tipo].borderColor}}") {{i.status ? 'Realizado':'Não Realizado'}}
                  td.visible-xs(style="border-width: 0 0 0 .3em;", class="{{tipos[i.tipo].borderColor}}") 
                    i.sc-icon.pull-right(style="margin: 0 auto;", class="{{i.status ? 'sc-icon-visto-1 sc-text-green':'sc-icon-fechar-1 sc-text-red'}}")
                  td.align-center(style="text-overflow: ellipsis; white-space: nowrap; max-width: 9em; overflow: hidden;") {{i.assunto}}
                  td
                    .pull-right
                      .icon-hover.icon-yellow(ng-click="editRegister(i)")
                        i.sc-icon.sc-icon-lapis
                      .icon-hover.icon-red(ng-click="removeRegister(i)")
                        i.sc-icon.sc-icon-lixeira-1

    script(src="https://dl.dropboxusercontent.com/u/2946154/sc/prototype.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
    script(src="index.js" type='text/javascript')
    script(src="http://codepen.io/dev6-seucondominio/pen/avpxNZ.js" type='text/javascript')