$alturaTopMenu: 3.75em;

html {height: 100%; width: 100%; overflow: hidden;}
body {margin: $alturaTopMenu 0 0; font-family: roboto; height: 100%; width: 100%; overflow: hidden;}

* {
  margin: 0;
  padding: 0;
}

.overflowAuto {
  overflow-y: auto;
}

#agenda {
  width: 100%;
  display: inline-table;
}

body table tbody.sc-table tr th:first-of-type, body table tbody.sc-table tr td:first-of-type {
  border-left: 4px solid;
  border-color: black;
}

.calender-header {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  .box-weekday {
    border-left: #51575c solid 1px;
    border-bottom: #51575c solid 1px;
    border-top: #51575c solid 1px;
    position: relative;
    padding: 0.3em .6em;
    width: calc(100%/7);
    display: inline-flex;
  }
}

.foraMVP {
  color: #FF69B4 !important;
}

.calender {
  display: inline-flex;
  flex-wrap: wrap;
  height: calc(100% - 11.65em);
  width: calc(100% - 1.5em);
  position: absolute;
}

.agenda-body {
  width: calc(100% - 1.5em);
  position: absolute;
  .box-day {
    border-left: #c1c4c8 solid 1px;
    border-top: #c1c4c8 solid 1px;
    position: relative;
    padding: .6em;
    width: calc(100%/7);
    display: inline-flex;
    text-align: center;
    .box-list {
      position: absolute;
      padding: 0;
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      left: 0;
      bottom: 0;
      width: 100%;
      height: calc(100% - 1.3em);
      padding: .5em;
      .box-text {
        color: #FFF;
        text-align: center;
        width: 100%;
      }
      .box-circle {
        color: #FFF;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        margin: 0 auto;
        width: 1em;
        height: 1em;
        border-radius: 50%;
      }
    }
    &:hover {
      background-color: rgba(67,140,203,0.2);
    }
  }
}

.list-body, .filter-body {
  width: calc(100% - 1.5em);
  position: absolute;
  padding-bottom: 1em;
  .date {
    width: auto;
    text-align: center;
  }
  .box-day {
    border-top: #c1c4c8 solid 1px;
    position: relative;
    padding: .6em;
    width: calc(100%/7);
    display: inline-flex;
    width: 100%;
    border-right: none;
    border-left: none;
    text-align: center;
    .box-list {
      top: 0;
      position: absolute;
      margin: 0 auto;
      padding: 0;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      .box-text {
        color: #FFF;
        bottom: 0.5em;
        left: 0.5em;
        position: relative;
        top: 0em;
        display: inline-table;
        padding: 0 0.3em;
        margin-left: 1em;
      }
      .box-circle {
        color: #FFF;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        margin-left: 1em;
      }
    }
    &:hover {
      background-color: rgba(67,140,203,0.2);
    }
  }
}

.filter-body {
  height: auto;
  .box-day .box-list {
    flex-wrap: wrap;
  }
}

.select {
  background-color: rgba(67,140,203,0.4);
}

.top-left-radius {
  border-top-left-radius: .5em;
}

.top-right-radius {
  border-top-right-radius: .5em;
}

.bottom-left-radius {
  border-bottom-left-radius: .5em;
}

.bottom-right-radius {
  border-bottom-right-radius: .5em;
}

@media (max-width: 767px) {
  .hidden-xs, .hidden-sm {
      display: none !important;
  }
  .visible-xs, .visible-sm {
      display: block !important;
  }
  .mini_calendar, .sc-month-picker {
    font-size: .9em;
  }
}

@media (max-width: 479px) {
  .mini_calendar, .sc-month-picker {
    font-size: .8em;
  } 
}

.more-events {
  background: none !important;
  border: none !important;
  text-align: left !important;
}

@media (max-height: 530px), (max-width: 547px){
  .agenda-body {
    .box-day .box-list {
      bottom: .1em;
      .box-circle {
        margin: 0;
        position: absolute;
        right: 0.1em;
        bottom: 0;
        height: 0.7em;
        width: 0.7em;
        i {
          display: none;
        }
      }
      .box-text {
        margin: 0 auto;
        height: 1em;
        width: 1em;
      }
    }
  }
}