html {width: 100%}
body {width: 100%}

* {
  margin: 0;
  padding: 0;
}

.foraMPV {
  color: #FF69B4 !important;
}

.corpo-slide {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.box, .box-add {
  width: 10em;
  height: 10em;
  margin: 5px;
  cursor: pointer;
  transition-duration: 400ms;
  box-shadow: 0px 0px 3px rgba(0,0,0,.2);
  &:hover {
    background: rgba(0,0,0,.06);
  }
  i {
    transition-duration: 200ms;
  }
}

.box-add {
  display: flex;
  align-items: center;
  i {
    margin: auto;
  }
  &:hover i {
    font-size: 1.5em;
  }
}

.box {
  position: relative;
  &:hover {
    img {
      opacity: 1;
    }
    .acao {
      display: block;
    }
  }
  img {
    opacity: 0.7;
    width: 100%;
    height: 100%;
    transition-duration: 400ms;
  }
  .texto {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgba(255,255,255,.66);
    color: rgba(0,0,0,.7);
    padding: .2em;
  }
  .acao {
    display: none;
    &:hover {
      font-size: 1.5em;
    }
    position: absolute;
    top: .3em;
    right: .3em;
  }
}

// Slides Show

.overflowHidden {
  overflow: hidden;
}

.slidesShow {
  display: flex;
  flex-direction: column;
  position: fixed;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.6);
}

.slidesShow .body {
  display: flex;
  align-items: center;
  margin: auto;
  width: 34em;
  height: 100%;
  img {
    margin: auto;
    min-width: 25em;
    min-height: 25em;
    max-height: 30em;
  }
}

.slidesShow .head {
  position: relative;
  height: 3.65em;
  width: 100%;
  .slidesShow-exec {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    div {
      // margin: auto;
      background-color: rgba(0,0,0,.5); 
      width: 7em;
      text-align: center;
      border-radius: .5em;
      * {
        padding: .3em;
        margin: auto;
      }
    }
  }
  .slidesShow-close {
    position: absolute;
    top: .5em;
    right: .5em;
  }
}

.slidesShow .footer {
  position: relative;
  height: 7em;
  width: 100%;
  .slidesShow-list {
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    background: rgba(255,255,255,.1);
    img {
      transition-duration: 200ms;
      margin: auto;
      width: 6.5em;
      height: 5.3em;
      &:hover {
        height: 6.1em;
        width: 8em;        
      }
    }
    .active {
      height: 6.1em;
      width: 8em;
      cursor: default
    }
  }
}


// custom icon-badge-hover for play 

body .icon-border-hover::after {
  border: 2px solid white;
  background: none !important;
}