html(ng-app='app', ng-controller='AppCtrl')
  head
    title App
    link(href="http://staging.seucondominio.com.br/assets/prototype-b8672555b5fba00a6c848ccf5bcd466c.css" rel='stylesheet' type='text/css')
    link(href="http://codepen.io/dev6-seucondominio/pen/gaXWjX.css" rel='stylesheet' type='text/css')
    link(href="index.css" rel='stylesheet' type='text/css')
  body.sc-system(ng-class="{'overflowHidden':viewSlides.view.opened}")
    
    section#top-menu.sc-p-v-sm.sc-p-h-xl.sc-bg-blue
      img(src="https://www.seucondominio.com.br/assets/institucional/logo-mobile-c07a4de0cd57b02cf5eaffefcda8d48e.png")

    section#top-bar.sc-bg-gray-lighter
      #top-bar-content.sc-p-t-lg.sc-p-r-md.sc-bg-gray-lighter

    section#breadcrumb
      .sc-p-h-xl.sc-p-b-md.sc-bg-gray-lighter.sc-text-gray.sc-text-sm

    section#corpo
      div(ng-init='initForm(galerias)', ng-include="'showSlide.html'")

    div(id='showSlide.html', type='text/ng-template')
      .sc-p-h-lg.sc-m-t-lg.sc-text-blue.sc-cursor-pointer(ng-show="atual != 'slides'", ng-click="backSlides()") Voltar para Galeria
      .corpo-slide.sc-fieldset.sc-m-lg
        .box-add
          i.sc-text-gray-light.sc-icon.sc-icon-mais-1
        .box(ng-repeat='i in showSlide', ng-click='showSlides(i)')
          img(src='{{i.foto}}')
          .texto
            .sc-text-sm {{i.nome}}
            .sc-text-xs(ng-show='i.total') {{i.total + ' segundos'}}
            .sc-text-xs(ng-show='i.time') {{i.time + ' segundos'}}
          .acao
            i.sc-icon.sc-icon-lixeira-1.sc-text-gray-light

      .slidesShow(ng-show="viewSlides.view.opened")
        .head
          i.slidesShow-close.sc-badge-hover-white.sc-icon.sc-icon-fechar-1(ng-click="viewSlides.view.close()")
          .slidesShow-exec
            div
              i.sc-badge-hover-white.icon-pause.sc-text-gray
              i.sc-badge-hover-white.icon-play.sc-text-white
              i.sc-badge-hover-white.icon-stop.sc-text-gray
        .body
          img(src="{{viewSlides.params.slideAtual.foto}}")
        .footer
          .slidesShow-list
            .sc-p-md(ng-repeat='slide in viewSlides.params.slides')
              img(ng-class="slide.foto == viewSlides.params.slideAtual.foto ? 'active':''", ng-click="alterPhoto(slide)" src="{{slide.foto}}")


    script(src="http://staging.seucondominio.com.br/assets/prototype-df624966e363f8d5ceeb4c6f3a6a3be6.js")
    script(src="/source/modernizr.min.js")
    script(src="index.js" type='text/javascript')