<!DOCTYPE html>
<html>
  <head>
    <title>Recebimentos</title>
    <base href="/">
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body ng-app="app" ng-controller='controll'>

    <div ng-view></div>

  </body>
</html>
